openapi: 3.0.1
info:
  version: 1.0.0
  title: Authorization Tokens Accounts Office Institution Client API
  description: 'Use the `oauth` endpoint to generate the secure, time-limited JSON Web Tokens (JWTs) used to authorize access to APIs and components.</br></br>

    To request a token, click Authorize and enter the following credentials:


    * Username - Your Client ID.

    * Password - Your Client Secret.'
servers:
- url: https://www.us-api.morningstar.com/token
  description: PROD US
- url: https://www.emea-api.morningstar.com/token
  description: PROD EMEA
- url: https://www.apac-api.morningstar.com/token
  description: PROD APAC
security:
- BasicAuth: []
tags:
- name: Office Institution Client
paths:
  /households/{householdId}/institution:
    get:
      tags:
      - Office Institution Client
      summary: Get Institution Client profile
      description: Get a specific institution client profile.
      operationId: getInstitution
      parameters:
      - in: header
        name: x-api-key
        description: Unique API key of a client
        required: true
        schema:
          type: string
      - name: householdId
        in: path
        description: Unique identifier of a household
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institution'
        '400':
          description: Invalid status value
      security:
      - bearerAuth: []
    post:
      tags:
      - Office Institution Client
      summary: Update institution client profile
      description: 'Updates an Institution Client profile. </br></br> `institutionType` mapping:</br></br> `1` = Sole Proprietorship</br> `2` = Trust</br> `3` = Charitable Trust</br> `4` = Rovocable Trust</br> `5` = Corporation</br> `6` = Investment Club</br> `7` = Association</br> `8` = Non-Profit Organization</br> `9` = Partnership</br> `10` = Limited Partnership</br> `11` = Family Limited Partnership</br> `12` = LLP </br> `13` = LLC</br> `14` = Estate</br></br>  `isUSCorporation` = `1` or `0` </br></br> `taxIdType` = `ssn` or `tin` </br></br> `role` mapping: </br></br> `1` = Authorized Signer</br> `2` = Other</br> `3` = Trustee</br> `4` = Successor Trustee</br> `5` = Custodian</br></br> `institutionName`, `firstName`, and `lastName` do not support these characters: ~!#^`[]{}|\;"<>?/'
      operationId: updateInstitution
      requestBody:
        description: The Institution to update.
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/updateInstitution'
      parameters:
      - in: header
        name: x-api-key
        description: Unique API key of a client
        required: true
        schema:
          type: string
      - name: householdId
        in: path
        description: Unique identifier of a household
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institution'
        '400':
          description: Invalid status value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionPost400'
      security:
      - bearerAuth: []
components:
  schemas:
    InstitutionPost400:
      type: object
      properties:
        message:
          type: string
          format: string
          example: Missing firstName property.
        id:
          type: string
          format: uuid
    Institution:
      type: object
      required:
      - householdId
      properties:
        profile:
          type: object
          required:
          - householdId
          properties:
            institutionName:
              type: string
              format: string
              maxLength: 60
              example: Sample
            institutionType:
              type: string
              format: string
              example: 2
            isUSCorporation:
              type: string
              format: string
              example: 1
            institutionId:
              type: string
              format: string
              example: '********1234'
            incorporationState:
              type: string
              format: string
              maxLength: 50
              example: CA
            dateOfIncorporation:
              type: string
              format: date
              example: '1989-12-31'
            taxIdType:
              type: string
              format: string
              maxLength: 3
              example: ssn
            address1:
              type: string
              format: string
              maxLength: 50
              example: 22 W. Washington St.
            address2:
              type: string
              format: string
              maxLength: 50
              example: FL 7
            address3:
              type: string
              format: string
              maxLength: 50
              example: Rm. 700
            city:
              type: string
              format: string
              maxLength: 30
              example: Chicago
            state:
              type: string
              format: string
              maxLength: 20
              example: IL
            zipCode:
              type: string
              format: string
              maxLength: 10
              example: 60602
            phone:
              type: string
              format: string
              maxLength: 20
              example: 123321
            fax:
              type: string
              format: string
              maxLength: 20
              example: 555-555555
        primaryContact:
          type: object
          required:
          - firstName
          - lastName
          properties:
            firstName:
              type: string
              format: string
              maxLength: 50
              example: Sample
            lastName:
              type: string
              format: string
              maxLength: 50
              example: Client
            title:
              type: string
              format: string
              maxLength: 50
              example: Sample title
            role:
              type: string
              format: string
              example: 1
            dateOfBirth:
              type: string
              format: date
              example: '1991-12-31'
              description: YYYY-MM-DD.
            socialSecurityNumber:
              type: string
              format: string
              example: '********1234'
            email:
              type: string
              format: string
              maxLength: 60
            workPhone:
              type: string
              format: string
              maxLength: 20
              example: 555-44444
            cellPhone:
              type: string
              format: string
              maxLength: 20
              example: 555-555555
    updateInstitution:
      type: object
      required:
      - householdId
      properties:
        profile:
          type: object
          required:
          - institutionName
          - institutionType
          - institutionId
          - isUSCorporation
          - taxIdType
          properties:
            institutionName:
              type: string
              format: string
              maxLength: 60
              example: Sample
              description: Is required.
            institutionType:
              type: string
              format: string
              example: 2
              description: Is required.
            isUSCorporation:
              type: string
              format: string
              example: 1
              description: Is required.
            institutionId:
              type: string
              format: string
              example: 111-11-1234
              description: Can have 111-22-3333 or 123456789 format.
            dateOfIncorporation:
              type: string
              format: date
              example: '1989-12-31'
              description: YYYY-MM-DD, if not included, will default to empty.
            incorporationState:
              type: string
              format: string
              maxLength: 50
              example: CA
              description: If not included, will default to empty.
            taxIdType:
              type: string
              format: string
              maxLength: 3
              example: ssn
              description: is required.
            address1:
              type: string
              format: string
              maxLength: 50
              example: 22 W. Washington St.
              description: If not included, will default to empty.
            address2:
              type: string
              format: string
              maxLength: 50
              example: FL 7
              description: If not included, will default to empty.
            address3:
              type: string
              format: string
              maxLength: 50
              example: Rm. 700
              description: If not included, will default to empty.
            city:
              type: string
              format: string
              maxLength: 30
              example: Chicago
              description: If not included, will default to empty.
            state:
              type: string
              format: string
              maxLength: 20
              example: IL
              description: If not included, will default to empty.
            zipCode:
              type: string
              format: string
              maxLength: 10
              example: 60602
              description: If not included, will default to empty.
            phone:
              type: string
              format: string
              maxLength: 20
              example: 123321
              description: If not included, will default to empty.
            fax:
              type: string
              format: string
              maxLength: 20
              example: 555-555555
              description: If not included, will default to empty.
        primaryContact:
          type: object
          required:
          - firstName
          - lastName
          - role
          properties:
            firstName:
              type: string
              format: string
              maxLength: 50
              example: Sample
            lastName:
              type: string
              format: string
              maxLength: 50
              example: Client
            title:
              type: string
              format: string
              maxLength: 50
              example: Sample title
              description: If not included, will default to empty.
            role:
              type: string
              format: string
              example: 1
              description: Is required.
            dateOfBirth:
              type: string
              format: date
              example: '1991-12-31'
              description: YYYY-MM-DD, if not included, will default to empty.
            socialSecurityNumber:
              type: string
              format: string
              example: 111-11-1234
              description: If not included, will default to empty.
            email:
              type: string
              format: string
              maxLength: 60
              description: If not included, will default to empty.
            workPhone:
              type: string
              format: string
              maxLength: 20
              example: 555-44444
              description: If not included, will default to empty.
            cellPhone:
              type: string
              format: string
              maxLength: 20
              example: 555-555555
              description: If not included, will default to empty.
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
