openapi: 3.0.1
info:
  version: 1.0.0
  title: Authorization Tokens Accounts fund reports - target date series API
  description: 'Use the `oauth` endpoint to generate the secure, time-limited JSON Web Tokens (JWTs) used to authorize access to APIs and components.</br></br>

    To request a token, click Authorize and enter the following credentials:


    * Username - Your Client ID.

    * Password - Your Client Secret.'
servers:
- url: https://www.us-api.morningstar.com/token
  description: PROD US
- url: https://www.emea-api.morningstar.com/token
  description: PROD EMEA
- url: https://www.apac-api.morningstar.com/token
  description: PROD APAC
security:
- BasicAuth: []
tags:
- name: fund reports - target date series
paths:
  /fund/v1/reports/target-date-series/{StrategyId}:
    get:
      tags:
      - fund reports - target date series
      summary: Get a Target Date Series Report
      description: Get a Target Date Series Report for the fund specified in the `StrategyId` parameter.</br></br>To override the default value in the Accept-Language HTTP header, use the `locale` parameter.</br></br>In the `pageSize` parameter, you can specify the page size for the returned PDF. Page size options are `Letter`.</br></br>If a report exists, a presigned URL from which you can download the PDF is returned in the response.
      operationId: TargetDateSeriesReport
      parameters:
      - name: StrategyId
        in: path
        description: A unique identifier for a specific fund. For example, STUSA04D0O
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: STUSA04D0O
      - name: locale
        in: query
        description: Language and locale, for example, en-US
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: en-US
          enum:
          - en-US
          - en-GB
          - en-AU
          - en-NZ
          - fr-FR
          - de-DE
          - it-IT
          - es-ES
          - fi-Fi
          - nb-NO
          - nl-NL
          - sv-SE
      - name: pageSize
        in: query
        description: Page size of output PDF
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: Letter
          enum:
          - Letter
      responses:
        '200':
          description: Success
          content: {}
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
