openapi: 3.2.0
info:
  title: Retirement (US) Plan API
  version: 1.0.0
  description: 'Use the Retirement Plan API to:


    - Get details, including plan lineups, for over 600,000 United States employer retirement plans based on form 404a-5 and form 5500 filings.'
servers:
- url: https://www.us-api.morningstar.com/ec
  description: PROD
security:
- bearerAuth: []
tags:
- name: Plan
paths:
  /v2/retirementplan/Plan:
    get:
      tags:
      - Plan
      summary: Get plan details
      description: 'Get information about the plan specified in the `id` parameter. The value must be URL-encoded and match the name returned in the response to the call to the `PlanNames` endpoint. For example, `THE SCOTT FETZER RETIREMENT SAVINGS PLAN`.


        You can specify a plan list source to query. The following values are available:


        - `RP` - Retirement plans from Morningstar''s plan list

        - `BM` - Benchmark

        - `DB` - Database for saved plans'
      parameters:
      - name: id
        in: query
        description: Unique name of a retirement plan
        schema:
          type:
          - string
          - 'null'
          example: THE%20SCOTT%20FETZER%20RETIREMENT%20SAVINGS%20PLAN
      - name: source
        in: query
        description: The source to request plan from
        schema:
          type:
          - string
          - 'null'
          description: Set to ‘RP’ to request retirement plan from Morningstar plan list
          enum:
          - RP
          - BM
          - DB
          default: RP
          example: RP
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlanDetailModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlanDetailModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlanDetailModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlanDetailModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      operationId: getV2RetirementplanPlan
      x-operation-id-source: derived
components:
  schemas:
    Investment:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: name
        vendorName:
          type:
          - string
          - 'null'
          description: vendorName
        type:
          type:
          - string
          - 'null'
          description: type
        typeDescription:
          type:
          - string
          - 'null'
          description: typeDescription
        secId:
          type:
          - string
          - 'null'
          description: Morningstar unique security identifier
        yearValuesV1:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/YearValue'
          description: yearValuesV1
        cusip:
          type:
          - string
          - 'null'
          description: CUSIP
        securityName:
          type:
          - string
          - 'null'
          description: Name of the security
        ticker:
          type:
          - string
          - 'null'
          description: Security's ticker symbol
        category:
          type:
          - string
          - 'null'
          description: Morningstar category the security is assigned to
        securityType:
          type:
          - string
          - 'null'
          description: securityType
        starRating:
          type:
          - string
          - 'null'
          description: Morningstar proprietary star rating
        analystRating:
          type:
          - string
          - 'null'
          description: Morningstar analyst rating. Gold (7), Silver (6), Bronze (5), Neutral (4), Negative (3), Under Review (2), Not Ratable (1)
        styleBox:
          type:
          - string
          - 'null'
          description: styleBox
        netExpRatio:
          type:
          - string
          - 'null'
          description: Prospectus net expense ratio
        investmentStatus:
          type: integer
          description: InvestmentStatus
          format: int32
        isRemoved:
          type: boolean
          description: IsRemoved
      additionalProperties: false
      description: Investment
    Vendor:
      type: object
      properties:
        vendorId:
          type: integer
          description: vendorId
          format: int64
        vendorCodeMap:
          $ref: '#/components/schemas/VendorCodeMap'
        name:
          type:
          - string
          - 'null'
          description: name
        fixedName:
          type:
          - string
          - 'null'
          description: fixedName
        ein:
          type: integer
          description: ein
          format: int32
        fixedEin:
          type: integer
          description: fixedEin
          format: int32
        value:
          type: number
          description: value
          format: double
        stability:
          type:
          - string
          - 'null'
          description: stability
        planDetailsid:
          type: integer
          description: planDetailsid
          format: int64
      additionalProperties: false
      description: Vendor
    PlanDetailModel:
      type: object
      properties:
        planDetailsId:
          type: integer
          description: planDetailsId
          format: int64
        planId:
          type:
          - string
          - 'null'
          description: planId
        ackId:
          type:
          - string
          - 'null'
          description: ackId
        ein:
          type:
          - string
          - 'null'
          description: Employer identification number
        planNumber:
          type:
          - string
          - 'null'
          description: planNumber
        sponsorName:
          type:
          - string
          - 'null'
          description: Name of the plan sponsor (employer)
        planName:
          type:
          - string
          - 'null'
          description: Full name of the plan (should match name used to retrieve plan details)
        numberOfUnidentifiedInvestments:
          type:
          - integer
          - 'null'
          description: Number of plan lineup investments which were not able to be matched with Morningstar’s database
          format: int32
        planLineupSource:
          type:
          - string
          - 'null'
          description: Which form the plan lineup is sourced from
        businessCode:
          $ref: '#/components/schemas/BusinessCode'
        state:
          type:
          - string
          - 'null'
          description: U.S. state in which plan sponsor is located
        assetSize:
          type:
          - number
          - 'null'
          description: Total assets in the plan (USD)
          format: double
        avgAccountBalance:
          type: number
          description: Average participant account balance
          format: double
        totalContributions:
          type: number
          description: Total plan contributions
          format: double
        planCode:
          type:
          - string
          - 'null'
          description: planCode
        priorYearReturn:
          type: number
          description: priorYearReturn
          format: double
        adminName:
          type:
          - string
          - 'null'
          description: Name of plan administrator
        participants:
          type: integer
          description: Total number of plan participants
          format: int32
        planType:
          type:
          - string
          - 'null'
          description: Type of retirement plan, e.g. DC
        filingType:
          type:
          - string
          - 'null'
          description: filingType
        benifitPaymentsDuringYear:
          type: number
          description: Amount of benefit payments made by plan during prior year
          format: double
        vendors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Vendor'
          description: vendors
        zipcode:
          type:
          - string
          - 'null'
          description: Zip code of plan sponsor location
        totalVendorFee:
          type: number
          description: Vendor fee if available
          format: double
        planFeeRatio:
          type:
          - number
          - 'null'
          description: Actual plan-level fee if av
          format: double
        planFeeRatioEstimate:
          type:
          - number
          - 'null'
          description: Actual plan investment expenses if available
          format: double
        benchmarkFeeRatio:
          type:
          - number
          - 'null'
          description: Typical plan-level fee based on benchmark
          format: double
        benchmarkInvestmentExpenses:
          type:
          - number
          - 'null'
          description: Average investment expenses based on benchmark
          format: double
        benchmarkTotalAverage:
          type:
          - number
          - 'null'
          description: Sum of benchmark plan-level fee and investment expense
          format: double
        benchmarkPlanSizeName:
          type:
          - string
          - 'null'
          description: Name of the Morningstar benchmark applicable to this plan based on its size
        ecPlanId:
          type: integer
          description: ecPlanId
          format: int64
        createDate:
          type: string
          description: When the plan was created in the database (not the date on which the plan started)
          format: date-time
        planVersion:
          type: integer
          description: PlanVersion
          format: int32
        externalPlanId:
          type:
          - string
          - 'null'
          description: ExternalPlanId
        clientId:
          type:
          - string
          - 'null'
          description: ClientId
        advisorId:
          type:
          - string
          - 'null'
          description: AdvisorId
        asofYear:
          type:
          - string
          - 'null'
          description: AsofYear
        lastModifiedDate:
          type:
          - string
          - 'null'
          description: LastModifiedDate
          format: date-time
        investments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Investment'
          description: List of investments offered by the plan
        planTaxPrd:
          type:
          - string
          - 'null'
          description: PlanTaxPrd
        avgNetExpRatio:
          type:
          - string
          - 'null'
          description: AvgNetExpRatio
        benchmarkAvgNumberOfInvestments:
          type:
          - string
          - 'null'
          description: benchmarkAvgNumberOfInvestments
      additionalProperties: false
      description: PlanDetailModel
    ErrorDetails:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
      additionalProperties: false
    BusinessCode:
      type: object
      properties:
        businessCode:
          type:
          - string
          - 'null'
          description: businessCode
        year:
          type:
          - string
          - 'null'
          description: year
        description:
          type:
          - string
          - 'null'
          description: description
      additionalProperties: false
      description: BusinessCode
    YearValue:
      type: object
      properties:
        year:
          type:
          - string
          - 'null'
          description: year
        value:
          type:
          - string
          - 'null'
          description: value
      additionalProperties: false
      description: YearValue
    VendorCodeMap:
      type: object
      properties:
        noname:
          type:
          - string
          - 'null'
          description: noname
      additionalProperties: false
      description: VendorCodeMap
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
