openapi: 3.0.1
info:
  version: 1.0.0
  title: Authorization Tokens Accounts Aggregates Financials API
  description: 'Use the `oauth` endpoint to generate the secure, time-limited JSON Web Tokens (JWTs) used to authorize access to APIs and components.</br></br>

    To request a token, click Authorize and enter the following credentials:


    * Username - Your Client ID.

    * Password - Your Client Secret.'
servers:
- url: https://www.us-api.morningstar.com/token
  description: PROD US
- url: https://www.emea-api.morningstar.com/token
  description: PROD EMEA
- url: https://www.apac-api.morningstar.com/token
  description: PROD APAC
security:
- BasicAuth: []
tags:
- name: Aggregates Financials
paths:
  /direct-web-services/v1/investments/{id}/equity-aggregates-financials:
    get:
      summary: Get Aggregates Financials view
      parameters:
      - name: id
        in: path
        description: "\nSpecifies the investment to query. \nMorningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe."
        required: true
        schema:
          type: string
          example: 0P00000046
        examples:
          performanceId:
            summary: Morningstar Performance ID
            value: 0P00000046
          isin:
            summary: ISIN
            value: US0042391096
      - name: idType
        in: query
        description: 'Specifies the type of the value passed in the `id` parameter.

          Morningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe.'
        schema:
          enum:
          - performanceId
          - isin
          - securityId
          - cusip
          - tradingSymbol
          - fundCode
          - msid
          - industryCode
          type: string
          default: performanceId
      - name: baseCurrency
        in: query
        description: Base currency to use for investment lookup. Accepts 3‑character ISO 4217 currency codes.
        schema:
          type: string
        examples:
          baseCurrencyExample1:
            summary: US Dollar
            value: USD
          baseCurrencyExample2:
            summary: Swiss Franc
            value: CHF
      - name: domicile
        in: query
        description: Domicile to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          domicileExample1:
            summary: CAN (Canada)
            value: CAN
          domicileExample2:
            summary: JPN (Japan)
            value: JPN
          domicileExample3:
            summary: USE (United States)
            value: USA
      - name: exchangeCountry
        in: query
        description: Exchange country to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          exchangeCountryExample1:
            summary: CAN (Canada)
            value: CAN
          exchangeCountryExample2:
            summary: JPN (Japan)
            value: JPN
          exchangeCountryExample3:
            summary: USA (USA)
            value: USA
      - name: exchangeId
        in: query
        description: Exchange identifier to use for investment lookup.
        schema:
          type: string
          externalDocs:
            description: List of exchange IDs.
            url: https://developer.morningstar.com/content/hidden-from-navigation/DwsIdLookUpExchangeIds.xlsx
        examples:
          exchangeIdExample1:
            summary: NASDAQ - ALL Markets (NAS)
            value: EX$$$$XNAS
          exchangeIdExample2:
            summary: London Stock Exchange (LSE)
            value: EX$$$$XLON
      - name: startDate
        in: query
        schema:
          type: string
          format: yyyy-MM-dd
        description: Time series start date. Accepts `yyyy-MM-dd`.
        examples:
          startDateExample1:
            summary: Example 1
            value: '2025-06-01'
          startDateExample2:
            summary: Example 2
            value: '2025-06-30'
      - name: endDate
        in: query
        schema:
          type: string
          format: yyyy-MM-dd
        description: Time series end date. Accepts `yyyy-MM-dd`.
        examples:
          endDateExample1:
            summary: Example 1
            value: '2025-12-01'
          endDateExample2:
            summary: Example 2
            value: '2025-12-31'
      - name: countryId
        in: query
        description: Specifies the country to filter results on. Accepts 3-character ISO 3166-1 country codes. The availability of data depends on the specific data points and investments queried
        schema:
          type: string
        examples:
          countryIdExample1:
            summary: CAN (Canada)
            value: CAN
          countryIdExample2:
            summary: JPN (Japan)
            value: JPN
      description: "\nThe Aggregates – Financials package provides financial statement and ratios aggregated by industry classification, using Morningstar’s Morningstar Global Equity Classification Structure to give industry-wide averages on a country-by-country basis to use to benchmark a company’s financial performance relative to other companies in that industry, industry group, or sector.\n\nThe package contains the following datasets:\n\n  *   Industry Aggregates - Dividend Yields\n\n  *   Industry Aggregates - Operation Ratios\n\n  *   Industry Aggregates - Enterprise Value Ratios\n\n  *   Industry Aggregates - Financial Statements\n\n  *   Industry Aggregates - Price Multiples\n\n  *   Industry Aggregates - Price Yields\n\nMost recent and time series data supported."
      operationId: getEquityAggregatesFinancialsPackage
      tags:
      - Aggregates Financials
      responses:
        '200':
          $ref: '#/components/responses/ResponseEquityAggregatesFinancials'
        '400':
          $ref: '#/components/responses/ResponseBadRequest'
        '500':
          $ref: '#/components/responses/ResponseInternalServerError'
      x-cpqId: 936
  /direct-web-services/v1/investments/{id}/equity-industry-aggregates-dividend-yields:
    get:
      summary: Get Industry Aggregates Dividend Yields view
      parameters:
      - name: id
        in: path
        description: "\nSpecifies the investment to query. \nMorningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe."
        required: true
        schema:
          type: string
          example: 0P00000046
        examples:
          performanceId:
            summary: Morningstar Performance ID
            value: 0P00000046
          isin:
            summary: ISIN
            value: US0042391096
      - name: idType
        in: query
        description: 'Specifies the type of the value passed in the `id` parameter.

          Morningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe.'
        schema:
          enum:
          - performanceId
          - isin
          - securityId
          - cusip
          - tradingSymbol
          - fundCode
          - msid
          - industryCode
          type: string
          default: performanceId
      - name: baseCurrency
        in: query
        description: Base currency to use for investment lookup. Accepts 3‑character ISO 4217 currency codes.
        schema:
          type: string
        examples:
          baseCurrencyExample1:
            summary: US Dollar
            value: USD
          baseCurrencyExample2:
            summary: Swiss Franc
            value: CHF
      - name: domicile
        in: query
        description: Domicile to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          domicileExample1:
            summary: CAN (Canada)
            value: CAN
          domicileExample2:
            summary: JPN (Japan)
            value: JPN
          domicileExample3:
            summary: USE (United States)
            value: USA
      - name: exchangeCountry
        in: query
        description: Exchange country to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          exchangeCountryExample1:
            summary: CAN (Canada)
            value: CAN
          exchangeCountryExample2:
            summary: JPN (Japan)
            value: JPN
          exchangeCountryExample3:
            summary: USA (USA)
            value: USA
      - name: exchangeId
        in: query
        description: Exchange identifier to use for investment lookup.
        schema:
          type: string
          externalDocs:
            description: List of exchange IDs.
            url: https://developer.morningstar.com/content/hidden-from-navigation/DwsIdLookUpExchangeIds.xlsx
        examples:
          exchangeIdExample1:
            summary: NASDAQ - ALL Markets (NAS)
            value: EX$$$$XNAS
          exchangeIdExample2:
            summary: London Stock Exchange (LSE)
            value: EX$$$$XLON
      - name: startDate
        in: query
        schema:
          type: string
          format: yyyy-MM-dd
        description: Time series start date. Accepts `yyyy-MM-dd`.
        examples:
          startDateExample1:
            summary: Example 1
            value: '2025-06-01'
          startDateExample2:
            summary: Example 2
            value: '2025-06-30'
      - name: endDate
        in: query
        schema:
          type: string
          format: yyyy-MM-dd
        description: Time series end date. Accepts `yyyy-MM-dd`.
        examples:
          endDateExample1:
            summary: Example 1
            value: '2025-12-01'
          endDateExample2:
            summary: Example 2
            value: '2025-12-31'
      - name: viewType
        in: query
        required: true
        schema:
          enum:
          - dataset
          - package
          type: string
      - name: countryId
        in: query
        description: Specifies the country to filter results on. Accepts 3-character ISO 3166-1 country codes. The availability of data depends on the specific data points and investments queried
        schema:
          type: string
        examples:
          countryIdExample1:
            summary: CAN (Canada)
            value: CAN
          countryIdExample2:
            summary: JPN (Japan)
            value: JPN
      description: Most recent and time series data supported.
      operationId: getEquityIndustryAggregatesDividendYieldsDataset
      tags:
      - Aggregates Financials
      responses:
        '200':
          $ref: '#/components/responses/ResponseEquityIndustryAggregatesDividendYields'
        '400':
          $ref: '#/components/responses/ResponseBadRequest'
        '500':
          $ref: '#/components/responses/ResponseInternalServerError'
      x-cpqId: 936
  /direct-web-services/v1/investments/{id}/equity-industry-aggregates-enterprise-value-ratios:
    get:
      summary: Get Industry Aggregates Enterprise Value Ratios view
      parameters:
      - name: id
        in: path
        description: "\nSpecifies the investment to query. \nMorningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe."
        required: true
        schema:
          type: string
          example: 0P00000046
        examples:
          performanceId:
            summary: Morningstar Performance ID
            value: 0P00000046
          isin:
            summary: ISIN
            value: US0042391096
      - name: idType
        in: query
        description: 'Specifies the type of the value passed in the `id` parameter.

          Morningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe.'
        schema:
          enum:
          - performanceId
          - isin
          - securityId
          - cusip
          - tradingSymbol
          - fundCode
          - msid
          - industryCode
          type: string
          default: performanceId
      - name: baseCurrency
        in: query
        description: Base currency to use for investment lookup. Accepts 3‑character ISO 4217 currency codes.
        schema:
          type: string
        examples:
          baseCurrencyExample1:
            summary: US Dollar
            value: USD
          baseCurrencyExample2:
            summary: Swiss Franc
            value: CHF
      - name: domicile
        in: query
        description: Domicile to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          domicileExample1:
            summary: CAN (Canada)
            value: CAN
          domicileExample2:
            summary: JPN (Japan)
            value: JPN
          domicileExample3:
            summary: USE (United States)
            value: USA
      - name: exchangeCountry
        in: query
        description: Exchange country to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          exchangeCountryExample1:
            summary: CAN (Canada)
            value: CAN
          exchangeCountryExample2:
            summary: JPN (Japan)
            value: JPN
          exchangeCountryExample3:
            summary: USA (USA)
            value: USA
      - name: exchangeId
        in: query
        description: Exchange identifier to use for investment lookup.
        schema:
          type: string
          externalDocs:
            description: List of exchange IDs.
            url: https://developer.morningstar.com/content/hidden-from-navigation/DwsIdLookUpExchangeIds.xlsx
        examples:
          exchangeIdExample1:
            summary: NASDAQ - ALL Markets (NAS)
            value: EX$$$$XNAS
          exchangeIdExample2:
            summary: London Stock Exchange (LSE)
            value: EX$$$$XLON
      - name: startDate
        in: query
        schema:
          type: string
          format: yyyy-MM-dd
        description: Time series start date. Accepts `yyyy-MM-dd`.
        examples:
          startDateExample1:
            summary: Example 1
            value: '2025-06-01'
          startDateExample2:
            summary: Example 2
            value: '2025-06-30'
      - name: endDate
        in: query
        schema:
          type: string
          format: yyyy-MM-dd
        description: Time series end date. Accepts `yyyy-MM-dd`.
        examples:
          endDateExample1:
            summary: Example 1
            value: '2025-12-01'
          endDateExample2:
            summary: Example 2
            value: '2025-12-31'
      - name: viewType
        in: query
        required: true
        schema:
          enum:
          - dataset
          - package
          type: string
      - name: countryId
        in: query
        description: Specifies the country to filter results on. Accepts 3-character ISO 3166-1 country codes. The availability of data depends on the specific data points and investments queried
        schema:
          type: string
        examples:
          countryIdExample1:
            summary: CAN (Canada)
            value: CAN
          countryIdExample2:
            summary: JPN (Japan)
            value: JPN
      description: Most recent and time series data supported.
      operationId: getEquityIndustryAggregatesEnterpriseValueRatiosDataset
      tags:
      - Aggregates Financials
      responses:
        '200':
          $ref: '#/components/responses/ResponseEquityIndustryAggregatesEnterpriseValueRatios'
        '400':
          $ref: '#/components/responses/ResponseBadRequest'
        '500':
          $ref: '#/components/responses/ResponseInternalServerError'
      x-cpqId: 936
  /direct-web-services/v1/investments/{id}/equity-industry-aggregates-financial-statements:
    get:
      summary: Get Industry Aggregates Financial Statements view
      parameters:
      - name: id
        in: path
        description: "\nSpecifies the investment to query. \nMorningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe."
        required: true
        schema:
          type: string
          example: 0P00000046
        examples:
          performanceId:
            summary: Morningstar Performance ID
            value: 0P00000046
          isin:
            summary: ISIN
            value: US0042391096
      - name: idType
        in: query
        description: 'Specifies the type of the value passed in the `id` parameter.

          Morningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe.'
        schema:
          enum:
          - performanceId
          - isin
          - securityId
          - cusip
          - tradingSymbol
          - fundCode
          - msid
          - industryCode
          type: string
          default: performanceId
      - name: baseCurrency
        in: query
        description: Base currency to use for investment lookup. Accepts 3‑character ISO 4217 currency codes.
        schema:
          type: string
        examples:
          baseCurrencyExample1:
            summary: US Dollar
            value: USD
          baseCurrencyExample2:
            summary: Swiss Franc
            value: CHF
      - name: domicile
        in: query
        description: Domicile to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          domicileExample1:
            summary: CAN (Canada)
            value: CAN
          domicileExample2:
            summary: JPN (Japan)
            value: JPN
          domicileExample3:
            summary: USE (United States)
            value: USA
      - name: exchangeCountry
        in: query
        description: Exchange country to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          exchangeCountryExample1:
            summary: CAN (Canada)
            value: CAN
          exchangeCountryExample2:
            summary: JPN (Japan)
            value: JPN
          exchangeCountryExample3:
            summary: USA (USA)
            value: USA
      - name: exchangeId
        in: query
        description: Exchange identifier to use for investment lookup.
        schema:
          type: string
          externalDocs:
            description: List of exchange IDs.
            url: https://developer.morningstar.com/content/hidden-from-navigation/DwsIdLookUpExchangeIds.xlsx
        examples:
          exchangeIdExample1:
            summary: NASDAQ - ALL Markets (NAS)
            value: EX$$$$XNAS
          exchangeIdExample2:
            summary: London Stock Exchange (LSE)
            value: EX$$$$XLON
      - name: startDate
        in: query
        schema:
          type: string
          format: yyyy-MM-dd
        description: Time series start date. Accepts `yyyy-MM-dd`.
        examples:
          startDateExample1:
            summary: Example 1
            value: '2025-06-01'
          startDateExample2:
            summary: Example 2
            value: '2025-06-30'
      - name: endDate
        in: query
        schema:
          type: string
          format: yyyy-MM-dd
        description: Time series end date. Accepts `yyyy-MM-dd`.
        examples:
          endDateExample1:
            summary: Example 1
            value: '2025-12-01'
          endDateExample2:
            summary: Example 2
            value: '2025-12-31'
      - name: viewType
        in: query
        required: true
        schema:
          enum:
          - dataset
          - package
          type: string
      - name: countryId
        in: query
        description: Specifies the country to filter results on. Accepts 3-character ISO 3166-1 country codes. The availability of data depends on the specific data points and investments queried
        schema:
          type: string
        examples:
          countryIdExample1:
            summary: CAN (Canada)
            value: CAN
          countryIdExample2:
            summary: JPN (Japan)
            value: JPN
      description: Most recent and time series data supported.
      operationId: getEquityIndustryAggregatesFinancialStatementsDataset
      tags:
      - Aggregates Financials
      responses:
        '200':
          $ref: '#/components/responses/ResponseEquityIndustryAggregatesFinancialStatements'
        '400':
          $ref: '#/components/responses/ResponseBadRequest'
        '500':
          $ref: '#/components/responses/ResponseInternalServerError'
      x-cpqId: 936
  /direct-web-services/v1/investments/{id}/equity-industry-aggregates-operation-ratios:
    get:
      summary: Get Industry Aggregates Operation Ratios view
      parameters:
      - name: id
        in: path
        description: "\nSpecifies the investment to query. \nMorningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe."
        required: true
        schema:
          type: string
          example: 0P00000046
        examples:
          performanceId:
            summary: Morningstar Performance ID
            value: 0P00000046
          isin:
            summary: ISIN
            value: US0042391096
      - name: idType
        in: query
        description: 'Specifies the type of the value passed in the `id` parameter.

          Morningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe.'
        schema:
          enum:
          - performanceId
          - isin
          - securityId
          - cusip
          - tradingSymbol
          - fundCode
          - msid
          - industryCode
          type: string
          default: performanceId
      - name: baseCurrency
        in: query
        description: Base currency to use for investment lookup. Accepts 3‑character ISO 4217 currency codes.
        schema:
          type: string
        examples:
          baseCurrencyExample1:
            summary: US Dollar
            value: USD
          baseCurrencyExample2:
            summary: Swiss Franc
            value: CHF
      - name: domicile
        in: query
        description: Domicile to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          domicileExample1:
            summary: CAN (Canada)
            value: CAN
          domicileExample2:
            summary: JPN (Japan)
            value: JPN
          domicileExample3:
            summary: USE (United States)
            value: USA
      - name: exchangeCountry
        in: query
        description: Exchange country to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          exchangeCountryExample1:
            summary: CAN (Canada)
            value: CAN
          exchangeCountryExample2:
            summary: JPN (Japan)
            value: JPN
          exchangeCountryExample3:
            summary: USA (USA)
            value: USA
      - name: exchangeId
        in: query
        description: Exchange identifier to use for investment lookup.
        schema:
          type: string
          externalDocs:
            description: List of exchange IDs.
            url: https://developer.morningstar.com/content/hidden-from-navigation/DwsIdLookUpExchangeIds.xlsx
        examples:
          exchangeIdExample1:
            summary: NASDAQ - ALL Markets (NAS)
            value: EX$$$$XNAS
          exchangeIdExample2:
            summary: London Stock Exchange (LSE)
            value: EX$$$$XLON
      - name: startDate
        in: query
        schema:
          type: string
          format: yyyy-MM-dd
        description: Time series start date. Accepts `yyyy-MM-dd`.
        examples:
          startDateExample1:
            summary: Example 1
            value: '2025-06-01'
          startDateExample2:
            summary: Example 2
            value: '2025-06-30'
      - name: endDate
        in: query
        schema:
          type: string
          format: yyyy-MM-dd
        description: Time series end date. Accepts `yyyy-MM-dd`.
        examples:
          endDateExample1:
            summary: Example 1
            value: '2025-12-01'
          endDateExample2:
            summary: Example 2
            value: '2025-12-31'
      - name: viewType
        in: query
        required: true
        schema:
          enum:
          - dataset
          - package
          type: string
      - name: countryId
        in: query
        description: Specifies the country to filter results on. Accepts 3-character ISO 3166-1 country codes. The availability of data depends on the specific data points and investments queried
        schema:
          type: string
        examples:
          countryIdExample1:
            summary: CAN (Canada)
            value: CAN
          countryIdExample2:
            summary: JPN (Japan)
            value: JPN
      description: Most recent and time series data supported.
      operationId: getEquityIndustryAggregatesOperationRatiosDataset
      tags:
      - Aggregates Financials
      responses:
        '200':
          $ref: '#/components/responses/ResponseEquityIndustryAggregatesOperationRatios'
        '400':
          $ref: '#/components/responses/ResponseBadRequest'
        '500':
          $ref: '#/components/responses/ResponseInternalServerError'
      x-cpqId: 936
  /direct-web-services/v1/investments/{id}/equity-industry-aggregates-price-multiples:
    get:
      summary: Get Industry Aggregates Price Multiples view
      parameters:
      - name: id
        in: path
        description: "\nSpecifies the investment to query. \nMorningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe."
        required: true
        schema:
          type: string
          example: 0P00000046
        examples:
          performanceId:
            summary: Morningstar Performance ID
            value: 0P00000046
          isin:
            summary: ISIN
            value: US0042391096
      - name: idType
        in: query
        description: 'Specifies the type of the value passed in the `id` parameter.

          Morningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe.'
        schema:
          enum:
          - performanceId
          - isin
          - securityId
          - cusip
          - tradingSymbol
          - fundCode
          - msid
          - industryCode
          type: string
          default: performanceId
      - name: baseCurrency
        in: query
        description: Base currency to use for investment lookup. Accepts 3‑character ISO 4217 currency codes.
        schema:
          type: string
        examples:
          baseCurrencyExample1:
            summary: US Dollar
            value: USD
          baseCurrencyExample2:
            summary: Swiss Franc
            value: CHF
      - name: domicile
        in: query
        description: Domicile to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          domicileExample1:
            summary: CAN (Canada)
            value: CAN
          domicileExample2:
            summary: JPN (Japan)
            value: JPN
          domicileExample3:
            summary: USE (United States)
            value: USA
      - name: exchangeCountry
        in: query
        description: Exchange country to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          exchangeCountryExample1:
            summary: CAN (Canada)
            value: CAN
          exchangeCountryExample2:
            summary: JPN (Japan)
            value: JPN
          exchangeCountryExample3:
            summary: USA (USA)
            value: USA
      - name: exchangeId
        in: query
        description: Exchange identifier to use for investment lookup.
        schema:
          type: string
          externalDocs:
            description: List of exchange IDs.
            url: https://developer.morningstar.com/content/hidden-from-navigation/DwsIdLookUpExchangeIds.xlsx
        examples:
          exchangeIdExample1:
            summary: NASDAQ - ALL Markets (NAS)
            value: EX$$$$XNAS
          exchangeIdExample2:
            summary: London Stock Exchange (LSE)
            value: EX$$$$XLON
      - name: startDate
        in: query
        schema:
          type: string
          format: yyyy-MM-dd
        description: Time series start date. Accepts `yyyy-MM-dd`.
        examples:
          startDateExample1:
            summary: Example 1
            value: '2025-06-01'
          startDateExample2:
            summary: Example 2
            value: '2025-06-30'
      - name: endDate
        in: query
        schema:
          type: string
          format: yyyy-MM-dd
        description: Time series end date. Accepts `yyyy-MM-dd`.
        examples:
          endDateExample1:
            summary: Example 1
            value: '2025-12-01'
          endDateExample2:
            summary: Example 2
            value: '2025-12-31'
      - name: viewType
        in: query
        required: true
        schema:
          enum:
          - dataset
          - package
          type: string
      - name: countryId
        in: query
        description: Specifies the country to filter results on. Accepts 3-character ISO 3166-1 country codes. The availability of data depends on the specific data points and investments queried
        schema:
          type: string
        examples:
          countryIdExample1:
            summary: CAN (Canada)
            value: CAN
          countryIdExample2:
            summary: JPN (Japan)
            value: JPN
      description: Most recent and time series data supported.
      operationId: getEquityIndustryAggregatesPriceMultiplesDataset
      tags:
      - Aggregates Financials
      responses:
        '200':
          $ref: '#/components/responses/ResponseEquityIndustryAggregatesPriceMultiples'
        '400':
          $ref: '#/components/responses/ResponseBadRequest'
        '500':
          $ref: '#/components/responses/ResponseInternalServerError'
      x-cpqId: 936
  /direct-web-services/v1/investments/{id}/equity-industry-aggregates-price-yields:
    get:
      summary: Get Industry Aggregates Price Yields view
      parameters:
      - name: id
        in: path
        description: "\nSpecifies the investment to query. \nMorningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe."
        required: true
        schema:
          type: string
          example: 0P00000046
        examples:
          performanceId:
            summary: Morningstar Performance ID
            value: 0P00000046
          isin:
            summary: ISIN
            value: US0042391096
      - name: idType
        in: query
        description: 'Specifies the type of the value passed in the `id` parameter.

          Morningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe.'
        schema:
          enum:
          - performanceId
          - isin
          - securityId
          - cusip
          - tradingSymbol
          - fundCode
          - msid
          - industryCode
          type: string
          default: performanceId
      - name: baseCurrency
        in: query
        description: Base currency to use for investment lookup. Accepts 3‑character ISO 4217 currency codes.
        schema:
          type: string
        examples:
          baseCurrencyExample1:
            summary: US Dollar
            value: USD
          baseCurrencyExample2:
            summary: Swiss Franc
            value: CHF
      - name: domicile
        in: query
        description: Domicile to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          domicileExample1:
            summary: CAN (Canada)
            value: CAN
          domicileExample2:
            summary: JPN (Japan)
            value: JPN
          domicileExample3:
            summary: USE (United States)
            value: USA
      - name: exchangeCountry
        in: query
        description: Exchange country to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          exchangeCountryExample1:
            summary: CAN (Canada)
            value: CAN
          exchangeCountryExample2:
            summary: JPN (Japan)
            value: JPN
          exchangeCountryExample3:
            summary: USA (USA)
            value: USA
      - name: exchangeId
        in: query
        description: Exchange identifier to use for investment lookup.
        schema:
          type: string
          externalDocs:
            description: List of exchange IDs.
            url: https://developer.morningstar.com/content/hidden-from-navigation/DwsIdLookUpExchangeIds.xlsx
        examples:
          exchangeIdExample1:
            summary: NASDAQ - ALL Markets (NAS)
            value: EX$$$$XNAS
          exchangeIdExample2:
            summary: London Stock Exchange (LSE)
            value: EX$$$$XLON
      - name: startDate
        in: query
        schema:
          type: string
          format: yyyy-MM-dd
        description: Time series start date. Accepts `yyyy-MM-dd`.
        examples:
          startDateExample1:
            summary: Example 1
            value: '2025-06-01'
          startDateExample2:
            summary: Example 2
            value: '2025-06-30'
      - name: endDate
        in: query
        schema:
          type: string
          format: yyyy-MM-dd
        description: Time series end date. Accepts `yyyy-MM-dd`.
        examples:
          endDateExample1:
            summary: Example 1
            value: '2025-12-01'
          endDateExample2:
            summary: Example 2
            value: '2025-12-31'
      - name: viewType
        in: query
        required: true
        schema:
          enum:
          - dataset
          - package
          type: string
      - name: countryId
        in: query
        description: Specifies the country to filter results on. Accepts 3-character ISO 3166-1 country codes. The availability of data depends on the specific data points and investments queried
        schema:
          type: string
        examples:
          countryIdExample1:
            summary: CAN (Canada)
            value: CAN
          countryIdExample2:
            summary: JPN (Japan)
            value: JPN
      description: Most recent and time series data supported.
      operationId: getEquityIndustryAggregatesPriceYieldsDataset
      tags:
      - Aggregates Financials
      responses:
        '200':
          $ref: '#/components/responses/ResponseEquityIndustryAggregatesPriceYields'
        '400':
          $ref: '#/components/responses/ResponseBadRequest'
        '500':
          $ref: '#/components/responses/ResponseInternalServerError'
      x-cpqId: 936
components:
  schemas:
    OutputAggregationLeverage:
      type: object
      properties:
        periodEndDate:
          type: string
          description: The month-end date of the industry aggregated value
          nullable: true
        debtToAssetsRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        debtToAssetsRatioValue:
          type: number
          description: 'The aggregated value of Debt to Assets Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. Debt to Assets Ratio: This ratio represents the value of a company''s total debt relative to its total assets. This can be used as a leverage ratio to measure a company''s financial risk. This is calculated using Total Debt divided by Total Asset.'
          format: double
          nullable: true
        debtToEquityRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        debtToEquityRatioValue:
          type: number
          description: 'The aggregated value of Debt to Equity Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. Debt to Equity Ratio: This ratio represents the value of a company''s long term debt relative to its total equity. This can be used as a leverage ratio to measure a company''s financial risk. This is calculated using Long-term debt and Capital Lease Obiligation; divided by Total Equity.'
          format: double
          nullable: true
        equityMultiplierRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        equityMultiplierRatioValue:
          type: number
          description: 'The aggregated value of Equity Multiplier Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. Equity Multiplier Ratio: This ratio represents the value of a company''s total assets relative to its total equity. This can be used to measure a company''s financial leverage and is often referred to as the Financial Leverage Ratio. This is calculated using Total Assets divided by Total Equity.'
          format: double
          nullable: true
        numberOfCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector
          format: int32
          nullable: true
        totalDebtToEquityRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        totalDebtToEquityRatioValue:
          type: number
          description: 'The aggregated value of Total Debt to Equity Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. Total Debt to Equity Ratio: This ratio represents the value of a company''s total debt relative to its total equity. This can be used to measure the company''s financial leverage. This is calculated using Total Debt divided by Total Equity.'
          format: double
          nullable: true
        totalDebtToInvestedCapitalRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        totalDebtToInvestedCapitalRatioValue:
          type: number
          description: 'The aggregated value of Total Debt to Invested Capital Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. Total Debt to Invested Capital Ratio: This ratio represents the value of a company''s total debt relative to its invested capital. This can be used to measure the company''s financial leverage. This is calculated using Total Debt divided by Invested Capital.'
          format: double
          nullable: true
      additionalProperties: false
      title: OutputAggregationLeverage
    OutputAggregationPriceMultiples:
      type: object
      properties:
        asOfDate:
          type: string
          description: The calendar date of the industry aggregated value
          nullable: true
        capeRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int32
          nullable: true
        capeRatioValue:
          type: number
          description: 'The aggregated value of CAPE Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. CAPE Ratio: The Cyclically-Adjusted-Price-to-Earnings Ratio measures the value of the company using real earnings per share (EPS) over a 10-year period to smooth out fluctuations in corporate profits that occur over different periods of a business cycle. This is calculated using Stock Price divided by the average of the company''s earnings for the last ten years; adjusted for inflation.'
          format: double
          nullable: true
        normalizedPriceEarningsToGrowthRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int32
          nullable: true
        normalizedPriceEarningsToGrowthRatioValue:
          type: number
          description: 'The aggregated value of Normalized PEG Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. Normalized PEG Ratio: This calculation represents the Normalized Price to Earnings ratio divided by the normalized earnings growth rate. This can be used to determine the fair value of the stock price; while accounting for the company''s earnings growth. This can be calculated using Normalized Price to Earnings / (Normalized Diluted EPS 5Y Growth*100).'
          format: double
          nullable: true
        normalizedPriceToEarningsRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int32
          nullable: true
        normalizedPriceToEarningsRatioValue:
          type: number
          description: 'The aggregated value of Normalized Price to Earnings Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. Normalized Price to Earnings Ratio: This ratio represents the value of a company''s stock price relative to its normalized earnings per share. This can be used to determine the fair value the stock price. This is calculated using Stock Price divided by Normalized EPS (TTM).'
          format: double
          nullable: true
        normalizedPriceToEbitdaRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int32
          nullable: true
        normalizedPriceToEbitdaRatioValue:
          type: number
          description: 'The aggregated value of Normalized Price To EBITDA Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. Normalized Price To EBITDA Ratio: This ratio represents the value of a company''s stock price relative to its normalized EBITDA per share. This can be used to determine the fair value the stock price. This is calculated using Stock Price divided by normalized EBITDA per share (TTM).'
          format: double
          nullable: true
        normalizedPriceToEbitdarRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int32
          nullable: true
        normalizedPriceToEbitdarRatioValue:
          type: number
          description: 'The aggregated value of Normalized Price to EBITDAR Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. Normalized Price to EBITDAR Ratio: This ratio represents the value of a company''s stock price relative to its Normalized EBITDAR per share. This can be used to determine the fair value the stock price. This is calculated using Stock Price divided by Normalized EBITDAR (TTM) per share.'
          format: double
          nullable: true
        normalizedPriceToEbitRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int32
          nullable: true
        normalizedPriceToEbitRatioValue:
          type: number
          description: 'The aggregated value of Normalized Price to EBIT Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. Normalized Price to EBIT Ratio: This ratio represents the value of a company''s stock price relative to its normalized EBIT per share. This can be used to determine the fair value the stock price. This is calculated using Stock Price divided by normalized EBIT per share (TTM).'
          format: double
          nullable: true
        numberOfCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector
          format: int32
          nullable: true
        priceEarningsToGrowthRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int32
          nullable: true
        priceEarningsToGrowthRatioValue:
          type: number
          description: 'The aggregated value of Price/Earnings to Growth Ratio (PEG); is derived using all eligible companies who are constituents in the specified Morningstar Index. Price/Earnings to Growth Ratio (PEG): This calculation represents the Price to Earnings ratio divided by the earnings growth rate. This can be used to determine the fair value of the stock price; while accounting for the company''s earnings growth. This is calculated using Price to Earnings / (Earnings Per Share Used for Calculations 5Y TTM Growth*100).'
          format: double
          nullable: true
        priceToBookRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int32
          nullable: true
        priceToBookRatioValue:
          type: number
          description: 'The aggregated value of Price To Book Ratio (PB); is derived using all eligible companies who are constituents in the specified Morningstar Index. Price To Book Ratio (PB): This ratio represents the value of a company''s stock price relative to its common equity book value. This can be used to determine the fair value the stock price. This is calculated using Stock Price divided by Common Equity Book Value.'
          format: double
          nullable: true
        priceToCashFlowRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int32
          nullable: true
        priceToCashFlowRatioValue:
          type: number
          description: 'The aggregated value of Price To Cash Flow Ratio (PCF); is derived using all eligible companies who are constituents in the specified Morningstar Index. Price To Cash Flow Ratio (PCF): This ratio represents the value of a company''s stock price relative to its operating cash flow. This can be used to determine the fair value the stock price. This is calculated using Stock Price divided by Cash Flow from Operating Activities before changes in Net Working Capital.'
          format: double
          nullable: true
        priceToCashRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int32
          nullable: true
        priceToCashRatioValue:
          type: number
          description: 'The aggregated value of Price to Cash Ratio (PC); is derived using all eligible companies who are constituents in the specified Morningstar Index. Price to Cash Ratio (PC): This ratio represents the value of a company''s stock price relative to its cash and cash equivalents. This can be used to determine the fair value the stock price. This is calculated using Stock Price divided by Cash; Cash Equivalents and Short Term Investments.'
          format: double
          nullable: true
        priceToEarningsRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int32
          nullable: true
        priceToEarningsRatioValue:
          type: number
          description: 'The aggregated value of Price To Earnings Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. Price To Earnings Ratio: This ratio represents the value of a company''s stock price relative to its earnings per share. This can be used to determine the fair value the stock price. This is calculated using Stock Price divided by Earnings Per Share (TTM).'
          format: double
          nullable: true
        priceToEbitdaRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int32
          nullable: true
        priceToEbitdaRatioValue:
          type: number
          description: 'The aggregated value of Price to EBITDA Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. Price to EBITDA Ratio: This ratio represents the value of a company''s stock price relative to its EBITDA per share. This can be used to determine the fair value the stock price. This is calculated using Stock Price divided by EBITDA per share (TTM).'
          format: double
          nullable: true
        priceToEbitdarRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int32
          nullable: true
        priceToEbitdarRatioValue:
          type: number
          description: 'The aggregated value of Price to EBITDAR Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. Price to EBITDAR Ratio: This ratio represents the value of a company''s stock price relative to its EBITDAR per share. This can be used to determine the fair value the stock price. This is calculated using Stock Price divided by EBITDAR per share (TTM).'
          format: double
          nullable: true
        priceToEbitRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int32
          nullable: true
        priceToEbitRatioValue:
          type: number
          description: 'The aggregated value of Price to EBIT Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. Price to EBIT Ratio: This ratio represents the value of a company''s stock price relative to its EBIT per share. This can be used to determine the fair value the stock price. This is calculated using Stock Price divided by EBIT per share (TTM).'
          format: double
          nullable: true
        priceToFreeCashFlowRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int32
          nullable: true
        priceToFreeCashFlowRatioValue:
          type: number
          description: 'The aggregated value of Price to FCF Ratio (PFCF); is derived using all eligible companies who are constituents in the specified Morningstar Index. Price to FCF Ratio (PFCF): This ratio represents the value of a company''s stock price relative to its free cash flow. This can be used to determine the fair value the stock price. This is calculated using Stock Price divided by Free Cash Flow (TTM).'
          format: double
          nullable: true
        priceToSalesRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int32
          nullable: true
        priceToSalesRatioValue:
          type: number
          description: 'The aggregated value of Price To Sales Ratio (PS); is derived using all eligible companies who are constituents in the specified Morningstar Index. Price To Sales Ratio (PS): This ratio represents the value of a company''s stock price relative to its total revenue. This can be used to determine the fair value the stock price. This is calculated using Stock Price divided by Total Revenue (TTM).'
          format: double
          nullable: true
        priceToTangibleBookValueRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int32
          nullable: true
        priceToTangibleBookValueRatioValue:
          type: number
          description: Total Outstanding Amount Of Senior Secured Bonds And Notes
          format: double
          nullable: true
      additionalProperties: false
      title: OutputAggregationPriceMultiples
    OutputAggregationPriceYields:
      type: object
      properties:
        asOfDate:
          type: string
          description: The calendar date of the industry aggregated value
          nullable: true
        bookValueYieldNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        bookValueYieldValue:
          type: number
          description: 'The aggregagated value of Book Value Yield; is derived using all eligible companies who are constituents in the specified Morningstar Index. Book Value Yield: This ratio represents the value of a company''s common equity book value per share relative to its stock price. This can be used to determine the fair value of a stock. This is calculated using Common Equity Book Value Per Share divided by Stock Price.'
          format: double
          nullable: true
        buybackYieldNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        buybackYieldValue:
          type: number
          description: 'The aggregated value of Buyback Yield; is derived using all eligible companies who are constituents in the specified Morningstar Index. Buyback Yield: This ratio represents the value of common stock a company has repurchased relative to its market cap. This ratio can be used as a sign that the company believes its stock is undervalued and also as a method of payingout to shareholders. This is calculated by using Issuance of/Payments for Common Stock divided by Market Cap'
          format: double
          nullable: true
        cashFlowYieldNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        cashFlowYieldValue:
          type: number
          description: 'The aggregated value of Cash Flow Yield; is derived using all eligible companies who are constituents in the specified Morningstar Index. Cash Flow Yield: This ratio represents the value of a company''s cash flow from operating activities relative to its stock price. This can be used to determine the fair value of the stock price especially when the company has large non-cash charges. This is calculated using Cash Flow from Operating Activities (TTM) / Stock Price.'
          format: double
          nullable: true
        earningsYieldNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        earningsYieldValue:
          type: number
          description: 'The aggregated value of Earnings Yield; is derived using all eligible companies who are constituents in the specified Morningstar Index. Earnings Yield: This ratio represents the value of a stock''s EPS relative to its price. This can be used to measure the earnings produced by each dollar invested in the stock. This is calculated using Earnings Per Share (TTM) divided by Stock Price.'
          format: double
          nullable: true
        forwardEarningsYieldNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        forwardEarningsYieldValue:
          type: number
          description: 'The aggregated value of Forward Earnings Yield; is derived using all eligible companies who are constituents in the specified Morningstar Index. Forward Earnings Yield: This ratio represents the value of a company''s estimated EPS relative to its stock price. This can be used to measure the future earnings expected to be produced by each dollar invested in the stock. This is calculated using Consensus Estimated EPS divided by Stock Price.'
          format: double
          nullable: true
        freeCashFlowYieldNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        freeCashFlowYieldValue:
          type: number
          description: 'The aggregated value of FCF Yield; is derived using all eligible companies who are constituents in the specified Morningstar Index. FCF Yield: This ratio represents the value of a company''s free cash flow per share relative to its stock price. This can be used to measure the return (free cash flow) on each share of the company. This is calculated using Free Cash Flow Per Share (TTM) divided by Stock Price.'
          format: double
          nullable: true
        normalizedEarningsYieldNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        normalizedEarningsYieldValue:
          type: number
          description: 'The aggregated value of Normalized Earnings Yield ; is derived using all eligible companies who are constituents in the specified Morningstar Index. Normalized Earnings Yield : This ratio represents the value of a company''s normalized earnings per share relative to its stock price. This can be used to determine the fair value of stock. This is calcualted using Normalized Bssic EPS divided by Stock Price.'
          format: double
          nullable: true
        numberOfCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector
          format: int32
          nullable: true
        salesYieldNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        salesYieldValue:
          type: number
          description: 'The aggregated value of Sales Yield; is derived using all eligible companies who are constituents in the specified Morningstar Index. Sales Yield: This ratio represents the value of a company''s total revenue per share relative to its stock price. This can be used to measure the fair value of the stock price. This is calculated using Total Revenue (TTM) per share divided by Stock Price.'
          format: double
          nullable: true
        totalYieldNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        totalYieldValue:
          type: number
          description: 'The aggregated value of Total Yield; is derived using all eligible companies who are constituents in the specified Morningstar Index. Total Yield: This calculation represents the summation of trailing dividend and buyback yield. This can be used to measure the rate of return on the company''s stock. This is calculated using Trailing Dividend Yield + Buyback Yield.'
          format: double
          nullable: true
      additionalProperties: false
      title: OutputAggregationPriceYields
    OutputAggregationMargins:
      type: object
      properties:
        periodEndDate:
          type: string
          description: The month-end date of the industry aggregated value
          nullable: true
        ebitdaMarginNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        ebitdaMarginValue:
          type: number
          description: 'The aggregated value of EBITDA Margin; is derived using all eligible companies who are constituents in the specified Morningstar Index. EBITDA Margin: This ratio represents the value of a company''s EBITDA relative to its total revenue. This can be used to measure a company''s profitability. This is calculated using EBITDA divided by Total Revenue.'
          format: double
          nullable: true
        ebitMarginNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        ebitMarginValue:
          type: number
          description: 'The aggregated value of EBIT Margin; is derived using all eligible companies who are constituents in the specified Morningstar Index. EBIT Margin: This ratio represents the value of a company''s EBIT relative to its total revenue. This can be used to measure a company''s profitability. This is calculated using Earnings Before Interest and Tax divided by Total Revenue.'
          format: double
          nullable: true
        ebtMarginNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        ebtMarginValue:
          type: number
          description: 'The aggregated value of Earnings Before Tax Margin; is derived using all eligible companies who are constituents in the specified Morningstar Index. Earnings Before Tax Margin: This ratio represents the value of a company''s pretax income relative to its total revenue. This can be used to measure a company''s profitability. This is calculated using Pretax Income divided by Total Revenue.'
          format: double
          nullable: true
        grossMarginNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        grossMarginValue:
          type: number
          description: 'The aggregated value of Gross Margin; is derived using all eligible companies who are constituents in the specified Morningstar Index. Gross Margin: This ratio represents the value a company''s gross profit relative to its total revenue. This can be used to measure a company''s profitability. This is caldulated using Gross Profit divided by Total Revenue.'
          format: double
          nullable: true
        netProfitMarginNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        netProfitMarginValue:
          type: number
          description: 'The aggregated value of Net Profit Margin; is derived using all eligible companies who are constituents in the specified Morningstar Index. Net Profit Margin: This calculation represents the value of a company''s net income relative to its total revenue. This can be used to measure a company''s profitability. This is calculated using Net Income from Continuing Operations divided by Total Revenue.'
          format: double
          nullable: true
        normalizedEbitdaMarginNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        normalizedEbitdaMarginValue:
          type: number
          description: 'The aggregated value of Normalized EBITDA Margin; is derived using all eligible companies who are constituents in the specified Morningstar Index. Normalized EBITDA Margin: This ratio represents the value of a company''s normalized EBITDA relative to its total revenue. This can be used to fairly measue a company''s profitability. This is calculated using Normalized EBITDA divided by Total Revenue.'
          format: double
          nullable: true
        normalizedEbitdarMarginNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        normalizedEbitdarMarginValue:
          type: number
          description: 'The aggregated value of Normalized EBITDAR Margin; is derived using all eligible companies who are constituents in the specified Morningstar Index. Normalized EBITDAR Margin: This ratio represents the value of a company''s normalized EBITDAR relative to its total revenue. This can be used to fairly measue a company''s profitability. This is calculated using Normalized EBITDAR divided by Total Revenue.'
          format: double
          nullable: true
        normalizedEbitMarginNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        normalizedEbitMarginValue:
          type: number
          description: 'The aggregated value of Normalized EBIT Margin; is derived using all eligible companies who are constituents in the specified Morningstar Index. Normalized EBIT Margin: This ratio represents the value of a company''s normalized EBIT relative to its total revenue. This can be used to fairly measue a company''s profitability. This is calculated using Normalized EBIT divided by Total Revenue.'
          format: double
          nullable: true
        normalizedNetProfitMarginNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        normalizedNetProfitMarginValue:
          type: number
          description: 'The aggregated value of Normalized Net Profit Margin; is derived using all eligible companies who are constituents in the specified Morningstar Index. Normalized Net Profit Margin: This ratio represents the value of a company''s normalized income relative to its total revenue. This can be used to fairly measure a company''s profitability. This is calculated using Normalized Income divided by Total Revenue.'
          format: double
          nullable: true
        numberOfCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector
          format: int32
          nullable: true
        operatingMarginNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        operatingMarginValue:
          type: number
          description: 'The aggregated value of Operating Margin; is derived using all eligible companies who are constituents in the specified Morningstar Index. Operating Margin: This ratio represents the value of a company''s operating profit/loss relative to its total revenue. This can be used to measure the profitability of a company''s core operations. This is calculated using Total Operating Profit/Loss divided by Total Revenue.'
          format: double
          nullable: true
      additionalProperties: false
      title: OutputAggregationMargins
    OutputAggregationDailyDividendMetrics:
      type: object
      properties:
        asOfDate:
          type: string
          description: The calendar date of the industry aggregated value
          nullable: true
        forwardDividendYieldNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        forwardDividendYieldValue:
          type: number
          description: 'The aggregated value of Forward Dividend Yield; is derived using all eligible companies who are constituents in the specified Morningstar Index. Forward Dividend Yield: This ratio represents the value of a company''s estimated dividend relative to its stock price. This can be used to measure the amount a company is expected to pay out versus retaining for future growth. This is calculated using Forward Dividend divided by Stock Price.'
          format: double
          nullable: true
        numberOfCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector
          format: int32
          nullable: true
        trailingDividendYieldNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        trailingDividendYieldValue:
          type: number
          description: 'The aggregated value of Trailing Dividend Yield; is derived using all eligible companies who are constituents in the specified Morningstar Index. Trailing Dividend Yield: This ratio represents the value of the company''s trailing dividend relative to its stock price. This can be used to measure the rate of return on the company''s stock. This is calculated using Trailing Dividend divided by Stock Price.'
          format: double
          nullable: true
      additionalProperties: false
      title: OutputAggregationDailyDividendMetrics
    OutputIdentifiers:
      type: object
      properties:
        performanceId:
          type: string
          nullable: true
        securityId:
          type: string
          nullable: true
        cusip:
          type: string
          nullable: true
        isin:
          type: string
          nullable: true
        sedol:
          type: string
          nullable: true
        tradingSymbol:
          type: string
          nullable: true
        fundCode:
          type: string
          nullable: true
        msid:
          type: string
          nullable: true
        ticker:
          type: string
          nullable: true
      additionalProperties: false
      title: OutputIdentifiers
    OutputErrorDetails:
      type: object
      properties:
        statusCode:
          type: integer
          description: Status Code
          format: int32
        errorCode:
          type: string
          description: Custom error code
          nullable: true
        message:
          type: string
          description: Message
          nullable: true
        requestId:
          type: string
          description: RequestId
          nullable: true
      additionalProperties: false
      description: Error details
      title: OutputErrorDetails
    OutputMetadataMessages:
      type: object
      properties:
        type:
          type: string
          nullable: true
        code:
          type: string
          nullable: true
        investments:
          type: array
          items:
            $ref: '#/components/schemas/OutputInvalidInvestments'
          nullable: true
        message:
          type: string
          nullable: true
      additionalProperties: false
      title: OutputMetadataMessages
    OutputAggregationMonthlyDividendMetrics:
      type: object
      properties:
        periodEndDate:
          type: string
          description: The month-end date of the industry aggregated value
          nullable: true
        dividendPayoutRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int32
          nullable: true
        dividendPayoutRatioValue:
          type: number
          description: 'The aggregated value of Dividend Payout Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. Dividend Payout Ratio: This ratio represents the value of the company''s dividend paid back to shareholders relative to its net income. This can be used to measure the amount a company is paying out versus retaining for future growth. This is calculated using Dividend Per Share divided by Earnings Per Share.'
          format: double
          nullable: true
        normalizedDividendPayoutRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int32
          nullable: true
        normalizedDividendPayoutRatioValue:
          type: number
          description: 'The aggregated value of Normalized Dividend Payout Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. Normalized Dividend Payout Ratio: This ratio represents the value of the company''s dividend paid back to shareholders relative to its normalized net income. This can be used to measure the amount a company is paying back to shareholders versus retaining for future growth. This is calculated using Dividend Per Share divided by Normalized Earnings Per Share.'
          format: double
          nullable: true
        normalizedRetentionRateNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int32
          nullable: true
        normalizedRetentionRateValue:
          type: number
          description: 'The aggregated value of Normalized Retention Rate; is derived using all eligible companies who are constituents in the specified Morningstar Index. Normalized Retention Rate: This ratio represents the pecentage of normalized income that the company keeps as retained earnings rather than paying out as dividends. This can be used to indicate whether or not the company is a growth company. This is calculated using 1 minus the Dividend Payout Ratio.'
          format: double
          nullable: true
        numberOfCompanies:
          type: integer
          description: ''
          format: int32
          nullable: true
        sustainableGrowthRateNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int32
          nullable: true
        sustainableGrowthRateValue:
          type: number
          description: 'The aggregated value of Sustainable Growth Rate; is derived using all eligible companies who are constituents in the specified Morningstar Index. Sustainable Growth Rate: This calculation measures the approximate rate at which a company could grow using internally generated cash; without issuing additional debt or equity. This can be used to measure the growth a company can fund from internally generated resources; without increasing debt levels or issuing equity. This is calculated by multiplying the company''s Retention Rate by its Return on Equity.'
          format: double
          nullable: true
      additionalProperties: false
      title: OutputAggregationMonthlyDividendMetrics
    OutputAggregationFinancialHealthRatios:
      type: object
      properties:
        periodEndDate:
          type: string
          description: The month-end date of the industry aggregated value
          nullable: true
        capitalExpenditureToEbitdaRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        capitalExpenditureToEbitdaRatioValue:
          type: number
          description: 'The aggregated value of Capital Expenditure to EBITDA Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. Capital Expenditure to EBITDA Ratio: This ratio represents the value of a company''s capital expenditure relative to its EBITDA. This can be used to measure the company''s ability to utilize its acquired capital to generate earnings. This is calculated using Capital Expenditure divided by EBITDA.'
          format: double
          nullable: true
        capitalExpenditureToSalesRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        capitalExpenditureToSalesRatioValue:
          type: number
          description: 'The aggregated value of Capital Expenditure to Sales Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. Capital Expenditure to Sales Ratio: This ratio represents the value of a company''s capital expenditure relative to its sales. This can be used to measure the company''s ability to utilize its acquired capital to generate earnings. This is calculated using Capital Expenditure divided by Total Revenue.'
          format: double
          nullable: true
        cashFlowToDebtRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        cashFlowToDebtRatioValue:
          type: number
          description: 'The aggregated value of Cash Flow to Debt Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. Cash Flow to Debt Ratio: This ratio represents the value of a company''s cash flow from operating activies relative to its total debt. This can be used to measure a company''s ability to use its cash to pay off debt. This is calculated using Cash Flow from Operating Activities (TTM) divided by Average Total Debt.'
          format: double
          nullable: true
        currentRatioNumberOfEligibleCompanies:
          type: integer
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: int64
          nullable: true
        currentRatioValue:
          type: number
          description: 'The aggregated value of Current Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. Current Ratio: This ratio represents the value of a company''s current assets relative to its current liabilities. This can be used to measure the company''s ability to use its short term assets to pay off its short term liabilities. This is calculated using Total Current Assets divided by Total Current Liabilities.'
          format: double
          nullable: true
        daysInInventoryRatioNumberOfEligibleCompanies:
          type: number
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: double
          nullable: true
        daysInInventoryRatioValue:
          type: number
          description: 'The aggregated value of Days In Inventory Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. Days In Inventory Ratio: This ratio represents the time (in days) it takes a company to convert its average inventory level into revenue. This can be used to measure the company''s ability to manage its inventory efficiently. This is calculated using Days of Period (365 for TTM) divided by Inventory Turnover Ratio.'
          format: double
          nullable: true
        daysInPaymentRatioNumberOfEligibleCompanies:
          type: number
          description: The number of companies assigned to each level of the industry/industry group/sector classification within a particular country that has a qualifying value included in the calculation of the aggregated value; or if 'GBL'; the number of companies across the globe assigned to that industry/industry group/sector with a qualifying value included in the calculation of the aggregated value.
          format: double
          nullable: true
        daysInPaymentRatioValue:
          type: number
          description: 'The aggregated value of Days In Payment Ratio; is derived using all eligible companies who are constituents in the specified Morningstar Index. Days In Payment Ratio: This ratio represents the time (in days) it takes a company to pay off its creditors. This can be used to measure the company''s ability to pay off its obligations. This is calculated using Days of Period (365 for TTM) divided by Payable Turnover Ratio.'
          format: double
          nullable: true
[...]
