openapi: 3.2.0
info:
  title: Risk Analytics Exposures API
  version: 1.0.0
  description: 'Use the API to:

    * Calculate performance attribution, risk attribution, and active exposure for investment(s) based on predefined risk models.

    * Forecast the impact on investments if market and macroeconomic events reoccur by using predefined and custom scenarios.

    * Retrieve scenario metadata including IDs that you use with other endpoints.


    To retrieve the risk model IDs used with the endpoints in this API, use the Risk Models API.'
servers:
- url: https://www.us-api.morningstar.com/risk-analytics/v1
  description: PROD
- url: https://www.us-uat-api.morningstar.com/risk-analytics/v1
  description: UAT
- url: https://www.emea-api.morningstar.com/risk-analytics/v1
  description: PROD
- url: https://www.emea-uat-api.morningstar.com/risk-analytics/v1
  description: UAT
- url: https://www.apac-api.morningstar.com/risk-analytics/v1
  description: PROD
- url: https://www.apac-uat-api.morningstar.com/risk-analytics/v1
  description: UAT
security:
- bearerAuth: []
tags:
- name: Exposures
paths:
  /exposures/snapshot:
    post:
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required.
        '403':
          description: You do not have access permission..
        '404':
          description: Not found.
        '500':
          description: Internal server error.
      summary: Calculate active exposure for investment
      description: Based on a specific risk model, calculate active exposure for a specific investment or portfolio. The most recent data will be returned.
      operationId: post_snapshot
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExposureSnapshot'
        required: true
      tags:
      - Exposures
components:
  schemas:
    ExposureSnapshot:
      required:
      - benchmarkIds
      - investmentId
      - riskModelId
      properties:
        riskModelId:
          type: string
          example: morn-glb-eq-usd
        investmentId:
          type: string
          example: 0P0000058R
        benchmarkIds:
          type: array
          example:
          - 0P000001RB
          - 0P00002Y8D
          items:
            type: string
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
