openapi: 3.0.1
info:
  version: 1.0.0
  title: Authorization Tokens Accounts Office Client API
  description: 'Use the `oauth` endpoint to generate the secure, time-limited JSON Web Tokens (JWTs) used to authorize access to APIs and components.</br></br>

    To request a token, click Authorize and enter the following credentials:


    * Username - Your Client ID.

    * Password - Your Client Secret.'
servers:
- url: https://www.us-api.morningstar.com/token
  description: PROD US
- url: https://www.emea-api.morningstar.com/token
  description: PROD EMEA
- url: https://www.apac-api.morningstar.com/token
  description: PROD APAC
security:
- BasicAuth: []
tags:
- name: Office Client
paths:
  /households/{householdId}/client:
    get:
      tags:
      - Office Client
      summary: Get client profile
      description: Get a specific client profile.
      operationId: getClient
      parameters:
      - in: header
        name: x-api-key
        description: Unique API key of a client
        required: true
        schema:
          type: string
      - name: householdId
        in: path
        description: Unique identifier of a household
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientProfile'
        '400':
          description: Invalid status value
      security:
      - bearerAuth: []
    post:
      tags:
      - Office Client
      summary: Update client profile
      description: 'Updates a client profile </br></br> `clientName`, `firstName`, and `lastName` do not support these characters: ~!#^`[]{}|\;"<>?/'
      operationId: updateClient
      requestBody:
        description: The client to update.
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/UpdateClientProfile'
      parameters:
      - in: header
        name: x-api-key
        description: Unique API key of a client
        required: true
        schema:
          type: string
      - name: householdId
        in: path
        description: Unique identifier of a household
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientProfile'
        '400':
          description: Invalid status value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPost400'
      security:
      - bearerAuth: []
components:
  schemas:
    ClientPost400:
      type: object
      properties:
        message:
          type: string
          format: string
          example: Missing firstName property.
        id:
          type: string
          format: uuid
    UpdateClientProfile:
      type: object
      required:
      - clientName
      - firstName
      - lastName
      properties:
        clientName:
          type: string
          format: string
          maxLength: 60
          example: Sample
        firstName:
          type: string
          format: string
          maxLength: 50
          example: Sample
        lastName:
          type: string
          format: string
          maxLength: 50
          example: Client
        socialSecurityNumber:
          type: string
          format: string
          example: 111-11-1234
          description: If not included, will default to empty.
        dateOfBirth:
          type: string
          format: date
          example: '1989-12-31'
          description: YYYY-MM-DD, if not included, will default to empty.
        desiredRetirementAge:
          type: string
          format: string
          example: 75
          description: If not included, will default to empty.
        address1:
          type: string
          format: string
          maxLength: 50
          example: 22 W. Washington St.
          description: If not included, will default to empty.
        address2:
          type: string
          format: string
          maxLength: 50
          example: FL 7
          description: If not included, will default to empty.
        address3:
          type: string
          format: string
          maxLength: 50
          example: Rm. 700
          description: If not included, will default to empty.
        city:
          type: string
          format: string
          maxLength: 30
          example: Chicago
          description: If not included, will default to empty.
        state:
          type: string
          format: string
          maxLength: 20
          example: IL
          description: If not included, will default to empty.
        zipCode:
          type: string
          format: string
          maxLength: 10
          example: 60602
          description: If not included, will default to empty.
        email:
          type: string
          format: string
          maxLength: 60
          description: If not included, will default to empty.
        homePhone:
          type: string
          format: string
          maxLength: 20
          example: 555-555555
          description: If not included, will default to empty.
        workPhone:
          type: string
          format: string
          maxLength: 20
          example: 555-555555
          description: If not included, will default to empty.
        reviewDate:
          type: string
          format: date
          example: '2021-12-31'
          description: YYYY-MM-DD, if not included, will default to empty.
    ClientProfile:
      type: object
      required:
      - householdId
      - clientName
      properties:
        clientName:
          type: string
          format: string
          maxLength: 60
          example: Sample
        householdId:
          type: string
          format: uuid
        firstName:
          type: string
          format: string
          maxLength: 50
          example: Sample
        lastName:
          type: string
          format: string
          maxLength: 50
          example: Client
        socialSecurityNumber:
          type: string
          format: string
          example: '********1234'
        dateOfBirth:
          type: string
          format: date
          example: '1989-12-31'
        desiredRetirementAge:
          type: string
          format: string
          example: 75
        address1:
          type: string
          format: string
          maxLength: 50
          example: 22 W. Washington St.
        address2:
          type: string
          format: string
          maxLength: 50
          example: FL 7
        address3:
          type: string
          format: string
          maxLength: 50
          example: Rm. 700
        city:
          type: string
          format: string
          maxLength: 30
          example: Chicago
        state:
          type: string
          format: string
          maxLength: 20
          example: IL
        zipCode:
          type: string
          format: string
          maxLength: 10
          example: 60602
        email:
          type: string
          format: string
          maxLength: 60
        homePhone:
          type: string
          format: string
          maxLength: 20
          example: 555-555555
        workPhone:
          type: string
          format: string
          maxLength: 20
          example: 555-555555
        reviewDate:
          type: string
          format: date
          example: '2021-12-31'
          description: YYYY-MM-DD, if not included, will default to empty.
        status:
          type: string
          format: string
          example: null
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
