openapi: 3.2.0
info:
  title: Research fund reports - esg API
  description: The Research API provides on-demand access to Morningstar’s repository of equity and fund research.
  version: 1.0.0
servers:
- url: https://www.us-api.morningstar.com/research
security:
- Bearer: []
tags:
- name: fund reports - esg
paths:
  /fund/v1/reports/esg/{fundshareclassId}:
    get:
      tags:
      - fund reports - esg
      summary: Get an Environmental, Social, and Governance (ESG) Report
      description: 'Get an ESG Report for the fund shareclass specified in the `fundshareclassId` parameter.


        To override the default value in the Accept-Language HTTP header, use the `locale` parameter.


        In the `pageSize` parameter, you can specify the page size for the returned PDF. Page size options are `Letter` or `A4`.


        If a report exists, a presigned URL from which you can download the PDF is returned in the response.'
      operationId: ESGReport
      parameters:
      - name: fundshareclassId
        in: path
        description: Unique identifier of a fund shareclass
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: F00000UPC2
      - name: analyst-rating
        in: query
        description: Include Morningstar Analyst Ratings data point in report
        required: false
        explode: false
        schema:
          type: integer
          default: 0
          enum:
          - 0
          - 1
      - name: pageSize
        in: query
        description: Page size of output PDF
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: Letter
          enum:
          - Letter
          - A4
      - name: locale
        in: query
        description: Language and locale, for example, en-US
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: en-US
          enum:
          - en-US
          - en-GB
          - en-AU
          - en-NZ
          - fr-FR
          - de-DE
          - it-IT
          - es-ES
          - fi-Fi
          - nb-NO
          - nl-NL
          - sv-SE
      responses:
        '200':
          description: Success
          content: {}
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
