openapi: 3.2.0
info:
  description: Internal and external teams use the Portolio Analysis (US) API to integrate Morningstar's calculated data directly into their own tools, software, and applications.
  version: 1.0.0
  title: Portfolio Analysis (US) IDR (Investment Details Report) API
servers:
- url: https://www.us-api.morningstar.com/portfolioanalysis/v1
  description: PROD
security:
- bearerAuth: []
tags:
- name: IDR (Investment Details Report)
paths:
  /IDR:
    get:
      tags:
      - IDR (Investment Details Report)
      summary: Get an Investment Details Report
      description: 'Get an Investment Details Report for the securities specified in the `securities` parameter. Reports are generated in PDF format. You can specify that the PDF opens online or is downloaded as an attachment.


        Use the `currencyId` parameter to define the currency of the data in the report. To override the default value in the Accept-Language HTTP header, use the `langcult` parameter.'
      operationId: InvestmentDetailsReportV1_GetIDR
      parameters:
      - name: securities
        in: query
        description: Securities to query. Separate multiple entries with ',' or '|'.
        required: true
        schema:
          type: string
          default: FOUSA05H5F
      - name: currencyId
        in: query
        description: ISO 4217 code. For example 'USD'.
        required: false
        schema:
          type: string
      - name: langcult
        in: query
        description: Language and locale, for example, en-US
        required: true
        schema:
          type: string
          default: en-US
      - name: contentDispositionHeaderValue
        in: query
        description: Open PDF online or download as an attachment
        required: false
        schema:
          type: string
          default: attachment
      responses:
        '200':
          description: Success
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      deprecated: false
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
