openapi: 3.2.0
info:
  title: Household Members (US) Office Members API
  version: 1.0.0
  description: 'Use the Household Members API to retrieve household member lists and member profiles, and to update member and client profiles for Morningstar Office.


    With this API you can:

    * Get member list for a specific household.

    * Get a specific member''s profile.

    * Update household client''s and member''s profiles.'
servers:
- url: https://www.us-api.morningstar.com/office/v1
  description: PROD
- url: https://www.us-uat-api.morningstar.com/office/v1
  description: UAT
security:
- bearerAuth: []
tags:
- name: Office Members
paths:
  /households/{householdId}/members:
    get:
      tags:
      - Office Members
      summary: Get household's member list
      description: 'Get list of all members for a household.


        `householdId` can be retrieved by using the Households API.'
      operationId: getMembers
      parameters:
      - in: header
        name: x-api-key
        description: Unique API key of a client
        required: true
        schema:
          type: string
      - name: householdId
        in: path
        description: Unique identifier of a household
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberList'
        '400':
          description: Invalid status value
  /households/{householdId}/members/{memberId}:
    get:
      tags:
      - Office Members
      summary: Get member profile
      description: Get a specific member profile.
      operationId: getMember
      parameters:
      - in: header
        name: x-api-key
        description: Unique API key of a client
        required: true
        schema:
          type: string
      - name: householdId
        in: path
        description: Unique identifier of a household
        required: true
        schema:
          type: string
          format: uuid
      - name: memberId
        in: path
        description: Unique identifier of a member
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberProfile'
        '400':
          description: Invalid status value
      security:
      - bearerAuth: []
    post:
      tags:
      - Office Members
      summary: Update member profile
      description: 'Updates a member profile.


        `relationshipId` cannot be changed to or from 1.


        `relationshipId` mapping:


        `1` = Self

        `3` = Spouse

        `6` = Attorney

        `7` = Accountant

        `8` = Aunt

        `38` = Beneficiary

        `33` = Brother

        `10` = Child

        `11` = Cousin

        `37` = Daughter

        `4` = Dependent

        `12` = Ex-Spouse

        `13` = Father

        `14` = Friend

        `15` = Granddaughter

        `16` = Grandparent

        `17` = Grandson

        `39` = Grantor

        `34` = Insurance Agent

        `18` = Mother

        `19` = Niece

        `30` = Nephew

        `5` = Others

        `40` = Partner

        `31` = Sister

        `36` = Son

        `35` = Trustee

        `32` = Uncle


        `firstName` and `lastName` do not support these characters: ~!#^`[]{}|\;"<>?/'
      operationId: updateMember
      requestBody:
        description: The member to update.
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/UpdateMemberProfile'
      parameters:
      - in: header
        name: x-api-key
        description: Unique API key of a client
        required: true
        schema:
          type: string
      - name: householdId
        in: path
        description: Unique identifier of a household
        required: true
        schema:
          type: string
          format: uuid
      - name: memberId
        in: path
        description: Unique identifier of a member
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberProfile'
        '400':
          description: Invalid status value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberPost400'
      security:
      - bearerAuth: []
components:
  schemas:
    MemberProfile:
      type: object
      required:
      - householdId
      - memberId
      properties:
        householdId:
          type: string
          format: uuid
        memberId:
          type: string
          format: string
          example: 1234567
        firstName:
          type: string
          format: string
          maxLength: 50
          example: Sample
        lastName:
          type: string
          format: string
          maxLength: 50
          example: Client
        socialSecurityNumber:
          type: string
          format: string
          example: '********1234'
        dateOfBirth:
          type: string
          format: date
          example: '1989-12-31'
        desiredRetirementAge:
          type: string
          format: string
          example: 75
        address1:
          type: string
          format: string
          maxLength: 50
          example: 22 W. Washington St.
        address2:
          type: string
          format: string
          maxLength: 50
          example: FL 7
        address3:
          type: string
          format: string
          maxLength: 50
          example: Rm. 700
        city:
          type: string
          format: string
          maxLength: 30
          example: Chicago
        state:
          type: string
          format: string
          maxLength: 20
          example: IL
        zipCode:
          type: string
          format: string
          maxLength: 10
          example: 60602
        email:
          type: string
          format: string
          maxLength: 60
        homePhone:
          type: string
          format: string
          maxLength: 20
          example: 555-555555
        workPhone:
          type: string
          format: string
          maxLength: 20
          example: 555-555555
        relationshipId:
          type: string
          format: string
          example: 1
        status:
          type: string
          format: string
          example: null
    MemberList:
      type: object
      required:
      - id
      properties:
        members:
          type: array
          items:
            $ref: '#/components/schemas/Member'
    MemberPost400:
      type: object
      properties:
        message:
          type: string
          format: string
          example: Missing firstName property.
        id:
          type: string
          format: uuid
    Member:
      type: object
      required:
      - memberId
      properties:
        firstName:
          type: string
          format: string
          maxLength: 50
          example: Sample
        lastName:
          type: string
          format: string
          maxLength: 50
          example: Client
        address1:
          type: string
          format: string
          maxLength: 50
          example: 22 W. Washington St.
        address2:
          type: string
          format: string
          maxLength: 50
          example: FL 7
        address3:
          type: string
          format: string
          maxLength: 50
          example: Rm. 700
        city:
          type: string
          format: string
          maxLength: 30
          example: Chicago
        state:
          type: string
          format: string
          maxLength: 20
          example: IL
        zipCode:
          type: string
          format: string
          maxLength: 10
          example: 60602
        email:
          type: string
          format: string
          maxLength: 60
        memberId:
          type: string
          format: string
          example: 1234567
        name:
          type: string
          format: string
          maxLength: 60
          example: Sample Client
        relationshipId:
          type: string
          format: string
          example: 1
        relationshipName:
          type: string
          format: string
          example: Self
    UpdateMemberProfile:
      type: object
      required:
      - firstName
      - lastName
      - relationshipId
      properties:
        firstName:
          type: string
          format: string
          maxLength: 50
          example: Sample
        lastName:
          type: string
          format: string
          maxLength: 50
          example: Client
        socialSecurityNumber:
          type: string
          format: string
          example: 111-11-1234
          description: If not included, will default to empty.
        dateOfBirth:
          type: string
          format: date
          example: '1989-12-31'
          description: YYYY-MM-DD, if not included, will default to empty.
        desiredRetirementAge:
          type: string
          format: string
          example: 75
          description: If not included, will default to empty.
        address1:
          type: string
          format: string
          maxLength: 50
          example: 22 W. Washington St.
          description: If not included, will default to empty.
        address2:
          type: string
          format: string
          maxLength: 50
          example: FL 7
          description: If not included, will default to empty.
        address3:
          type: string
          format: string
          maxLength: 50
          example: Rm. 700
          description: If not included, will default to empty.
        city:
          type: string
          format: string
          maxLength: 30
          example: Chicago
          description: If not included, will default to empty.
        state:
          type: string
          format: string
          maxLength: 20
          example: IL
          description: If not included, will default to empty.
        zipCode:
          type: string
          format: string
          maxLength: 10
          example: 60602
          description: If not included, will default to empty.
        email:
          type: string
          format: string
          maxLength: 60
          description: If not included, will default to empty.
        homePhone:
          type: string
          format: string
          maxLength: 20
          example: 555-555555
          description: If not included, will default to empty.
        workPhone:
          type: string
          format: string
          maxLength: 20
          example: 555-555555
          description: If not included, will default to empty.
        relationshipId:
          type: string
          format: string
          example: 1
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
