openapi: 3.2.0
info:
  title: Risk Analytics Attribution API
  version: 1.0.0
  description: 'Use the API to:

    * Calculate performance attribution, risk attribution, and active exposure for investment(s) based on predefined risk models.

    * Forecast the impact on investments if market and macroeconomic events reoccur by using predefined and custom scenarios.

    * Retrieve scenario metadata including IDs that you use with other endpoints.


    To retrieve the risk model IDs used with the endpoints in this API, use the Risk Models API.'
servers:
- url: https://www.us-api.morningstar.com/risk-analytics/v1
  description: PROD
- url: https://www.us-uat-api.morningstar.com/risk-analytics/v1
  description: UAT
- url: https://www.emea-api.morningstar.com/risk-analytics/v1
  description: PROD
- url: https://www.emea-uat-api.morningstar.com/risk-analytics/v1
  description: UAT
- url: https://www.apac-api.morningstar.com/risk-analytics/v1
  description: PROD
- url: https://www.apac-uat-api.morningstar.com/risk-analytics/v1
  description: UAT
security:
- bearerAuth: []
tags:
- name: Attribution
paths:
  /attribution/calculate:
    post:
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required.
        '403':
          description: You do not have access permission..
        '404':
          description: Not found.
        '500':
          description: Internal server error.
      summary: Calculate performance attribution for a portfolio over a defined time period
      description: Based on a specific risk model, calculate performance attribution for a specific portfolio or fund over a time period of between 3 months and 15 years. The response enables you to attribute returns to specific factors.
      operationId: post_attribution
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attribution'
        required: true
      tags:
      - Attribution
components:
  schemas:
    Attribution:
      required:
      - endDate
      - riskModelId
      - startDate
      properties:
        riskModelId:
          type: string
          example: morn-glb-eq-usd
        startDate:
          type: string
          description: The start date of the time period to perform the attribution analysis.
          example: '2017-01-01T00:00:00.000Z'
        endDate:
          type: string
          description: The end date of the time period to perform the attribution analysis.
          example: '2017-06-30T00:00:00.000Z'
        investment:
          example:
            id: 0P000001RB
            type: ''
          allOf:
          - $ref: '#/components/schemas/idType'
        benchmark:
          example:
            id: 0P0000058R
            type: ''
          allOf:
          - $ref: '#/components/schemas/idType'
        frequency:
          type: string
          example: single
          enum:
          - single
          - monthly
          - quarterly
          - annually
        annualized:
          type: boolean
      type: object
    idType:
      properties:
        id:
          type: string
        type:
          type: string
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
