openapi: 3.0.1
info:
  version: 1.0.0
  title: Authorization Tokens Accounts Fees & Expenses API
  description: 'Use the `oauth` endpoint to generate the secure, time-limited JSON Web Tokens (JWTs) used to authorize access to APIs and components.</br></br>

    To request a token, click Authorize and enter the following credentials:


    * Username - Your Client ID.

    * Password - Your Client Secret.'
servers:
- url: https://www.us-api.morningstar.com/token
  description: PROD US
- url: https://www.emea-api.morningstar.com/token
  description: PROD EMEA
- url: https://www.apac-api.morningstar.com/token
  description: PROD APAC
security:
- BasicAuth: []
tags:
- name: Fees & Expenses
paths:
  /direct-web-services/time-series/v1/fees-expenses/accounting-fee/{ids}:
    get:
      tags:
      - Fees & Expenses
      summary: Get Accounting Fee time series.
      description: This fee is reported in U.S. dollars and represents pricing service, financial agent, or security servicing fees as represented in the fund's annual report.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getFeesExpensesAccountingFee
  /direct-web-services/time-series/v1/fees-expenses/administrator-fee/{ids}:
    get:
      tags:
      - Fees & Expenses
      summary: Get Administrator Fee time series.
      description: The amount that the fund spent on administration costs during the last fiscal year, as reported in the most recent annual report.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getFeesExpensesAdministratorFee
  /direct-web-services/time-series/v1/fees-expenses/advisor-fee/{ids}:
    get:
      tags:
      - Fees & Expenses
      summary: Get Advisor Fee time series.
      description: This fee represents the amount charged by manager(s) as represented in the fund's annual report.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getFeesExpensesAdvisorFee
  /direct-web-services/time-series/v1/fees-expenses/annual-ongoing-charge-excluding-performance-fee/{ids}:
    get:
      tags:
      - Fees & Expenses
      summary: Get Annual Ongoing Charge Excluding Performance Fee time series.
      description: The costs expected to pay as a Hong Kong-based investor from one year to the next, which encompasses the fund's professional fees, management fees, audit fees and custody fees , but excludes performance fees.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - annually
          type: string
          default: annually
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getFeesExpensesAnnualOngoingChargeExcludingPerformanceFee
  /direct-web-services/time-series/v1/fees-expenses/annual-ongoing-charge-including-performance-fee/{ids}:
    get:
      tags:
      - Fees & Expenses
      summary: Get Annual Ongoing Charge Including Performance Fee time series.
      description: The costs expected to pay as a Hong Kong-based investor from one year to the next, which encompasses the fund's professional fees, management fees, audit fees and custody fees and performance fees.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - annually
          type: string
          default: annually
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getFeesExpensesAnnualOngoingChargeIncludingPerformanceFee
  /direct-web-services/time-series/v1/fees-expenses/annual-report-adjusted-expense-ratio/{ids}:
    get:
      tags:
      - Fees & Expenses
      summary: Get Annual Report Adjusted Expense Ratio time series.
      description: ''
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - annually
          type: string
          default: annually
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getFeesExpensesAnnualReportAdjustedExpenseRatio
  /direct-web-services/time-series/v1/fees-expenses/annual-report-management-expense-ratio-mer/{ids}:
    get:
      tags:
      - Fees & Expenses
      summary: Get Annual Report Management Expense Ratio (MER) time series.
      description: The percentage of a fund's average net assets paid out each year to cover the fixed costs of managing the fund as stated in the fund's Annual Report and Semi-annual Report.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getFeesExpensesAnnualReportManagementExpenseRatioMer
  /direct-web-services/time-series/v1/fees-expenses/annual-report-ongoing-charge/{ids}:
    get:
      tags:
      - Fees & Expenses
      summary: Get Annual Report Ongoing Charge (OGC) time series.
      description: Ongoing charge (OGC), which is required to publish in Key Investor Information Document (KIID) for EU UCITS fund since 1st July 2012, has also been required to publish in Annual Report for some countries.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getFeesExpensesAnnualReportOngoingCharge
  /direct-web-services/time-series/v1/fees-expenses/borrowing-costs-actual/{ids}:
    get:
      tags:
      - Fees & Expenses
      summary: Get Borrowing Costs Actual time series.
      description: The amount charged by the fund related to borrowing costs during the previous year. The cost is expressed as a percentage of the average net assets of the fund.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - monthly
          type: string
          default: monthly
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getFeesExpensesBorrowingCostsActual
  /direct-web-services/time-series/v1/fees-expenses/borrowing-costs-estimated/{ids}:
    get:
      tags:
      - Fees & Expenses
      summary: Get Borrowing Costs Estimated time series.
      description: The amount that may be charged by the fund related to borrowing costs for the year ahead. The cost is expressed as a percentage of the average net assets of the fund.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - monthly
          type: string
          default: monthly
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getFeesExpensesBorrowingCostsEstimated
  /direct-web-services/time-series/v1/fees-expenses/distribution-fee-percentage-of-nav-actual/{ids}:
    get:
      tags:
      - Fees & Expenses
      summary: Get Distribution Fee Percentage Of NAV Actual time series.
      description: The actual amount charged to the fund for the marketing and distribution services received during the fiscal year.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - monthly
          type: string
          default: monthly
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getFeesExpensesDistributionFeePercentageOfNavActual
  /direct-web-services/time-series/v1/fees-expenses/distribution-fee-percentage-of-nav-estimated/{ids}:
    get:
      tags:
      - Fees & Expenses
      summary: Get Distribution Fee Percentage Of NAV Estimated time series.
      description: The amount charged to the fund for the marketing and distribution services received during the fiscal year.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - monthly
          type: string
          default: monthly
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
[...]
