{
  "openapi": "3.1.0",
  "info": {
    "title": "AI Insights API",
    "x-changelog": [
      {
        "date": "2026-05-21",
        "changes": [
          "Analyst Highlights. Corrected `prefer` header value. Updated to `respond-async`."
        ]
      }
    ],
    "description": "\n# Overview\n  The AI Insights API from Morningstar offers an AI-driven solution to access financial analysis and insights on a wide range of investments, built atop Morningstar's proprietary analyst research.\n\n  The API provides two capabilities:\n\n  * **Analyst Highlights** — Submit **up to 20** investment IDs and retrieve AI-generated highlights based on the latest Morningstar analyst research. Requests are processed asynchronously.\n  * **Earnings Summaries** — Submit **up to 20** company identifiers and retrieve AI-generated summaries of the most recent earnings releases. Results are returned synchronously.\n\n# Authentication\n\nRetrieve tokens required to authorize calls to the API. See [documentation](https://developer.morningstar.com/direct-web-services/documentation/api-utilities/authentication-api/overview).\n",
    "version": "1.0"
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "servers": [
    {
      "url": "https://www.us-api.morningstar.com",
      "description": "Americas Production"
    },
    {
      "url": "https://www.apac-api.morningstar.com",
      "description": "APAC Production"
    },
    {
      "url": "https://www.emea-api.morningstar.com",
      "description": "EMEA Production"
    }
  ],
  "tags": [
    {
      "name": "Analyst Highlights"
    },
    {
      "name": "Earnings Summaries"
    }
  ],
  "paths": {
    "/direct-web-services/v1/ai-insights/analyst-highlights": {
      "post": {
        "tags": [
          "Analyst Highlights"
        ],
        "operationId": "postMorningstarHighlights",
        "summary": "Request analyst highlights for a list of investments.",
        "description": "\n#### Request Input\nRequest analyst highlights for the investments specified in the request body. The API accepts:\n\n  * `performanceId` - Morningstar performance ID.\n  * `securityId` - Morningstar security ID. \n  * `isin`\n  * `cusip`\n  * `tradingSymbol`\n  * `fundCode`\n  * `msid` \n  \n  When querying identifiers that may not be globally unique (such as `tradingSymbol`), you can apply additional filters (`baseCurrency`, `domicile`, and `exchangeCountry`) to narrow the results and improve specificity.\n  \n  #### Response\n  \n  A `202 Accepted` response is returned to indicate the server has accepted the request for asynchronous processing.\n  The response includes a `jobId` and a `_links` array with a URL to the `/jobs/{jobId}` endpoint. You use this URL to check the status of the job until it completes.\n  \n  #### Retrieving Output\n  \n  When you poll the `/jobs` endpoint, a `200: OK` response indicates the status of the job.\n  \n  When processing completes, a `302: Found` response is returned. A URL to retrieve the output can be found in the `Location` header.\n  \n",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "respond-async"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AiInsightsRequestInput"
              },
              "examples": {
                "exampleInputListOfIdentifersAndFilters": {
                  "summary": "List of Identifiers and Filters",
                  "value": {
                    "investments": [
                      {
                        "id": "DODGX",
                        "idType": "tradingSymbol"
                      },
                      {
                        "id": "0P000000ppY",
                        "idType": "securityId"
                      },
                      {
                        "id": "US4138386085",
                        "idType": "isin",
                        "exchangeCountry": "USA"
                      },
                      {
                        "id": "780910105",
                        "idType": "cusip",
                        "exchangeCountry": "USA",
                        "domicile": "USA",
                        "baseCurrency": "USD"
                      },
                      {
                        "id": "AAPL",
                        "idType": "tradingSymbol",
                        "exchangeCountry": "UKR"
                      }
                    ],
                    "sortBy": [
                      "updatedAt"
                    ],
                    "orderBy": "asc",
                    "limit": 10
                  }
                },
                "exampleInputListOfPerformanceIds": {
                  "summary": "List of Performance IDs",
                  "value": {
                    "investments": [
                      {
                        "id": "0P00000056",
                        "idType": "performanceId"
                      },
                      {
                        "id": "0P00008ICX",
                        "idType": "performanceId"
                      },
                      {
                        "id": "0P0001U4P6",
                        "idType": "performanceId"
                      },
                      {
                        "id": "0P0001UUHN",
                        "idType": "performanceId"
                      }
                    ],
                    "sortBy": [
                      "updatedAt"
                    ],
                    "orderBy": "asc",
                    "limit": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "202 Accepted: Get link to check job status.": {
                    "value": {
                      "jobId": "16bf1a7a-c883-4424-8810-2f4e9d244d40",
                      "_links": [
                        {
                          "href": "https://www.us-api.morningstar.com/dynamic-services-apis/jobs/16bf1a7a-c883-4424-8810-2f4e9d244d40",
                          "rel": "self",
                          "method": "GET"
                        }
                      ],
                      "metadata": {
                        "requestId": "41ec7d45-4d13-46fc-acf8-292500708eb1",
                        "time": "2025-06-11T14:23:28.891651Z"
                      }
                    }
                  }
                }
              }
            },
            "links": {
              "GetJobStatus": {
                "description": "Retrieve the status of the async job.",
                "parameters": {
                  "href": "$response.body#/_links/0/href"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetails"
                },
                "example": {
                  "statusCode": 400,
                  "errorCode": "400.aiInsights.007",
                  "message": "The prefer header is required.",
                  "requestId": "41ec7d45-4d13-46fc-acf8-292500708eb1"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetails"
                },
                "example": {
                  "statusCode": 500,
                  "errorCode": "500.aiInsights.002",
                  "message": "Async job data not found in S3.",
                  "requestId": "41ec7d45-4d13-46fc-acf8-292500708eb1"
                }
              }
            }
          }
        }
      }
    },
    "/direct-web-services/v1/ai-insights/results/{resultId}": {
      "get": {
        "operationId": "getAsyncResults",
        "tags": [
          "Analyst Highlights"
        ],
        "summary": "Retrieve analyst highlights.",
        "description": "When the asynchronous processing job is completed, this endpoint is returned in the `Location` header of the `302 Found` response returned by the `/jobs/{jobId}` endpoint.\n\n  When this endpoint is called, it returns:\n\n  * The AI insights for the investments it successfully identifies and where data is available.\n  * A metadata object listing any input identifiers that could not be matched or for which no data is available.\n",
        "parameters": [
          {
            "name": "resultId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiInsightsResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/AiInsightsResponseExample"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Result not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        }
      }
    },
    "/direct-web-services/v1/ai-insights/earnings-summaries": {
      "post": {
        "tags": [
          "Earnings Summaries"
        ],
        "operationId": "postEarningsSummaries",
        "summary": "Returns earnings summaries for a list of companies.",
        "description": "Submit a list of company identifiers to retrieve AI-generated earnings release summaries. Results are returned synchronously.\n\n  #### Supported Identifier Types\n\n  * `companyId` - Morningstar company ID (default).\n  * `performanceId`, `securityId`, `msid`, `isin`, `cusip`, `tradingSymbol`\n  \n  When using non-unique identifiers such as `tradingSymbol` or `isin`, apply\n  optional filters (`baseCurrency`, `domicile`, `exchangeCountry`) to improve\n  match accuracy.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EarningsSummariesRequestInput"
              },
              "examples": {
                "Sort by filing updated date": {
                  "value": {
                    "investments": [
                      {
                        "id": "0C00000378",
                        "idType": "companyId"
                      },
                      {
                        "id": "0C00000D9W",
                        "idType": "companyId"
                      },
                      {
                        "id": "0C00000L88",
                        "idType": "companyId"
                      }
                    ],
                    "sortBy": [
                      "filingUpdatedAt"
                    ],
                    "orderBy": "desc"
                  }
                },
                "Sort by company ID": {
                  "value": {
                    "investments": [
                      {
                        "id": "0C00000378",
                        "idType": "companyId"
                      },
                      {
                        "id": "0C00000D9W",
                        "idType": "companyId"
                      },
                      {
                        "id": "0C00000L88",
                        "idType": "companyId"
                      }
                    ],
                    "sortBy": [
                      "companyId"
                    ],
                    "orderBy": "asc"
                  }
                },
                "Sort by multiple fields without order": {
                  "value": {
                    "investments": [
                      {
                        "id": "0C00000378",
                        "idType": "companyId"
                      },
                      {
                        "id": "0C00000D9W",
                        "idType": "companyId"
                      },
                      {
                        "id": "0C00000L88",
                        "idType": "companyId"
                      }
                    ],
                    "sortBy": [
                      "companyId",
                      "filingUpdatedAt"
                    ]
                  }
                },
                "Request with multiple identifier types (ID Lookup)": {
                  "value": {
                    "investments": [
                      {
                        "id": "0P0000BZSZ",
                        "idType": "performanceId"
                      },
                      {
                        "id": "US33833Q1067",
                        "idType": "isin",
                        "baseCurrency": "EUR",
                        "domicile": "USA",
                        "exchangeCountry": "DEU"
                      },
                      {
                        "id": "F000015DDK",
                        "idType": "securityId"
                      },
                      {
                        "id": "004239109",
                        "idType": "cusip",
                        "baseCurrency": "USD",
                        "domicile": "USA",
                        "exchangeCountry": "USA"
                      },
                      {
                        "id": "NJUL",
                        "idType": "tradingSymbol",
                        "exchangeCountry": "USA"
                      },
                      {
                        "id": "F000015DDK",
                        "idType": "msid"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarningsSummariesResponse"
                },
                "examples": {
                  "Success with all companies covered": {
                    "value": {
                      "companies": [
                        {
                          "identifiers": {
                            "companyId": "0C00000378"
                          },
                          "summary": "Apple Inc. reported strong quarterly earnings with revenue beating analyst expectations. iPhone sales drove growth in the quarter.",
                          "metadata": {
                            "companyName": "Apple Inc.",
                            "filingType": "8-K",
                            "filingUpdatedAt": "2025-05-21",
                            "earningsReleaseSummaryPublishedAt": "2025-05-28T08:11:48.095000"
                          }
                        },
                        {
                          "identifiers": {
                            "companyId": "0C00000D9W"
                          },
                          "summary": "Microsoft Corporation announced quarterly results with cloud services revenue showing significant year-over-year growth.",
                          "metadata": {
                            "companyName": "Microsoft Corporation",
                            "filingType": "10-Q",
                            "filingUpdatedAt": "2025-05-22",
                            "earningsReleaseSummaryPublishedAt": "2025-05-29T09:30:15.120000"
                          }
                        },
                        {
                          "identifiers": {
                            "companyId": "0C00000L88"
                          },
                          "summary": "Amazon.com Inc. posted quarterly earnings with AWS revenue contributing to overall revenue growth.",
                          "metadata": {
                            "companyName": "Amazon.com Inc.",
                            "filingType": "10-K",
                            "filingUpdatedAt": "2025-05-23",
                            "earningsReleaseSummaryPublishedAt": "2025-05-30T10:45:22.500000"
                          }
                        }
                      ],
                      "metadata": {
                        "requestId": "ac585332-fddb-463e-a966-864686c6ac16",
                        "time": "2026-03-03T10:39:34.0164714Z"
                      }
                    }
                  },
                  "Success with some companies not covered": {
                    "value": {
                      "companies": [
                        {
                          "identifiers": {
                            "companyId": "0C00000378"
                          },
                          "summary": "Apple Inc. reported strong quarterly earnings with revenue beating analyst expectations. iPhone sales drove growth in the quarter.",
                          "metadata": {
                            "companyName": "Apple Inc.",
                            "filingType": "8-K",
                            "filingUpdatedAt": "2025-05-21",
                            "earningsReleaseSummaryPublishedAt": "2025-05-28T08:11:48.095000"
                          }
                        }
                      ],
                      "metadata": {
                        "messages": [
                          {
                            "investments": [
                              {
                                "id": "0C00000XYZ",
                                "idType": "companyId"
                              },
                              {
                                "id": "0C00000ABC",
                                "idType": "companyId"
                              }
                            ],
                            "type": "Warning",
                            "message": "No earnings data coverage for the following company IDs.",
                            "code": "404.earningsInsights.101"
                          }
                        ],
                        "requestId": "1bc9a92d-8ca9-49b9-b5f5-344e64928603",
                        "time": "2026-03-03T10:39:34.0166886Z"
                      }
                    }
                  },
                  "Success with lookup ID warnings": {
                    "value": {
                      "companies": [
                        {
                          "identifiers": {
                            "companyId": "0C00008UOF"
                          },
                          "summary": "Five Point Holdings, LLC reported a robust first quarter for 2025, showcasing significant financial performance and strategic developments.",
                          "metadata": {
                            "companyName": "Five Point Holdings LLC",
                            "filingType": "8-K",
                            "filingUpdatedAt": "2025-04-24",
                            "earningsReleaseSummaryPublishedAt": "2025-05-28T08:07:53.297000"
                          }
                        },
                        {
                          "identifiers": {
                            "companyId": "0C0000C0VA"
                          },
                          "summary": "908 Devices Inc. recently released its unaudited pro forma condensed financial statements for the years ended December 31, 2024, and December 31, 2023, providing a detailed look at the company's financial performance and strategic developments.",
                          "metadata": {
                            "companyName": "908 Devices Inc",
                            "filingType": "8-K",
                            "filingUpdatedAt": "2025-03-04",
                            "earningsReleaseSummaryPublishedAt": "2025-05-28T07:36:29.605000"
                          }
                        }
                      ],
                      "metadata": {
                        "messages": [
                          {
                            "investments": [
                              {
                                "id": "0P0000BZS4",
                                "idType": "performanceId"
                              }
                            ],
                            "type": "Warning",
                            "message": "Lookup : Invalid investments.",
                            "code": "404.common.125"
                          },
                          {
                            "investments": [
                              {
                                "id": "US33833Q1067",
                                "idType": "isin",
                                "companyId": "0C00008UOF",
                                "baseCurrency": "EUR",
                                "domicile": "USA",
                                "exchangeCountry": "DEU"
                              }
                            ],
                            "type": "Warning",
                            "message": "Lookup : Multiple identifier match found for the investments.",
                            "code": "200.common.126"
                          },
                          {
                            "investments": [
                              {
                                "id": "F000015DDK",
                                "idType": "securityId",
                                "companyId": "0C0000A4NK"
                              },
                              {
                                "id": "NJUL",
                                "idType": "tradingSymbol",
                                "companyId": "0C0000A4NK",
                                "exchangeCountry": "USA"
                              },
                              {
                                "id": "F000015DDK",
                                "idType": "msid",
                                "companyId": "0C0000A4NK"
                              }
                            ],
                            "type": "Warning",
                            "message": "Duplicate investments found in the request",
                            "code": "200.common.128"
                          },
                          {
                            "investments": [
                              {
                                "id": "F000015DDK",
                                "idType": "securityId",
                                "companyId": "0C0000A4NK"
                              },
                              {
                                "id": "004239109",
                                "idType": "cusip",
                                "companyId": "0C00000974"
                              }
                            ],
                            "type": "Warning",
                            "message": "No data coverage for the investments.",
                            "code": "404.earningsInsights.006"
                          }
                        ],
                        "requestId": "4bf30785-b50b-41c6-a645-9f27f0362c7c",
                        "time": "2026-03-03T10:39:34.0167883Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Obtain a token via the Authentication API's `POST /token/oauth` endpoint. Tokens are valid for 60 minutes and reusable across requests."
      }
    },
    "schemas": {
      "AiInsightsRequestInput": {
        "description": "Request body for the Analyst Highlights endpoint.",
        "required": [
          "investments"
        ],
        "type": "object",
        "properties": {
          "investments": {
            "type": "array",
            "description": "List of investments to query.",
            "items": {
              "$ref": "#/components/schemas/InvestmentInput"
            }
          },
          "sortBy": {
            "type": [
              "array",
              "null"
            ],
            "description": "Specifies the field(s) to sort results by.",
            "items": {
              "type": "string",
              "enum": [
                "updatedAt"
              ]
            },
            "default": [
              "updatedAt"
            ]
          },
          "orderBy": {
            "type": [
              "string",
              "null"
            ],
            "description": "Determines the sort direction.",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "desc"
          },
          "limit": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Limits the number of results returned. Must be between 1 and 20.",
            "format": "int32",
            "minimum": 1,
            "maximum": 20,
            "default": 20,
            "example": 20
          }
        },
        "additionalProperties": false
      },
      "InvestmentInput": {
        "description": "A single investment identifier submitted in a request.",
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "description": "The identifier value for the investment."
          },
          "idType": {
            "type": [
              "string",
              "null"
            ],
            "description": "The type of the identifier supplied in `id`.",
            "enum": [
              "isin",
              "cusip",
              "performanceId",
              "securityId",
              "tradingSymbol",
              "fundCode",
              "msid"
            ],
            "default": "performanceId"
          },
          "baseCurrency": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO 4217 three-letter currency code. Used to disambiguate non-unique identifiers such as `tradingSymbol`."
          },
          "domicile": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO 3166-1 alpha-3 country code for the investment's domicile. Used to disambiguate non-unique identifiers."
          },
          "exchangeCountry": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO 3166-1 alpha-3 country code for the exchange country. Used to disambiguate non-unique identifiers."
          }
        },
        "additionalProperties": false
      },
      "AiInsightsResponse": {
        "description": "Response body returned by the Analyst Highlights results endpoint.",
        "type": "object",
        "properties": {
          "investments": {
            "type": [
              "array",
              "null"
            ],
            "description": "List of investments with AI-generated highlights.",
            "items": {
              "$ref": "#/components/schemas/AnalystHighlightsInvestment"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadataWithMessages"
          }
        },
        "additionalProperties": false
      },
      "AnalystHighlightsInvestment": {
        "description": "A single investment with its AI-generated analyst highlight summary.",
        "type": "object",
        "properties": {
          "identifiers": {
            "type": [
              "object",
              "null"
            ],
            "description": "Map of identifier types to their resolved values for this investment. May include `performanceId`, `securityId`, `isin`, `cusip`, `tradingSymbol`, `fundCode`, `msid`, `baseCurrency`, `domicile`, and `exchangeCountry`.",
            "additionalProperties": {
              "type": [
                "string",
                "null"
              ]
            },
            "example": {
              "performanceId": "0P00002Y8D",
              "isin": "US4138386085",
              "exchangeCountry": "USA"
            }
          },
          "summary": {
            "type": [
              "string",
              "null"
            ],
            "description": "AI-generated analyst highlight summary for the investment."
          }
        },
        "additionalProperties": false
      },
      "EarningsSummariesRequestInput": {
        "description": "Request body for the Earnings Summaries endpoint.",
        "required": [
          "investments"
        ],
        "type": "object",
        "properties": {
          "investments": {
            "type": "array",
            "description": "List of up to 20 company investments to query.",
            "minItems": 1,
            "maxItems": 20,
            "items": {
              "$ref": "#/components/schemas/EarningsSummaryInvestmentInput"
            }
          },
          "sortBy": {
            "type": [
              "array",
              "null"
            ],
            "description": "One or more fields to sort results by. When multiple fields are provided, results are sorted in the order the fields are listed.",
            "items": {
              "type": "string",
              "enum": [
                "companyId",
                "filingUpdatedAt",
                "earningsReleaseSummaryPublishedAt"
              ]
            }
          },
          "orderBy": {
            "type": [
              "string",
              "null"
            ],
            "description": "Determines the sort direction applied to all `sortBy` fields.",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "desc"
          }
        },
        "additionalProperties": false
      },
      "EarningsSummaryInvestmentInput": {
        "description": "A single investment identifier submitted in an Earnings Summaries request.",
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "description": "The identifier value for the investment."
          },
          "idType": {
            "type": [
              "string",
              "null"
            ],
            "description": "The type of the identifier supplied in `id`.",
            "enum": [
              "companyId",
              "performanceId",
              "securityId",
              "msid",
              "isin",
              "cusip",
              "tradingSymbol"
            ],
            "default": "companyId"
          },
          "baseCurrency": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO 4217 three-letter currency code. Used to disambiguate non-unique identifiers such as `tradingSymbol`."
          },
          "domicile": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO 3166-1 alpha-3 country code for the investment's domicile. Used to disambiguate non-unique identifiers."
          },
          "exchangeCountry": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO 3166-1 alpha-3 country code for the exchange country. Used to disambiguate non-unique identifiers."
          },
          "exchangeId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Exchange identifier. Used to disambiguate non-unique identifiers."
          }
        },
        "additionalProperties": false
      },
      "EarningsSummariesResponse": {
        "description": "Response body returned by the Earnings Summaries endpoint.",
        "type": "object",
        "required": [
          "companies",
          "metadata"
        ],
        "properties": {
          "companies": {
            "type": "array",
            "description": "List of earnings summary results for matched companies.",
            "items": {
              "$ref": "#/components/schemas/EarningsSummaryCompany"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadataWithMessages"
          }
        }
      },
      "EarningsSummaryCompany": {
        "description": "A single company's earnings summary result.",
        "type": "object",
        "required": [
          "identifiers",
          "summary",
          "metadata"
        ],
        "properties": {
          "identifiers": {
            "type": "object",
            "description": "Map of identifier types to their resolved values for this company. Typically contains `companyId`.",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "companyId": "0C00000378"
            }
          },
          "summary": {
            "type": "string",
            "description": "AI-generated summary of the company's most recent earnings release.",
            "example": "Apple Inc. reported strong quarterly earnings with revenue beating analyst expectations. iPhone sales drove growth in the quarter."
          },
          "metadata": {
            "$ref": "#/components/schemas/EarningsSummaryItemMetadata"
          }
        }
      },
      "EarningsSummaryItemMetadata": {
        "description": "Filing and publication metadata associated with an earnings summary result.",
        "type": "object",
        "required": [
          "companyName",
          "filingType",
          "filingUpdatedAt",
          "earningsReleaseSummaryPublishedAt"
        ],
        "properties": {
          "companyName": {
            "type": "string",
            "description": "Full legal name of the company.",
            "example": "Apple Inc."
          },
          "filingType": {
            "type": "string",
            "description": "The SEC filing type associated with the earnings release.",
            "enum": [
              "8-K",
              "10-Q",
              "10-K"
            ],
            "example": "8-K"
          },
          "filingUpdatedAt": {
            "type": "string",
            "format": "date",
            "description": "The date on which the filing was last updated (YYYY-MM-DD).",
            "example": "2025-05-21"
          },
          "earningsReleaseSummaryPublishedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime at which the earnings release summary was published.",
            "example": "2025-05-28T08:11:48.095000"
          }
        }
      },
      "AsyncResponse": {
        "description": "Response returned immediately after submitting an async request.",
        "type": "object",
        "properties": {
          "jobId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Unique identifier for the async job."
          },
          "_links": {
            "type": [
              "array",
              "null"
            ],
            "description": "Links for interacting with the submitted job. Includes a URL to poll for job status.",
            "items": {
              "$ref": "#/components/schemas/ResponseLink"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "additionalProperties": false
      },
      "JobStatusResponse": {
        "description": "Response returned when polling `/jobs/{jobId}` while the job is still processing (`200 OK`). When processing is complete, a `302 Found` is returned with no body — use the `Location` header to retrieve results.",
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid",
            "description": "The job identifier."
          },
          "status": {
            "type": "string",
            "description": "Current status of the job.",
            "enum": [
              "processing",
              "failed"
            ]
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "additionalProperties": false
      },
      "ResponseMetadata": {
        "description": "Standard metadata included in all responses.",
        "type": "object",
        "properties": {
          "requestId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Unique identifier for the API request, useful for tracing and support."
          },
          "time": {
            "type": "string",
            "format": "date-time",
            "description": "UTC datetime at which the response was generated.",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "ResponseMetadataWithMessages": {
        "description": "Standard response metadata, extended with an optional list of warnings or informational messages about the request.",
        "type": "object",
        "properties": {
          "messages": {
            "type": [
              "array",
              "null"
            ],
            "description": "Warnings or informational messages relating to specific investments in the request — for example, unmatched identifiers, duplicate submissions, or missing data coverage.",
            "items": {
              "$ref": "#/components/schemas/ResponseMessage"
            }
          },
          "requestId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Unique identifier for the API request, useful for tracing and support."
          },
          "time": {
            "type": "string",
            "format": "date-time",
            "description": "UTC datetime at which the response was generated.",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "ResponseMessage": {
        "description": "A warning or informational message relating to one or more investments.",
        "type": "object",
        "properties": {
          "investments": {
            "type": [
              "array",
              "null"
            ],
            "description": "The investments this message applies to.",
            "items": {
              "$ref": "#/components/schemas/InvestmentLookupInputDetails"
            }
          },
          "type": {
            "$ref": "#/components/schemas/MessageType"
          },
          "message": {
            "type": [
              "string",
              "null"
            ],
            "description": "Human-readable description of the warning or issue."
          },
          "code": {
            "type": [
              "string",
              "null"
            ],
            "description": "Machine-readable error or warning code."
          }
        },
        "additionalProperties": false
      },
      "InvestmentLookupInputDetails": {
        "description": "Describes an investment referenced in a response message, including its resolved identifiers.",
        "type": "object",
        "properties": {
          "id": {
            "type": [
              "string",
              "null"
            ],
            "description": "The identifier value as supplied in the original request."
          },
          "idType": {
            "type": [
              "string",
              "null"
            ],
            "description": "The identifier type as supplied in the original request."
          },
          "companyId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Resolved Morningstar company ID, if available."
          },
          "performanceId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Resolved Morningstar performance ID, if available."
          },
          "baseCurrency": {
            "type": [
              "string",
              "null"
            ],
            "description": "Base currency filter applied during lookup."
          },
          "domicile": {
            "type": [
              "string",
              "null"
            ],
            "description": "Domicile filter applied during lookup."
          },
          "exchangeCountry": {
            "type": [
              "string",
              "null"
            ],
            "description": "Exchange country filter applied during lookup."
          }
        },
        "additionalProperties": false
      },
      "MessageType": {
        "type": "string",
        "description": "Indicates whether the message is an informational warning or a hard error.",
        "enum": [
          "Warning",
          "Error"
        ]
      },
      "ResponseLink": {
        "description": "A hypermedia link returned in a response.",
        "type": "object",
        "properties": {
          "href": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "The URL of the linked resource."
          },
          "rel": {
            "type": [
              "string",
              "null"
            ],
            "description": "The relationship of the linked resource to the current response."
          },
          "method": {
            "type": [
              "string",
              "null"
            ],
            "description": "The HTTP method to use when following the link.",
            "enum": [
              "GET",
              "POST",
              "PUT",
              "DELETE",
              "PATCH"
            ]
          }
        },
        "additionalProperties": false
      },
      "ErrorDetails": {
        "description": "Standard error response body.",
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "format": "int32",
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": [
              "string",
              "null"
            ],
            "description": "Morningstar-specific error code (e.g. `400.aiInsights.007`)."
          },
          "message": {
            "type": [
              "string",
              "null"
            ],
            "description": "Human-readable description of the error."
          },
          "requestId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Request identifier to include when contacting support."
          }
        },
        "additionalProperties": false
      }
    },
    "examples": {
      "AiInsightsResponseExample": {
        "summary": "Analyst Highlights Response",
        "value": {
          "investments": [
            {
              "identifiers": {
                "isin": "US4138386085",
                "performanceId": "0P00002Y8D",
                "exchangeCountry": "USA"
              },
              "summary": "The Oakmark Select strategy, managed by Bill Nygren since 1996, focuses on undervalued stocks with growth potential, typically maintaining 20-25 positions. The strategy has a High rating for People and Above Average for Process, with a Silver Morningstar Medalist Rating. As of March 2025, the top holding is Iqvia at 6.7%. The fund has achieved an 11.5% annualized gain over Nygren's tenure, outperforming the S&P 500's 9.5%, although recent performance has been inconsistent due to market fluctuations and specific holdings like Alphabet and Lithia Motors. The fund's net expense ratio is 0.99%, and it has a total return of 19.08%. While riskier than the broader Oakmark fund, patient investors may benefit from its bold approach. The ticker for the fund is OAKLX, traded on Nasdaq."
            },
            {
              "identifiers": {
                "tradingSymbol": "DODGX",
                "performanceId": "0P00002PB8"
              },
              "summary": "Dodge & Cox Stock (Ticker: DODGX) is managed by a six-member investment committee led by CIO David Hoeft, focusing on fundamental research and contrarian stock selection within a 60- to 90-stock portfolio, maintaining a modest turnover of approximately 30% annually. As of March 2025, sector allocations include 17% in financials and 26% in healthcare. The fund has achieved a 9.2% annualized return since January 2002, outperforming 98% of its peers, with a total return of 12.95%. It holds a Gold Morningstar Medalist Rating and a 4-star Morningstar Star Rating, reflecting its strong performance and reasonable net expense ratio of 0.51%. The firm emphasizes risk management and has enhanced its risk assessment tools, contributing to its High Parent rating due to effective succession planning. While the strategy may experience some volatility, its long-term performance is robust, indicating potential for positive alpha."
            }
          ],
          "metadata": {
            "requestId": "36f8e3e6-56bd-4628-9bbb-791724c995cd",
            "time": "2025-06-12T12:49:14.1695143Z",
            "messages": [
              {
                "type": "Warning",
                "code": "404.investmentInsights.101",
                "message": "Investment Insights : No data coverage for the investments.",
                "investments": [
                  {
                    "id": "780910105",
                    "idType": "cusip",
                    "performanceId": "0P00002COT",
                    "baseCurrency": "USD",
                    "domicile": "USA",
                    "exchangeCountry": "USA"
                  },
                  {
                    "id": "AAPL",
                    "idType": "tradingSymbol",
                    "performanceId": "0P0001ISID",
                    "exchangeCountry": "UKR"
                  }
                ]
              },
              {
                "type": "Warning",
                "code": "404.common.125",
                "message": "Lookup : Invalid investments.",
                "investments": [
                  {
                    "id": "0P000000ppY",
                    "idType": "securityId"
                  }
                ]
              },
              {
                "type": "Warning",
                "code": "200.common.126",
                "message": "Lookup : Multiple identifier match found for the investments.",
                "investments": [
                  {
                    "id": "AAPL",
                    "idType": "tradingSymbol",
                    "performanceId": "0P0001ISID",
                    "exchangeCountry": "UKR"
                  }
                ]
              }
            ]
          }
        }
      }
    }
  }
}