openapi: 3.0.1
info:
  version: 1.0.0
  title: Authorization Tokens Accounts macro shock scenarios API
  description: 'Use the `oauth` endpoint to generate the secure, time-limited JSON Web Tokens (JWTs) used to authorize access to APIs and components.</br></br>

    To request a token, click Authorize and enter the following credentials:


    * Username - Your Client ID.

    * Password - Your Client Secret.'
servers:
- url: https://www.us-api.morningstar.com/token
  description: PROD US
- url: https://www.emea-api.morningstar.com/token
  description: PROD EMEA
- url: https://www.apac-api.morningstar.com/token
  description: PROD APAC
security:
- BasicAuth: []
tags:
- name: macro shock scenarios
paths:
  /macro-shock-scenarios:
    get:
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required.
        '403':
          description: You do not have access permission..
        '404':
          description: Not found.
        '500':
          description: Internal server error.
      summary: Get all custom macro shock scenarios
      description: Get a list of all your custom macro shock scenarios, as well as custom scenarios that have been shared with you. The response will include the unique ID for each scenario.  You use the ID with other endpoints to return information based on that scenario.
      operationId: get_macro_shock_scenario
      parameters:
      - in: query
        description: Unique identifier of a new scenario
        name: is-new
        schema:
          type: boolean
          default: true
      tags:
      - macro shock scenarios
  /macro-shock-scenarios/{scenario_id}:
    get:
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required.
        '403':
          description: You do not have access permission..
        '404':
          description: Not found.
        '500':
          description: Internal server error.
      summary: Get details for a custom macro shock scenario
      description: Get details for a specific custom macro shock scenario. The response will return the scenario name, macrvariables, and shocked scale values.
      operationId: get_macro_shock_scenario_item
      parameters:
      - required: true
        in: path
        description: Unique identifier of a scenario
        name: scenario_id
        schema:
          type: string
          default: MOPRE00000000000000001
      - required: false
        in: query
        description: Unique identifier of a risk model
        name: risk-model-id
        schema:
          type: string
          default: morn-glb-eq-usd
      tags:
      - macro shock scenarios
  /macro-shock-scenarios/{scenario_id}/calculate-forecast-return:
    post:
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required.
        '403':
          description: You do not have access permission..
        '404':
          description: Not found.
        '500':
          description: Internal server error.
      summary: Calculate returns forecast for a fund based on a custom macro shock scenario
      description: Based on a specific risk model and custom macro shock scenario, calculate returns forecast for a fund. The response will include data for the historical returns, return during and after shock, and expected volatility.
      operationId: post_macro_forecast
      parameters:
      - required: true
        in: path
        description: Unique identifier of a scenario
        name: scenario_id
        schema:
          type: string
          default: MOPRE00000000000000001
      requestBody:
        $ref: '#/components/requestBodies/ForecastReturnModel'
      tags:
      - macro shock scenarios
components:
  schemas:
    idType:
      properties:
        id:
          type: string
        type:
          type: string
      type: object
    holding:
      properties:
        identifier:
          type: string
        weight:
          type: number
      type: object
    Holdings:
      required:
      - id
      properties:
        holdings:
          type: array
          items:
            $ref: '#/components/schemas/holding'
        id:
          type: string
      type: object
    ForecastReturnModel:
      required:
      - investments
      - riskModelId
      properties:
        riskModelId:
          type: string
          example: morn-glb-eq-usd
        investments:
          type: array
          description: Investment id refers to performance ids, identifying the funds to be analysis on, separated by "," when passing multiple.
          example:
          - id: 0P000001RB
            type: ''
          items:
            $ref: '#/components/schemas/idType'
        portfolios:
          type: array
          example:
          - id: model-portfolio1
            holdings:
            - identifier: 0P0000058R
              identifierType: PerformanceId
              weight: 60
            - identifier: 0P000001RB
              identifierType: PerformanceId
              weight: 40
          items:
            $ref: '#/components/schemas/Holdings'
      type: object
  requestBodies:
    ForecastReturnModel:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ForecastReturnModel'
      required: true
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
