openapi: 3.2.0
info:
  title: Report Retrieval (US) Buckets API
  version: 1.1.1
  description: 'The Report Retrieval API is used to retrieve reports generated and stored in the web-based version of Morningstar Office.


    With this API you can:

    * Get report metadata.

    * Get metadata for ''buckets'', the folders where reports are stored.

    * Filter results by household ID in a bucket.

    * Filter results by report name or bucket ID.

    * Assign reports to household(s).

    * Publish or unpublish report(s) to the Client Web Portal.'
servers:
- url: https://www.us-api.morningstar.com/report-api/v1/report-retrieval
  description: PROD
- url: https://www.us-uat-api.morningstar.com/report-api/v1/report-retrieval
  description: UAT
security:
- bearerAuth: []
tags:
- name: Buckets
paths:
  /buckets:
    get:
      tags:
      - Buckets
      summary: Get buckets
      description: Get all buckets.
      operationId: getBucketsMetadata
      parameters:
      - in: header
        name: x-api-key
        description: Unique API key of a client
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BucketList'
        '400':
          description: Invalid parameter value
  /buckets/{bucketId}:
    get:
      tags:
      - Buckets
      summary: Get a bucket
      description: Get the bucket specified in the `bucketId` parameter.
      operationId: getBucketsMetadataSingle
      parameters:
      - in: header
        name: x-api-key
        description: Unique API key of a client
        required: true
        schema:
          type: string
      - name: bucketId
        in: path
        description: Unique identifier of a bucket
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BucketList'
        '400':
          description: Invalid parameter value
        '404':
          description: Not found
components:
  schemas:
    BucketMetaData:
      type: object
      properties:
        items:
          type: integer
          example: 1
          description: Number of buckets found.
    BucketList:
      required:
      - totalRecords
      - displayRecords
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/BucketMetaData'
        results:
          type: array
          items:
            $ref: '#/components/schemas/Bucket'
    Bucket:
      required:
      - bucketId
      - bucketName
      - bucketFullName
      type: object
      properties:
        bucketId:
          type: string
          format: uuid
          example: bb22bb22-2222-0000-0000-000000000000
        bucketName:
          type: string
          format: string
          description: The bucket name.
          example: bucketSub2
        bucketNameArray:
          type: array
          example:
          - bucketSub2
          - bucketSub1
          - bucketMain
          items:
            type: string
            description: The full bucket path.
        bucketParentId:
          type: string
          format: uuid
          example: bb11bb11-1111-0000-0000-000000000000
          description: If empty, the bucket is in the root.
        advisorId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          example: 2019-01-02T01:59Z
        lastUpdated:
          type: string
          format: date-time
          example: 2019-01-02T01:59Z
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
