openapi: 3.2.0
info:
  title: Research fund reports - target date series API
  description: The Research API provides on-demand access to Morningstar’s repository of equity and fund research.
  version: 1.0.0
servers:
- url: https://www.us-api.morningstar.com/research
security:
- Bearer: []
tags:
- name: fund reports - target date series
paths:
  /fund/v1/reports/target-date-series/{StrategyId}:
    get:
      tags:
      - fund reports - target date series
      summary: Get a Target Date Series Report
      description: 'Get a Target Date Series Report for the fund specified in the `StrategyId` parameter.


        To override the default value in the Accept-Language HTTP header, use the `locale` parameter.


        In the `pageSize` parameter, you can specify the page size for the returned PDF. Page size options are `Letter`.


        If a report exists, a presigned URL from which you can download the PDF is returned in the response.'
      operationId: TargetDateSeriesReport
      parameters:
      - name: StrategyId
        in: path
        description: A unique identifier for a specific fund. For example, STUSA04D0O
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: STUSA04D0O
      - name: locale
        in: query
        description: Language and locale, for example, en-US
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: en-US
          enum:
          - en-US
          - en-GB
          - en-AU
          - en-NZ
          - fr-FR
          - de-DE
          - it-IT
          - es-ES
          - fi-Fi
          - nb-NO
          - nl-NL
          - sv-SE
      - name: pageSize
        in: query
        description: Page size of output PDF
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: Letter
          enum:
          - Letter
      responses:
        '200':
          description: Success
          content: {}
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
