openapi: 3.2.0
info:
  title: equity - company research API
  description: The Research API provides on-demand access to Morningstar’s repository of equity and fund research.
  version: 1.0.0
servers:
- url: https://www.us-api.morningstar.com/research
security:
- Bearer: []
tags:
- name: equity - company research
paths:
  /equity/v1/{companyIdentifier}/{reportType}/{reportView}:
    get:
      tags:
      - equity - company research
      summary: Get a company-related report
      description: 'Get the **most recent** version of a company-related report for the company specified in the `companyIdentifier` parameter. You can identify a company using a performance ID (for example,`0P00012BBI`) or `exchange:ticker` value, (for example, `XNAS:GOOG`).


        The following document types can be retrieved using this endpoint:


        - Company Report

        - Stock Analyst Note

        - Valuation Model

        - Thematic Research


        A URL returned in the response is used to access the document file.


        **Note** To get current and historical company-related research documents, use

        the **equity - rps document** endpoints.'
      operationId: Get
      parameters:
      - name: companyIdentifier
        in: path
        description: Unique identifier of a company. Valid values are performance ID or `exchange:ticker` value.
        required: true
        schema:
          type: string
          default: 0P000003MH
      - name: reportType
        in: path
        description: Type of report
        required: true
        schema:
          type: string
          default: company_report
          enum:
          - company_report
          - stock_analyst_note
          - valuation_model
      - name: reportView
        in: path
        description: View of report. Currently, only `latest` is supported.
        required: true
        schema:
          type: string
          default: latest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties: {}
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '404':
          description: Not Found
          content: {}
  /equity/v1/company/{companyIdentifier}/report_type/{reportType}/{reportView}:
    get:
      tags:
      - equity - company research
      summary: Get a company-related report
      description: 'Get the **most recent** version of a company-related report for the company specified in the `companyIdentifier` parameter. You can identify a company using a performance ID (for example,`0P00012BBI`) or `exchange:ticker` value, (for example, `XNAS:GOOG`).


        The following document types can be retrieved using this endpoint:


        - Company Report

        - Stock Analyst Note

        - Valuation Model

        - Thematic Research


        A URL returned in the response is used to access the document file.


        **Note** To get current and historical company-related research documents, use

        the **equity - rps document** endpoints.'
      operationId: Get2
      parameters:
      - name: companyIdentifier
        in: path
        description: Unique identifier of a company. Valid values are performance ID or `exchange:ticker` value.
        required: true
        schema:
          type: string
          default: 0P000003MH
      - name: reportType
        in: path
        description: Type of report
        required: true
        schema:
          type: string
          default: company_report
          enum:
          - company_report
          - stock_analyst_note
          - valuation_model
      - name: reportView
        in: path
        description: View of report. Currently, only `latest` is supported.
        required: true
        schema:
          type: string
          default: latest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties: {}
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '404':
          description: Not Found
          content: {}
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
