openapi: 3.0.1
info:
  version: 1.0.0
  title: Authorization Tokens Accounts equity - company research API
  description: 'Use the `oauth` endpoint to generate the secure, time-limited JSON Web Tokens (JWTs) used to authorize access to APIs and components.</br></br>

    To request a token, click Authorize and enter the following credentials:


    * Username - Your Client ID.

    * Password - Your Client Secret.'
servers:
- url: https://www.us-api.morningstar.com/token
  description: PROD US
- url: https://www.emea-api.morningstar.com/token
  description: PROD EMEA
- url: https://www.apac-api.morningstar.com/token
  description: PROD APAC
security:
- BasicAuth: []
tags:
- name: equity - company research
paths:
  /equity/v1/{companyIdentifier}/{reportType}/{reportView}:
    get:
      tags:
      - equity - company research
      summary: Get a company-related report
      description: "Get the **most recent** version of a company-related report for the company specified in the `companyIdentifier` parameter. You can identify a company using a performance ID (for example,`0P00012BBI`)  or `exchange:ticker` value, (for example, `XNAS:GOOG`). </br></br>  The following document types can be retrieved using this endpoint:\n  </br></br> - Company Report</br> - Stock Analyst Note</br>- Valuation Model</br>- Thematic Research</br></br>A URL returned in the response is used to access the document file.\n  </br></br>**Note** To get current and historical company-related research documents, use\n  the **equity - rps document** endpoints."
      operationId: Get
      parameters:
      - name: companyIdentifier
        in: path
        description: Unique identifier of a company. Valid values are performance ID or `exchange:ticker` value.
        required: true
        schema:
          type: string
          default: 0P000003MH
      - name: reportType
        in: path
        description: Type of report
        required: true
        schema:
          type: string
          default: company_report
          enum:
          - company_report
          - stock_analyst_note
          - valuation_model
      - name: reportView
        in: path
        description: View of report. Currently, only `latest` is supported.
        required: true
        schema:
          type: string
          default: latest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties: {}
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '404':
          description: Not Found
          content: {}
  /equity/v1/company/{companyIdentifier}/report_type/{reportType}/{reportView}:
    get:
      tags:
      - equity - company research
      summary: Get a company-related report
      description: "Get the **most recent** version of a company-related report for the company specified in the `companyIdentifier` parameter. You can identify a company using a performance ID (for example,`0P00012BBI`)  or `exchange:ticker` value, (for example, `XNAS:GOOG`). </br></br> The following document types can be retrieved using this endpoint:\n  </br></br> - Company Report</br> - Stock Analyst Note</br>- Valuation Model</br>- Thematic Research</br></br>A URL returned in the response is used to access the document file.\n  </br></br>**Note** To get current and historical company-related research documents, use\n  the **equity - rps document** endpoints."
      operationId: Get2
      parameters:
      - name: companyIdentifier
        in: path
        description: Unique identifier of a company. Valid values are performance ID or `exchange:ticker` value.
        required: true
        schema:
          type: string
          default: 0P000003MH
      - name: reportType
        in: path
        description: Type of report
        required: true
        schema:
          type: string
          default: company_report
          enum:
          - company_report
          - stock_analyst_note
          - valuation_model
      - name: reportView
        in: path
        description: View of report. Currently, only `latest` is supported.
        required: true
        schema:
          type: string
          default: latest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties: {}
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '404':
          description: Not Found
          content: {}
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
