openapi: 3.0.1
info:
  version: 1.0.0
  title: Authorization Tokens Accounts Fund Research, Ratings and Analytics API
  description: 'Use the `oauth` endpoint to generate the secure, time-limited JSON Web Tokens (JWTs) used to authorize access to APIs and components.</br></br>

    To request a token, click Authorize and enter the following credentials:


    * Username - Your Client ID.

    * Password - Your Client Secret.'
servers:
- url: https://www.us-api.morningstar.com/token
  description: PROD US
- url: https://www.emea-api.morningstar.com/token
  description: PROD EMEA
- url: https://www.apac-api.morningstar.com/token
  description: PROD APAC
security:
- BasicAuth: []
tags:
- name: Fund Research, Ratings and Analytics
paths:
  /direct-web-services/time-series/v1/fund-research/carbon-footprint-scope-1-and-2-and-3-tonnes-per-usd-millions/{ids}:
    get:
      tags:
      - Fund Research, Ratings and Analytics
      summary: Get Carbon Footprint Scope 1 And 2 And 3 Tonnes Per Usd Millions time series.
      description: The amount (in tonnes) of total Scope 1, 2 and 3 carbon emissions attributable to the portfolio, per million units (in relevant currency) invested.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getFundResearchCarbonFootprintScope1And2And3TonnesPerUsdMillions
  ? /direct-web-services/time-series/v1/fund-research/carbon-footprint-scope-1-and-2-and-3-tonnes-per-usd-millions-category-average/{ids}
  : get:
      tags:
      - Fund Research, Ratings and Analytics
      summary: Get Carbon Footprint Scope 1 And 2 And 3 Tonnes Per Usd Millions Category Average time series.
      description: The average Carbon Footprint (scope 1, 2 and 3 emissions) for portfolios within the Morningstar Category expressed in tonnes per million invested for the relevant currency.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getFundResearchCarbonFootprintScope1And2And3TonnesPerUsdMillionsCategoryAv
  ? /direct-web-services/time-series/v1/fund-research/carbon-footprint-scope-1-and-2-percentage-of-eligible-portfolio-covered/{ids}
  : get:
      tags:
      - Fund Research, Ratings and Analytics
      summary: Get Carbon Footprint Scope 1 And 2 Percentage Of Eligible Portfolio Covered time series.
      description: The percentage of the long, eligible portfolio with the relevant underlying data for the calculation of the carbon footprint statistics.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getFundResearchCarbonFootprintScope1And2PercentageOfEligiblePortfolioCovered
  /direct-web-services/time-series/v1/fund-research/carbon-footprint-scope-1-and-2-percentage-of-portfolio-eligible/{ids}:
    get:
      tags:
      - Fund Research, Ratings and Analytics
      summary: Get Carbon Footprint Scope 1 And 2 Percentage Of Portfolio Eligible time series.
      description: The percentage of the long-only portfolio that is considered eligible for carbon footprint calculations.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getFundResearchCarbonFootprintScope1And2PercentageOfPortfolioEligible
  /direct-web-services/time-series/v1/fund-research/carbon-footprint-scope-1-and-2-tonnes-per-usd-millions/{ids}:
    get:
      tags:
      - Fund Research, Ratings and Analytics
      summary: Get Carbon Footprint Scope 1 And 2 Tonnes Per Usd Millions time series.
      description: The amount (in tonnes) of total Scope 1 and 2 carbon emissions attributable to the portfolio, per million units (in relevant currency) invested.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getFundResearchCarbonFootprintScope1And2TonnesPerUsdMillions
  ? /direct-web-services/time-series/v1/fund-research/carbon-footprint-scope-1-and-2-tonnes-per-usd-millions-category-average/{ids}
  : get:
      tags:
      - Fund Research, Ratings and Analytics
      summary: Get Carbon Footprint Scope 1 And 2 Tonnes Per Usd Millions Category Average time series.
      description: The average Carbon Footprint (scope 1 and 2 emissions) for portfolios within the Morningstar Category expressed in tonnes per million invested for the relevant currency.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getFundResearchCarbonFootprintScope1And2TonnesPerUsdMillionsCategoryAverage
  /direct-web-services/time-series/v1/fund-research/five-year-five-star-rating-percent/{ids}:
    get:
      tags:
      - Fund Research, Ratings and Analytics
      summary: Get Five Year Five Star Rating Percent time series.
      description: The proportion of the investment holdings that receive an 5-year Morningstar Star Rating of 5-stars. This is calculated on the base portfolio, and only considers long positions.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - monthly
          type: string
          default: monthly
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getFundResearchFiveYearFiveStarRatingPercent
  /direct-web-services/time-series/v1/fund-research/five-year-four-star-rating-percent/{ids}:
    get:
      tags:
      - Fund Research, Ratings and Analytics
      summary: Get Five Year Four Star Rating Percent time series.
      description: The proportion of the investment holdings that receive an 5-year Morningstar Star Rating of 4-stars. This is calculated on the base portfolio, and only considers long positions.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - monthly
          type: string
          default: monthly
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getFundResearchFiveYearFourStarRatingPercent
  /direct-web-services/time-series/v1/fund-research/five-year-not-star-rated-percent/{ids}:
    get:
      tags:
      - Fund Research, Ratings and Analytics
      summary: Get Five Year Not Star Rated Percent time series.
      description: The proportion of the investment holdings that receive are eligible but do not receive an 5-year Morningstar Star Rating.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - monthly
          type: string
          default: monthly
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getFundResearchFiveYearNotStarRatedPercent
  /direct-web-services/time-series/v1/fund-research/five-year-not-star-rating-eligible-percent/{ids}:
    get:
      tags:
      - Fund Research, Ratings and Analytics
      summary: Get Five Year Not Star Rating Eligible Percent time series.
      description: The proportion of the investment holdings that receive are not eligible for an 5-year Morningstar Star Rating.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - monthly
          type: string
          default: monthly
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getFundResearchFiveYearNotStarRatingEligiblePercent
  /direct-web-services/time-series/v1/fund-research/five-year-one-star-rating-percent/{ids}:
    get:
      tags:
      - Fund Research, Ratings and Analytics
      summary: Get Five Year One Star Rating Percent time series.
      description: The proportion of the investment holdings that receive an 5-year Morningstar Star Rating of 1-star. This is calculated on the base portfolio, and only considers long positions.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - monthly
          type: string
          default: monthly
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getFundResearchFiveYearOneStarRatingPercent
  /direct-web-services/time-series/v1/fund-research/five-year-three-star-rating-percent/{ids}:
    get:
      tags:
      - Fund Research, Ratings and Analytics
      summary: Get Five Year Three Star Rating Percent time series.
      description: The proportion of the investment holdings that receive an 5-year Morningstar Star Rating of 3-stars. This is calculated on the base portfolio, and only considers long positions.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - monthly
          type: string
          default: monthly
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
[...]
