openapi: 3.2.0
info:
  title: Investor Pulse flow attribution API
  version: 1.0.0
  description: 'Use the API to:


    * Get information about flow models.

    * Get forecasts based on specific flow models.

    * Create historic and future flow attribution analyses.

    * Calculate the impact of individual factors on future fund growth.'
servers:
- url: https://www.us-api.morningstar.com/invest-pulse/v1
  description: PROD
- url: https://www.us-uat-api.morningstar.com/invest-pulse/v1
  description: UAT
- url: https://www.emea-api.morningstar.com/invest-pulse/v1
  description: PROD
- url: https://www.emea-uat-api.morningstar.com/invest-pulse/v1
  description: UAT
- url: https://www.apac-api.morningstar.com/invest-pulse/v1
  description: PROD
- url: https://www.apac-uat-api.morningstar.com/invest-pulse/v1
  description: UAT
security:
- bearerAuth: []
tags:
- name: flow attribution
paths:
  /flow-attribution/calculate:
    post:
      summary: Create analysis of historic flow attribution for a share class
      description: Create analysis of historic flow attribution for a specific share class and flow model. Response will provide information about how each factor in the model contributed to or detracted from the growth of the share class.
      responses:
        '200':
          description: OK
        '401':
          description: The user is not authenticated.
        '403':
          description: The user don't have permission.
        '404':
          description: Not Found.
        '500':
          description: Internal Server Error.
      operationId: post_attribution
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attribution'
        required: true
      tags:
      - flow attribution
  /flow-attribution/calculate-ex-ante:
    post:
      summary: Create analysis of future flow attribution for a share class
      description: Create analysis of future flow attribution for a specific share class and flow model. Response will provide information about how each factor in the model would contribute or detract from the growth of the share class.
      responses:
        '200':
          description: OK
        '401':
          description: The user is not authenticated.
        '403':
          description: The user don't have permission.
        '404':
          description: Not Found.
        '500':
          description: Internal Server Error.
      operationId: post_ex_ante_attribution
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AntiAttribution'
        required: true
      tags:
      - flow attribution
components:
  schemas:
    Attribution:
      required:
      - shareClassId
      properties:
        start:
          type: string
          example: '2018-01-01T00:00:00.000Z'
        end:
          type: string
          example: '2018-12-31T00:00:00.000Z'
        flowModelId:
          type: string
          example: usa-equity-shareclass-fundflow
        shareClassId:
          type: string
          example: F00000VRI7
      type: object
    AntiAttribution:
      required:
      - shareClassId
      properties:
        flowModelId:
          type: string
          example: usa-equity-shareclass-fundflow
        shareClassId:
          type: string
          example: F00000VRI7
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
