openapi: 3.2.0
info:
  version: 2.0.2
  title: (US) Households API
  description: 'The Households API is used by the web-based version of Morningstar Office to get information about the households managed by an advisor.


    With this API you can:


    * Get household IDs

    * Get household profiles'
servers:
- url: https://www.us-api.morningstar.com/office-household/v2
  description: PROD
- url: https://www.us-uat-api.morningstar.com/office-household/v2
  description: UAT
security:
- bearerAuth: []
tags:
- name: Households
paths:
  /households:
    get:
      tags:
      - Households
      summary: Get household IDs
      description: Get all household IDs for an advisor. The household ID can be used with the Portfolios API to return information about household accounts.
      operationId: getHouseholdAccountsUsingGET_1
      parameters:
      - name: x-api-key
        in: header
        description: Unique API key of a client
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiHouseholdResponseForHouseholds'
components:
  schemas:
    APIMetaStatusResponse:
      type: object
      properties:
        hint:
          type: string
        response_status:
          type: string
      title: APIMetaStatusResponse
    ApiHouseholdResponseForHouseholds:
      type: object
      properties:
        _meta:
          $ref: '#/components/schemas/APIMetaStatusResponse'
        householdIds:
          type: array
          items:
            $ref: '#/components/schemas/HouseholdIndex'
      title: ApiHouseholdResponseForHouseholds
    HouseholdIndex:
      type: object
      properties:
        householdType:
          type: string
        id:
          type: string
        name:
          type: string
      title: HouseholdIndex
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
