openapi: 3.2.0
info:
  title: Research equity - rps document API
  description: The Research API provides on-demand access to Morningstar’s repository of equity and fund research.
  version: 1.0.0
servers:
- url: https://www.us-api.morningstar.com/research
security:
- Bearer: []
tags:
- name: equity - rps document
paths:
  /equity/v1/research_document/{documentId}/{reportView}:
    get:
      tags:
      - equity - rps document
      summary: Get a Research Publishing System (RPS) document
      description: 'Get the Research Publishing System (RPS) document specifed in the `documentId` parameter. You can use this endpoint to retrieve current and historical company research documents.


        **Note** The three **equity - rps document** endpoints return almost the same content. In addition to the content also returned by the other two endpoints, this endpoint must be used for Thematic Research documents, as this research is not associated with any specific company. We recommend you use this endpoint as it is the simplest and returns all document types including thematic research.


        The following document types can be retrieved using this endpoint:


        - Company Report

        - Stock Analyst Note

        - Valuation Model

        - Thematic Research


        A URL returned in the response is used to access the document file.'
      operationId: GetRpsDocument3
      parameters:
      - name: documentId
        in: path
        description: Unique Research Publishing System (RPS) identifier for a document.
        required: true
        schema:
          type: string
          default: '901224'
      - name: reportView
        in: path
        description: View of report. Currently, only `download` is supported.
        required: true
        schema:
          type: string
          default: download
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties: {}
        '400':
          description: Bad Request
          content: {}
        '404':
          description: Not Found
          content: {}
  /equity/v1/company/{companyIdentifier}/report_type/rps_document/{documentId}/{reportView}:
    get:
      tags:
      - equity - rps document
      summary: Get a Research Publishing System (RPS) document
      description: 'Get the Research Publishing System (RPS) document specifed in the `documentId` parameter. You can use this endpoint to retrieve current and historical company research documents.


        You must enter a `companyIdentifier` value when using this endpoint. You can identify a company using a performance ID (for example,`0P00012BBI`) or `exchange:ticker` value, (for example, `XNAS:GOOG`).


        The following document types can be retrieved using this endpoint\:


        - Company Report

        - Stock Analyst Notes

        - Valuation Model


        **Note** To retrieve Thematic Research, use the `/equity/v1/research_document/{documentId}/{reportView}` endpoint.'
      operationId: GetRpsDocument
      parameters:
      - name: companyIdentifier
        in: path
        description: Unique identifier of a company. Valid values are performance ID or `exchange:ticker` value.
        required: true
        schema:
          type: string
          default: 0P00000246
      - name: documentId
        in: path
        description: Unique Research Publishing System (RPS) identifier for a document
        required: true
        schema:
          type: string
          default: '901224'
      - name: reportView
        in: path
        description: View of report. Currently, only `download` is supported.
        required: true
        schema:
          type: string
          default: download
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties: {}
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '404':
          description: Not Found
          content: {}
  /equity/v1/{companyIdentifier}/rps_document/{documentId}/{reportView}:
    get:
      tags:
      - equity - rps document
      summary: Get a Research Publishing System (RPS) document
      description: 'Get the Research Publishing System (RPS) document specifed in the `documentId` parameter. You can use this endpoint to retrieve current and historical company research documents.


        You must enter a `companyIdentifier` value when using this endpoint. You can identify a company using a performance ID (for example,`0P00012BBI`) or `exchange:ticker` value, (for example, `XNAS:GOOG`).


        The following document types can be retrieved using this endpoint\:


        - Company Report

        - Stock Analyst Note

        - Valuation Model


        **Note** To retrieve Thematic Research, use the `/equity/v1/research_document/{documentId}/{reportView}` endpoint.'
      operationId: GetRpsDocument2
      parameters:
      - name: companyIdentifier
        in: path
        description: Unique identifier of a company. Valid values are performance ID or `exchange:ticker` value.
        required: true
        schema:
          type: string
          default: 0P00000246
      - name: documentId
        in: path
        description: Unique Research Publishing System (RPS) identifier for a document
        required: true
        schema:
          type: string
          default: '901224'
      - name: reportView
        in: path
        description: View of report. Currently, only `download` is supported.
        required: true
        schema:
          type: string
          default: download
      responses:
        '200':
          description: Success
          content: {}
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
