openapi: 3.2.0
info:
  title: Research fund reports - managed investment report API
  description: The Research API provides on-demand access to Morningstar’s repository of equity and fund research.
  version: 1.0.0
servers:
- url: https://www.us-api.morningstar.com/research
security:
- Bearer: []
tags:
- name: fund reports - managed investment report
paths:
  /fund/v1/reports/global-fund-report/{FundIdentifier}:
    get:
      tags:
      - fund reports - managed investment report
      summary: Get a Managed Investment Report
      description: 'Get a Managed Investment Report for the fund specified in the `FundIdentifier` parameter.


        Managed Investments Reports provide a qualitative assessment of a fund carried out by Morningstar Research Analysts.


        In the `pageSize` parameter, you can specify the page size for the returned PDF. Page size options are `Letter` or `A4`.


        If a report exists, a presigned URL from which you can download the PDF is returned in the response.'
      operationId: ManagedInvestmentsReport
      parameters:
      - name: FundIdentifier
        in: path
        description: Unique identifier of a fund
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: FOUSA00J4N
      - name: pageSize
        in: query
        description: Page size of output PDF
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: Letter
          enum:
          - Letter
          - A4
      - name: locale
        in: query
        description: Language and locale, for example, en-US
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: en-US
          enum:
          - en-US
      responses:
        '200':
          description: Success
          content: {}
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
