openapi: 3.2.0
info:
  title: Research equity - moat framework API
  description: The Research API provides on-demand access to Morningstar’s repository of equity and fund research.
  version: 1.0.0
servers:
- url: https://www.us-api.morningstar.com/research
security:
- Bearer: []
tags:
- name: equity - moat framework
paths:
  /equity/v1/moat_framework/{moatType}/{reportView}:
    get:
      tags:
      - equity - moat framework
      summary: Get a Moat Framework Report
      description: 'Get a Moat Framework Report for the industry group specified in the `moatType` parameter. For a full list of moat types, see the Documentation page.


        A URL returned in the response is used to access the document file.'
      operationId: MoatGet
      parameters:
      - name: moatType
        in: path
        description: Unique identifier of a moat type
        required: true
        schema:
          type: string
          default: aerospace_defense
      - name: reportView
        in: path
        description: View of report. Currently, only `latest` is supported.
        required: true
        schema:
          type: string
          default: latest
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties: {}
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '404':
          description: Not Found
          content: {}
  /equity/v1/moat_framework/moat_type/{moatType}/{reportView}:
    get:
      tags:
      - equity - moat framework
      summary: Get a Moat Framework Report
      description: 'Get a Moat Framework Report for the industry group specified in the `moatType` parameter. For a full list of moat types, see the Documentation page.


        A URL returned in the response is used to access the document file.'
      operationId: MoatGet2
      parameters:
      - name: moatType
        in: path
        description: Unique identifier of a moat type
        required: true
        schema:
          type: string
          default: aerospace_defense
      - name: reportView
        in: path
        description: View of report. Currently, only `latest` is supported.
        required: true
        schema:
          type: string
          default: latest
      responses:
        '200':
          description: Success
          content: {}
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
