openapi: 3.0.1
info:
  version: 1.0.0
  title: Authorization Tokens Accounts Performance API
  description: 'Use the `oauth` endpoint to generate the secure, time-limited JSON Web Tokens (JWTs) used to authorize access to APIs and components.</br></br>

    To request a token, click Authorize and enter the following credentials:


    * Username - Your Client ID.

    * Password - Your Client Secret.'
servers:
- url: https://www.us-api.morningstar.com/token
  description: PROD US
- url: https://www.emea-api.morningstar.com/token
  description: PROD EMEA
- url: https://www.apac-api.morningstar.com/token
  description: PROD APAC
security:
- BasicAuth: []
tags:
- name: Performance
paths:
  /portfolioanalysis/v1/performance:
    post:
      tags:
      - Performance
      summary: Calculate portfolio performance
      description: Calculate performance for portfolios specified in the request body. </br></br>To override the default value in the Accept-Language HTTP header, use the `langcult` parameter.
      operationId: calculatePortfolioPerformance
      parameters:
      - name: langcult
        in: query
        description: Language and locale used for the response. Defaults to en-US.
        required: true
        schema:
          type: string
          default: en-US
          enum:
          - en-US
          - en-CA
          - en-AU
          - en-GB
      requestBody:
        $ref: '#/components/requestBodies/RequestPerformance'
      responses:
        '200':
          $ref: '#/components/responses/ResponsePerformance'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutputErrorResponse'
              examples:
                General - BadRequest Response:
                  summary: General BadRequest
                  value: '{"Message": "The request is invalid.","SpecificErrorStatus": [    {"ErrorCode": "40015","ErrorMessage": "Portfolio does not have any valid holdings. Invalid portfolio name: TestPortfolio1. Invalid Holdings: TradingSymbol:DODGX1."}]}'
                DisableRescaleTrue - BadRequestResponse:
                  summary: DisableRescale BadRequest
                  value: '{"Message": "The request is invalid.","SpecificErrorStatus": [    {"ErrorCode": "40059","ErrorMessage": "There are holdings present in portfolio which are invalid.","Metadata": {"InvalidPortfolios": [{    "Name": "Test Portfolio","InvalidHoldings": [{"SecurityId": "FX000015JA3","Status": "Invalid"},{"SecurityId": "F00000YZ48","Status": "Unentitled"}]}]}}]}'
  /direct-web-services/time-series/v1/performance/12-mo-yield/{ids}:
    get:
      tags:
      - Performance
      summary: Get 12-Month Yield time series.
      description: An expression of the amount paid out in distributions (pre-tax) by the investment in the last 12 months expressed as a percentage of the previous month end price.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX,EX$$$$AIMX,,EXTP$$$AMM
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - monthly
          type: string
          default: monthly
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getPerformance12MoYield
  /direct-web-services/time-series/v1/performance/7-day-gross-yield/{ids}:
    get:
      tags:
      - Performance
      summary: Get 7-Day Gross Yield time series.
      description: ''
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getPerformance7DayGrossYield
  /direct-web-services/time-series/v1/performance/7-day-unsubsidized-yield/{ids}:
    get:
      tags:
      - Performance
      summary: Get 7-Day Unsubsidized Yield time series.
      description: ''
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getPerformance7DayUnsubsidizedYield
  /direct-web-services/time-series/v1/performance/7-day-yield/{ids}:
    get:
      tags:
      - Performance
      summary: Get 7-Day Yield time series.
      description: A figure calculated using the formula under Item 26. (a) (1) of SEC Form N-1A to reflect the expenses net of subsidies of management fee waiver or reimbursement.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getPerformance7DayYield
  /direct-web-services/time-series/v1/performance/aggregated-12-month-yield/{ids}:
    get:
      tags:
      - Performance
      summary: Get Aggregated 12-Month Yield time series.
      description: The asset-weighted and rescaled aggregation of the 12 month yield of eligible holdings within a fund's portfolio.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - monthly
          type: string
          default: monthly
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getPerformanceAggregated12MonthYield
  /direct-web-services/time-series/v1/performance/aggregated-sec-yield/{ids}:
    get:
      tags:
      - Performance
      summary: Get Aggregated Sec Yield time series.
      description: The asset-weighted and rescaled aggregation of the SEC yield of eligible holdings within a fund's portfolio.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - monthly
          type: string
          default: monthly
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getPerformanceAggregatedSecYield
  /direct-web-services/time-series/v1/performance/cum-fair-nav-unweighted-dri/{ids}:
    get:
      tags:
      - Performance
      summary: Get Cum Fair NAV Unweighted Dri time series.
      description: Includes both our Total Return and Daily Market Return data which adjust for all dividends and capital gains so that clients can make customized point-to-point total return calculations.TRI leverages the NAV of a product while DMRI will utilize the market price.Index values are available daily back to inception.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getPerformanceCumFairNavUnweightedDri
  /direct-web-services/time-series/v1/performance/cum-fair-nav-weighted-dri/{ids}:
    get:
      tags:
      - Performance
      summary: Get Cum Fair NAV Weighted Dri time series.
      description: Includes both our Total Return and Daily Market Return data which adjust for all dividends and capital gains so that clients can make customized point-to-point total return calculations.TRI leverages the NAV of a product while DMRI will utilize the market price. Index values are available daily back to inception.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getPerformanceCumFairNavWeightedDri
  /direct-web-services/time-series/v1/performance/cumulative-return/{ids}:
    get:
      tags:
      - Performance
      summary: Get Cumulative Return time series.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      - name: performanceType
        in: query
        description: Specifies the type of performance calculation to apply. Accepts up to two values. The first value is considered the preferred or primary performance type. The second value is considered the secondary performance type and serves as a fallback if the preferred type returns no data. If only one value is provided, no fallback is attempted. Used with calculated data points only.
        schema:
          type: string
          enum:
          - total
          - market
          - gross
          default: total
          example: total
      - name: annualDays
        in: query
        description: Specifies the number of days in a year for annualized calculations. Common values are 252 for business days, 365 for calendar days. Used with calculated data points only.
        schema:
          type: number
          default: 365.25
          example: '365'
      - name: annualized
        in: query
        description: Specifies whether the calculation results should be annualized. Used with calculated data points only.
        schema:
          type: boolean
          example: true
      - name: preCurrency
        in: query
        description: Specifies the currency to use before currency conversion. Accepts 3-character ISO 4217 currency codes. Used with calculated data points only.
        schema:
          type: string
          example: USD
      - name: requireContinueData
        in: query
        description: Specifies whether continuous data is required for calculations. Used with calculated data points only.
        schema:
          type: boolean
          example: 'true'
      - name: stepSize
        in: query
        description: Specifies the step size for rolling or iterative calculations. Used with 'rolling-return' data point only. For example, `stepSize=12` and `frequency=monthly` 12-month rolling values are calculated.
        schema:
          type: number
          default: 1
          example: '12'
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getPerformanceCumulativeReturn
  /direct-web-services/time-series/v1/performance/current-yield/{ids}:
    get:
      tags:
      - Performance
      summary: Get Current Yield time series.
      description: Annual income (interest or dividends) divided by the current price of the security. This measure looks at the current price of a bond instead of its face value and represents the return an investor would expect if he or she purchased the bond and held it for a year.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          - weekly
          - monthly
          - quarterly
          - annually
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getPerformanceCurrentYield
  /direct-web-services/time-series/v1/performance/daily-bid-price/{ids}:
    get:
      tags:
      - Performance
      summary: Get Daily Bid Price time series.
      description: The highest price a market maker will pay to purchase a specified number of shares of a mutual fund at any given time.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          - weekly
          - monthly
          - quarterly
          - annually
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getPerformanceDailyBidPrice
  /direct-web-services/time-series/v1/performance/daily-closing-price/{ids}:
    get:
      tags:
      - Performance
      summary: Get Daily Closing Price time series.
      description: Closing price generally refers to the last price at which a stock trades during a regular trading session.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

[...]
