openapi: 3.2.0
info:
  title: Research fund reports - carbon report API
  description: The Research API provides on-demand access to Morningstar’s repository of equity and fund research.
  version: 1.0.0
servers:
- url: https://www.us-api.morningstar.com/research
security:
- Bearer: []
tags:
- name: fund reports - carbon report
paths:
  /fund/v1/reports/carbon-report/{FundIdentifier}:
    get:
      tags:
      - fund reports - carbon report
      summary: Get a Carbon Report
      description: 'Get an Carbon Report for the fund specified in the `FundIdentifier` parameter.


        Carbon Reports provide an investment level analysis of a fund’s carbon risk. The report uses Morningstar’s Portfolio Carbon Metrics to provide an overview of how well a portfolio is managing transition risk and other key

        carbon-related information, such as carbon intensity and fossil fuel exposure. You can use these metrics to identify and evaluate lower carbon-risk alternatives to funds or assess how well sustainable funds meet their stated mandates.


        In the `pageSize` parameter, you can specify the page size for the returned PDF. Page size options are `Letter` or `A4`.


        If a report exists, a presigned URL from which you can download the PDF is returned in the response.'
      operationId: CarbonReport
      parameters:
      - name: FundIdentifier
        in: path
        description: Unique identifier of a fund
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: FOUSA00J4N
      - name: pageSize
        in: query
        description: Page size of output PDF
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: A4
      - name: locale
        in: query
        description: Language and locale, for example, en-US
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: en-US
          enum:
          - en-US
      responses:
        '200':
          description: Success
          content: {}
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
