openapi: 3.2.0
info:
  title: Risk Analytics macro shock scenarios API
  version: 1.0.0
  description: 'Use the API to:

    * Calculate performance attribution, risk attribution, and active exposure for investment(s) based on predefined risk models.

    * Forecast the impact on investments if market and macroeconomic events reoccur by using predefined and custom scenarios.

    * Retrieve scenario metadata including IDs that you use with other endpoints.


    To retrieve the risk model IDs used with the endpoints in this API, use the Risk Models API.'
servers:
- url: https://www.us-api.morningstar.com/risk-analytics/v1
  description: PROD
- url: https://www.us-uat-api.morningstar.com/risk-analytics/v1
  description: UAT
- url: https://www.emea-api.morningstar.com/risk-analytics/v1
  description: PROD
- url: https://www.emea-uat-api.morningstar.com/risk-analytics/v1
  description: UAT
- url: https://www.apac-api.morningstar.com/risk-analytics/v1
  description: PROD
- url: https://www.apac-uat-api.morningstar.com/risk-analytics/v1
  description: UAT
security:
- bearerAuth: []
tags:
- name: macro shock scenarios
paths:
  /macro-shock-scenarios:
    get:
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required.
        '403':
          description: You do not have access permission..
        '404':
          description: Not found.
        '500':
          description: Internal server error.
      summary: Get all custom macro shock scenarios
      description: Get a list of all your custom macro shock scenarios, as well as custom scenarios that have been shared with you. The response will include the unique ID for each scenario. You use the ID with other endpoints to return information based on that scenario.
      operationId: get_macro_shock_scenario
      parameters:
      - in: query
        description: Unique identifier of a new scenario
        name: is-new
        schema:
          type: boolean
          default: true
      tags:
      - macro shock scenarios
  /macro-shock-scenarios/{scenario_id}:
    get:
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required.
        '403':
          description: You do not have access permission..
        '404':
          description: Not found.
        '500':
          description: Internal server error.
      summary: Get details for a custom macro shock scenario
      description: Get details for a specific custom macro shock scenario. The response will return the scenario name, macrvariables, and shocked scale values.
      operationId: get_macro_shock_scenario_item
      parameters:
      - required: true
        in: path
        description: Unique identifier of a scenario
        name: scenario_id
        schema:
          type: string
          default: MOPRE00000000000000001
      - required: false
        in: query
        description: Unique identifier of a risk model
        name: risk-model-id
        schema:
          type: string
          default: morn-glb-eq-usd
      tags:
      - macro shock scenarios
  /macro-shock-scenarios/{scenario_id}/calculate-forecast-return:
    post:
      responses:
        '200':
          description: OK
        '401':
          description: Authentication required.
        '403':
          description: You do not have access permission..
        '404':
          description: Not found.
        '500':
          description: Internal server error.
      summary: Calculate returns forecast for a fund based on a custom macro shock scenario
      description: Based on a specific risk model and custom macro shock scenario, calculate returns forecast for a fund. The response will include data for the historical returns, return during and after shock, and expected volatility.
      operationId: post_macro_forecast
      parameters:
      - required: true
        in: path
        description: Unique identifier of a scenario
        name: scenario_id
        schema:
          type: string
          default: MOPRE00000000000000001
      requestBody:
        $ref: '#/components/requestBodies/ForecastReturnModel'
      tags:
      - macro shock scenarios
components:
  schemas:
    holding:
      properties:
        identifier:
          type: string
        weight:
          type: number
      type: object
    idType:
      properties:
        id:
          type: string
        type:
          type: string
      type: object
    ForecastReturnModel:
      required:
      - investments
      - riskModelId
      properties:
        riskModelId:
          type: string
          example: morn-glb-eq-usd
        investments:
          type: array
          description: Investment id refers to performance ids, identifying the funds to be analysis on, separated by "," when passing multiple.
          example:
          - id: 0P000001RB
            type: ''
          items:
            $ref: '#/components/schemas/idType'
        portfolios:
          type: array
          example:
          - id: model-portfolio1
            holdings:
            - identifier: 0P0000058R
              identifierType: PerformanceId
              weight: 60
            - identifier: 0P000001RB
              identifierType: PerformanceId
              weight: 40
          items:
            $ref: '#/components/schemas/Holdings'
      type: object
    Holdings:
      required:
      - id
      properties:
        holdings:
          type: array
          items:
            $ref: '#/components/schemas/holding'
        id:
          type: string
      type: object
  requestBodies:
    ForecastReturnModel:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ForecastReturnModel'
      required: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
