openapi: 3.0.1
info:
  version: 1.0.0
  title: Authorization Tokens Accounts Portfolio Holdings API
  description: 'Use the `oauth` endpoint to generate the secure, time-limited JSON Web Tokens (JWTs) used to authorize access to APIs and components.</br></br>

    To request a token, click Authorize and enter the following credentials:


    * Username - Your Client ID.

    * Password - Your Client Secret.'
servers:
- url: https://www.us-api.morningstar.com/token
  description: PROD US
- url: https://www.emea-api.morningstar.com/token
  description: PROD EMEA
- url: https://www.apac-api.morningstar.com/token
  description: PROD APAC
security:
- BasicAuth: []
tags:
- name: Portfolio Holdings
paths:
  /direct-web-services/v1/investments/{id}/full-portfolio-holdings-month-end-or-quarter-end-most-recent:
    get:
      summary: Get Full Portfolio Holdings Month-End or Quarter-End Most Recent data view.
      parameters:
      - name: id
        in: path
        description: "\nSpecifies the investment to query. \n\nMorningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe."
        required: true
        schema:
          type: string
          example: 0P00000046
        examples:
          performanceId:
            summary: Morningstar Performance ID
            value: 0P00000046
          isin:
            summary: ISIN
            value: US0042391096
      - name: idType
        in: query
        description: 'Specifies the type of the value passed in the `id` parameter.


          Morningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe.'
        schema:
          enum:
          - performanceId
          - isin
          - securityId
          - cusip
          - tradingSymbol
          - fundCode
          - msid
          type: string
          default: performanceId
      - name: baseCurrency
        in: query
        description: Base currency to use for investment lookup. Accepts 3‑character ISO 4217 currency codes.
        schema:
          type: string
        examples:
          baseCurrencyExample1:
            summary: US Dollar
            value: USD
          baseCurrencyExample2:
            summary: Swiss Franc
            value: CHF
      - name: domicile
        in: query
        description: Domicile to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          domicileExample1:
            summary: CAN (Canada)
            value: CAN
          domicileExample2:
            summary: JPN (Japan)
            value: JPN
          domicileExample3:
            summary: USE (United States)
            value: USA
      - name: exchangeCountry
        in: query
        description: Exchange country to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          exchangeCountryExample1:
            summary: CAN (Canada)
            value: CAN
          exchangeCountryExample2:
            summary: JPN (Japan)
            value: JPN
          exchangeCountryExample3:
            summary: USA (USA)
            value: USA
      - name: exchangeId
        in: query
        description: Exchange identifier to use for investment lookup.
        schema:
          type: string
          externalDocs:
            description: List of exchange IDs.
            url: https://developer.morningstar.com/content/hidden-from-navigation/DwsIdLookUpExchangeIds.xlsx
        examples:
          exchangeIdExample1:
            summary: NASDAQ - ALL Markets (NAS)
            value: EX$$$$XNAS
          exchangeIdExample2:
            summary: London Stock Exchange (LSE)
            value: EX$$$$XLON
      - name: holdingsView
        in: query
        schema:
          enum:
          - Full
          - Top10
          - Top25
          type: string
          default: Top10
        description: Type of holdings view to return.
        examples:
          holdingsViewExample1:
            summary: Top 10 Holdings
            value: Top10
          holdingsViewExample2:
            summary: Full Holdings
            value: Full
      - name: portfolioDate
        description: Date for which to retrieve holdings data.
        schema:
          type: string
        examples:
          portfolioDateExample1:
            summary: Portfolio Date Example
            value: '2026-01-02'
      description: Most recent data supported.
      operationId: getFullPortfolioHoldingsMonthEndOrQuarterEndMostRecentPackage
      tags:
      - Portfolio Holdings
      responses:
        '200':
          $ref: '#/components/responses/ResponseFullPortfolioHoldingsMonthEndOrQuarterEndMostRecent'
        '400':
          $ref: '#/components/responses/ResponseBadRequest'
        '500':
          $ref: '#/components/responses/ResponseInternalServerError'
  /direct-web-services/v1/investments/{id}/portfolio-holdings-dates:
    post:
      summary: Retrieve portfolio holdings date
      parameters:
      - name: id
        in: path
        description: "\nSpecifies the investment to query. \n\nMorningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe."
        required: true
        schema:
          type: string
        examples:
          performanceId:
            summary: Morningstar Performance ID
            value: 0P00000046
          isin:
            summary: ISIN
            value: US0042391096
      tags:
      - Portfolio Holdings
      description: 'This endpoint is used to retrieve dates for which data is available for a portfolio.


        These dates are used to specify a portfolio date when requesting investment details for the following views:


        - `full-portfolio-holdings-month-end-or-quarter-end-most-recent`'
      operationId: retrievePortfolioHoldingsDates
      requestBody:
        $ref: '#/components/requestBodies/RequestPortfolioHoldingsDates'
      responses:
        '200':
          $ref: '#/components/responses/ResponsePortfolioHoldingsDates'
        '400':
          $ref: '#/components/responses/ResponsePortfolioHoldingsDatesBadRequest'
  /direct-web-services/time-series/v1/portfolio-holdings/carbon-risk-level-classification/{ids}:
    get:
      tags:
      - Portfolio Holdings
      summary: Get Carbon Risk Level Classification time series.
      description: The fund's Historical Carbon Risk Score is assigned to one of five risk categories:Portfolio Carbon Risk Score Risk Level0 Negligible   0.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - monthly
          type: string
          default: monthly
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getPortfolioHoldingsCarbonRiskLevelClassification
  /direct-web-services/time-series/v1/portfolio-holdings/carbon-risk-score-category-average/{ids}:
    get:
      tags:
      - Portfolio Holdings
      summary: Get Carbon Risk Score Category Average time series.
      description: The average Carbon Risk Score for portfolios within the Morningstar Category.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - monthly
          type: string
          default: monthly
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getPortfolioHoldingsCarbonRiskScoreCategoryAverage
  /direct-web-services/time-series/v1/portfolio-holdings/carbon-risk-score-percent-rank-in-category/{ids}:
    get:
      tags:
      - Portfolio Holdings
      summary: Get Carbon Risk Score Percent Rank In Category time series.
      description: The portfolio's percent rank within its Morningstar Category, based on its Portfolio Carbon Risk Score.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - monthly
          type: string
          default: monthly
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getPortfolioHoldingsCarbonRiskScorePercentRankInCategory
  /direct-web-services/time-series/v1/portfolio-holdings/historical-carbon-risk-score/{ids}:
    get:
      tags:
      - Portfolio Holdings
      summary: Get Historical Carbon Risk Score time series.
      description: The historical weighted average of the trailing 12 months of Portfolio Carbon Risk Scores. Historical portfolio scores are not equal-weighted; rather, more-recent portfolios are weighted more heavily than older portfolios.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - monthly
          type: string
          default: monthly
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getPortfolioHoldingsHistoricalCarbonRiskScore
  /direct-web-services/time-series/v1/portfolio-holdings/historical-corporate-esg-risk-score/{ids}:
    get:
      tags:
      - Portfolio Holdings
      summary: Get Historical Corporate ESG Risk Score time series.
      description: The Morningstar Historical Corporate ESG Risk Score is a weighted average of the trailing 12 months of Morningstar Portfolio Corporate ESG Risk Scores.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getPortfolioHoldingsHistoricalCorporateEsgRiskScore
  /direct-web-services/time-series/v1/portfolio-holdings/historical-sovereign-esg-risk-score/{ids}:
    get:
      tags:
      - Portfolio Holdings
      summary: Get Historical Sovereign ESG Risk Score time series.
      description: The Morningstar Historical Sovereign ESG Risk Score is a weighted average of the trailing 12 months of Morningstar Portfolio Sovereign ESG Risk Scores.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getPortfolioHoldingsHistoricalSovereignEsgRiskScore
  /direct-web-services/time-series/v1/portfolio-holdings/portfolio-carbon-risk-score/{ids}:
    get:
      tags:
      - Portfolio Holdings
      summary: Get Portfolio Carbon Risk Score time series.
      description: The asset-weighted average of the carbon risk scores for the portfolio's covered, corporate holdings.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - monthly
          type: string
          default: monthly
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getPortfolioHoldingsPortfolioCarbonRiskScore
  /direct-web-services/time-series/v1/portfolio-holdings/portfolio-corporate-esg-risk-score/{ids}:
    get:
      tags:
      - Portfolio Holdings
      summary: Get Portfolio Corporate ESG Risk Score time series.
      description: The Morningstar Portfolio Corporate ESG Risk Score is an asset-weighted average of Sustainalytics' company-level ESG Risk Score.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getPortfolioHoldingsPortfolioCorporateEsgRiskScore
  /direct-web-services/time-series/v1/portfolio-holdings/portfolio-environmental-risk-score/{ids}:
    get:
      tags:
      - Portfolio Holdings
      summary: Get Portfolio Environmental Risk Score time series.
      description: The asset-weighted average of the Company Environmental Risk scores for the covered corporate holdings in a portfolio.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getPortfolioHoldingsPortfolioEnvironmentalRiskScore
  /direct-web-services/time-series/v1/portfolio-holdings/portfolio-governance-risk-score/{ids}:
    get:
      tags:
      - Portfolio Holdings
      summary: Get Portfolio Governance Risk Score time series.
      description: The asset-weighted average of the company Governance Risk Scores for the covered corporate holdings in a portfolio.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getPortfolioHoldingsPortfolioGovernanceRiskScore
  /direct-web-services/time-series/v1/portfolio-holdings/portfolio-social-risk-score/{ids}:
    get:
      tags:
      - Portfolio Holdings
      summary: Get Portfolio Social Risk Score time series.
      description: The asset-weighted average of the Company Social Risk Scores for the covered corporate holdings in a portfolio.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
          example: 0P00000016,0P00002Y8D,DODGX,0P000000ppY
      - name: idTypes
        in: query
        description: '

          Comma-separated list specifying the type of each value passed in the `ids` parameter.<br>

          Rules:


          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value

          *   Empty values default to `performanceId`


          Example:


          *   `ids=id1,id2,id3`

          *   `id1` and `id3` are performance IDs

          *   `id2` is a security ID

          *   `idTypes=,securityId`


          Accepted values:


          *   `performanceId` (default)

          *   `isin`

          *   `securityId`

          *   `cusip`

          *   `tradingSymbol`

          *   `msid`'
        schema:
          type: string
          example: ',securityId'
      - name: baseCurrency
        in: query
        description: '

          Comma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>


          *   Filters results based on currency

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Base currency passed for `id2` and `id4`

          *   `baseCurrency=,USD,,USD`'
        schema:
          type: string
          example: ',USD,,USD'
      - name: domicile
        in: query
        description: "\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`"
        schema:
          type: string
          example: ',USD,,USD'
      - name: exchangeCountry
        in: query
        description: '

          Comma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).



          *   Filters results based on domicile

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange country passed for `id2` and `id4`

          *   `exchangeCountry=,USA,,USA`'
        schema:
          type: string
          example: ',CAN,CAN'
      - name: exchangeId
        description: '

          Comma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).


          *   Filters results based on exchange ID

          *   Values must align with the order of values in `ids`

          *   Use empty entries to skip

          *   Omit trailing commas after the last non-empty value


          Example:


          *   `ids=id1,id2,id3,id4,id5`

          *   Exchange ID passed for `id2` and `id4`

          *   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`'
        in: query
        required: false
        schema:
          type: string
          example: EX$$$$XMEX
      - name: frequency
        in: query
        description: Specifies the time interval between data points.
        schema:
          enum:
          - daily
          type: string
          default: daily
      - name: startDate
        in: query
        description: 'Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2020-01-12'
          format: date
      - name: endDate
        in: query
        description: 'Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.

          '
        schema:
          type: string
          example: '2024-01-12'
          format: date
      - name: timePeriod
        in: query
        description: "Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: number
          example: '12'
      - name: timePeriodUnit
        in: query
        description: "\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence."
        schema:
          type: string
          enum:
          - months
          - days
          - years
      - name: applyEarliestCommonDate
        in: query
        description: "\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned."
        schema:
          type: boolean
          default: false
      - name: applyTrackRecordExtension
        in: query
        description: '

          Specifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.'
        schema:
          type: boolean
          default: false
      - name: applyRestructureDate
        in: query
        description: '

          Specifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.


          This option is applicable only when `applyEarliestCommonDate` is set to true.'
        schema:
          type: boolean
          default: false
      - name: sinceInception
        in: query
        description: "\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings."
        required: false
        schema:
          type: boolean
          default: false
      - name: currencyId
        in: query
        description: Specifies the currency in which to return data.
        schema:
          type: string
          enum:
          - BASE
          - AUD
          - BND
          - BRL
          - CAD
          - CHF
          - CLP
          - CNH
          - CNY
          - CZK
          - DKK
          - EUR
          - GBP
          - HKD
          - HUF
          - IDR
          - ILS
          - INR
          - JPY
          - KRW
          - MOP
          - MXN
          - MYR
          - NOK
          - NZD
          - PLN
          - RMB
          - RUB
          - SEK
          - SGD
          - THB
          - TWD
          - USD
          - ZAR
          default: BASE
      responses:
        '200':
          $ref: '#/components/responses/ResponseTimeSeriesSingleObservation'
        '400':
          $ref: '#/components/responses/ResponseStatus400'
        '500':
          $ref: '#/components/responses/ResponseStatus500'
      operationId: getPortfolioHoldingsPortfolioSocialRiskScore
  /direct-web-services/time-series/v1/portfolio-holdings/portfolio-sovereign-esg-risk-score/{ids}:
    get:
      tags:
      - Portfolio Holdings
      summary: Get Portfolio Sovereign ESG Risk Score time series.
      description: The Morningstar Portfolio Sovereign ESG Risk Score is an asset-weighted average of Sustainalytics' Country Risk Score.
      parameters:
      - name: ids
        in: path
        description: "\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`."
        required: true
        schema:
          type: string
[...]
