openapi: 3.2.0
info:
  title: Investment Details Reference Change API
  description: '**Description**


    The Investment Details - Equities (Sync) API enables you to request detailed information for equity investments in your entitled universe.'
  version: v1
  x-changelog:
  - date: '2026-06-30'
    changes:
    - Updated OutputOwnershipDataFundCompany schema.
    - Updated OutputOwnershipDataMutualFund schema.
    - Updated OutputInsiderHoldingsDetail schema.
    - Updated OutputInsider schema.
  - date: '2026-06-10'
    changes:
    - Added new data points to a number of schemas.
  - date: '2026-05-14'
    changes:
    - Updated a number of data types in OutputViewEquityCompensation. See data dictionary v1.6 for data points impacted.
servers:
- url: https://www.us-api.morningstar.com
  description: Americas
- url: https://www.apac-api.morningstar.com
  description: APAC
- url: https://www.emea-api.morningstar.com
  description: EMEA
security:
- Bearer: []
tags:
- name: Reference Change
paths:
  /direct-web-services/v1/investments/{id}/equity-company-level-reference-change:
    get:
      summary: Get Company-Level Reference Change view
      parameters:
      - name: id
        in: path
        description: "\nSpecifies the investment to query. \nMorningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe."
        required: true
        schema:
          type: string
          example: 0P00000046
        examples:
          performanceId:
            summary: Morningstar Performance ID
            value: 0P00000046
          isin:
            summary: ISIN
            value: US0042391096
      - name: idType
        in: query
        description: 'Specifies the type of the value passed in the `id` parameter.

          Morningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe.'
        schema:
          enum:
          - performanceId
          - isin
          - securityId
          - cusip
          - tradingSymbol
          - fundCode
          - msid
          type: string
          default: performanceId
      - name: baseCurrency
        in: query
        description: Base currency to use for investment lookup. Accepts 3‑character ISO 4217 currency codes.
        schema:
          type: string
        examples:
          baseCurrencyExample1:
            summary: US Dollar
            value: USD
          baseCurrencyExample2:
            summary: Swiss Franc
            value: CHF
      - name: domicile
        in: query
        description: Domicile to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          domicileExample1:
            summary: CAN (Canada)
            value: CAN
          domicileExample2:
            summary: JPN (Japan)
            value: JPN
          domicileExample3:
            summary: USE (United States)
            value: USA
      - name: exchangeCountry
        in: query
        description: Exchange country to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          exchangeCountryExample1:
            summary: CAN (Canada)
            value: CAN
          exchangeCountryExample2:
            summary: JPN (Japan)
            value: JPN
          exchangeCountryExample3:
            summary: USA (USA)
            value: USA
      - name: exchangeId
        in: query
        description: Exchange identifier to use for investment lookup.
        schema:
          type: string
          externalDocs:
            description: List of exchange IDs.
            url: https://developer.morningstar.com/content/hidden-from-navigation/DwsIdLookUpExchangeIds.xlsx
        examples:
          exchangeIdExample1:
            summary: NASDAQ - ALL Markets (NAS)
            value: EX$$$$XNAS
          exchangeIdExample2:
            summary: London Stock Exchange (LSE)
            value: EX$$$$XLON
      - name: startDate
        in: query
        schema:
          type: string
          format: yyyy-MM-dd
        description: Time series start date. Accepts `yyyy-MM-dd`.
        examples:
          startDateExample1:
            summary: Example 1
            value: '2025-06-01'
          startDateExample2:
            summary: Example 2
            value: '2025-06-30'
      - name: endDate
        in: query
        schema:
          type: string
          format: yyyy-MM-dd
        description: Time series end date. Accepts `yyyy-MM-dd`.
        examples:
          endDateExample1:
            summary: Example 1
            value: '2025-12-01'
          endDateExample2:
            summary: Example 2
            value: '2025-12-31'
      - name: viewType
        in: query
        required: true
        schema:
          enum:
          - dataset
          - package
          type: string
      description: Time series data supported.
      operationId: getEquityCompanyLevelReferenceChangeDataset
      tags:
      - Reference Change
      responses:
        '200':
          $ref: '#/components/responses/ResponseEquityCompanyLevelReferenceChange'
        '400':
          $ref: '#/components/responses/ResponseBadRequest'
        '500':
          $ref: '#/components/responses/ResponseInternalServerError'
      x-cpqId: 920
  /direct-web-services/v1/investments/{id}/equity-isin-change:
    get:
      summary: Get ISIN Change view
      parameters:
      - name: id
        in: path
        description: "\nSpecifies the investment to query. \nMorningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe."
        required: true
        schema:
          type: string
          example: 0P00000046
        examples:
          performanceId:
            summary: Morningstar Performance ID
            value: 0P00000046
          isin:
            summary: ISIN
            value: US0042391096
      - name: idType
        in: query
        description: 'Specifies the type of the value passed in the `id` parameter.

          Morningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe.'
        schema:
          enum:
          - performanceId
          - isin
          - securityId
          - cusip
          - tradingSymbol
          - fundCode
          - msid
          type: string
          default: performanceId
      - name: baseCurrency
        in: query
        description: Base currency to use for investment lookup. Accepts 3‑character ISO 4217 currency codes.
        schema:
          type: string
        examples:
          baseCurrencyExample1:
            summary: US Dollar
            value: USD
          baseCurrencyExample2:
            summary: Swiss Franc
            value: CHF
      - name: domicile
        in: query
        description: Domicile to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          domicileExample1:
            summary: CAN (Canada)
            value: CAN
          domicileExample2:
            summary: JPN (Japan)
            value: JPN
          domicileExample3:
            summary: USE (United States)
            value: USA
      - name: exchangeCountry
        in: query
        description: Exchange country to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          exchangeCountryExample1:
            summary: CAN (Canada)
            value: CAN
          exchangeCountryExample2:
            summary: JPN (Japan)
            value: JPN
          exchangeCountryExample3:
            summary: USA (USA)
            value: USA
      - name: exchangeId
        in: query
        description: Exchange identifier to use for investment lookup.
        schema:
          type: string
          externalDocs:
            description: List of exchange IDs.
            url: https://developer.morningstar.com/content/hidden-from-navigation/DwsIdLookUpExchangeIds.xlsx
        examples:
          exchangeIdExample1:
            summary: NASDAQ - ALL Markets (NAS)
            value: EX$$$$XNAS
          exchangeIdExample2:
            summary: London Stock Exchange (LSE)
            value: EX$$$$XLON
      - name: startDate
        in: query
        schema:
          type: string
          format: yyyy-MM-dd
        description: Time series start date. Accepts `yyyy-MM-dd`.
        examples:
          startDateExample1:
            summary: Example 1
            value: '2025-06-01'
          startDateExample2:
            summary: Example 2
            value: '2025-06-30'
      - name: endDate
        in: query
        schema:
          type: string
          format: yyyy-MM-dd
        description: Time series end date. Accepts `yyyy-MM-dd`.
        examples:
          endDateExample1:
            summary: Example 1
            value: '2025-12-01'
          endDateExample2:
            summary: Example 2
            value: '2025-12-31'
      - name: viewType
        in: query
        required: true
        schema:
          enum:
          - dataset
          - package
          type: string
      description: Time series data supported.
      operationId: getEquityIsinChangeDataset
      tags:
      - Reference Change
      responses:
        '200':
          $ref: '#/components/responses/ResponseEquityIsinChange'
        '400':
          $ref: '#/components/responses/ResponseBadRequest'
        '500':
          $ref: '#/components/responses/ResponseInternalServerError'
      x-cpqId: 920
  /direct-web-services/v1/investments/{id}/equity-reference-change:
    get:
      summary: Get Reference Change view
      parameters:
      - name: id
        in: path
        description: "\nSpecifies the investment to query. \nMorningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe."
        required: true
        schema:
          type: string
          example: 0P00000046
        examples:
          performanceId:
            summary: Morningstar Performance ID
            value: 0P00000046
          isin:
            summary: ISIN
            value: US0042391096
      - name: idType
        in: query
        description: 'Specifies the type of the value passed in the `id` parameter.

          Morningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe.'
        schema:
          enum:
          - performanceId
          - isin
          - securityId
          - cusip
          - tradingSymbol
          - fundCode
          - msid
          type: string
          default: performanceId
      - name: baseCurrency
        in: query
        description: Base currency to use for investment lookup. Accepts 3‑character ISO 4217 currency codes.
        schema:
          type: string
        examples:
          baseCurrencyExample1:
            summary: US Dollar
            value: USD
          baseCurrencyExample2:
            summary: Swiss Franc
            value: CHF
      - name: domicile
        in: query
        description: Domicile to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          domicileExample1:
            summary: CAN (Canada)
            value: CAN
          domicileExample2:
            summary: JPN (Japan)
            value: JPN
          domicileExample3:
            summary: USE (United States)
            value: USA
      - name: exchangeCountry
        in: query
        description: Exchange country to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          exchangeCountryExample1:
            summary: CAN (Canada)
            value: CAN
          exchangeCountryExample2:
            summary: JPN (Japan)
            value: JPN
          exchangeCountryExample3:
            summary: USA (USA)
            value: USA
      - name: exchangeId
        in: query
        description: Exchange identifier to use for investment lookup.
        schema:
          type: string
          externalDocs:
            description: List of exchange IDs.
            url: https://developer.morningstar.com/content/hidden-from-navigation/DwsIdLookUpExchangeIds.xlsx
        examples:
          exchangeIdExample1:
            summary: NASDAQ - ALL Markets (NAS)
            value: EX$$$$XNAS
          exchangeIdExample2:
            summary: London Stock Exchange (LSE)
            value: EX$$$$XLON
      - name: startDate
        in: query
        schema:
          type: string
          format: yyyy-MM-dd
        description: Time series start date. Accepts `yyyy-MM-dd`.
        examples:
          startDateExample1:
            summary: Example 1
            value: '2025-06-01'
          startDateExample2:
            summary: Example 2
            value: '2025-06-30'
      - name: endDate
        in: query
        schema:
          type: string
          format: yyyy-MM-dd
        description: Time series end date. Accepts `yyyy-MM-dd`.
        examples:
          endDateExample1:
            summary: Example 1
            value: '2025-12-01'
          endDateExample2:
            summary: Example 2
            value: '2025-12-31'
      description: Time series data supported.
      operationId: getEquityReferenceChangePackage
      tags:
      - Reference Change
      responses:
        '200':
          $ref: '#/components/responses/ResponseEquityReferenceChange'
        '400':
          $ref: '#/components/responses/ResponseBadRequest'
        '500':
          $ref: '#/components/responses/ResponseInternalServerError'
      x-cpqId: 920
  /direct-web-services/v1/investments/{id}/equity-security-level-reference-change:
    get:
      summary: Get Security-Level Reference Change view
      parameters:
      - name: id
        in: path
        description: "\nSpecifies the investment to query. \nMorningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe."
        required: true
        schema:
          type: string
          example: 0P00000046
        examples:
          performanceId:
            summary: Morningstar Performance ID
            value: 0P00000046
          isin:
            summary: ISIN
            value: US0042391096
      - name: idType
        in: query
        description: 'Specifies the type of the value passed in the `id` parameter.

          Morningstar Performance ID is the default identifer for the API. Use the Universe API to retrieve Performance IDs for investments in your entitled universe.'
        schema:
          enum:
          - performanceId
          - isin
          - securityId
          - cusip
          - tradingSymbol
          - fundCode
          - msid
          type: string
          default: performanceId
      - name: baseCurrency
        in: query
        description: Base currency to use for investment lookup. Accepts 3‑character ISO 4217 currency codes.
        schema:
          type: string
        examples:
          baseCurrencyExample1:
            summary: US Dollar
            value: USD
          baseCurrencyExample2:
            summary: Swiss Franc
            value: CHF
      - name: domicile
        in: query
        description: Domicile to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          domicileExample1:
            summary: CAN (Canada)
            value: CAN
          domicileExample2:
            summary: JPN (Japan)
            value: JPN
          domicileExample3:
            summary: USE (United States)
            value: USA
      - name: exchangeCountry
        in: query
        description: Exchange country to use for investment lookup. Accepts 3-character ISO 3166-1 country codes.
        schema:
          type: string
        examples:
          exchangeCountryExample1:
            summary: CAN (Canada)
            value: CAN
          exchangeCountryExample2:
            summary: JPN (Japan)
            value: JPN
          exchangeCountryExample3:
            summary: USA (USA)
            value: USA
      - name: exchangeId
        in: query
        description: Exchange identifier to use for investment lookup.
        schema:
          type: string
          externalDocs:
            description: List of exchange IDs.
            url: https://developer.morningstar.com/content/hidden-from-navigation/DwsIdLookUpExchangeIds.xlsx
        examples:
          exchangeIdExample1:
            summary: NASDAQ - ALL Markets (NAS)
            value: EX$$$$XNAS
          exchangeIdExample2:
            summary: London Stock Exchange (LSE)
            value: EX$$$$XLON
      - name: startDate
        in: query
        schema:
          type: string
          format: yyyy-MM-dd
        description: Time series start date. Accepts `yyyy-MM-dd`.
        examples:
          startDateExample1:
            summary: Example 1
            value: '2025-06-01'
          startDateExample2:
            summary: Example 2
            value: '2025-06-30'
      - name: endDate
        in: query
        schema:
          type: string
          format: yyyy-MM-dd
        description: Time series end date. Accepts `yyyy-MM-dd`.
        examples:
          endDateExample1:
            summary: Example 1
            value: '2025-12-01'
          endDateExample2:
            summary: Example 2
            value: '2025-12-31'
      - name: viewType
        in: query
        required: true
        schema:
          enum:
          - dataset
          - package
          type: string
      description: Time series data supported.
      operationId: getEquitySecurityLevelReferenceChangeDataset
      tags:
      - Reference Change
      responses:
        '200':
          $ref: '#/components/responses/ResponseEquitySecurityLevelReferenceChange'
        '400':
          $ref: '#/components/responses/ResponseBadRequest'
        '500':
          $ref: '#/components/responses/ResponseInternalServerError'
      x-cpqId: 920
components:
  schemas:
    OutputIdentifiers:
      type: object
      properties:
        performanceId:
          type: string
          nullable: true
        securityId:
          type: string
          nullable: true
        cusip:
          type: string
          nullable: true
        isin:
          type: string
          nullable: true
        sedol:
          type: string
          nullable: true
        tradingSymbol:
          type: string
          nullable: true
        fundCode:
          type: string
          nullable: true
        msid:
          type: string
          nullable: true
        ticker:
          type: string
          nullable: true
      additionalProperties: false
      title: OutputIdentifiers
    OutputConversionRatioChangeLog:
      type: object
      properties:
        changeFrom:
          type: number
          description: The conversion ratio value of a security before the change.
          format: double
          nullable: true
        changeTo:
          type: number
          description: The conversion ratio value of a security after the change.
          format: double
          nullable: true
        totalSharesOutstandingDate:
          type: string
          description: The as of date of the total shares outstanding value
          nullable: true
      additionalProperties: false
      title: OutputConversionRatioChangeLog
    OutputDomicileCountryChangeLog:
      type: object
      properties:
        effectiveDate:
          type: string
          description: The effective date when the domicile country for the company was changed
          nullable: true
        changeFrom:
          type: string
          description: The domicile country that the company changes from
          nullable: true
        changeTo:
          type: string
          description: The domicile country that the company changes to
          nullable: true
      additionalProperties: false
      title: OutputDomicileCountryChangeLog
    OutputLegalNameChangeLog:
      type: object
      properties:
        effectiveDate:
          type: string
          description: The starting date that an associated data point value is applicable to.
          nullable: true
        changeFrom:
          type: string
          description: Company Legal Name before the change.
          nullable: true
        changeTo:
          type: string
          description: Compay Legal Name after the change.
          nullable: true
      additionalProperties: false
      title: OutputLegalNameChangeLog
    OutputDrRatioChangeLog:
      type: object
      properties:
        effectiveDate:
          type: string
          description: The as of date when the change of par ratio became effective.
          nullable: true
        changeFrom:
          type: number
          description: The conversion ratio value of a security before the change.
          format: double
          nullable: true
        changeTo:
          type: number
          description: The conversion ratio value of a security after the change.
          format: double
          nullable: true
      additionalProperties: false
      title: OutputDrRatioChangeLog
    OutputErrorDetails:
      type: object
      properties:
        statusCode:
          type: integer
          description: Status Code
          format: int32
        errorCode:
          type: string
          description: Custom error code
          nullable: true
        message:
          type: string
          description: Message
          nullable: true
        requestId:
          type: string
          description: RequestId
          nullable: true
      additionalProperties: false
      description: Error details
      title: OutputErrorDetails
    OutputExchangeCodeChangeLog:
      type: object
      properties:
        effectiveDate:
          type: string
          description: The effective date when the exchange code for the share class was changed
          nullable: true
        changeFrom:
          type: string
          description: The exchange code that the share class changes from
          nullable: true
        changeTo:
          type: string
          description: The exchange code that the share class changes to
          nullable: true
      additionalProperties: false
      title: OutputExchangeCodeChangeLog
    OutputSymbolChangeLog:
      type: object
      properties:
        effectiveDate:
          type: string
          description: The effective date when the symbol for the share class was changed
          nullable: true
        changeFrom:
          type: string
          description: The symbol that the share class changes from
          nullable: true
        changeTo:
          type: string
          description: The symbol that the share class changes to
          nullable: true
      additionalProperties: false
      title: OutputSymbolChangeLog
    OutputMetadata:
      type: object
      properties:
        requestId:
          type: string
          nullable: true
        time:
          type: string
          format: date-time
          readOnly: true
        portfolioDate:
          type: string
          nullable: true
        portfolioCurrency:
          type: string
          nullable: true
        messages:
          type: array
          items:
            $ref: '#/components/schemas/OutputMetadataMessages'
          nullable: true
      additionalProperties: false
      title: OutputMetadata
    OutputCentralIndexKeyChangeLog:
      type: object
      properties:
        effectiveDate:
          type: string
          description: The effective date when the company status was changed
          nullable: true
        changeFrom:
          type: string
          description: The status that the company changes from
          nullable: true
        changeTo:
          type: string
          description: The status that the company changes to
          nullable: true
      additionalProperties: false
      title: OutputCentralIndexKeyChangeLog
    OutputInvalidInvestments:
      type: object
      properties:
        id:
          type: string
          nullable: true
        idType:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        datapointId:
          type: array
          items:
            type: string
          nullable: true
        errorCode:
          type: string
          nullable: true
        performanceId:
          type: string
          description: Performance ID (if not passed in request).
          nullable: true
        companyId:
          type: string
          description: Company ID (if not passed in request).
          nullable: true
        baseCurrency:
          type: string
          description: Input base currency used to look up Investment identifier
          nullable: true
        domicile:
          type: string
          description: Input domicile used to look up Investment identifier.
          nullable: true
        exchangeCountry:
          type: string
          description: Input exchange country used to look up Investment identifier.
          nullable: true
        exchangeId:
          type: string
          description: Input exchange id used to look up Investment identifier.
          nullable: true
      additionalProperties: false
      title: OutputInvalidInvestments
    OutputIsinChangeLog:
      type: object
      properties:
        effectiveDate:
          type: string
          description: The effective date when the ISIN for the share class was changed
          nullable: true
        changeFrom:
          type: string
          description: The ISIN that the share class changes from
          nullable: true
        changeTo:
          type: string
          description: The ISIN that the share class changes to
          nullable: true
      additionalProperties: false
      title: OutputIsinChangeLog
    OutputMetadataMessages:
      type: object
      properties:
        type:
          type: string
          nullable: true
        code:
          type: string
          nullable: true
        investments:
          type: array
          items:
            $ref: '#/components/schemas/OutputInvalidInvestments'
          nullable: true
        message:
          type: string
          nullable: true
      additionalProperties: false
      title: OutputMetadataMessages
    OutputEntityReferenceEntityNameChange:
      type: object
      properties:
        effectiveDate:
          type: string
          description: Effective date is the date on which the company name comes into existence as approved by the firm.
          nullable: true
        changeFrom:
          type: string
          description: The English translation of the foreign legal name if/when applicable
          nullable: true
        changeTo:
          type: string
          description: The English translation of the foreign legal name if/when applicable
          nullable: true
      additionalProperties: false
      title: OutputEntityReferenceEntityNameChange
  responses:
    ResponseInternalServerError:
      description: Internal Server
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OutputErrorDetails'
    ResponseBadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OutputErrorDetails'
    ResponseEquitySecurityLevelReferenceChange:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              conversionRatioChangeLog:
                $ref: '#/components/schemas/OutputConversionRatioChangeLog'
              drRatioChangeLog:
                $ref: '#/components/schemas/OutputDrRatioChangeLog'
              exchangeCodeChangeLog:
                $ref: '#/components/schemas/OutputExchangeCodeChangeLog'
              symbolChangeLog:
                $ref: '#/components/schemas/OutputSymbolChangeLog'
              identifiers:
                $ref: '#/components/schemas/OutputIdentifiers'
              metadata:
                $ref: '#/components/schemas/OutputMetadata'
    ResponseEquityCompanyLevelReferenceChange:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              centralIndexKeyChangeLog:
                $ref: '#/components/schemas/OutputCentralIndexKeyChangeLog'
              domicileCountryChangeLog:
                $ref: '#/components/schemas/OutputDomicileCountryChangeLog'
              entityReferenceEntityNameChange:
                $ref: '#/components/schemas/OutputEntityReferenceEntityNameChange'
              legalNameChangeLog:
                $ref: '#/components/schemas/OutputLegalNameChangeLog'
              identifiers:
                $ref: '#/components/schemas/OutputIdentifiers'
              metadata:
                $ref: '#/components/schemas/OutputMetadata'
    ResponseEquityReferenceChange:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              isinChangeLog:
                $ref: '#/components/schemas/OutputIsinChangeLog'
              conversionRatioChangeLog:
                $ref: '#/components/schemas/OutputConversionRatioChangeLog'
              drRatioChangeLog:
                $ref: '#/components/schemas/OutputDrRatioChangeLog'
              exchangeCodeChangeLog:
                $ref: '#/components/schemas/OutputExchangeCodeChangeLog'
              symbolChangeLog:
                $ref: '#/components/schemas/OutputSymbolChangeLog'
              centralIndexKeyChangeLog:
                $ref: '#/components/schemas/OutputCentralIndexKeyChangeLog'
              domicileCountryChangeLog:
                $ref: '#/components/schemas/OutputDomicileCountryChangeLog'
              entityReferenceEntityNameChange:
                $ref: '#/components/schemas/OutputEntityReferenceEntityNameChange'
              legalNameChangeLog:
                $ref: '#/components/schemas/OutputLegalNameChangeLog'
              identifiers:
                $ref: '#/components/schemas/OutputIdentifiers'
              metadata:
                $ref: '#/components/schemas/OutputMetadata'
    ResponseEquityIsinChange:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              isinChangeLog:
                $ref: '#/components/schemas/OutputIsinChangeLog'
              identifiers:
                $ref: '#/components/schemas/OutputIdentifiers'
              metadata:
                $ref: '#/components/schemas/OutputMetadata'
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Obtain a token via the Authentication API's `POST /token/oauth` endpoint. Tokens are valid for 60 minutes and reusable across requests.
