openapi: 3.2.0
info:
  description: 'The Portfolios API is used by the web-based version of Morningstar Office to get information about portfolios owned by a household.


    With the API you can:


    * Get full holdings for an account

    * Get all accounts for a specific household'
  version: 2.0.3
  title: Portfolios (US) Holdings API
servers:
- url: https://www.us-api.morningstar.com/office-portfolio/v2
  description: PROD
- url: https://www.us-uat-api.morningstar.com/office-portfolio/v2
  description: UAT
security:
- bearerAuth: []
tags:
- name: Holdings
paths:
  /holdings:
    get:
      tags:
      - Holdings
      summary: Get holdings for a portfolio
      description: Get holdings for the portfolio(s) specified in the `portfolioIds` parameter.
      operationId: getAnalysisUsingGET_4
      parameters:
      - name: x-api-key
        in: header
        description: Unique API key of a client
        required: true
        schema:
          type: string
          format: string
      - name: portfolioIds
        in: query
        description: Unique identifier of a portfolio. Multiple values must be comma-separated.
        required: true
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: enddate
        in: query
        description: Return results with end date specified (yyyy-mm-dd, yyyymmdd or LastMonthEnd).
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiPortfolioAnalysisEntities'
components:
  schemas:
    APIMetaStatusResponse:
      type: object
      properties:
        hint:
          type: string
        response_status:
          type: string
      title: APIMetaStatusResponse
    TopHoldingListDateEntity:
      type: object
      properties:
        total:
          type: string
        top-holdings:
          type: array
          items:
            $ref: '#/components/schemas/Map_string_string'
        validation-end-date:
          type: string
      title: TopHoldingListDateEntity
    TopHoldingListEntity:
      type: object
      properties:
        additionalProperties:
          $ref: '#/components/schemas/TopHoldingListDateEntity'
      title: TopHoldingListEntity
    ApiSnapshotEntity:
      type: object
      properties:
        date:
          type: string
        topNHoldingsCount:
          type: integer
          format: int32
      title: ApiSnapshotEntity
    ApiPortfolioAnalysisEntities:
      type: object
      properties:
        _meta:
          $ref: '#/components/schemas/APIMetaStatusResponse'
        errMsg:
          type: string
        portfolios:
          type: array
          items:
            $ref: '#/components/schemas/ApiPortfolioAnalysisEntity'
      title: ApiPortfolioAnalysisEntities
    ApiPortfolioAnalysisEntity:
      type: object
      properties:
        accountTypeName:
          type: string
        householdId:
          type: string
        lastUpdateTime:
          type: string
        name:
          type: string
        number:
          type: string
        portfolioId:
          type: string
        portfolioType:
          type: string
        portfolioTypeName:
          type: string
        snapshots:
          type: array
          items:
            $ref: '#/components/schemas/ApiSnapshotEntity'
        trackingMethod:
          type: string
          enum:
          - positional
          - transactional
          - quick
          - fixed
        topHoldingList:
          $ref: '#/components/schemas/TopHoldingListEntity'
      title: ApiPortfolioAnalysisEntity
    Map_string_string:
      type: object
      additionalProperties:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
