openapi: 3.0.1
info:
  version: 1.0.0
  title: Authorization Tokens Accounts Activities API
  description: 'Use the `oauth` endpoint to generate the secure, time-limited JSON Web Tokens (JWTs) used to authorize access to APIs and components.</br></br>

    To request a token, click Authorize and enter the following credentials:


    * Username - Your Client ID.

    * Password - Your Client Secret.'
servers:
- url: https://www.us-api.morningstar.com/token
  description: PROD US
- url: https://www.emea-api.morningstar.com/token
  description: PROD EMEA
- url: https://www.apac-api.morningstar.com/token
  description: PROD APAC
security:
- BasicAuth: []
tags:
- name: Activities
paths:
  /activities/summary:
    get:
      tags:
      - Activities
      summary: Monitor the status of asynchronous authentication or aggregation activities
      description: 'Determine if asynchronous activities are in progress for the  authenticated  investor. The endpoint can monitor activities for just the current session, or it can include other sessions of the user depending  on the `scope` parameter setting.  Asynchronous activities include:  </br>  </br><span>&#8226;</span> authenticating credentials </br>  <span>&#8226;</span> discovering, adding, and aggregating accounts</br>  <span>&#8226;</span> aggregating accounts </br></br>This endpoint  returns a single Boolean value for *activityInProgress* that indicates whether asynchronous activities are in progress for the user.  </br></br>The applicable scope of this endpoint is always a single authenticated investor.  This endpoint can provide information on asynchronous activity for the current session or for all activity in thesystem. Use the `scope` parameter with value `session` to request information about activity initiated during the current session.  Use the `scope` parameter with value `global` to request information for all activity in the system.  When `scope` is `global`, asynchronous activity progress will be available for terminated sessions up to 15 minutes after completion of that activity.  If the `scope` parameter is not provided, the endpoint will report on activity for the current session if there is one.  If there is no current session (Morningstar Authentication) then it will report on all activity for the authenticated investor.   </br></br>**Response discussion** </br>The JSON response for the endpoint is one of the following, depending on whether there is activity in progress or not: </br><span>&#8226;</span>  {"activityInProgress":false} </br>OR</br><span>&#8226;</span> {"activityInProgress":true}</br>If `scope` is not set or is set to `session`, the value is true if any asynchronous activity is in progress for the session for at least one credential. If `scope` is set to `global`, the value is true if any asynchronous activity is in progress for the session for at least one credential or if authenticate or discovery/add/aggregate is in progress for accounts aggregating for at least one credential outside the current session. When all activity completes then the value of activityInProgress will be false. '
      operationId: getSummaryUsingGET
      parameters:
      - name: scope
        in: query
        description: 'Scope of activity. Value can be *session*, to include only session-specific activity progress, or *global* to also include activity progress from other sessions for this user. Cannot be set to *session* for users autheticated with Morningtar Authentication.  The default is *session* for  session-based users and *global* for users authenticated by Morningstar Authentication.</br></br>Note: the *global* setting currently does not return status for accounts aggregating outside the current session.'
        allowEmptyValue: false
        schema:
          type: string
          default: session
      responses:
        '200':
          description: Ok </br>See Response discussion above.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitiesDto'
        '401':
          description: Not Authorized
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      deprecated: false
components:
  schemas:
    ActivitiesDto:
      title: ActivitiesDto
      type: object
      properties:
        activityInProgress:
          type: boolean
          description: If true, aggregation is in-progress for atleast one credential
          example: false
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
