openapi: 3.0.1
info:
  version: 1.0.0
  title: Authorization Tokens Accounts profiles API
  description: 'Use the `oauth` endpoint to generate the secure, time-limited JSON Web Tokens (JWTs) used to authorize access to APIs and components.</br></br>

    To request a token, click Authorize and enter the following credentials:


    * Username - Your Client ID.

    * Password - Your Client Secret.'
servers:
- url: https://www.us-api.morningstar.com/token
  description: PROD US
- url: https://www.emea-api.morningstar.com/token
  description: PROD EMEA
- url: https://www.apac-api.morningstar.com/token
  description: PROD APAC
security:
- BasicAuth: []
tags:
- name: profiles
paths:
  /profiles:
    get:
      tags:
      - profiles
      summary: Get household profiles
      description: Get household profiles for an advisor. To limit the number of records returned in the response, use the `limit` parameter.
      operationId: getHouseholdByIdsUsingGET_2
      parameters:
      - name: x-api-key
        in: header
        description: Unique API key of a client
        required: true
        schema:
          type: string
          format: string
      - name: limit
        in: query
        description: Limit number of records returned. Default is 100 or 500.
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: Number of results to skip
        required: false
        schema:
          type: integer
          format: int32
      - name: count
        in: query
        description: Return the total count of profiles. Default is `false`.
        required: false
        schema:
          type: boolean
          enum:
          - true
          - false
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiHouseholdResponseForProfiles'
components:
  schemas:
    ClientType:
      type: object
      properties:
        code:
          type: integer
          format: int32
        name:
          type: string
      title: ClientType
    Household:
      type: object
      properties:
        active:
          type: boolean
        clientType:
          $ref: '#/components/schemas/ClientType'
        householdId:
          type: string
        householdType:
          type: string
          enum:
          - client
          - prospect
          - group
          - composite
        name:
          type: string
        ownerId:
          type: string
        ownerName:
          type: string
        permission:
          $ref: '#/components/schemas/Permission'
        views:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: string
      title: Household
    ApiHouseholdResponseForProfiles:
      type: object
      properties:
        _meta:
          $ref: '#/components/schemas/APIMetaStatusResponse'
        households:
          type: array
          items:
            $ref: '#/components/schemas/Household'
        pagination:
          $ref: '#/components/schemas/APIPaginationResponse'
      title: ApiHouseholdResponseForProfiles
    APIPaginationResponse:
      type: object
      properties:
        count:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
        skip:
          type: integer
          format: int32
      title: APIPaginationResponse
    APIMetaStatusResponse:
      type: object
      properties:
        hint:
          type: string
        response_status:
          type: string
      title: APIMetaStatusResponse
    Permission:
      type: object
      properties:
        code:
          type: integer
          format: int32
        name:
          type: string
      title: Permission
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
