openapi: 3.2.0
info:
  title: Investor Pulse sensitivity analysis API
  version: 1.0.0
  description: 'Use the API to:


    * Get information about flow models.

    * Get forecasts based on specific flow models.

    * Create historic and future flow attribution analyses.

    * Calculate the impact of individual factors on future fund growth.'
servers:
- url: https://www.us-api.morningstar.com/invest-pulse/v1
  description: PROD
- url: https://www.us-uat-api.morningstar.com/invest-pulse/v1
  description: UAT
- url: https://www.emea-api.morningstar.com/invest-pulse/v1
  description: PROD
- url: https://www.emea-uat-api.morningstar.com/invest-pulse/v1
  description: UAT
- url: https://www.apac-api.morningstar.com/invest-pulse/v1
  description: PROD
- url: https://www.apac-uat-api.morningstar.com/invest-pulse/v1
  description: UAT
security:
- bearerAuth: []
tags:
- name: sensitivity analysis
paths:
  /sensitivity-analysis:
    post:
      summary: Calculate the impact of individual factors on future fund growth
      description: Calculate the impact of individual factors on future gowth for a specifc fund model. You can change the value of certain factors to analyze how sensitive the fund is to those values.
      responses:
        '200':
          description: OK
        '401':
          description: The user is not authenticated.
        '403':
          description: The user don't have permission.
        '404':
          description: Not Found.
        '500':
          description: Internal Server Error.
      operationId: post_sensitivity_analysis
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Exposure'
        required: true
      tags:
      - sensitivity analysis
components:
  schemas:
    Exposure:
      required:
      - flowModelId
      - fundShareClassId
      properties:
        flowModelId:
          type: string
          example: usa-equity-shareclass-fundflow
        fundShareClassId:
          type: string
          example: F00000VRI7
        fundOfFunds:
          type: number
          example: 1
        indexFund:
          type: number
          example: 1
        sociallyResponsibleFund:
          type: number
          example: 1
        oneStar:
          type: number
        twoStar:
          type: number
        threeStar:
          type: number
        fourStar:
          type: number
        fiveStar:
          type: number
          example: 1
        organicGrowthRate1Month:
          type: number
          example: 1
        avgNetExpRatioRank:
          type: number
          example: 1
        netExpenseRatio:
          type: number
          example: 1
        assetWeightedMgrTenure:
          type: number
          example: 1
        topHoldingWeighting:
          type: number
          example: 1
        trailing12MExcessRet:
          type: number
          example: 1
        fundSize:
          type: number
          example: 1
        firmAUM:
          type: number
          example: 2500000000
        fundAge:
          type: number
          example: 1
        cumulative12MonthFlows:
          type: number
          example: 1
        cumulativeOutFlows:
          type: number
          example: 1
        categoryAvgRet1M:
          type: number
          example: 1
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
