openapi: 3.2.0
info:
  title: Morningstar Profiles API
  version: '1.0'
  description: 'Operations tagged profiles across 2 of this provider''s published API definitions: morningstar-households-us-openapi.json, morningstar-portfolios-us-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://www.us-api.morningstar.com/office-household/v2
  description: PROD
- url: https://www.us-uat-api.morningstar.com/office-household/v2
  description: UAT
- url: https://www.us-api.morningstar.com/office-portfolio/v2
  description: PROD
- url: https://www.us-uat-api.morningstar.com/office-portfolio/v2
  description: UAT
security:
- bearerAuth: []
tags:
- name: Profiles
paths:
  /profiles:
    get:
      tags:
      - Profiles
      summary: Get household profiles
      description: Get household profiles for an advisor. To limit the number of records returned in the response, use the `limit` parameter.
      operationId: getHouseholdByIdsUsingGET_2
      parameters:
      - name: x-api-key
        in: header
        description: Unique API key of a client
        required: true
        schema:
          type: string
          format: string
      - name: limit
        in: query
        description: Limit number of records returned. Default is 100 or 500.
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        description: Number of results to skip
        required: false
        schema:
          type: integer
          format: int32
      - name: count
        in: query
        description: Return the total count of profiles. Default is `false`.
        required: false
        schema:
          type: boolean
          enum:
          - true
          - false
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiHouseholdResponseForProfiles'
    servers:
    - url: https://www.us-api.morningstar.com/office-household/v2
      description: PROD
    - url: https://www.us-uat-api.morningstar.com/office-household/v2
      description: UAT
components:
  schemas:
    APIMetaStatusResponse:
      type: object
      properties:
        hint:
          type: string
        response_status:
          type: string
      title: APIMetaStatusResponse
    Permission:
      type: object
      properties:
        code:
          type: integer
          format: int32
        name:
          type: string
      title: Permission
    ApiHouseholdResponseForProfiles:
      type: object
      properties:
        _meta:
          $ref: '#/components/schemas/APIMetaStatusResponse'
        households:
          type: array
          items:
            $ref: '#/components/schemas/Household'
        pagination:
          $ref: '#/components/schemas/APIPaginationResponse'
      title: ApiHouseholdResponseForProfiles
    ClientType:
      type: object
      properties:
        code:
          type: integer
          format: int32
        name:
          type: string
      title: ClientType
    APIPaginationResponse:
      type: object
      properties:
        count:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
        skip:
          type: integer
          format: int32
      title: APIPaginationResponse
    Household:
      type: object
      properties:
        active:
          type: boolean
        clientType:
          $ref: '#/components/schemas/ClientType'
        householdId:
          type: string
        householdType:
          type: string
          enum:
          - client
          - prospect
          - group
          - composite
        name:
          type: string
        ownerId:
          type: string
        ownerName:
          type: string
        permission:
          $ref: '#/components/schemas/Permission'
        views:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: string
      title: Household
    ApiPortfolioResponse:
      type: object
      properties:
        _meta:
          $ref: '#/components/schemas/APIMetaStatusResponse'
        pagination:
          $ref: '#/components/schemas/APIPaginationResponse'
        portfolios:
          type: array
          items:
            $ref: '#/components/schemas/ApiPortfolioEntity'
      title: ApiPortfolioResponse
    ApiPortfolioEntity:
      type: object
      properties:
        currency:
          type: string
        custodianId:
          type: string
        custodianName:
          type: string
        householdId:
          type: string
        householdName:
          type: string
        isDynamicAggregate:
          type: boolean
        excludeInClientAggregate:
          type: boolean
        unmanagedAsset:
          type: boolean
        lastUpdateTime:
          type: string
        name:
          type: string
        number:
          type: string
        ownerId:
          type: string
        ownerName:
          type: string
        permission:
          type: string
        portfolioId:
          type: string
        portfolioType:
          type: string
        portfolioTypeName:
          type: string
        trackingMethod:
          type: string
          enum:
          - positional
          - transactional
          - quick
          - fixed
        views:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: string
      title: ApiPortfolioEntity
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
x-refined-from:
- morningstar-households-us-openapi.json
- morningstar-portfolios-us-openapi.json
