openapi: 3.0.1
info:
  version: 1.0.0
  title: Authorization Tokens Accounts custodians API
  description: 'Use the `oauth` endpoint to generate the secure, time-limited JSON Web Tokens (JWTs) used to authorize access to APIs and components.</br></br>

    To request a token, click Authorize and enter the following credentials:


    * Username - Your Client ID.

    * Password - Your Client Secret.'
servers:
- url: https://www.us-api.morningstar.com/token
  description: PROD US
- url: https://www.emea-api.morningstar.com/token
  description: PROD EMEA
- url: https://www.apac-api.morningstar.com/token
  description: PROD APAC
security:
- BasicAuth: []
tags:
- name: custodians
paths:
  /custodians:
    get:
      tags:
      - custodians
      summary: Get custodians
      description: Get all custodians for the language and region specified in the `Accept-Language` header.</br></br>The response returns the unique `documentName` and `documentShortName` values that identify custodians. At least one of these values is required when making a POST request to the `statement-details` endpoint. </br></br>The response separates the supported custodians into two lists. The `mainCustodians` list contains custodians for whom specific processing logic has been written.  The `others` list contains custodians for whom common processing logic is used and may therefore produce results with a lower degree of accuracy.
      parameters:
      - name: Accept-Language
        in: header
        description: Language and locale
        schema:
          type: string
          enum:
          - en-US
          - en-CA
          - fr-CA
      responses:
        '200':
          description: OK
        '404':
          description: Accept-Language header values not valid.
        '500':
          description: Internal Server Error
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
