{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Risk Profiler",
    "version" : "2.0.0"
  },
  "servers" : [ {
    "url" : "https://www.us-api.morningstar.com/risk-profiler"
  }, {
    "url" : "https://www.apac-api.morningstar.com/risk-profiler"
  }, {
    "url" : "https://www.emea-api.morningstar.com/risk-profiler"
  } ],
  "tags" : [ {
    "name" : "Clients"
  }, {
    "name" : "Questionnaires"
  }, {
    "name" : "Reports"
  }, {
    "name" : "Solutions"
  }, {
    "name" : "Investment Profiles"
  }, {
    "name" : "Portfolios"
  } ],
  "paths" : {
    "/v1/questionnaires/risk-questionnaires/{id}" : {
      "get" : {
        "tags" : [ "Questionnaires" ],
        "summary" : "Get risk tolerance questionnaire",
        "description" : "Get questions and possible options for the risk tolerance questionnaire. Questions and options can be stored for future requests. There are two versions of the questionnaire.\n",
        "operationId" : "requestRiskQuestionnaire",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier of a questionnaire",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "FM10S30", "FM25V30" ]
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Specifies the locale.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "en-US", "en-CA", "en-AU", "en-GB", "en-IN", "fr-CA" ]
          },
          "example" : "en-US"
        }, {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Questionnaire"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        }
      }
    },
    "/v1/portfolios/investments" : {
      "get" : {
        "tags" : [ "Portfolios" ],
        "summary" : "Get the table content of the investment mix question",
        "description" : "The 'Investment Mix' question (question 8 of FM10S30 and question 16 of FM25V30) prompts the client to choose from a list of seven example portfolio options, selecting the one that best aligns with their preferred investment mix. These options range from low-risk/low-return to high-risk/high-return, with variations in between. The question text includes a link to an image depicting the investment mix table. Additionally, the content can be accessed as a JSON object via this endpoint.",
        "operationId" : "getMixInvestments",
        "parameters" : [ {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Specifies the locale.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "en-US", "en-CA", "en-AU", "en-GB", "en-IN", "fr-CA" ]
          },
          "example" : "en-US"
        }, {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MixInvestmentsPayload"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        }
      }
    },
    "/v2/clients/generate-id" : {
      "post" : {
        "tags" : [ "Clients" ],
        "summary" : "Create a unique identifier for a client",
        "description" : "A client ID is required when submitting a client’s questionnaire responses and when retrieving reports for a specific client. To create a client ID, pass an external identifier (e.g., a client’s email address) in the body of the request. The response will return a unique identifier for the client, which can then be used for future interactions.",
        "operationId" : "generateClientId",
        "parameters" : [ {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GenerateIdRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseGuidPayload"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "generateClientIdRequest"
      }
    },
    "/v2/clients/risks/questionnaires" : {
      "post" : {
        "tags" : [ "Clients" ],
        "summary" : "Submit a client's risk tolerance questionnaire responses",
        "description" : "Submit a client’s risk tolerance questionnaire responses. A risk tolerance score and a unique identifier for the submitted responses is returnd. The identifier can be used to retrieve the client's responses at a later date.",
        "operationId" : "submitRiskQuestionnaireResponse",
        "parameters" : [ {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Specifies the locale.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "en-US", "en-CA", "en-AU", "en-GB", "en-IN", "fr-CA" ]
          },
          "example" : "en-US"
        }, {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Payload",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/QuestionnaireRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseAndScorePayload"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "questionnaireAnswers"
      },
      "get" : {
        "tags" : [ "Clients" ],
        "summary" : "Get Risk Tolerance questionnaire response history",
        "description" : "Retrieve a lsit of a client's previously submitted risk questionnaire responses. A unique identifier for each response is returned. Use the identifier to retrieve a specific response.\n",
        "operationId" : "getRiskQuestionnaireResponseHistory",
        "parameters" : [ {
          "name" : "clientId",
          "in" : "query",
          "description" : "Unique identifier of a client",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/HistoryPayload"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        }
      }
    },
    "/v1/clients/risks/questionnaires/{id}/agreed-score" : {
      "patch" : {
        "tags" : [ "Clients" ],
        "summary" : "Submit an agreed risk tolerance score",
        "description" : "Submit an agreed risk tolerance score for a specific set of risk tolerance questionnaire responses submitted by a client. **Important:** We recommend that financial professionals resolve any differences (or inconsistencies) in answers in the risk tolerance report with the client through discussion and adjusting the score where appropriate. This discussion and the agreed score should be documented and signed off by the client. The agreed score will be used for further analysis.",
        "operationId" : "submitRiskQuestionnaireAgreedScore",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier of a response to a questionnaire",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Payload",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AgreedRPRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AgreedRPPayload"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "agreedRPRequest"
      }
    },
    "/v2/clients/solutions/calculate-suitability-score" : {
      "post" : {
        "tags" : [ "Clients" ],
        "summary" : "Calculate suitability score",
        "description" : "Using the Professional Judgment Matrix (PJM) framework, calculates the suitability score and score constraints of an investment/portfolio.",
        "operationId" : "calculateSuitabilityScore",
        "parameters" : [ {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Specifies the locale.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "en-US", "en-CA", "en-AU", "en-GB", "en-IN", "fr-CA" ]
          },
          "example" : "en-US"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CalculateSuitabilityScoreRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CalculateSuitabilityScoreResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "calculateSuitabilityScoreRequest"
      }
    },
    "/v2/solutions/comfort-ranges" : {
      "get" : {
        "tags" : [ "Solutions" ],
        "summary" : "Get comfort ranges",
        "description" : "\n**Get portfolio risk score or growth asset percentage comfort ranges**\n\n\n\n**Get risk tolerance or suitability score ranges for a specific portfolio**\n",
        "operationId" : "getComfortRanges",
        "parameters" : [ {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rangeType",
          "in" : "query",
          "description" : "Indicate the comfort range type for the request.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "SCORE", "GROWTH" ]
          }
        }, {
          "name" : "score",
          "in" : "query",
          "description" : "Indicate the Portfolio Risk Score value (0-100) in which the score ranges will be retrieved for the request.",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ComfortRangesPayloadResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        }
      }
    },
    "/v1/investment-profiles/{profileId}" : {
      "get" : {
        "tags" : [ "Investment Profiles" ],
        "summary" : "Get a specific custom model portfolio or investment profile",
        "description" : "Retrieve a specific custom model portfolio or investment profile for a specific profile Id.",
        "operationId" : "getInvestmentProfiles",
        "parameters" : [ {
          "name" : "profileId",
          "in" : "path",
          "description" : "Unique identifier of an investment profile",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InvestmentProfilesPayloadResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        }
      }
    },
    "/v1/investment-profiles" : {
      "post" : {
        "tags" : [ "Investment Profiles" ],
        "summary" : "Generate best fit risk tolerance or suitability score ranges",
        "description" : "Generate best fit risk tolerance or suitability score ranges for a suite of custom model portfolios or investment profiles. The best fit ranges divide the 0 to 100 risk tolerance or suitability scoring scale across the model portfolios or investment profiles, showing, for this suite of model portfolios or investment profiles, which is most appropriate for a particular risk tolerance or suitability score.\n\n\n  Define each model portfolio or investment profile name, description, asset allocation, and profileriskscore (the portfolio risk score or growth asset percentage of the model portfolio or investment profile depending on the region). Available asset classes by region are list below. In the response, a unique profileid for each model portfolio or investment profile is returned together with the min and max risk tolerance or suitability score range, this is the best fit range. The identifier can be used for future retrieval of the custom model portfolio or investment profile. The best score ranges can be stored for future use.\n",
        "operationId" : "postInvestmentProfiles",
        "parameters" : [ {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Payload",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InvestmentProfilesPayloadRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InvestmentProfilesPayloadResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "422" : {
            "description" : "Best fit score data not found for an investment policy",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse422"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "requestBody"
      }
    },
    "/v1/questionnaires/experience-questionnaires/{questionnaireId}" : {
      "get" : {
        "tags" : [ "Questionnaires" ],
        "summary" : "Get Experience questionnaire",
        "description" : "Get questions and possible options for the experience questionnaire. Questions and options can be stored for future requests. The experience questionnaire captures the Professional Judgement Matrix considerations and does not contribute to the risk tolerance scoring. Please select the appropriate language and country parameters to ensure you retrieve the correct version for your region. </br></br> **Important:** Select the relevant language and country parameters to ensure you retrieve the correct version for your region.\n",
        "operationId" : "requestExperienceQuestionnaire",
        "parameters" : [ {
          "name" : "questionnaireId",
          "in" : "path",
          "description" : "Unique identifier of a questionnaire",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "EXP10" ]
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Specifies the locale.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "en-US", "en-CA", "en-AU", "en-GB", "en-IN", "fr-CA" ]
          },
          "example" : "en-US"
        }, {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Questionnaire"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        }
      }
    },
    "/v1/clients/experience/questionnaires" : {
      "post" : {
        "tags" : [ "Clients" ],
        "summary" : "Submit a client's Experience questionnaire responses",
        "description" : "Submit a client’s experience questionnaire responses. A unique identifier for the submitted responses is returned. The identifier can be used to retrieve the client's responses at a later date.\n",
        "operationId" : "submitExperienceQuestionnaireResponse",
        "parameters" : [ {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Specifies the locale.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "en-US", "en-CA", "en-AU", "en-GB", "en-IN", "fr-CA" ]
          },
          "example" : "en-US"
        }, {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Payload",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/QuestionnaireRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseGuidPayload"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "questionnaireAnswers"
      },
      "get" : {
        "tags" : [ "Clients" ],
        "summary" : "Get Experience questionnaire response history",
        "description" : "Get questionnaire responses for the client identified by the value in the `clientId` parameter. You can retrieve a list of all the respones the client has given to past questionnaires.",
        "operationId" : "getExperienceQuestionnaireResponseHistory",
        "parameters" : [ {
          "name" : "clientId",
          "in" : "query",
          "description" : "Unique identifier of a client",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/HistoryPayload"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        }
      }
    },
    "/v1/clients/experience/questionnaires/{id}" : {
      "get" : {
        "tags" : [ "Clients" ],
        "summary" : "Get Experience response",
        "description" : "Get a specific Experience questionnaire response for the client identified by the value in the `clientId` parameter. The questionnaire is identified by the value in the `id` parameter. This ID was returned in the response when the questionnaire was submitted.",
        "operationId" : "getExperienceQuestionnaireResponse",
        "parameters" : [ {
          "name" : "clientId",
          "in" : "query",
          "description" : "Unique identifier of a client",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier of a response to a questionnaire",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Specifies the locale.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "en-US", "en-CA", "en-AU", "en-GB", "en-IN", "fr-CA" ]
          },
          "example" : "en-US"
        }, {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseAnswerResponsePayload"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        }
      }
    },
    "/v1/questionnaires/kyc-questionnaires/{questionnaireId}" : {
      "get" : {
        "tags" : [ "Questionnaires" ],
        "summary" : "Get Know Your Client questionnaire",
        "description" : "Get questions and possible options for the know-your-client questionnaire. Questions and options can be stored for future requests. The know-your-client questionnaire captures demographic data for research purposes only and does not contribute to the risk tolerance scoring.  </br></br> **Important:** Select the relevant language and country parameters to ensure you retrieve the correct version for your region.\n",
        "operationId" : "requestKycQuestionnaire",
        "parameters" : [ {
          "name" : "questionnaireId",
          "in" : "path",
          "description" : "Unique identifier of a questionnaire",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "KYC10" ]
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Specifies the locale.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "en-US", "en-CA", "en-AU", "en-GB", "en-IN", "fr-CA" ]
          },
          "example" : "en-US"
        }, {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Questionnaire"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        }
      }
    },
    "/v1/clients/kyc/questionnaires" : {
      "post" : {
        "tags" : [ "Clients" ],
        "summary" : "Submit Know Your Client response",
        "description" : "Submit a client’s know-your-client questionnaire responses. A unique identifier for the submitted responses is returned. The identifier can be used to retrieve the client's responses at a later date.\n",
        "operationId" : "submitKycQuestionnaireResponse",
        "parameters" : [ {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Specifies the locale.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "en-US", "en-CA", "en-AU", "en-GB", "en-IN", "fr-CA" ]
          },
          "example" : "en-US"
        }, {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Payload",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/QuestionnaireRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseGuidPayload"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "questionnaireAnswers"
      },
      "get" : {
        "tags" : [ "Clients" ],
        "summary" : "Get Know Your Client response history",
        "description" : "Get Know Your Client questionnaire responses for the client identified by the value in the `clientId` parameter. You can retrieve a list of all the respones the client has given to past questionnaires.",
        "operationId" : "getKycQuestionnaireResponseHistory",
        "parameters" : [ {
          "name" : "clientId",
          "in" : "query",
          "description" : "Unique identifier of a client",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/HistoryPayload"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        }
      }
    },
    "/v1/clients/kyc/questionnaires/{id}" : {
      "get" : {
        "tags" : [ "Clients" ],
        "summary" : "Get Know Your Client response",
        "description" : "Get a specific Know Your Client questionnaire response for the client identified by the value in the `clientId` parameter. The questionnaire is identified by the value in the `id` parameter. This ID was returned in the response when the questionnaire was submitted.",
        "operationId" : "getKycQuestionnaireResponse",
        "parameters" : [ {
          "name" : "clientId",
          "in" : "query",
          "description" : "Unique identifier of a client",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier of a response to a questionnaire",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Specifies the locale.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "en-US", "en-CA", "en-AU", "en-GB", "en-IN", "fr-CA" ]
          },
          "example" : "en-US"
        }, {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseAnswerResponsePayload"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pjm" : {
      "post" : {
        "tags" : [ "PJM (Professional Judgement Matrix)" ],
        "summary" : "Submit new Professional Judgement Matrix configuration",
        "description" : "Submit a custom Professional Judgement Matrix configuration. In the response, a unique pjmid for the submitted configuration is returned. The identifier can be used for future retrieval of the custom Professional Judgement Matrix configuration.\n\nFor each consideration, define the risk tolerance score cap for each option. For example,  `“basic knowledge” : 68` means that the suitability score of a client with basic investment knowledge will be capped at 68. Refer to the [Morningstar Risk Profiler Methodology](https://developer.morningstar.com/content/hidden-from-navigation/MorningstarRiskProfilerMethodology_v4.pdf) documentation for further details.\n\nIf a custom Professional Judgement Matrix configuration is not defined, the engine will use the default configuration as defined in the Morningstar Risk Profiler Methodology documentation to calculate the suitability score.\n",
        "operationId" : "submitPjmConfiguration",
        "parameters" : [ {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Payload",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PjmRequestPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PjmResponsePayload"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "pjmRequest"
      }
    },
    "/v1/pjm/{pjmId}" : {
      "get" : {
        "tags" : [ "PJM (Professional Judgement Matrix)" ],
        "summary" : "Get Professional Judgement Matrix configuration",
        "description" : "Get a specific Professional Judgement Matrix configuration. The configuration is identified by the value in the `pjmId` parameter. This ID was returned in the response when the configuration was created.",
        "operationId" : "getPjmConfiguration",
        "parameters" : [ {
          "name" : "pjmId",
          "in" : "path",
          "description" : "Unique identifier of a Professional Judgement Matrix configuration",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Specifies the locale.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "en-US", "en-CA", "en-AU", "en-GB", "en-IN", "fr-CA" ]
          },
          "example" : "en-US"
        }, {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PjmResponsePayload"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        }
      }
    },
    "/v1/reports/risks/{id}" : {
      "get" : {
        "tags" : [ "Reports" ],
        "summary" : "Get a risk tolerance report in JSON format",
        "description" : "Get a client's risk tolerance report in JSON format.",
        "operationId" : "getRiskReportJson",
        "parameters" : [ {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Specifies the locale.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "en-US", "en-CA", "en-AU", "en-GB", "en-IN", "fr-CA" ]
          },
          "example" : "en-US"
        }, {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier of response to query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clientId",
          "in" : "query",
          "description" : "Unique identifier of a client",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ignoreSections",
          "in" : "query",
          "example" : [ "YOUR_DIFFERENCES", "FOOTNOTES" ],
          "description" : "Determines the sections NOT to include in the report.If not specified, all the sections will be included. Multiple valuses must be comma-separated. Accepted values are:\n\n  * `RISK_TOLERANCE`\n  * `USING_YOUR_PROFILE`\n  * `RISK_TOLERANCE_SCORE`\n  * `RISK_GROUP`\n  * `YOUR_DIFFERENCES`\n  * `FOOTNOTES`\n",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReportResponsePayload"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        }
      }
    },
    "/v2/reports/risks" : {
      "get" : {
        "tags" : [ "Reports" ],
        "summary" : "Get a client's most recent risk tolerance report",
        "description" : "Get a client’s risk tolerance report based on the most recently submitted responses to the risk tolerance questionnaire. The report includes sections on:\n\n\n  * Risk tolerance score\n  * Risk group\n  * Differences\n  * How to use the report\n  * Footnotes\n\nIn the `ignoreSections` parameter, specify any sections you do not want returned in the response.\n",
        "operationId" : "getRiskReports",
        "parameters" : [ {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Specifies the locale.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "en-US", "en-CA", "en-AU", "en-GB", "en-IN", "fr-CA" ]
          },
          "example" : "en-US"
        }, {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clientId",
          "in" : "query",
          "description" : "Unique identifier of a client",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rtqType",
          "in" : "query",
          "description" : "Questionnaire type identifier.\n- `FM10S30` - 10 questions\n- `FM25V30`- 25 questions\n",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "FM10S30", "FM25V30" ]
          }
        }, {
          "name" : "disclosureType",
          "in" : "query",
          "description" : "Indicates if disclosure is needed.\n- `1` - Include disclosure.\n- `2` - Do not include disclosure.\n",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "enum" : [ 1, 2 ]
          }
        }, {
          "name" : "ignoreSections",
          "in" : "query",
          "example" : [ "YOUR_DIFFERENCES", "FOOTNOTES" ],
          "description" : "Determines the sections NOT to include in the report.If not specified, all the sections will be included. Multiple valuses must be comma-separated. Accepted values are:\n\n  * `RISK_TOLERANCE`\n  * `USING_YOUR_PROFILE`\n  * `RISK_TOLERANCE_SCORE`\n  * `RISK_GROUP`\n  * `YOUR_DIFFERENCES`\n  * `FOOTNOTES`\n",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReportResponsePayload"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        }
      }
    },
    "/v2/reports/risks/{id}" : {
      "get" : {
        "tags" : [ "Reports" ],
        "summary" : "Get a specific risk tolerance report for a client",
        "description" : "Get a specific response to the risk tolerance questionnaire for a client. The report includes sections on:\n\n\n  * Risk tolerance score\n  * Risk group\n  * Differences\n  * How to use the report\n  * Footnotes\n\nIn the `ignoreSections` parameter, specify any sections you do not want returned in the response.\n",
        "operationId" : "getRiskReportPDF",
        "parameters" : [ {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Specifies the locale.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "en-US", "en-CA", "en-AU", "en-GB", "en-IN", "fr-CA" ]
          },
          "example" : "en-US"
        }, {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier of response to query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clientId",
          "in" : "query",
          "description" : "Unique identifier of a client",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rtqType",
          "in" : "query",
          "description" : "Questionnaire type identifier.\n- `FM10S30` - 10 questions\n- `FM25V30`- 25 questions\n",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "FM10S30", "FM25V30" ]
          }
        }, {
          "name" : "disclosureType",
          "in" : "query",
          "description" : "Indicates if disclosure is needed.\n- `1` - Include disclosure.\n- `2` - Do not include disclosure.\n",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "enum" : [ 1, 2 ]
          }
        }, {
          "name" : "ignoreSections",
          "in" : "query",
          "example" : [ "YOUR_DIFFERENCES", "FOOTNOTES" ],
          "description" : "Determines the sections NOT to include in the report.If not specified, all the sections will be included. Multiple valuses must be comma-separated. Accepted values are:\n\n  * `RISK_TOLERANCE`\n  * `USING_YOUR_PROFILE`\n  * `RISK_TOLERANCE_SCORE`\n  * `RISK_GROUP`\n  * `YOUR_DIFFERENCES`\n  * `FOOTNOTES`\n",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReportResponsePayload"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        }
      }
    },
    "/v2/clients/risks/reports/{id}" : {
      "get" : {
        "tags" : [ "Clients" ],
        "summary" : "Get a specific risk tolerance report for a client",
        "description" : "Get a client’s risk tolerance report based on the most recently submitted responses to the risk tolerance questionnaire.",
        "operationId" : "getRiskReport",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique identifier of a response to a questionnaire",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clientId",
          "in" : "query",
          "description" : "Unique identifier of a client",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ignoreSections",
          "in" : "query",
          "example" : [ "YOUR_DIFFERENCES", "FOOTNOTES" ],
          "description" : "Determines the sections NOT to include in the report.If not specified, all the sections will be included. Multiple valuses must be comma-separated.",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Specifies the locale.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "en-US", "en-CA", "en-AU", "en-GB", "en-IN", "fr-CA" ]
          },
          "example" : "en-US"
        }, {
          "name" : "X-API-RequestId",
          "in" : "header",
          "description" : "Initial request identifier",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReportResponsePayload"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502" : {
            "description" : "Internal server communication failure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Paragraph" : {
        "title" : "Paragraph",
        "type" : "object",
        "properties" : {
          "text" : {
            "type" : "string",
            "description" : "Paragraph text",
            "example" : "Compared to others, how do you rate your willingness to take financial risks?"
          },
          "htmlMarkup" : {
            "type" : "boolean",
            "description" : "True if the text field is an HTML markup, otherwise text field is plain text",
            "example" : false
          },
          "image" : {
            "type" : "boolean",
            "description" : "True if the paragraph is an image, otherwise is text",
            "example" : true
          },
          "imageHref" : {
            "type" : "string",
            "description" : "Image URL",
            "example" : "https://www.morningstart.com/finametrica/images/risk.png"
          }
        }
      },
      "Option" : {
        "title" : "Option",
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Option unique identifier",
            "example" : "FM10-1-1"
          },
          "text" : {
            "type" : "string",
            "description" : "Option text",
            "example" : "Extremely low risk taker."
          },
          "displayOrder" : {
            "type" : "integer",
            "description" : "Question display order",
            "example" : 1
          },
          "htmlMarkup" : {
            "type" : "boolean",
            "description" : "True if the text field is an HTML markup, otherwise text field is plain text",
            "example" : false
          },
          "image" : {
            "type" : "boolean",
            "description" : "True if the option is an image, otherwise is text",
            "example" : false
          },
          "imageHref" : {
            "type" : "string",
            "description" : "Image URL",
            "example" : "https://www.morningstart.com/finametrica/images/risk.png"
          }
        }
      },
      "Question" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Question unique identifier",
            "example" : "FM10-1"
          },
          "titleText" : {
            "type" : "string",
            "description" : "Question title text",
            "example" : "Self-Rating"
          },
          "multipleSelect" : {
            "type" : "boolean",
            "description" : "Multiple selections for the question, if this is true the question allows multiple answers",
            "example" : false
          },
          "displayOrder" : {
            "type" : "integer",
            "description" : "Question display order",
            "example" : 1
          },
          "paragraphs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Paragraph"
            }
          },
          "options" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Option"
            }
          }
        }
      },
      "Questionnaire" : {
        "title" : "Questionnaire",
        "type" : "object",
        "properties" : {
          "title" : {
            "type" : "string",
            "description" : "Questionnaire title",
            "example" : "FinaMetrica 10"
          },
          "id" : {
            "type" : "string",
            "description" : "Questionnaire unique identifier",
            "example" : "FM10S30"
          },
          "questions" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Question"
            }
          }
        }
      },
      "QuestionRequest" : {
        "title" : "QuestionRequest",
        "type" : "object",
        "properties" : {
          "answers" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "description" : "Answer unique identifier",
              "example" : "FM10-1-4"
            }
          },
          "id" : {
            "type" : "string",
            "description" : "Question unique identifier",
            "example" : "FM10-1"
          }
        }
      },
      "GenerateIdRequest" : {
        "title" : "GenerateIdRequest",
        "type" : "object",
        "properties" : {
          "externalId" : {
            "type" : "string",
            "description" : "External unique identifier",
            "example" : "myclientId@companydomain.com"
          },
          "sourceId" : {
            "type" : "string",
            "description" : "External unique identifier",
            "example" : "APPLICATION_NAME"
          }
        }
      },
      "QuestionnaireRequest" : {
        "title" : "QuestionnaireRequest",
        "type" : "object",
        "properties" : {
          "clientId" : {
            "type" : "string",
            "description" : "Client unique identifier",
            "example" : "3168dab3-4445-40c5-8295-5a816c6cd5de"
          },
          "questionnaire" : {
            "type" : "string",
            "description" : "Questionnaire unique identifier",
            "example" : "FM10S30"
          },
          "questions" : {
            "type" : "array",
            "example" : [ {
              "id" : "FM10-1",
              "answers" : [ "FM10-1-1" ]
            }, {
              "id" : "FM10-2",
              "answers" : [ "FM10-2-4" ]
            }, {
              "id" : "FM10-3",
              "answers" : [ "FM10-3-1" ]
            }, {
              "id" : "FM10-4",
              "answers" : [ "FM10-4-4" ]
            }, {
              "id" : "FM10-5",
              "answers" : [ "FM10-5-1" ]
            }, {
              "id" : "FM10-6",
              "answers" : [ "FM10-6-5" ]
            }, {
              "id" : "FM10-7",
              "answers" : [ "FM10-7-1" ]
            }, {
              "id" : "FM10-8",
              "answers" : [ "FM10-8-7" ]
            }, {
              "id" : "FM10-9",
              "answers" : [ "FM10-9-1" ]
            }, {
              "id" : "FM10-10",
              "answers" : [ "FM10-10-6" ]
            } ],
            "items" : {
              "$ref" : "#/components/schemas/QuestionRequest"
            }
          }
        }
      },
      "OptionPayload" : {
        "title" : "OptionPayload",
        "type" : "object",
        "properties" : {
          "displayOrder" : {
            "type" : "integer",
            "description" : "Option display order",
            "example" : 1
          },
          "id" : {
            "type" : "string",
            "description" : "Option unique identifier",
            "example" : "1"
          },
          "text" : {
            "type" : "string",
            "description" : "Option text",
            "example" : "Extremely low risk taker"
          },
          "selected" : {
            "type" : "boolean",
            "description" : "True if the option is selected by the client, false otherwise",
            "example" : true
          }
        }
      },
      "QuestionPayload" : {
        "title" : "QuestionPayload",
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Question unique identifier",
            "example" : "FM10-1"
          },
          "title" : {
            "type" : "string",
            "description" : "Question title",
            "example" : "Willingness to take financial risk"
          },
          "text" : {
            "type" : "string",
            "description" : "Question text",
            "example" : "Compared to others, how do you rate your willingness to take financial risks?"
          },
          "displayOrder" : {
            "type" : "integer",
            "description" : "Question display order",
            "example" : 1
          },
          "multipleSelect" : {
            "type" : "boolean",
            "description" : "Multiple selections for the question, if this is true the question allows multiple answers",
            "example" : false
          },
          "options" : {
            "type" : "array",
            "description" : "List of options for question",
            "items" : {
              "$ref" : "#/components/schemas/OptionPayload"
            }
          }
        }
      },
      "QuestionnairePayload" : {
        "title" : "QuestionnairePayload",
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Questionnaire unique identifier",
            "example" : "FM10S30"
          },
          "title" : {
            "type" : "string",
            "description" : "Questionnaire title",
            "example" : "Finametrica 10"
          },
          "questions" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/QuestionPayload"
            }
          }
        }
      },
      "AgreedRPPayload" : {
        "title" : "AgreedRPPayload",
        "type" : "object",
        "properties" : {
          "agreedRPChange" : {
            "type" : "boolean",
            "description" : "True if the risk profile changed, otherwise false",
            "example" : true
          },
          "agreedScore" : {
            "type" : "integer",
            "description" : "Score value",
            "example" : 80
          },
          "changeDate" : {
            "type" : "string",
            "description" : "Score changed date",
            "example" : "2018/09/15"
          },
          "comment" : {
            "type" : "string",
            "description" : "Comment",
            "example" : "This is a comment"
          }
        }
      },
      "RiskFullPayload" : {
        "title" : "RiskFullPayload",
        "type" : "object",
        "properties" : {
          "agreedChangedDate" : {
            "type" : "string",
            "description" : "Score changed date (yyyy-mm-dd)",
            "example" : "2020-05-28T00:00:00.000Z"
          },
          "agreedRiskGroup" : {
            "type" : "string",
            "description" : "Client agreed risk group",
            "example" : "FM12"
          },
          "agreedRiskHistory" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AgreedRPPayload"
            }
          },
          "agreedScore" : {
            "type" : "integer",
            "description" : "Client agreed risk score",
            "example" : 37
          },
          "answers" : {
            "type" : "string",
            "description" : "Client answers in JSON format",
            "example" : "{ \"FM10-1\": \"1\" }"
          },
          "calculatedRiskGroup" : {
            "type" : "string",
            "description" : "Client risk group",
            "example" : "Low"
          },
          "calculatedScore" : {
            "type" : "integer",
            "description" : "Client risk score",
            "example" : 40
          },
          "comments" : {
            "type" : "string",
            "description" : "Client comment",
            "example" : "This is a comment"
          },
          "completed" : {
            "type" : "boolean",
            "description" : "Is risk questionnaire completed",
            "example" : true
          },
          "completedDate" : {
            "type" : "string",
            "description" : "Questionnaire complete date (yyyy-mm-dd)",
            "example" : "2020-05-28T00:00:00.000Z"
          },
          "defaultQuestionnaireType" : {
            "type" : "boolean",
            "description" : "Default questionnaire type",
            "example" : true
          },
          "disappointmentsText" : {
            "type" : "string",
            "description" : "Financial disappointments section",
            "example" : "When things go wrong financially they are as likely..."
          },
          "employmentText" : {
            "type" : "string",
            "description" : "Employment section",
            "example" : "They would be slightly more likely to choose more..."
          },
          "financialDecisions" : {
            "type" : "string",
            "description" : "Risk group description",
            "example" : "Investors in the High risk group are only prepared"
          },
          "financialPastText" : {
            "type" : "string",
            "description" : "Financial past section",
            "example" : "They have taken a small to medium degree of risk..."
          },
          "govBenefitsText" : {
            "type" : "string",
            "description" : "Government benefits and Tax advantages section",
            "example" : "So long as there was only a small chance..."
          },
          "groupOverview" : {
            "type" : "string",
            "description" : "Risk group overview",
            "example" : "The description of the High risk group which follows provides..."
          },
          "inconsistent" : {
            "type" : "boolean",
            "description" : "If the profile is inconsistent",
            "example" : true
          },
          "investmentText" : {
            "type" : "string",
            "description" : "Investment section",
            "example" : "It is somewhat more important that the value of..."
          },
          "person" : {
            "type" : "string",
            "description" : "Client Name",
            "example" : "John Smith"
          },
          "riskTolerancePercentText" : {
            "type" : "string",
            "description" : "Client percent text in para 1",
            "example" : "This is a higher-than-average score, higher than 77% of all scores."
          },
          "showQuestionnairePopup" : {
            "type" : "boolean",
            "description" : "Show questionnaire popup",
            "example" : true
          }
        }
      },
      "ResponseAndScorePayload" : {
        "title" : "ResponseAndScorePayload",
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "Record creation dateTime UTC",
            "example" : "2020-08-04T20:07:36+0000"
          },
          "id" : {
            "type" : "string",
            "description" : "Record unique identifier",
            "example" : "95000cf-9f72-4au7-811b-35dc66dd95a"
          },
          "questionnaire" : {
            "$ref" : "#/components/schemas/QuestionnaireResponsePayload"
          },
          "score" : {
            "$ref" : "#/components/schemas/RiskFullPayload"
          }
        }
      },
      "HistoryPayload" : {
        "title" : "HistoryPayload",
        "type" : "object",
        "properties" : {
          "completedDate" : {
            "type" : "string",
            "description" : "Questionnaire response completed date (yyyy-mm-dd)",
            "example" : "2020-08-04T00:00:00.000Z"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Questionnaire response datetime UTC",
            "example" : "2020-08-04T20:07:36+0000"
          },
          "id" : {
            "type" : "string",
            "description" : "Questionnaire response unique identifier",
            "example" : "95000cf-9f72-4au7-811b-35dc66dd95a"
          },
          "person" : {
            "type" : "string",
            "description" : "User name",
            "example" : "Jhon Wiss"
          },
          "type" : {
            "type" : "string",
            "description" : "Questionnaire type",
            "example" : "FM10S30"
          }
        }
      },
      "AgreedRPRequest" : {
        "title" : "AgreedRPRequest",
        "type" : "object",
        "properties" : {
          "clientId" : {
            "type" : "string",
            "description" : "Client unique identifier",
            "example" : "3168dab3-4445-40c5-8295-5a816c6cd5de"
          },
          "agreedScore" : {
            "type" : "integer",
            "description" : "Agreed score",
            "example" : 70
          },
          "comment" : {
            "type" : "string",
            "description" : "Comment for agreed score",
            "example" : "This is a comment"
          }
        }
      },
      "CalculateSuitabilityScoreRequest" : {
        "title" : "CalculateSuitabilityScoreRequest",
        "type" : "object",
        "properties" : {
          "pjmId" : {
            "type" : "string",
            "description" : "PJM configuration. Optional. If it’s not sent, a default configuration will be used.",
            "example" : "PJM1"
          },
          "timeHorizon" : {
            "type" : "integer",
            "description" : "When do you expect to need to withdraw a significant part (1/3 or more) of the money in your investment portfolio?",
            "example" : 3
          },
          "riskToleranceScore" : {
            "type" : "integer",
            "description" : "Risk tolerance score or the agreed risk tolerance score.",
            "example" : 20
          },
          "knowledge" : {
            "type" : "integer",
            "description" : "Answer to knowledge question in the experience questionnaire.",
            "example" : 3
          },
          "experience" : {
            "type" : "integer",
            "description" : "Answer to experience question in the experience questionnaire.",
            "example" : 3
          },
          "composure" : {
            "type" : "integer",
            "description" : "Answer to composure question in the experience questionnaire.",
            "example" : 3
          }
        }
      },
      "CalculateSuitabilityScoreResponse" : {
        "title" : "CalculateSuitabilityScoreResponse",
        "type" : "object",
        "properties" : {
          "suitabilityScore" : {
            "type" : "integer",
            "description" : "Suitability score result",
            "example" : 20
          },
          "scoreConstraints" : {
            "type" : "string",
            "description" : "Reason for suitability score cap",
            "example" : "Suitability score suggested limit is 68 due to investment knowledge and financial composure."
          }
        }
      },
      "ResponseGuidPayload" : {
        "title" : "ResponseGuidPayload",
        "type" : "object",
        "properties" : {
          "guid" : {
            "type" : "string",
            "description" : "Unique identifier",
            "example" : "95000cf-9f72-4au7-811b-35dc66dd95a"
          }
        }
      },
      "AssetClassPayload" : {
        "title" : "AssetClassPayload",
        "type" : "object",
        "properties" : {
          "label" : {
            "type" : "string",
            "description" : "Asset label",
            "example" : "US Stocks"
          },
          "count" : {
            "type" : "number",
            "description" : "Asset value",
            "example" : 24
          }
        }
      },
      "InvestmentPolicyPayload" : {
        "title" : "InvestmentPolicyPayload",
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Unique identifier",
            "example" : "95000cf-9f72-4au7-811b-35dc66dd95a"
          },
          "title" : {
            "type" : "string",
            "description" : "Investment policy title",
            "example" : "Conservative"
          },
          "text" : {
            "type" : "string",
            "description" : "Investment policy text",
            "example" : "As a conservative investor, your portfolio will be invested in the most risk-averse areas such as cash and fixed-income securities."
          },
          "min" : {
            "type" : "integer",
            "description" : "Minimum score range",
            "example" : 10
          },
          "max" : {
            "type" : "integer",
            "description" : "Maximum score range",
            "example" : 30
          },
          "profileRiskScore" : {
            "type" : "integer",
            "description" : "Portfolio Risk Score value. Value must be in the range 0 - 110.",
            "example" : 30
          },
          "assetClass" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AssetClassPayload"
            }
          },
          "comfortScoreRanges" : {
            "$ref" : "#/components/schemas/ComfortRangesPayloadResponse"
          }
        }
      },
      "InvestmentProfilesPayloadResponse" : {
        "title" : "InvestmentProfilesPayloadResponse",
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Record unique identifier",
            "example" : "95000cf-9f72-4au7-811b-35dc66dd95a"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Record creation dateTime UTC",
            "example" : "2020-08-04T20:07:36+0000"
          },
          "region" : {
            "type" : "string",
            "description" : "Investment profile region",
            "enum" : [ "USA", "CA", "UK", "EUR" ]
          },
          "investmentPolicies" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/InvestmentPolicyPayload"
            }
          }
        }
      },
      "BaseAnswerResponsePayload" : {
        "title" : "BaseAnswerResponsePayload",
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "Record creation dateTime UTC",
            "example" : "2020-08-04T20:07:36+0000"
          },
          "id" : {
            "type" : "string",
            "description" : "Record unique identifier",
            "example" : "95000cf-9f72-4au7-811b-35dc66dd95a"
          },
          "title" : {
            "type" : "string",
            "description" : "Questionnaire title",
            "example" : "Experience"
          },
          "questionnaire" : {
            "$ref" : "#/components/schemas/QuestionnairePayload"
          }
        }
      },
      "TimeHorizonPayload" : {
        "title" : "TimeHorizonPayload",
        "type" : "object",
        "properties" : {
          "less1" : {
            "type" : "integer",
            "description" : "Less than 1 year",
            "example" : 0
          },
          "year1" : {
            "type" : "integer",
            "description" : "1 year",
            "example" : 1
          },
          "year2" : {
            "type" : "integer",
            "description" : "2 years",
            "example" : 2
          },
          "year3" : {
            "type" : "integer",
            "description" : "3 years",
            "example" : 3
          },
          "year4" : {
            "type" : "integer",
            "description" : "4 years",
            "example" : 4
          },
          "year5" : {
            "type" : "integer",
            "description" : "5 years",
            "example" : 5
          },
          "year6" : {
            "type" : "integer",
            "description" : "6 years",
            "example" : 6
          },
          "year7" : {
            "type" : "integer",
            "description" : "7 years",
            "example" : 7
          },
          "year8" : {
            "type" : "integer",
            "description" : "8 years",
            "example" : 8
          },
          "year9" : {
            "type" : "integer",
            "description" : "9 years",
            "example" : 9
          },
          "year10" : {
            "type" : "integer",
            "description" : "10 years",
            "example" : 10
          },
          "year11" : {
            "type" : "integer",
            "description" : "11 years",
            "example" : 11
          },
          "year12" : {
            "type" : "integer",
            "description" : "12 years",
            "example" : 12
          },
          "year13" : {
            "type" : "integer",
            "description" : "13 years",
            "example" : 13
          },
          "year14" : {
            "type" : "integer",
            "description" : "14 years",
            "example" : 14
          },
          "year15" : {
            "type" : "integer",
            "description" : "15 years",
            "example" : 15
          },
          "year16" : {
            "type" : "integer",
            "description" : "16 years",
            "example" : 16
          },
          "year17" : {
            "type" : "integer",
            "description" : "17 years",
            "example" : 17
          },
          "year18" : {
            "type" : "integer",
            "description" : "18 years",
            "example" : 18
          },
          "year19" : {
            "type" : "integer",
            "description" : "19 years",
            "example" : 19
          },
          "year20" : {
            "type" : "integer",
            "description" : "20 years",
            "example" : 20
          },
          "more20" : {
            "type" : "integer",
            "description" : "More than 20 years",
            "example" : 50
          }
        },
        "description" : "Configurable to set the maximum score depending on the selection provided up a maximum of 22 options"
      },
      "KnowledgePayload" : {
        "title" : "KnowledgePayload",
        "type" : "object",
        "properties" : {
          "basicKnowledge" : {
            "type" : "integer",
            "description" : "Don't have or very little knowledge about investing",
            "example" : 50
          },
          "moderateKnowledge" : {
            "type" : "integer",
            "description" : "Have basic to moderate knowledge about investing",
            "example" : 60
          },
          "veryKnowledge" : {
            "type" : "integer",
            "description" : "Very knowledgeable about investing",
            "example" : 90
          },
          "unknown" : {
            "type" : "integer",
            "description" : "Unknown",
            "example" : 100
          }
        },
        "description" : "Configurable to cap the max score based on the 3 possible responses"
      },
      "ExperiencePayload" : {
        "title" : "ExperiencePayload",
        "type" : "object",
        "properties" : {
          "noPrior" : {
            "type" : "integer",
            "description" : "No prior equity investment experience",
            "example" : 68
          },
          "prior" : {
            "type" : "integer",
            "description" : "Prior equity investment experience",
            "example" : 90
          },
          "unknown" : {
            "type" : "integer",
            "description" : "Unknown",
            "example" : 100
          }
        },
        "description" : "Configurable to cap the max score based on the 2 possible responses"
      },
      "ComposurePayload" : {
        "title" : "ComposurePayload",
        "type" : "object",
        "properties" : {
          "never" : {
            "type" : "integer",
            "description" : "Not experienced a financial downturn",
            "example" : 50
          },
          "noImpact" : {
            "type" : "integer",
            "description" : "No impact, Didn't make any changes to the investment plan.",
            "example" : 60
          },
          "boughtShares" : {
            "type" : "integer",
            "description" : "Saw an opportunity and bought more shares",
            "example" : 90
          },
          "soldShares" : {
            "type" : "integer",
            "description" : "Was nervous and sold shares",
            "example" : 90
          },
          "unknown" : {
            "type" : "integer",
            "description" : "Unknown",
            "example" : 100
          }
        },
        "description" : "Configurable to cap the max score based on the 4 possible responses"
      },
      "PjmRequestPayload" : {
        "title" : "PjmRequestPayload",
        "type" : "object",
        "properties" : {
          "timeHorizon" : {
            "$ref" : "#/components/schemas/TimeHorizonPayload"
          },
          "knowledge" : {
            "$ref" : "#/components/schemas/KnowledgePayload"
          },
          "experience" : {
            "$ref" : "#/components/schemas/ExperiencePayload"
          },
          "composure" : {
            "$ref" : "#/components/schemas/ComposurePayload"
          }
        }
      },
      "PjmResponsePayload" : {
        "title" : "PjmResponsePayload",
        "type" : "object",
        "properties" : {
          "pjmId" : {
            "type" : "string",
            "description" : "Record unique identifier",
            "example" : "95000cf-9f72-4au7-811b-35dc66dd95a"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Record creation dateTime UTC",
            "example" : "2020-08-04T20:07:36+0000"
          },
          "timeHorizon" : {
            "$ref" : "#/components/schemas/TimeHorizonPayload"
          },
          "knowledge" : {
            "$ref" : "#/components/schemas/KnowledgePayload"
          },
          "experience" : {
            "$ref" : "#/components/schemas/ExperiencePayload"
          },
          "composure" : {
            "$ref" : "#/components/schemas/ComposurePayload"
          }
        }
      },
      "AssetClassPayloadRequest" : {
        "title" : "AssetClassPayloadRequest",
        "type" : "object",
        "properties" : {
          "localMarket" : {
            "type" : "number",
            "description" : "Local Markets (US Equity, CA Equity, UK Equity, DEU Equity)",
            "example" : 20.5
          },
          "localSecondaryMarket" : {
            "type" : "number",
            "description" : "Local Markets (US Equity, DEU Equity ex UK)",
            "example" : 20.5
          },
          "developedMarkets" : {
            "type" : "number",
[...]
