openapi: 3.2.0
info:
  title: Research equity reports - quant and enhanced quant API
  description: The Research API provides on-demand access to Morningstar’s repository of equity and fund research.
  version: 1.0.0
servers:
- url: https://www.us-api.morningstar.com/research
security:
- Bearer: []
tags:
- name: equity reports - quant and enhanced quant
paths:
  /equity/v1/reports/quant/{companyIdentifier}:
    get:
      tags:
      - equity reports - quant and enhanced quant
      summary: Get a Quantitative Report
      description: 'Get a Quantitative Report for the company specified in the `companyIdentifier` parameter. Quantitative Reports provide a detailed assessment of a company based on a quantitative analysis using a variety of company financial data and other data inputs.


        You can identify a company using a performance ID (for example,`0P00012BBI`) or `exchange:ticker` value, (for example, `XNAS:GOOG`).


        To override the default value in the Accept-Language HTTP header, use the `locale` parameter.


        In the `pageSize` parameter, you can specify the page size for the returned PDF. Page size options are `Letter` or `A4`.


        A URL returned in the response is used to access the document file.'
      operationId: QuantReport
      parameters:
      - name: companyIdentifier
        in: path
        description: Unique identifier of a company. Valid values are performance ID or `exchange:ticker` value.
        required: true
        schema:
          type: string
          default: 0P000003MH
      - name: pageSize
        in: query
        description: Page size of output PDF
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: Letter
          enum:
          - Letter
          - A4
      - name: locale
        in: query
        description: Language and locale, for example, en-US
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: en-US
          enum:
          - en-US
          - en-GB
          - en-AU
          - en-NZ
          - fr-FR
          - de-DE
          - it-IT
          - es-ES
          - fi-Fi
          - nb-NO
          - nl-NL
          - sv-SE
      responses:
        '200':
          description: Success
          content: {}
  /equity/v1/reports/enhanced-quant/{companyIdentifier}:
    get:
      tags:
      - equity reports - quant and enhanced quant
      summary: Get an Enhanced Quantative Report
      description: 'Get an Enhanced Quantitative Report for the company specified in the `companyIdentifier` parameter. Enhanced Quantitative Reports provide a detailed assessment of a company based on a quantitative analysis using a variety of company financial data and other data inputs, as well as additional commentary on the company.


        You can identify a company using a performance ID (for example,`0P00012BBI`) or `exchange:ticker` value, (for example, `XNAS:GOOG`) .


        To override the default value in the Accept-Language HTTP header, use the `locale` parameter.


        In the `pageSize` parameter, you can specify the page size for the returned PDF. Page size options are `Letter` or `A4`.


        A URL returned in the response is used to access the document file.'
      operationId: EnhancedQuantReport
      parameters:
      - name: companyIdentifier
        in: path
        description: Unique identifier of a company. Valid values are performance ID or `exchange:ticker` value.
        required: true
        schema:
          type: string
          default: 0P000003MH
      - name: pageSize
        in: query
        description: Page size of output PDF
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: Letter
          enum:
          - Letter
          - A4
      - name: locale
        in: query
        description: Language and locale, for example, en-US
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: en-US
          enum:
          - en-US
          - en-GB
          - en-AU
          - en-NZ
          - fr-FR
          - de-DE
          - it-IT
          - es-ES
          - fi-Fi
          - nb-NO
          - nl-NL
          - sv-SE
      responses:
        '200':
          description: Success
          content: {}
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
