openapi: 3.2.0
info:
  title: Retirement Plan (US) Plan Names API
  version: 1.0.0
  description: 'Use the Retirement Plan API to:


    - Get details, including plan lineups, for over 600,000 United States employer retirement plans based on form 404a-5 and form 5500 filings.'
servers:
- url: https://www.us-api.morningstar.com/ec
  description: PROD
security:
- bearerAuth: []
tags:
- name: PlanNames
paths:
  /v1/retirementplan/PlanNames:
    get:
      tags:
      - PlanNames
      summary: Get plan names
      description: 'Get a list of plan names. Enter a search string in the `q` parameter. The response will return a list of plan names that contain the search string.


        You can filter the results returned in the response by specifying an advisor ID and/or the plan list source to query. The following `source` values are available:


        - `RP` - Retirement plans from Morningstar''s plan list

        - `BM`- Benchmark

        - `DB` - Database for saved plans


        You can also specify a maximum number of results to return via pageSize.


        **Note:** The following fields are returned in the response but are not currently used. These are placeholders for future development.


        - `planId`

        - `externalPlanId`

        - `lastModifiedDate`'
      parameters:
      - name: q
        in: query
        description: Search string to query
        schema:
          type:
          - string
          - 'null'
          example: pruden
      - name: advisorid
        in: query
        description: Unique identifier of an advisor
        schema:
          type:
          - string
          - 'null'
          description: Advisor Id
          example: '11133123'
      - name: source
        in: query
        description: The source to request plan from
        schema:
          type:
          - string
          - 'null'
          enum:
          - RP
          - BM
          - DB
          default: RP
          example: RP
      - name: pageSize
        in: query
        description: Maximum number of plan names to return
        schema:
          type:
          - integer
          - 'null'
          format: int32
          example: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlanNamesModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlanNamesModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlanNamesModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlanNamesModel'
        '401':
          description: Unauthorized
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      operationId: getV1RetirementplanPlanNames
      x-operation-id-source: derived
components:
  schemas:
    PlanNamesModel:
      type: object
      properties:
        planId:
          type: integer
          description: Id unique to the specific plan
          format: int64
        planName:
          type:
          - string
          - 'null'
          description: Full name of retirement plan
        externalPlanId:
          type:
          - string
          - 'null'
          description: ExternalPlanId
        lastModifiedDate:
          type:
          - string
          - 'null'
          description: LastModifiedDate
      additionalProperties: false
      description: PlanNamesModel
    ErrorDetails:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
