openapi: 3.0.1
info:
  version: 1.0.0
  title: Authorization Tokens Accounts Morningstar Agent API
  description: 'Use the `oauth` endpoint to generate the secure, time-limited JSON Web Tokens (JWTs) used to authorize access to APIs and components.</br></br>

    To request a token, click Authorize and enter the following credentials:


    * Username - Your Client ID.

    * Password - Your Client Secret.'
servers:
- url: https://www.us-api.morningstar.com/token
  description: PROD US
- url: https://www.emea-api.morningstar.com/token
  description: PROD EMEA
- url: https://www.apac-api.morningstar.com/token
  description: PROD APAC
security:
- BasicAuth: []
tags:
- name: Morningstar Agent
paths:
  /morningstar-agent/v1/status:
    get:
      tags:
      - Morningstar Agent
      summary: Status
      operationId: status_morningstar_agent_v1_status_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - BearerAuth: []
  /morningstar-agent/v1/ready:
    get:
      tags:
      - Morningstar Agent
      summary: Ready
      operationId: ready_morningstar_agent_v1_ready_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
                title: Response Ready Morningstar Agent V1 Ready Get
      security:
      - BearerAuth: []
  /morningstar-agent/v1/run:
    post:
      tags:
      - Morningstar Agent
      summary: Run
      description: Run the agent and return the final response (blocking).
      operationId: run_morningstar_agent_v1_run_post
      parameters:
      - name: x-session-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: UIM login session. Passed through to downstream requests, not created or managed by the agent.
          title: X-Session-Id
        description: UIM login session. Passed through to downstream requests, not created or managed by the agent.
      - name: x-context-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: A thread of individual interactions representing a set of questions/instructions to the agent. Omit to start a new context.
          title: X-Context-Id
        description: A thread of individual interactions representing a set of questions/instructions to the agent. Omit to start a new context.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
  /morningstar-agent/v1/run/stream:
    post:
      tags:
      - Morningstar Agent
      summary: Run Stream
      description: Run the agent and stream tokens back as SSE.
      operationId: run_stream_morningstar_agent_v1_run_stream_post
      parameters:
      - name: x-session-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: UIM login session. Passed through to downstream requests, not created or managed by the agent.
          title: X-Session-Id
        description: UIM login session. Passed through to downstream requests, not created or managed by the agent.
      - name: x-context-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: A thread of individual interactions representing a set of questions/instructions to the agent. Omit to start a new context.
          title: X-Context-Id
        description: A thread of individual interactions representing a set of questions/instructions to the agent. Omit to start a new context.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - BearerAuth: []
components:
  schemas:
    RunResponse:
      properties:
        response:
          type: string
          title: Response
        token_usage:
          anyOf:
          - $ref: '#/components/schemas/TokenUsage'
          - type: 'null'
      type: object
      required:
      - response
      title: RunResponse
    RunRequest:
      properties:
        message:
          type: string
          title: Message
        thinking_mode:
          $ref: '#/components/schemas/ThinkingMode'
          default: standard
      type: object
      required:
      - message
      title: RunRequest
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    TokenUsage:
      properties:
        input_tokens:
          type: integer
          title: Input Tokens
          default: 0
        output_tokens:
          type: integer
          title: Output Tokens
          default: 0
        total_tokens:
          type: integer
          title: Total Tokens
          default: 0
        tools_called:
          items:
            type: string
          type: array
          title: Tools Called
          default: []
      type: object
      title: TokenUsage
    ThinkingMode:
      type: string
      enum:
      - fast
      - standard
      - deep
      title: ThinkingMode
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
