openapi: 3.2.0
info:
  title: Household Members (US) Office Institution Client API
  version: 1.0.0
  description: 'Use the Household Members API to retrieve household member lists and member profiles, and to update member and client profiles for Morningstar Office.


    With this API you can:

    * Get member list for a specific household.

    * Get a specific member''s profile.

    * Update household client''s and member''s profiles.'
servers:
- url: https://www.us-api.morningstar.com/office/v1
  description: PROD
- url: https://www.us-uat-api.morningstar.com/office/v1
  description: UAT
security:
- bearerAuth: []
tags:
- name: Office Institution Client
paths:
  /households/{householdId}/institution:
    get:
      tags:
      - Office Institution Client
      summary: Get Institution Client profile
      description: Get a specific institution client profile.
      operationId: getInstitution
      parameters:
      - in: header
        name: x-api-key
        description: Unique API key of a client
        required: true
        schema:
          type: string
      - name: householdId
        in: path
        description: Unique identifier of a household
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institution'
        '400':
          description: Invalid status value
      security:
      - bearerAuth: []
    post:
      tags:
      - Office Institution Client
      summary: Update institution client profile
      description: 'Updates an Institution Client profile.


        `institutionType` mapping:


        `1` = Sole Proprietorship

        `2` = Trust

        `3` = Charitable Trust

        `4` = Rovocable Trust

        `5` = Corporation

        `6` = Investment Club

        `7` = Association

        `8` = Non-Profit Organization

        `9` = Partnership

        `10` = Limited Partnership

        `11` = Family Limited Partnership

        `12` = LLP

        `13` = LLC

        `14` = Estate


        `isUSCorporation` = `1` or `0`


        `taxIdType` = `ssn` or `tin`


        `role` mapping:


        `1` = Authorized Signer

        `2` = Other

        `3` = Trustee

        `4` = Successor Trustee

        `5` = Custodian


        `institutionName`, `firstName`, and `lastName` do not support these characters: ~!#^`[]{}|\;"<>?/'
      operationId: updateInstitution
      requestBody:
        description: The Institution to update.
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/updateInstitution'
      parameters:
      - in: header
        name: x-api-key
        description: Unique API key of a client
        required: true
        schema:
          type: string
      - name: householdId
        in: path
        description: Unique identifier of a household
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institution'
        '400':
          description: Invalid status value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionPost400'
      security:
      - bearerAuth: []
components:
  schemas:
    Institution:
      type: object
      required:
      - householdId
      properties:
        profile:
          type: object
          required:
          - householdId
          properties:
            institutionName:
              type: string
              format: string
              maxLength: 60
              example: Sample
            institutionType:
              type: string
              format: string
              example: 2
            isUSCorporation:
              type: string
              format: string
              example: 1
            institutionId:
              type: string
              format: string
              example: '********1234'
            incorporationState:
              type: string
              format: string
              maxLength: 50
              example: CA
            dateOfIncorporation:
              type: string
              format: date
              example: '1989-12-31'
            taxIdType:
              type: string
              format: string
              maxLength: 3
              example: ssn
            address1:
              type: string
              format: string
              maxLength: 50
              example: 22 W. Washington St.
            address2:
              type: string
              format: string
              maxLength: 50
              example: FL 7
            address3:
              type: string
              format: string
              maxLength: 50
              example: Rm. 700
            city:
              type: string
              format: string
              maxLength: 30
              example: Chicago
            state:
              type: string
              format: string
              maxLength: 20
              example: IL
            zipCode:
              type: string
              format: string
              maxLength: 10
              example: 60602
            phone:
              type: string
              format: string
              maxLength: 20
              example: 123321
            fax:
              type: string
              format: string
              maxLength: 20
              example: 555-555555
        primaryContact:
          type: object
          required:
          - firstName
          - lastName
          properties:
            firstName:
              type: string
              format: string
              maxLength: 50
              example: Sample
            lastName:
              type: string
              format: string
              maxLength: 50
              example: Client
            title:
              type: string
              format: string
              maxLength: 50
              example: Sample title
            role:
              type: string
              format: string
              example: 1
            dateOfBirth:
              type: string
              format: date
              example: '1991-12-31'
              description: YYYY-MM-DD.
            socialSecurityNumber:
              type: string
              format: string
              example: '********1234'
            email:
              type: string
              format: string
              maxLength: 60
            workPhone:
              type: string
              format: string
              maxLength: 20
              example: 555-44444
            cellPhone:
              type: string
              format: string
              maxLength: 20
              example: 555-555555
    InstitutionPost400:
      type: object
      properties:
        message:
          type: string
          format: string
          example: Missing firstName property.
        id:
          type: string
          format: uuid
    updateInstitution:
      type: object
      required:
      - householdId
      properties:
        profile:
          type: object
          required:
          - institutionName
          - institutionType
          - institutionId
          - isUSCorporation
          - taxIdType
          properties:
            institutionName:
              type: string
              format: string
              maxLength: 60
              example: Sample
              description: Is required.
            institutionType:
              type: string
              format: string
              example: 2
              description: Is required.
            isUSCorporation:
              type: string
              format: string
              example: 1
              description: Is required.
            institutionId:
              type: string
              format: string
              example: 111-11-1234
              description: Can have 111-22-3333 or 123456789 format.
            dateOfIncorporation:
              type: string
              format: date
              example: '1989-12-31'
              description: YYYY-MM-DD, if not included, will default to empty.
            incorporationState:
              type: string
              format: string
              maxLength: 50
              example: CA
              description: If not included, will default to empty.
            taxIdType:
              type: string
              format: string
              maxLength: 3
              example: ssn
              description: is required.
            address1:
              type: string
              format: string
              maxLength: 50
              example: 22 W. Washington St.
              description: If not included, will default to empty.
            address2:
              type: string
              format: string
              maxLength: 50
              example: FL 7
              description: If not included, will default to empty.
            address3:
              type: string
              format: string
              maxLength: 50
              example: Rm. 700
              description: If not included, will default to empty.
            city:
              type: string
              format: string
              maxLength: 30
              example: Chicago
              description: If not included, will default to empty.
            state:
              type: string
              format: string
              maxLength: 20
              example: IL
              description: If not included, will default to empty.
            zipCode:
              type: string
              format: string
              maxLength: 10
              example: 60602
              description: If not included, will default to empty.
            phone:
              type: string
              format: string
              maxLength: 20
              example: 123321
              description: If not included, will default to empty.
            fax:
              type: string
              format: string
              maxLength: 20
              example: 555-555555
              description: If not included, will default to empty.
        primaryContact:
          type: object
          required:
          - firstName
          - lastName
          - role
          properties:
            firstName:
              type: string
              format: string
              maxLength: 50
              example: Sample
            lastName:
              type: string
              format: string
              maxLength: 50
              example: Client
            title:
              type: string
              format: string
              maxLength: 50
              example: Sample title
              description: If not included, will default to empty.
            role:
              type: string
              format: string
              example: 1
              description: Is required.
            dateOfBirth:
              type: string
              format: date
              example: '1991-12-31'
              description: YYYY-MM-DD, if not included, will default to empty.
            socialSecurityNumber:
              type: string
              format: string
              example: 111-11-1234
              description: If not included, will default to empty.
            email:
              type: string
              format: string
              maxLength: 60
              description: If not included, will default to empty.
            workPhone:
              type: string
              format: string
              maxLength: 20
              example: 555-44444
              description: If not included, will default to empty.
            cellPhone:
              type: string
              format: string
              maxLength: 20
              example: 555-555555
              description: If not included, will default to empty.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
