openapi: 3.2.0
info:
  title: Retirement Plan (US) Benchmark Fees API
  version: 1.0.0
  description: 'Use the Retirement Plan API to:


    - Get details, including plan lineups, for over 600,000 United States employer retirement plans based on form 404a-5 and form 5500 filings.'
servers:
- url: https://www.us-api.morningstar.com/ec
  description: PROD
security:
- bearerAuth: []
tags:
- name: BenchmarkFees
paths:
  /v1/retirementplan/BenchmarkFees:
    get:
      tags:
      - BenchmarkFees
      summary: Get retirement plan benchmark fees
      description: Get a list of standard retirement plan benchmark fees. The response will return a list of all benchmark fee models the user is entitled for. No parameters are required to be passed for this API.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BenchmarkFeeModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BenchmarkFeeModel'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BenchmarkFeeModel'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BenchmarkFeeModel'
        '401':
          description: Unauthorized
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      operationId: getV1RetirementplanBenchmarkFees
      x-operation-id-source: derived
components:
  schemas:
    BenchmarkFeeModel:
      type: object
      properties:
        benchmarkName:
          type:
          - string
          - 'null'
          description: Name of the benchmark, including applicable plan size dollar amount range
        benchmarkFeeRatio:
          type: number
          description: Typical plan-level fee for a retirement plan of this size
          format: double
        benchmarkFeeandExpenseAvg:
          type: number
          description: Average investment expenses for a retirement plan of this size
          format: double
      additionalProperties: false
      description: Benchmark Fee Model
    ErrorDetails:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
