{
  "openapi": "3.0.1",
  "info": {
    "title": "Risk Models",
    "version": "1.0.0",
    "description": "Use the API to:\n* Get risk model metadata including unique IDs and the factors that have been defined for each model.\n* Get information about how a particular risk factor has influenced asset returns in the market during a given period of time. \n\n**Related:** [Risk Analytics](/apis/investment-analysis/risk-analytics)\n"
  },
  "tags": [
    {
      "name": "models"
    }
  ],
  "servers": [
    {
      "url": "https://www.us-api.morningstar.com/risk-model/v1",
      "description": "PROD"
    },
    {
      "url": "https://www.us-uat-api.morningstar.com/risk-model/v1",
      "description": "UAT"
    },
    {
      "url": "https://www.emea-api.morningstar.com/risk-model/v1",
      "description": "PROD"
    },
    {
      "url": "https://www.emea-uat-api.morningstar.com/risk-model/v1",
      "description": "UAT"
    },
    {
      "url": "https://www.apac-api.morningstar.com/risk-model/v1",
      "description": "PROD"
    },
    {
      "url": "https://www.apac-uat-api.morningstar.com/risk-model/v1",
      "description": "UAT"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/models": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Authentication required."
          },
          "403": {
            "description": "You do not have access permission.."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "summary": "Get all risk models",
        "description": "Get a list of all risk models. The response will include the unique ID for each risk model.  You use the ID with other endpoints to return data based on that model. Only models that your account is enabled for will be returned.",
        "operationId": "get_model_list",
        "parameters": [
          {
            "in": "query",
            "description": "Return recently created only",
            "name": "is-new",
            "schema": {
              "type": "boolean",
              "default": true,
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "in": "query",
            "description": "Unique Morningstar identifier for securities. Multiple values must be comma-separated.",
            "name": "investment-ids",
            "schema": {
              "type": "string",
              "default": "0P0000Y16I,0P0000058R"
            }
          },
          {
            "in": "query",
            "description": "Internal use only",
            "name": "edition",
            "schema": {
              "type": "string",
              "default": "base"
            }
          }
        ],
        "tags": [
          "models"
        ]
      }
    },
    "/models/{risk_model_id}/factors": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Authentication required."
          },
          "403": {
            "description": "You do not have access permission.."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "summary": "Get risk model factors",
        "description": "Get a full list of the factors used in the risk model specified. In the response, the factors will be organized according to groupings defined for equity models and multi-asset risk models.",
        "operationId": "get_factors",
        "parameters": [
          {
            "required": true,
            "in": "path",
            "description": "Unique identifer of a risk model",
            "name": "risk_model_id",
            "schema": {
              "type": "string",
              "default": "morn-glb-eq-usd"
            }
          }
        ],
        "tags": [
          "models"
        ]
      }
    },
    "/models/{risk_model_id}/exposures": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Authentication required."
          },
          "403": {
            "description": "You do not have access permission.."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "summary": "Get risk exposures for investment(s)",
        "description": "Based on a specific risk model, get risk exposures for the investment(s) specified in the `investment-ids` parameter. You can request data for a defined time period and frequency (monthy/quarterly). If a time period / frequency is not defined, the most recent data will be returned.",
        "operationId": "get_exposures",
        "parameters": [
          {
            "required": true,
            "in": "path",
            "description": "Unique identifier of a risk model",
            "name": "risk_model_id",
            "schema": {
              "type": "string",
              "default": "morn-glb-eq-usd"
            }
          },
          {
            "required": true,
            "in": "query",
            "description": "Unique Morningstar identifier for securities. Multiple values must be comma-separated.",
            "name": "investment-ids",
            "schema": {
              "type": "string",
              "default": "0P0000058R,0P000001RB,93313322"
            }
          },
          {
            "in": "query",
            "description": "Start date of time period. If start date and end date are not defined, most recent data will be returned.",
            "name": "start",
            "schema": {
              "type": "string",
              "default": "2012-06-01T00:00:00.000Z"
            }
          },
          {
            "in": "query",
            "description": "End date of time period. If start date and end date are not defined, most recent data will be returned.",
            "name": "end",
            "schema": {
              "type": "string",
              "default": "2012-07-01T00:00:00.000Z"
            }
          },
          {
            "in": "query",
            "description": "Frequency the response will be based on",
            "name": "frequency",
            "schema": {
              "type": "string",
              "enum": [
                "day_end",
                "month_start",
                "month_end",
                "quarter_start",
                "quarter_end"
              ],
              "default": "month_end"
            }
          }
        ],
        "tags": [
          "models"
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Authentication required."
          },
          "403": {
            "description": "You do not have access permission.."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "summary": "Calculate active exposure for investment",
        "description": "Based on a specific risk model and investment or portfolio, calculate the effect of active exposure on the most recent data.",
        "operationId": "post_exposures",
        "parameters": [
          {
            "required": true,
            "in": "path",
            "description": "Unique identifier of a risk model",
            "name": "risk_model_id",
            "schema": {
              "type": "string",
              "default": "morn-glb-eq-usd"
            }
          },
          {
            "in": "query",
            "description": "Start date of time period. If start date and end date are not defined, most recent data will be returned.",
            "name": "start",
            "schema": {
              "type": "string",
              "default": "2012-06-20T00:00:00.000Z"
            }
          },
          {
            "in": "query",
            "description": "End date of time period. If start date and end date are not defined, most recent data will be returned.",
            "name": "end",
            "schema": {
              "type": "string",
              "default": "2012-07-20T00:00:00.000Z"
            }
          },
          {
            "in": "query",
            "description": "Frequency the response will be based on",
            "name": "frequency",
            "schema": {
              "type": "string",
              "enum": [
                "day_end",
                "month_end",
                "quarter_end"
              ],
              "default": "month_end"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Funds"
              }
            }
          },
          "required": true
        },
        "tags": [
          "models"
        ]
      }
    },
    "/models/{risk_model_id}/{fund_id}/holding-exposures": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Authentication required."
          },
          "403": {
            "description": "You do not have access permission.."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "summary": "Get risk exposure for the holdings of fund(s)",
        "description": "Based on a specific risk model, get risk exposure for each holding of the fund(s) specified in the `fund_id` parameter. In the `date` parameter, enter a date when the fund reported its portfolio holdings. If a date is not defined, the most recent data will be returned.",
        "operationId": "get_fund_exposures",
        "parameters": [
          {
            "required": true,
            "in": "path",
            "description": "Unique identifier of a risk model",
            "name": "risk_model_id",
            "schema": {
              "type": "string",
              "default": "morn-glb-eq-usd"
            }
          },
          {
            "required": true,
            "in": "path",
            "description": "Unique identifier for a fund. Multiple values must be comma-separated.",
            "name": "fund_id",
            "schema": {
              "type": "string",
              "default": "0P00002PNZ"
            }
          },
          {
            "in": "query",
            "description": "Date on which to perform the portfolio exposure. If it not defined, most recent data will be returned.",
            "name": "date",
            "schema": {
              "type": "string",
              "default": "2018-01-31T00:00:00.000Z"
            }
          }
        ],
        "tags": [
          "models"
        ]
      }
    },
    "/models/{risk_model_id}/premia": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Authentication required."
          },
          "403": {
            "description": "You do not have access permission.."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "summary": "Get risk premium for a risk model",
        "description": "Get risk premium for the risk model specified. The default frequency is monthly. You can request data for a defined time period. If a time period is not defined, the most recent data will be returned.",
        "operationId": "get_premias",
        "parameters": [
          {
            "required": true,
            "in": "path",
            "description": "Unique identifier of a risk model",
            "name": "risk_model_id",
            "schema": {
              "type": "string",
              "default": "morn-glb-eq-usd"
            }
          },
          {
            "required": false,
            "in": "query",
            "description": "Calculate cumulative premia.",
            "name": "cumulative",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "default": "false"
            }
          },
          {
            "in": "query",
            "description": "Frequency the response will be based on",
            "name": "frequency",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "monthly",
                "quarterly",
                "annually"
              ],
              "default": "monthly"
            }
          },
          {
            "in": "query",
            "description": "End date of time period. If start date and end date are not defined, most recent data will be returned.",
            "name": "end",
            "schema": {
              "type": "string",
              "default": "2012-07-31T00:00:00.000Z"
            }
          },
          {
            "in": "query",
            "description": "Start date of time period. If start date and end date are not defined, most recent data will be returned.",
            "name": "start",
            "schema": {
              "type": "string",
              "default": "2012-06-01T00:00:00.000Z"
            }
          }
        ],
        "tags": [
          "models"
        ]
      }
    }
  },
  "components": {
    "responses": {
      "ParseError": {
        "description": "When a mask cannot be parsed"
      },
      "MaskError": {
        "description": "When any error occurs on mask"
      },
      "RiskModelException": {
        "description": "Do not remove this function"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Funds": {
        "properties": {
          "portfolios": {
            "type": "array",
            "example": [
              {
                "id": "test1",
                "holdings": [
                  {
                    "id": "0P0000058R",
                    "type": "PerformanceId",
                    "weight": 60
                  },
                  {
                    "id": "0P000001RB",
                    "type": "PerformanceId",
                    "weight": 40
                  }
                ]
              },
              {
                "id": "test2",
                "holdings": [
                  {
                    "id": "0P0000058R",
                    "type": "PerformanceId",
                    "weight": 50
                  },
                  {
                    "id": "FOUSA00CFZ",
                    "type": "SecurityId",
                    "weight": 50
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Holdings"
            }
          }
        },
        "type": "object"
      },
      "Holdings": {
        "required": [
          "id"
        ],
        "properties": {
          "holdings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/holding"
            }
          },
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "holding": {
        "properties": {
          "identifier": {
            "type": "string"
          },
          "weight": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "CalculateByHoldings": {
        "required": [
          "benchmark",
          "endDate",
          "investment",
          "startDate"
        ],
        "properties": {
          "startDate": {
            "type": "string",
            "description": "The start date of the time period to perform the attribution analysis.",
            "example": "2018-01-01T00:00:00.000Z"
          },
          "endDate": {
            "type": "string",
            "description": "The end date of the time period to perform the attribution analysis.",
            "example": "2018-06-30T00:00:00.000Z"
          },
          "currency": {
            "type": "string",
            "description": "Currency of holdings",
            "example": "USD"
          },
          "investment": {
            "description": "",
            "example": {
              "id": "model-portfolio1",
              "type": "portfolio"
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/idType"
              }
            ]
          },
          "benchmark": {
            "description": "",
            "example": {
              "id": "model-portfolio2",
              "type": "portfolio"
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/idType"
              }
            ]
          },
          "portfolios": {
            "type": "array",
            "example": [
              {
                "id": "model-portfolio1",
                "holdings": [
                  {
                    "identifier": "0P0000058R",
                    "identifierType": "PerformanceId",
                    "weight": 60
                  },
                  {
                    "identifier": "0P000001RB",
                    "identifierType": "PerformanceId",
                    "weight": 40
                  }
                ]
              },
              {
                "id": "model-portfolio2",
                "holdings": [
                  {
                    "identifier": "0P0000058R",
                    "identifierType": "PerformanceId",
                    "weight": 50
                  },
                  {
                    "identifier": "0P000001RB",
                    "identifierType": "PerformanceId",
                    "weight": 50
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Holdings"
            }
          }
        },
        "type": "object"
      },
      "idType": {
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "CalculateByFactors": {
        "required": [
          "benchmark",
          "endDate",
          "investment",
          "riskModelId",
          "startDate"
        ],
        "properties": {
          "riskModelId": {
            "type": "string",
            "example": "morn-glb-eq-usd"
          },
          "startDate": {
            "type": "string",
            "description": "The start date of the time period to perform the attribution analysis.",
            "example": "2018-01-01T00:00:00.000Z"
          },
          "endDate": {
            "type": "string",
            "description": "The end date of the time period to perform the attribution analysis.",
            "example": "2018-06-30T00:00:00.000Z"
          },
          "assetClass": {
            "type": "string",
            "description": "Options of Risk Assets: allHoldings, allEquityHoldings, equityHoldingsWithRiskExposure.",
            "example": "allHoldings"
          },
          "investment": {
            "description": "",
            "example": {
              "id": "model-portfolio1",
              "type": "portfolio"
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/idType"
              }
            ]
          },
          "benchmark": {
            "description": "",
            "example": {
              "id": "model-portfolio2",
              "type": "portfolio"
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/idType"
              }
            ]
          },
          "portfolios": {
            "type": "array",
            "example": [
              {
                "id": "model-portfolio1",
                "holdings": [
                  {
                    "identifier": "0P0000058R",
                    "identifierType": "PerformanceId",
                    "weight": 60
                  },
                  {
                    "identifier": "0P000001RB",
                    "identifierType": "PerformanceId",
                    "weight": 40
                  }
                ]
              },
              {
                "id": "model-portfolio2",
                "holdings": [
                  {
                    "identifier": "0P0000058R",
                    "identifierType": "PerformanceId",
                    "weight": 50
                  },
                  {
                    "identifier": "0P000001RB",
                    "identifierType": "PerformanceId",
                    "weight": 50
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Holdings"
            }
          }
        },
        "type": "object"
      },
      "Attribution": {
        "required": [
          "endDate",
          "riskModelId",
          "startDate"
        ],
        "properties": {
          "riskModelId": {
            "type": "string",
            "example": "morn-glb-eq-usd"
          },
          "startDate": {
            "type": "string",
            "description": "The start date of the time period to perform the attribution analysis.",
            "example": "2017-01-01T00:00:00.000Z"
          },
          "endDate": {
            "type": "string",
            "description": "The end date of the time period to perform the attribution analysis.",
            "example": "2017-06-30T00:00:00.000Z"
          },
          "investment": {
            "example": {
              "id": "0P000001RB",
              "type": ""
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/idType"
              }
            ]
          },
          "benchmark": {
            "example": {
              "id": "0P0000058R",
              "type": ""
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/idType"
              }
            ]
          },
          "frequency": {
            "type": "string",
            "example": "single",
            "enum": [
              "single",
              "monthly",
              "quarterly",
              "annually"
            ]
          },
          "annualized": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "Metrics": {
        "required": [
          "riskModelId",
          "scenarios"
        ],
        "properties": {
          "riskModelId": {
            "type": "string",
            "example": "morn-glb-eq-usd"
          },
          "investments": {
            "type": "array",
            "description": "Investment id refers to performance ids, identifying the funds to be analysis on, separated by \",\" when passing multiple.",
            "example": [
              {
                "id": "0P0000058R",
                "type": "PerformanceId"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/investment"
            }
          },
          "scenarios": {
            "type": "array",
            "description": "Scenario id, internal pre-defined scenario identities(scenario001 ~ scenario009), separated by \",\" when passing multiple scenarios.",
            "example": [
              "scenario001",
              "scenario002"
            ],
            "items": {
              "type": "string"
            }
          },
          "benchmark": {
            "description": "The benchmark's securityId for the analysing fund. Which will be required for calculating the alpha and tracking error.",
            "example": {
              "id": "NB"
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/benchmark"
              }
            ]
          },
          "portfolios": {
            "type": "array",
            "example": [
              {
                "id": "abc",
                "holdings": [
                  {
                    "identifier": "0P0000058R",
                    "weight": 60
                  },
                  {
                    "identifier": "0P000001RB",
                    "weight": 40
                  }
                ]
              },
              {
                "id": "123",
                "holdings": [
                  {
                    "identifier": "0P0000058R",
                    "weight": 50
                  },
                  {
                    "identifier": "0P000001RB",
                    "weight": 50
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Holdings"
            }
          }
        },
        "type": "object"
      },
      "investment": {
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "benchmark": {
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ScenarioAnalysisModel": {
        "required": [
          "riskModelId",
          "scenarios"
        ],
        "properties": {
          "riskModelId": {
            "type": "string",
            "example": "morn-glb-eq-usd"
          },
          "investments": {
            "type": "array",
            "description": "Investment id refers to performance ids, identifying the funds to be analysis on, separated by \",\" when passing multiple.",
            "example": [
              {
                "id": "0P0000058R",
                "type": "PerformanceId"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/investment"
            }
          },
          "scenarios": {
            "type": "array",
            "description": "Scenario id, internal pre-defined scenario identities(scenario001 ~ scenario009), separated by \",\" when passing multiple scenarios.",
            "example": [
              "scenario001",
              "scenario002"
            ],
            "items": {
              "type": "string"
            }
          },
          "portfolios": {
            "type": "array",
            "example": [
              {
                "id": "abc",
                "holdings": [
                  {
                    "id": "0P0000058R",
                    "weight": 60
                  },
                  {
                    "id": "0P000001RB",
                    "weight": 40
                  }
                ]
              },
              {
                "id": "123",
                "holdings": [
                  {
                    "id": "0P0000058R",
                    "weight": 50
                  },
                  {
                    "id": "0P000001RB",
                    "weight": 50
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Holdings"
            }
          }
        },
        "type": "object"
      },
      "MacroShockScenario": {
        "required": [
          "forecastMonth",
          "macroVariables",
          "riskModelId",
          "scenarioName",
          "shockLength"
        ],
        "properties": {
          "riskModelId": {
            "type": "string",
            "example": "morn-glb-eq-usd"
          },
          "forecastMonth": {
            "type": "integer",
            "example": 12
          },
          "macroVariables": {
            "type": "array",
            "example": [
              {
                "id": "GDP",
                "name": "GDP",
                "shocked": true,
                "values": [
                  {
                    "date": "2017-09-30T00:00:00.000Z",
                    "value": 0.99
                  },
                  {
                    "date": "2017-10-31T00:00:00.000Z",
                    "value": 0.97
                  },
                  {
                    "date": "2017-11-30T00:00:00.000Z",
                    "value": 0.98
                  }
                ]
              },
              {
                "id": "MCOILWTICO",
                "name": "MCOILWTICO",
                "shocked": true,
                "values": [
                  {
                    "date": "2017-09-30T00:00:00.000Z",
                    "value": 1.2
                  },
                  {
                    "date": "2017-10-31T00:00:00.000Z",
                    "value": 1.4
                  },
                  {
                    "date": "2017-11-30T00:00:00.000Z",
                    "value": 1.3
                  }
                ]
              },
              {
                "id": "PCE",
                "name": "PCE",
                "shocked": false,
                "values": []
              },
              {
                "id": "INDPRO",
                "name": "INDPRO",
                "shocked": false,
                "values": []
              },
              {
                "id": "MVEONWMVBSNNCB",
                "name": "MVEONWMVBSNNCB",
                "shocked": false,
                "values": []
              },
              {
                "id": "NCBCMDPNWMV",
                "name": "NCBCMDPNWMV",
                "shocked": false,
                "values": []
              },
              {
                "id": "CPIAUCSL",
                "name": "CPIAUCSL",
                "shocked": false,
                "values": []
              },
              {
                "id": "CPIAUCSL",
                "name": "CPIAUCSL",
                "shocked": false,
                "values": []
              },
              {
                "id": "CPIAUCSL",
                "name": "CPIAUCSL",
                "shocked": false,
                "values": []
              },
              {
                "id": "CPIAUCSL",
                "name": "CPIAUCSL",
                "shocked": false,
                "values": []
              }
            ],
            "items": {
              "$ref": "#/components/schemas/macroVariables"
            }
          },
          "shockLength": {
            "type": "integer",
            "example": 3
          },
          "scenarioName": {
            "type": "string",
            "example": "scenario_test"
          }
        },
        "type": "object"
      },
      "macroVariables": {
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "shocked": {
            "type": "boolean"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/macroVariablesScales"
            }
          }
        },
        "type": "object"
      },
      "macroVariablesScales": {
        "properties": {
          "date": {
            "type": "string"
          },
          "value": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "MarketShockScenario": {
        "required": [
          "indexId",
          "indexName",
          "indexTicker",
          "movement",
          "riskModelId",
          "scenarioName",
          "timeHorizonInWeeks"
        ],
        "properties": {
          "riskModelId": {
            "type": "string",
            "example": "morn-glb-eq-usd"
          },
          "scenarioName": {
            "type": "string",
            "example": "scenario_test"
          },
          "movement": {
            "type": "number",
            "example": 0.3
          },
          "timeHorizonInWeeks": {
            "type": "integer",
            "example": 10
          },
          "indexId": {
            "type": "string",
            "example": "0P00001MK8"
          },
          "indexName": {
            "type": "string",
            "example": "SPDR® S&P 500 ETF"
          },
          "indexTicker": {
            "type": "string",
            "example": "SPY"
          }
        },
        "type": "object"
      },
      "ForecastReturnModel": {
        "required": [
          "investments",
          "riskModelId"
        ],
        "properties": {
          "riskModelId": {
            "type": "string",
            "example": "morn-glb-eq-usd"
          },
          "investments": {
            "type": "array",
            "description": "Investment id refers to performance ids, identifying the funds to be analysis on, separated by \",\" when passing multiple.",
            "example": [
              {
                "id": "0P000001RB",
                "type": ""
              }
            ],
            "items": {
              "$ref": "#/components/schemas/idType"
            }
          },
          "portfolios": {
            "type": "array",
            "example": [
              {
                "id": "model-portfolio1",
                "holdings": [
                  {
                    "identifier": "0P0000058R",
                    "identifierType": "PerformanceId",
                    "weight": 60
                  },
                  {
                    "identifier": "0P000001RB",
                    "identifierType": "PerformanceId",
                    "weight": 40
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Holdings"
            }
          }
        },
        "type": "object"
      },
      "fund": {
        "properties": {
          "0P00002RQE": {
            "$ref": "#/components/schemas/fund_arg0"
          },
          "0P00002YGZ": {
            "$ref": "#/components/schemas/fund_arg1"
          },
          "0P00002R14": {
            "$ref": "#/components/schemas/fund_arg2"
          },
          "0P0000W983": {
            "$ref": "#/components/schemas/fund_arg3"
          },
          "0P0000JRGE": {
            "$ref": "#/components/schemas/fund_arg4"
          },
          "0P0000JSEF": {
            "$ref": "#/components/schemas/fund_arg5"
          },
          "0P00002V9O": {
            "$ref": "#/components/schemas/fund_arg6"
          },
          "0P00002PNA": {
            "$ref": "#/components/schemas/fund_arg8"
          },
          "0P0000NR34": {
            "$ref": "#/components/schemas/fund_arg10"
          },
          "0P00002RPI": {
            "$ref": "#/components/schemas/fund_arg11"
          },
          "0P00002DB3": {
            "$ref": "#/components/schemas/fund_arg12"
          }
        },
        "type": "object"
      },
      "fund_arg0": {
        "properties": {
          "minimum": {
            "type": "number",
            "example": 0.05
          },
          "maximum": {
            "type": "number",
            "example": 0.05
          },
          "minimumInitialInvestment": {
            "type": "number",
            "example": 0.025
          }
        },
        "type": "object"
      },
      "fund_arg1": {
        "properties": {
          "minimum": {
            "type": "number"
          },
          "maximum": {
            "type": "number",
            "example": 0.2
          },
          "minimumInitialInvestment": {
            "type": "number",
            "example": 0.01
          }
        },
        "type": "object"
      },
      "fund_arg2": {
        "properties": {
          "minimum": {
            "type": "number"
          },
          "maximum": {
            "type": "number",
            "example": 0.2
          },
          "minimumInitialInvestment": {
            "type": "number",
            "example": 0.002
          }
        },
        "type": "object"
      },
      "fund_arg3": {
        "properties": {
          "minimum": {
            "type": "number"
          },
          "maximum": {
            "type": "number",
            "example": 0.2
          },
          "minimumInitialInvestment": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "fund_arg4": {
        "properties": {
          "minimum": {
            "type": "number"
          },
          "maximum": {
            "type": "number",
            "example": 0.2
          },
          "minimumInitialInvestment": {
            "type": "number",
            "example": 0.0025
          }
        },
        "type": "object"
      },
      "fund_arg5": {
        "properties": {
          "minimum": {
            "type": "number"
          },
          "maximum": {
            "type": "number",
            "example": 0.2
          },
          "minimumInitialInvestment": {
            "type": "number",
            "example": 0.0025
          }
        },
        "type": "object"
      },
      "fund_arg6": {
        "properties": {
          "minimum": {
            "type": "number"
          },
          "maximum": {
            "type": "number",
            "example": 0.2
          },
          "minimumInitialInvestment": {
            "type": "number",
            "example": 0.05
          }
        },
        "type": "object"
      },
      "fund_arg8": {
        "properties": {
          "minimum": {
            "type": "number"
          },
          "maximum": {
            "type": "number",
            "example": 0.2
          },
          "minimumInitialInvestment": {
            "type": "number",
            "example": 0.025
          }
        },
        "type": "object"
      },
      "fund_arg10": {
        "properties": {
          "minimum": {
            "type": "number"
          },
          "maximum": {
            "type": "number",
            "example": 0.2
          },
          "minimumInitialInvestment": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "fund_arg11": {
        "properties": {
          "minimum": {
            "type": "number"
          },
          "maximum": {
            "type": "number",
            "example": 0.2
          },
          "minimumInitialInvestment": {
            "type": "number",
            "example": 0.025
          }
        },
        "type": "object"
      },
      "fund_arg12": {
        "properties": {
          "minimum": {
            "type": "number"
          },
          "maximum": {
            "type": "number",
            "example": 0.2
          },
          "minimumInitialInvestment": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "assetClasses": {
        "properties": {
          "0P00001GK1": {
            "$ref": "#/components/schemas/asset_arg0"
          },
          "0P00001GK7": {
            "$ref": "#/components/schemas/asset_arg1"
          },
          "0P000099ZL": {
            "$ref": "#/components/schemas/asset_arg13"
          }
        },
        "type": "object"
      },
      "asset_arg0": {
        "properties": {
          "name": {
            "type": "string",
            "example": "Large Cap Growth Stocks"
          },
          "maximum": {
            "type": "number",
            "example": 0.8
          },
          "minimum": {
            "type": "number",
            "example": 0.03
          },
          "targetAllocation": {
            "type": "number",
            "example": 0.5
          }
        },
        "type": "object"
      },
      "asset_arg1": {
        "properties": {
          "name": {
            "type": "string",
            "example": "Large Cap Value Stocks"
          },
          "maximum": {
            "type": "number",
            "example": 0.7
          },
          "minimum": {
            "type": "number",
            "example": 0.03
          },
          "targetAllocation": {
            "type": "number",
            "example": 0.2
          }
        },
        "type": "object"
      },
      "asset_arg13": {
        "properties": {
          "name": {
            "type": "string",
            "example": "Cash Equivalents"
          },
          "maximum": {
            "type": "number",
            "example": 0.5
          },
          "minimum": {
            "type": "number"
          },
          "targetAllocation": {
            "type": "number",
            "example": 0.3
          }
        },
        "type": "object"
      },
      "constraints": {
        "properties": {},
        "type": "object"
      },
      "setting": {
        "properties": {
          "misfitAversion": {
            "type": "integer",
            "example": 1
          },
          "managerRiskAversion": {
            "type": "integer",
            "example": 1
          },
          "maximumTrackingError": {
            "type": "number",
            "example": 0.03
          },
          "roundingDecimalPlaces": {
            "type": "integer",
            "example": 9
          }
        },
        "type": "object"
      },
      "ExposureSnapshot": {
        "required": [
          "benchmarkIds",
          "investmentId",
          "riskModelId"
        ],
        "properties": {
          "riskModelId": {
            "type": "string",
            "example": "morn-glb-eq-usd"
          },
          "investmentId": {
            "type": "string",
            "example": "0P0000058R"
          },
          "benchmarkIds": {
            "type": "array",
            "example": [
              "0P000001RB",
              "0P00002Y8D"
            ],
            "items": {
              "type": "string"
            }
          }
        },
        "type": "object"
      },
      "APC_optimizer": {
        "properties": {
          "funds": {
            "$ref": "#/components/schemas/fund"
          },
          "assetClasses": {
            "$ref": "#/components/schemas/assetClasses"
          },
          "constraints": {
            "$ref": "#/components/schemas/constraints"
          },
          "calculationCurrency": {
            "type": "string",
            "example": "USD"
          },
          "returnPeriodStartDate": {
            "type": "string",
            "example": "2016-12-01T00:00:00.000Z"
          },
          "returnPeriodEndDate": {
            "type": "string",
            "example": "2019-12-01T00:00:00.000Z"
          },
          "settings": {
            "$ref": "#/components/schemas/setting"
          }
        },
        "type": "object"
      },
      "APC_Return_Base": {
        "properties": {
          "fundIds": {
            "type": "array",
            "example": [
              {
                "id": "0P00002RQE"
              },
              {
                "id": "0P00002YGZ"
              },
              {
                "id": "0P00002R14"
              },
              {
                "id": "0P0000W983"
              },
              {
                "id": "0P0000JRGE"
              },
              {
                "id": "0P0000JSEF"
              },
              {
                "id": "0P00002V9O"
              },
              {
                "id": "0P00002PNA"
              },
              {
                "id": "0P0000NR34"
              },
              {
                "id": "0P00002RPI"
              },
              {
                "id": "0P00002DB3"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/rbsa_fund"
            }
          },
          "assetClassIds": {
            "type": "array",
            "example": [
              {
                "id": "0P00001GK1"
              },
              {
                "id": "0P00001GK7"
              },
              {
                "id": "0P000099ZL"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/rbsa_fund"
            }
          },
          "calculationCurrency": {
            "type": "string",
            "example": "USD"
          },
          "returnPeriodStartDate": {
            "type": "string",
            "example": "2016-12-01T00:00:00.000Z"
          },
          "returnPeriodEndDate": {
            "type": "string",
            "example": "2019-12-01T00:00:00.000Z"
          }
        },
        "type": "object"
      },
      "rbsa_fund": {
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}