{
  "openapi": "3.0.1",
  "info": {
    "version": "2.0.2",
    "title": "Households (US)",
    "description": "\nThe Households API is used by the web-based version of [Morningstar Office](https://www.morningstar.com/products/office) to get information about the households managed by an advisor. \n\n  With this API you can:\n\n  * Get household IDs \n  * Get household profiles\n"
  },
  "servers": [
    {
      "url": "https://www.us-api.morningstar.com/office-household/v2",
      "description": "PROD"
    },
    {
      "url": "https://www.us-uat-api.morningstar.com/office-household/v2",
      "description": "UAT"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "households"
    },
    {
      "name": "profiles"
    }
  ],
  "paths": {
    "/households": {
      "get": {
        "tags": [
          "households"
        ],
        "summary": "Get household IDs",
        "description": "Get all household IDs for an advisor. The household ID can be used with the Portfolios API to return information about household accounts.",
        "operationId": "getHouseholdAccountsUsingGET_1",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Unique API key of a client",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiHouseholdResponseForHouseholds"
                }
              }
            }
          }
        }
      }
    },
    "/profiles": {
      "get": {
        "tags": [
          "profiles"
        ],
        "summary": "Get household profiles",
        "description": "Get household profiles for an advisor. To limit the number of records returned in the response, use the `limit` parameter.",
        "operationId": "getHouseholdByIdsUsingGET_2",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Unique API key of a client",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit number of records returned. Default is 100 or 500.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of results to skip",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Return the total count of profiles. Default is `false`.",
            "required": false,
            "schema": {
              "type": "boolean",
              "enum": [
                true,
                false
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiHouseholdResponseForProfiles"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "APIMetaStatusResponse": {
        "type": "object",
        "properties": {
          "hint": {
            "type": "string"
          },
          "response_status": {
            "type": "string"
          }
        },
        "title": "APIMetaStatusResponse"
      },
      "APIPaginationResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "limit": {
            "type": "integer",
            "format": "int32"
          },
          "skip": {
            "type": "integer",
            "format": "int32"
          }
        },
        "title": "APIPaginationResponse"
      },
      "ApiHouseholdResponseForHouseholds": {
        "type": "object",
        "properties": {
          "_meta": {
            "$ref": "#/components/schemas/APIMetaStatusResponse"
          },
          "householdIds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HouseholdIndex"
            }
          }
        },
        "title": "ApiHouseholdResponseForHouseholds"
      },
      "ApiHouseholdResponseForProfiles": {
        "type": "object",
        "properties": {
          "_meta": {
            "$ref": "#/components/schemas/APIMetaStatusResponse"
          },
          "households": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Household"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/APIPaginationResponse"
          }
        },
        "title": "ApiHouseholdResponseForProfiles"
      },
      "ClientType": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          }
        },
        "title": "ClientType"
      },
      "Household": {
        "type": "object",
        "properties": {
          "active": {
            "type": "boolean"
          },
          "clientType": {
            "$ref": "#/components/schemas/ClientType"
          },
          "householdId": {
            "type": "string"
          },
          "householdType": {
            "type": "string",
            "enum": [
              "client",
              "prospect",
              "group",
              "composite"
            ]
          },
          "name": {
            "type": "string"
          },
          "ownerId": {
            "type": "string"
          },
          "ownerName": {
            "type": "string"
          },
          "permission": {
            "$ref": "#/components/schemas/Permission"
          },
          "views": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        },
        "title": "Household"
      },
      "HouseholdIndex": {
        "type": "object",
        "properties": {
          "householdType": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "title": "HouseholdIndex"
      },
      "Permission": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          }
        },
        "title": "Permission"
      }
    }
  }
}