{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0",
    "x-changelog": [
      {
        "date": "2026-07-06",
        "changes": [
          "Updated schemas to point to data dictionary for input data point values instead of listing all available data points as enums."
        ]
      },
      {
        "date": "2026-04-20",
        "changes": [
          "Added base URL for Americas to list of servers."
        ]
      }
    ],
    "title": "Screener - Equities",
    "description": "\n## Overview\n\nThe Screener API for equities is designed to support advanced, criteria-based screening. It enables you to retrieve highly-tailored datasets quickly and efficiently.\n\n\n## Request Limits\n\nMaximum of **100 data points** per request.\n\n\n## Authentication\n\nRetrieve tokens required to authorize calls to the API. See [documentation](https://developer.morningstar.com/direct-web-services/documentation/api-utilities/authentication-api/overview)."
  },
  "tags": [
    {
      "name": "Screener"
    },
    {
      "name": "Data Points"
    }
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "servers": [
    {
      "url": "https://www.us-api.morningstar.com",
      "description": "Americas"
    },
    {
      "url": "https://www.apac-api.morningstar.com",
      "description": "APAC"
    },
    {
      "url": "https://www.emea-api.morningstar.com",
      "description": "EMEA"
    }
  ],
  "paths": {
    "/direct-web-services/v1/screeners/equities": {
      "post": {
        "summary": "Query equity investments and return selected data points.",
        "operationId": "queryEquityInvestments",
        "tags": [
          "Screener"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ScreenerRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ScreenerResponse"
          },
          "400": {
            "$ref": "#/components/responses/ResponseStatus400ResponseScreener"
          },
          "500": {
            "$ref": "#/components/responses/ResponseStatus500ResponseScreener"
          }
        }
      }
    },
    "/direct-web-services/v1/screeners/equities/data-points": {
      "get": {
        "operationId": "listEquityDataPoints",
        "tags": [
          "Data Points"
        ],
        "summary": "List all equity data points.",
        "description": "Returns the list of equity data points supported for screener queries. Metadata returned for each entry includes the operators supported.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResponseDataPoints"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Obtain a token via the Authentication API's `POST /token/oauth` endpoint. Tokens are valid for 60 minutes and reusable across requests."
      }
    },
    "requestBodies": {
      "ScreenerRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RequestEquitiesScreener"
            },
            "examples": {
              "Basic Query - Equals": {
                "$ref": "#/components/examples/ScreenerRequestExample1"
              },
              "Basic Query - In": {
                "$ref": "#/components/examples/ScreenerRequestExample2"
              },
              "Basic Query - Date Range": {
                "$ref": "#/components/examples/ScreenerRequestExample3"
              },
              "Basic Query Number Range": {
                "$ref": "#/components/examples/ScreenerRequestExample4"
              },
              "Compound Query - AND": {
                "$ref": "#/components/examples/ScreenerRequestExample5"
              },
              "Compound Query - OR": {
                "$ref": "#/components/examples/ScreenerRequestExample6"
              },
              "Compound Query - NOT": {
                "$ref": "#/components/examples/ScreenerRequestExample7"
              },
              "Nested Compound Query - OR then AND": {
                "$ref": "#/components/examples/ScreenerRequestExample8"
              },
              "Nested Compound Query - OR then AND Deeply Nested": {
                "$ref": "#/components/examples/ScreenerRequestExample9"
              }
            }
          }
        }
      }
    },
    "responses": {
      "ScreenerResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ResponseEquitiesScreener"
            },
            "examples": {
              "Basic Query - Equals": {
                "$ref": "#/components/examples/ScreenerResponseExample1"
              },
              "Basic Query - In": {
                "$ref": "#/components/examples/ScreenerResponseExample2"
              },
              "Basic Query - Date Range": {
                "$ref": "#/components/examples/ScreenerResponseExample3"
              },
              "Basic Query - Number Range": {
                "$ref": "#/components/examples/ScreenerResponseExample4"
              },
              "Compound Query - AND": {
                "$ref": "#/components/examples/ScreenerResponseExample5"
              },
              "Compound Query - OR": {
                "$ref": "#/components/examples/ScreenerResponseExample6"
              },
              "Compound Query - NOT": {
                "$ref": "#/components/examples/ScreenerResponseExample7"
              },
              "Nested Compound Query - OR then AND": {
                "$ref": "#/components/examples/ScreenerResponseExample8"
              },
              "Nested Compound Query - OR then AND Deeply Nested": {
                "$ref": "#/components/examples/ScreenerResponseExample9"
              }
            }
          }
        }
      },
      "ResponseDataPoints": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ResponseDataPoints"
            },
            "examples": {
              "Equities Data Points": {
                "$ref": "#/components/examples/DataPointsResponseExample1"
              }
            }
          }
        }
      },
      "ResponseStatus400ResponseScreener": {
        "description": "400: Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OutputError"
            },
            "examples": {
              "Example1": {
                "$ref": "#/components/examples/ResponseStatus400ScreenerExample1"
              }
            }
          }
        }
      },
      "ResponseStatus500ResponseScreener": {
        "description": "500: Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OutputError"
            },
            "examples": {
              "Example1": {
                "$ref": "#/components/examples/ResponseStatus500ScreenerExample1"
              }
            }
          }
        }
      }
    },
    "examples": {
      "ScreenerRequestExample1": {
        "summary": "Basic Query - Equals",
        "value": {
          "scope": {
            "shareclassInformation.exchangeCode": "XPAR"
          },
          "query": {
            "shareClassInformation.symbol": "MSES"
          },
          "dataPoints": [
            "esgCompanyLevel2DataCarbonEmissions.carbonIntensity",
            "factorProfile.emergingAsiaPacificFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.activitiesCausingLandDegradationDesertificationOrSoilSealingSfdr",
            "indexLevelsPrice.closeAsMovingAvg200DayMoEnd",
            "shortInterest.percentageChanged",
            "companyInformation.sic",
            "esgCompanyLevel1DataLowCarbonTransitionRating.lowCarbonTransitionVarValueAtRiskIprFpsOverallRisk2050Usd",
            "esgCompanyLevelDataSfdrPAI.breachOfUnGlobalCompactPrinciplesAndOecdGuidelinesForMultinationalEnterprisesSfdrYearOfReference",
            "esgCompanyLevel2DataImpactMetricsSDGsAndThemes.sdg3PercOfRevenue",
            "monthlyStandardDeviation.arithmeticMean24Month",
            "esgCompanyLevelDataSfdrPAI.energyConsumptionIntensityWholesaleAndRetailTradeAndRepairOfMotorVehiclesAndMotorcyclesSfdrResearchStatus",
            "dividendResidualRiskAndReturnSensitivity.beta24Month",
            "esgCompanyLevelDataSfdrPAI.lackOfAntiCorruptionAndAntiBriberyPolicySfdrResearchStatus",
            "pricesMostRecent.avgVolumeInMil5YrQtrEnd",
            "esgCompanyLevelDataSfdrPAI.lackOfHumanRightsPolicySfdrResearchStatus",
            "esgCompanyLevelDataSfdrPAI.icRuleOfLawScoreSfdrSourceType",
            "shareClassInformation.symbol",
            "factorProfile.styleFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.icPoliticalStabilityScoreSfdrYearOfReference",
            "esgCompanyLevelDataSfdrPAI.carbonEmissionsIntensitySfdrSourceType",
            "shareClassInformation.investmentStatus",
            "pricesMostRecent.avgVolumeInMil10YrMoEnd",
            "esgCompanyLevel2DataProductInvolvement.compProdInvPercGeneticallyModifiedPlantsAndSeedsGrowth",
            "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate",
            "esgCompanyLevel1DataLowCarbonTransitionRating.reportingSufficiencyCategory",
            "dividendResidualRiskAndReturnSensitivity.beta120Month",
            "esgCompanyLevelDataSfdrPAI.emissionsOfAirPollutantsTotalTonnesSfdrSourceType",
            "esgCompanyLevelDataSfdrPAI.carbonIntensityScope12and3EurSfdrResearchStatus",
            "trailingReturn.trailing10YearReturn",
            "esgCompanyLevelDataSfdrPAI.boardGenderDiversityPercentageOfFemaleBoardMembersSfdr",
            "pricesMostRecent.avgVolumeInMil9MoDaily",
            "esgCompanyLevelDataSfdrPAI.carbonScope2EmissionsSfdrResearchStatus",
            "esgCompanyLevelDataSfdrPAI.waterRecyclingAndReusePercentageOfWaterWithdrawalSfdrSourceType",
            "esgCompanyLevelDataSfdrPAI.lackOfCarbonEmissionReductionInitiativesSfdrSourceType",
            "esgCompanyLevel2DataSfdrPAICorporateVoluntary.lackOfDeforestationPolicySfdr",
            "pricesMostRecent.totalVolumeInMil2WkDaily",
            "marketCapital.asOfDate",
            "quantitativeFairValues.quantitativeMoat",
            "esgCompanyLevel2DataProductInvolvement.compProdInvAbortionOperations",
            "factorProfile.realEstateFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.waterRecyclingAndReusePercentageOfWaterWithdrawalSfdrResearchStatus",
            "esgCompanyLevel2DataSfdrPAICorporateVoluntary.involvedInFossilFuelsSfdr",
            "dividendResidualRiskAndReturnSensitivity.rSquare60Month",
            "esgCompanyLevelDataSfdrPAI.shareOfNonRenewableEnergyConsumptionPercentageSfdrSourceType"
          ],
          "pagination": {
            "pageSize": 10
          },
          "sort": [
            {
              "datapoint": "marketCapital.asOfDate"
            }
          ]
        }
      },
      "ScreenerRequestExample2": {
        "summary": "Basic Query - In",
        "value": {
          "scope": {
            "shareclassInformation.exchangeCode": "XPAR"
          },
          "query": {
            "shareClassInformation.symbol": [
              "CA40",
              "MSES"
            ]
          },
          "dataPoints": [
            "esgCompanyLevel2DataCarbonEmissions.carbonIntensity",
            "factorProfile.emergingAsiaPacificFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.activitiesCausingLandDegradationDesertificationOrSoilSealingSfdr",
            "indexLevelsPrice.closeAsMovingAvg200DayMoEnd",
            "shortInterest.percentageChanged",
            "companyInformation.sic",
            "esgCompanyLevel1DataLowCarbonTransitionRating.lowCarbonTransitionVarValueAtRiskIprFpsOverallRisk2050Usd",
            "esgCompanyLevelDataSfdrPAI.breachOfUnGlobalCompactPrinciplesAndOecdGuidelinesForMultinationalEnterprisesSfdrYearOfReference",
            "esgCompanyLevel2DataImpactMetricsSDGsAndThemes.sdg3PercOfRevenue",
            "monthlyStandardDeviation.arithmeticMean24Month",
            "esgCompanyLevelDataSfdrPAI.energyConsumptionIntensityWholesaleAndRetailTradeAndRepairOfMotorVehiclesAndMotorcyclesSfdrResearchStatus",
            "dividendResidualRiskAndReturnSensitivity.beta24Month",
            "esgCompanyLevelDataSfdrPAI.lackOfAntiCorruptionAndAntiBriberyPolicySfdrResearchStatus",
            "pricesMostRecent.avgVolumeInMil5YrQtrEnd",
            "esgCompanyLevelDataSfdrPAI.lackOfHumanRightsPolicySfdrResearchStatus",
            "esgCompanyLevelDataSfdrPAI.icRuleOfLawScoreSfdrSourceType",
            "shareClassInformation.symbol",
            "factorProfile.styleFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.icPoliticalStabilityScoreSfdrYearOfReference",
            "esgCompanyLevelDataSfdrPAI.carbonEmissionsIntensitySfdrSourceType",
            "shareClassInformation.investmentStatus",
            "pricesMostRecent.avgVolumeInMil10YrMoEnd",
            "esgCompanyLevel2DataProductInvolvement.compProdInvPercGeneticallyModifiedPlantsAndSeedsGrowth",
            "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate",
            "esgCompanyLevel1DataLowCarbonTransitionRating.reportingSufficiencyCategory",
            "dividendResidualRiskAndReturnSensitivity.beta120Month",
            "esgCompanyLevelDataSfdrPAI.emissionsOfAirPollutantsTotalTonnesSfdrSourceType",
            "esgCompanyLevelDataSfdrPAI.carbonIntensityScope12and3EurSfdrResearchStatus",
            "trailingReturn.trailing10YearReturn",
            "esgCompanyLevelDataSfdrPAI.boardGenderDiversityPercentageOfFemaleBoardMembersSfdr",
            "pricesMostRecent.avgVolumeInMil9MoDaily",
            "esgCompanyLevelDataSfdrPAI.carbonScope2EmissionsSfdrResearchStatus",
            "esgCompanyLevelDataSfdrPAI.waterRecyclingAndReusePercentageOfWaterWithdrawalSfdrSourceType",
            "esgCompanyLevelDataSfdrPAI.lackOfCarbonEmissionReductionInitiativesSfdrSourceType",
            "esgCompanyLevel2DataSfdrPAICorporateVoluntary.lackOfDeforestationPolicySfdr",
            "pricesMostRecent.totalVolumeInMil2WkDaily",
            "marketCapital.asOfDate",
            "quantitativeFairValues.quantitativeMoat",
            "esgCompanyLevel2DataProductInvolvement.compProdInvAbortionOperations",
            "factorProfile.realEstateFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.waterRecyclingAndReusePercentageOfWaterWithdrawalSfdrResearchStatus",
            "esgCompanyLevel2DataSfdrPAICorporateVoluntary.involvedInFossilFuelsSfdr",
            "dividendResidualRiskAndReturnSensitivity.rSquare60Month",
            "esgCompanyLevelDataSfdrPAI.shareOfNonRenewableEnergyConsumptionPercentageSfdrSourceType"
          ],
          "pagination": {
            "pageSize": 10
          },
          "sort": [
            {
              "datapoint": "marketCapital.asOfDate"
            }
          ]
        }
      },
      "ScreenerRequestExample3": {
        "summary": "Basic Query - Date Range",
        "value": {
          "scope": {
            "shareclassInformation.exchangeCode": "XPAR"
          },
          "query": {
            "marketCapital.asOfDate": {
              "gt": "2020-01-01",
              "lt": "2024-03-31"
            }
          },
          "dataPoints": [
            "esgCompanyLevel2DataCarbonEmissions.carbonIntensity",
            "factorProfile.emergingAsiaPacificFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.activitiesCausingLandDegradationDesertificationOrSoilSealingSfdr",
            "indexLevelsPrice.closeAsMovingAvg200DayMoEnd",
            "shortInterest.percentageChanged",
            "companyInformation.sic",
            "esgCompanyLevel1DataLowCarbonTransitionRating.lowCarbonTransitionVarValueAtRiskIprFpsOverallRisk2050Usd",
            "esgCompanyLevelDataSfdrPAI.breachOfUnGlobalCompactPrinciplesAndOecdGuidelinesForMultinationalEnterprisesSfdrYearOfReference",
            "esgCompanyLevel2DataImpactMetricsSDGsAndThemes.sdg3PercOfRevenue",
            "monthlyStandardDeviation.arithmeticMean24Month",
            "esgCompanyLevelDataSfdrPAI.energyConsumptionIntensityWholesaleAndRetailTradeAndRepairOfMotorVehiclesAndMotorcyclesSfdrResearchStatus",
            "dividendResidualRiskAndReturnSensitivity.beta24Month",
            "esgCompanyLevelDataSfdrPAI.lackOfAntiCorruptionAndAntiBriberyPolicySfdrResearchStatus",
            "pricesMostRecent.avgVolumeInMil5YrQtrEnd",
            "esgCompanyLevelDataSfdrPAI.lackOfHumanRightsPolicySfdrResearchStatus",
            "esgCompanyLevelDataSfdrPAI.icRuleOfLawScoreSfdrSourceType",
            "shareClassInformation.symbol",
            "factorProfile.styleFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.icPoliticalStabilityScoreSfdrYearOfReference",
            "esgCompanyLevelDataSfdrPAI.carbonEmissionsIntensitySfdrSourceType",
            "shareClassInformation.investmentStatus",
            "pricesMostRecent.avgVolumeInMil10YrMoEnd",
            "esgCompanyLevel2DataProductInvolvement.compProdInvPercGeneticallyModifiedPlantsAndSeedsGrowth",
            "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate",
            "esgCompanyLevel1DataLowCarbonTransitionRating.reportingSufficiencyCategory",
            "dividendResidualRiskAndReturnSensitivity.beta120Month",
            "esgCompanyLevelDataSfdrPAI.emissionsOfAirPollutantsTotalTonnesSfdrSourceType",
            "esgCompanyLevelDataSfdrPAI.carbonIntensityScope12and3EurSfdrResearchStatus",
            "trailingReturn.trailing10YearReturn",
            "esgCompanyLevelDataSfdrPAI.boardGenderDiversityPercentageOfFemaleBoardMembersSfdr",
            "pricesMostRecent.avgVolumeInMil9MoDaily",
            "esgCompanyLevelDataSfdrPAI.carbonScope2EmissionsSfdrResearchStatus",
            "esgCompanyLevelDataSfdrPAI.waterRecyclingAndReusePercentageOfWaterWithdrawalSfdrSourceType",
            "esgCompanyLevelDataSfdrPAI.lackOfCarbonEmissionReductionInitiativesSfdrSourceType",
            "esgCompanyLevel2DataSfdrPAICorporateVoluntary.lackOfDeforestationPolicySfdr",
            "pricesMostRecent.totalVolumeInMil2WkDaily",
            "marketCapital.asOfDate",
            "quantitativeFairValues.quantitativeMoat",
            "esgCompanyLevel2DataProductInvolvement.compProdInvAbortionOperations",
            "factorProfile.realEstateFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.waterRecyclingAndReusePercentageOfWaterWithdrawalSfdrResearchStatus",
            "esgCompanyLevel2DataSfdrPAICorporateVoluntary.involvedInFossilFuelsSfdr",
            "dividendResidualRiskAndReturnSensitivity.rSquare60Month",
            "esgCompanyLevelDataSfdrPAI.shareOfNonRenewableEnergyConsumptionPercentageSfdrSourceType"
          ],
          "pagination": {
            "pageSize": 10
          },
          "sort": [
            {
              "datapoint": "marketCapital.asOfDate"
            }
          ]
        }
      },
      "ScreenerRequestExample4": {
        "summary": "Basic Query - Number Range",
        "value": {
          "scope": {
            "shareclassInformation.exchangeCode": "XPAR"
          },
          "query": {
            "dividendResidualRiskAndReturnSensitivity.beta24Month": {
              "gt": 4,
              "lt": 10
            }
          },
          "dataPoints": [
            "esgCompanyLevel2DataCarbonEmissions.carbonIntensity",
            "factorProfile.emergingAsiaPacificFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.activitiesCausingLandDegradationDesertificationOrSoilSealingSfdr",
            "indexLevelsPrice.closeAsMovingAvg200DayMoEnd",
            "shortInterest.percentageChanged",
            "companyInformation.sic",
            "esgCompanyLevel1DataLowCarbonTransitionRating.lowCarbonTransitionVarValueAtRiskIprFpsOverallRisk2050Usd",
            "esgCompanyLevelDataSfdrPAI.breachOfUnGlobalCompactPrinciplesAndOecdGuidelinesForMultinationalEnterprisesSfdrYearOfReference",
            "esgCompanyLevel2DataImpactMetricsSDGsAndThemes.sdg3PercOfRevenue",
            "monthlyStandardDeviation.arithmeticMean24Month",
            "esgCompanyLevelDataSfdrPAI.energyConsumptionIntensityWholesaleAndRetailTradeAndRepairOfMotorVehiclesAndMotorcyclesSfdrResearchStatus",
            "dividendResidualRiskAndReturnSensitivity.beta24Month",
            "esgCompanyLevelDataSfdrPAI.lackOfAntiCorruptionAndAntiBriberyPolicySfdrResearchStatus",
            "pricesMostRecent.avgVolumeInMil5YrQtrEnd",
            "esgCompanyLevelDataSfdrPAI.lackOfHumanRightsPolicySfdrResearchStatus",
            "esgCompanyLevelDataSfdrPAI.icRuleOfLawScoreSfdrSourceType",
            "shareClassInformation.symbol",
            "factorProfile.styleFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.icPoliticalStabilityScoreSfdrYearOfReference",
            "esgCompanyLevelDataSfdrPAI.carbonEmissionsIntensitySfdrSourceType",
            "shareClassInformation.investmentStatus",
            "pricesMostRecent.avgVolumeInMil10YrMoEnd",
            "esgCompanyLevel2DataProductInvolvement.compProdInvPercGeneticallyModifiedPlantsAndSeedsGrowth",
            "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate",
            "esgCompanyLevel1DataLowCarbonTransitionRating.reportingSufficiencyCategory",
            "dividendResidualRiskAndReturnSensitivity.beta120Month",
            "esgCompanyLevelDataSfdrPAI.emissionsOfAirPollutantsTotalTonnesSfdrSourceType",
            "esgCompanyLevelDataSfdrPAI.carbonIntensityScope12and3EurSfdrResearchStatus",
            "trailingReturn.trailing10YearReturn",
            "esgCompanyLevelDataSfdrPAI.boardGenderDiversityPercentageOfFemaleBoardMembersSfdr",
            "pricesMostRecent.avgVolumeInMil9MoDaily",
            "esgCompanyLevelDataSfdrPAI.carbonScope2EmissionsSfdrResearchStatus",
            "esgCompanyLevelDataSfdrPAI.waterRecyclingAndReusePercentageOfWaterWithdrawalSfdrSourceType",
            "esgCompanyLevelDataSfdrPAI.lackOfCarbonEmissionReductionInitiativesSfdrSourceType",
            "esgCompanyLevel2DataSfdrPAICorporateVoluntary.lackOfDeforestationPolicySfdr",
            "pricesMostRecent.totalVolumeInMil2WkDaily",
            "marketCapital.asOfDate",
            "quantitativeFairValues.quantitativeMoat",
            "esgCompanyLevel2DataProductInvolvement.compProdInvAbortionOperations",
            "factorProfile.realEstateFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.waterRecyclingAndReusePercentageOfWaterWithdrawalSfdrResearchStatus",
            "esgCompanyLevel2DataSfdrPAICorporateVoluntary.involvedInFossilFuelsSfdr",
            "dividendResidualRiskAndReturnSensitivity.rSquare60Month",
            "esgCompanyLevelDataSfdrPAI.shareOfNonRenewableEnergyConsumptionPercentageSfdrSourceType"
          ],
          "pagination": {
            "pageSize": 50
          },
          "sort": [
            {
              "datapoint": "marketCapital.asOfDate"
            }
          ]
        }
      },
      "ScreenerRequestExample5": {
        "summary": "Compound Query - AND",
        "value": {
          "scope": {
            "shareclassInformation.exchangeCode": "XPAR"
          },
          "query": {
            "and": [
              {
                "instrumentIdentifiers.performanceId": [
                  "0P0001VK70",
                  "0P0001VK71",
                  "0P0001VK72"
                ]
              },
              {
                "shareClassInformation.symbol": [
                  "CA40",
                  "MSES"
                ]
              }
            ]
          },
          "dataPoints": [
            "esgCompanyLevel2DataCarbonEmissions.carbonIntensity",
            "factorProfile.emergingAsiaPacificFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.activitiesCausingLandDegradationDesertificationOrSoilSealingSfdr",
            "indexLevelsPrice.closeAsMovingAvg200DayMoEnd",
            "shortInterest.percentageChanged",
            "companyInformation.sic",
            "esgCompanyLevel1DataLowCarbonTransitionRating.lowCarbonTransitionVarValueAtRiskIprFpsOverallRisk2050Usd",
            "esgCompanyLevelDataSfdrPAI.breachOfUnGlobalCompactPrinciplesAndOecdGuidelinesForMultinationalEnterprisesSfdrYearOfReference",
            "esgCompanyLevel2DataImpactMetricsSDGsAndThemes.sdg3PercOfRevenue",
            "monthlyStandardDeviation.arithmeticMean24Month",
            "esgCompanyLevelDataSfdrPAI.energyConsumptionIntensityWholesaleAndRetailTradeAndRepairOfMotorVehiclesAndMotorcyclesSfdrResearchStatus",
            "dividendResidualRiskAndReturnSensitivity.beta24Month",
            "esgCompanyLevelDataSfdrPAI.lackOfAntiCorruptionAndAntiBriberyPolicySfdrResearchStatus",
            "pricesMostRecent.avgVolumeInMil5YrQtrEnd",
            "esgCompanyLevelDataSfdrPAI.lackOfHumanRightsPolicySfdrResearchStatus",
            "esgCompanyLevelDataSfdrPAI.icRuleOfLawScoreSfdrSourceType",
            "shareClassInformation.symbol",
            "factorProfile.styleFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.icPoliticalStabilityScoreSfdrYearOfReference",
            "esgCompanyLevelDataSfdrPAI.carbonEmissionsIntensitySfdrSourceType",
            "shareClassInformation.investmentStatus",
            "pricesMostRecent.avgVolumeInMil10YrMoEnd",
            "esgCompanyLevel2DataProductInvolvement.compProdInvPercGeneticallyModifiedPlantsAndSeedsGrowth",
            "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate",
            "esgCompanyLevel1DataLowCarbonTransitionRating.reportingSufficiencyCategory",
            "dividendResidualRiskAndReturnSensitivity.beta120Month",
            "esgCompanyLevelDataSfdrPAI.emissionsOfAirPollutantsTotalTonnesSfdrSourceType",
            "esgCompanyLevelDataSfdrPAI.carbonIntensityScope12and3EurSfdrResearchStatus",
            "trailingReturn.trailing10YearReturn",
            "esgCompanyLevelDataSfdrPAI.boardGenderDiversityPercentageOfFemaleBoardMembersSfdr",
            "pricesMostRecent.avgVolumeInMil9MoDaily",
            "esgCompanyLevelDataSfdrPAI.carbonScope2EmissionsSfdrResearchStatus",
            "esgCompanyLevelDataSfdrPAI.waterRecyclingAndReusePercentageOfWaterWithdrawalSfdrSourceType",
            "esgCompanyLevelDataSfdrPAI.lackOfCarbonEmissionReductionInitiativesSfdrSourceType",
            "esgCompanyLevel2DataSfdrPAICorporateVoluntary.lackOfDeforestationPolicySfdr",
            "pricesMostRecent.totalVolumeInMil2WkDaily",
            "marketCapital.asOfDate",
            "quantitativeFairValues.quantitativeMoat",
            "esgCompanyLevel2DataProductInvolvement.compProdInvAbortionOperations",
            "factorProfile.realEstateFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.waterRecyclingAndReusePercentageOfWaterWithdrawalSfdrResearchStatus",
            "esgCompanyLevel2DataSfdrPAICorporateVoluntary.involvedInFossilFuelsSfdr",
            "dividendResidualRiskAndReturnSensitivity.rSquare60Month",
            "esgCompanyLevelDataSfdrPAI.shareOfNonRenewableEnergyConsumptionPercentageSfdrSourceType"
          ],
          "pagination": {
            "pageSize": 50
          }
        }
      },
      "ScreenerRequestExample6": {
        "summary": "Compound Query - OR",
        "value": {
          "scope": {
            "shareclassInformation.exchangeCode": "XPAR"
          },
          "query": {
            "or": [
              {
                "instrumentIdentifiers.performanceId": "0P0001VK70"
              },
              {
                "shareClassInformation.symbol": [
                  "FM28",
                  "MSES"
                ]
              }
            ]
          },
          "dataPoints": [
            "esgCompanyLevel2DataCarbonEmissions.carbonIntensity",
            "factorProfile.emergingAsiaPacificFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.activitiesCausingLandDegradationDesertificationOrSoilSealingSfdr",
            "indexLevelsPrice.closeAsMovingAvg200DayMoEnd",
            "shortInterest.percentageChanged",
            "companyInformation.sic",
            "esgCompanyLevel1DataLowCarbonTransitionRating.lowCarbonTransitionVarValueAtRiskIprFpsOverallRisk2050Usd",
            "esgCompanyLevelDataSfdrPAI.breachOfUnGlobalCompactPrinciplesAndOecdGuidelinesForMultinationalEnterprisesSfdrYearOfReference",
            "esgCompanyLevel2DataImpactMetricsSDGsAndThemes.sdg3PercOfRevenue",
            "monthlyStandardDeviation.arithmeticMean24Month",
            "esgCompanyLevelDataSfdrPAI.energyConsumptionIntensityWholesaleAndRetailTradeAndRepairOfMotorVehiclesAndMotorcyclesSfdrResearchStatus",
            "dividendResidualRiskAndReturnSensitivity.beta24Month",
            "esgCompanyLevelDataSfdrPAI.lackOfAntiCorruptionAndAntiBriberyPolicySfdrResearchStatus",
            "pricesMostRecent.avgVolumeInMil5YrQtrEnd",
            "esgCompanyLevelDataSfdrPAI.lackOfHumanRightsPolicySfdrResearchStatus",
            "esgCompanyLevelDataSfdrPAI.icRuleOfLawScoreSfdrSourceType",
            "shareClassInformation.symbol",
            "factorProfile.styleFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.icPoliticalStabilityScoreSfdrYearOfReference",
            "esgCompanyLevelDataSfdrPAI.carbonEmissionsIntensitySfdrSourceType",
            "shareClassInformation.investmentStatus",
            "pricesMostRecent.avgVolumeInMil10YrMoEnd",
            "esgCompanyLevel2DataProductInvolvement.compProdInvPercGeneticallyModifiedPlantsAndSeedsGrowth",
            "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate",
            "esgCompanyLevel1DataLowCarbonTransitionRating.reportingSufficiencyCategory",
            "dividendResidualRiskAndReturnSensitivity.beta120Month",
            "esgCompanyLevelDataSfdrPAI.emissionsOfAirPollutantsTotalTonnesSfdrSourceType",
            "esgCompanyLevelDataSfdrPAI.carbonIntensityScope12and3EurSfdrResearchStatus",
            "trailingReturn.trailing10YearReturn",
            "esgCompanyLevelDataSfdrPAI.boardGenderDiversityPercentageOfFemaleBoardMembersSfdr",
            "pricesMostRecent.avgVolumeInMil9MoDaily",
            "esgCompanyLevelDataSfdrPAI.carbonScope2EmissionsSfdrResearchStatus",
            "esgCompanyLevelDataSfdrPAI.waterRecyclingAndReusePercentageOfWaterWithdrawalSfdrSourceType",
            "esgCompanyLevelDataSfdrPAI.lackOfCarbonEmissionReductionInitiativesSfdrSourceType",
            "esgCompanyLevel2DataSfdrPAICorporateVoluntary.lackOfDeforestationPolicySfdr",
            "pricesMostRecent.totalVolumeInMil2WkDaily",
            "marketCapital.asOfDate",
            "quantitativeFairValues.quantitativeMoat",
            "esgCompanyLevel2DataProductInvolvement.compProdInvAbortionOperations",
            "factorProfile.realEstateFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.waterRecyclingAndReusePercentageOfWaterWithdrawalSfdrResearchStatus",
            "esgCompanyLevel2DataSfdrPAICorporateVoluntary.involvedInFossilFuelsSfdr",
            "dividendResidualRiskAndReturnSensitivity.rSquare60Month",
            "esgCompanyLevelDataSfdrPAI.shareOfNonRenewableEnergyConsumptionPercentageSfdrSourceType"
          ],
          "pagination": {
            "pageSize": 10
          },
          "sort": [
            {
              "datapoint": "marketCapital.asOfDate"
            }
          ]
        }
      },
      "ScreenerRequestExample7": {
        "summary": "Compound Query - NOT",
        "value": {
          "scope": {
            "shareclassInformation.exchangeCode": "XPAR"
          },
          "query": {
            "not": [
              {
                "shareClassInformation.investmentStatus": 1
              },
              {
                "shareClassInformation.symbol": "USSM"
              }
            ]
          },
          "dataPoints": [
            "esgCompanyLevel2DataCarbonEmissions.carbonIntensity",
            "factorProfile.emergingAsiaPacificFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.activitiesCausingLandDegradationDesertificationOrSoilSealingSfdr",
            "indexLevelsPrice.closeAsMovingAvg200DayMoEnd",
            "shortInterest.percentageChanged",
            "companyInformation.sic",
            "esgCompanyLevel1DataLowCarbonTransitionRating.lowCarbonTransitionVarValueAtRiskIprFpsOverallRisk2050Usd",
            "esgCompanyLevelDataSfdrPAI.breachOfUnGlobalCompactPrinciplesAndOecdGuidelinesForMultinationalEnterprisesSfdrYearOfReference",
            "esgCompanyLevel2DataImpactMetricsSDGsAndThemes.sdg3PercOfRevenue",
            "monthlyStandardDeviation.arithmeticMean24Month",
            "esgCompanyLevelDataSfdrPAI.energyConsumptionIntensityWholesaleAndRetailTradeAndRepairOfMotorVehiclesAndMotorcyclesSfdrResearchStatus",
            "dividendResidualRiskAndReturnSensitivity.beta24Month",
            "esgCompanyLevelDataSfdrPAI.lackOfAntiCorruptionAndAntiBriberyPolicySfdrResearchStatus",
            "pricesMostRecent.avgVolumeInMil5YrQtrEnd",
            "esgCompanyLevelDataSfdrPAI.lackOfHumanRightsPolicySfdrResearchStatus",
            "esgCompanyLevelDataSfdrPAI.icRuleOfLawScoreSfdrSourceType",
            "shareClassInformation.symbol",
            "factorProfile.styleFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.icPoliticalStabilityScoreSfdrYearOfReference",
            "esgCompanyLevelDataSfdrPAI.carbonEmissionsIntensitySfdrSourceType",
            "shareClassInformation.investmentStatus",
            "pricesMostRecent.avgVolumeInMil10YrMoEnd",
            "esgCompanyLevel2DataProductInvolvement.compProdInvPercGeneticallyModifiedPlantsAndSeedsGrowth",
            "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate",
            "esgCompanyLevel1DataLowCarbonTransitionRating.reportingSufficiencyCategory",
            "dividendResidualRiskAndReturnSensitivity.beta120Month",
            "esgCompanyLevelDataSfdrPAI.emissionsOfAirPollutantsTotalTonnesSfdrSourceType",
            "esgCompanyLevelDataSfdrPAI.carbonIntensityScope12and3EurSfdrResearchStatus",
            "trailingReturn.trailing10YearReturn",
            "esgCompanyLevelDataSfdrPAI.boardGenderDiversityPercentageOfFemaleBoardMembersSfdr",
            "pricesMostRecent.avgVolumeInMil9MoDaily",
            "esgCompanyLevelDataSfdrPAI.carbonScope2EmissionsSfdrResearchStatus",
            "esgCompanyLevelDataSfdrPAI.waterRecyclingAndReusePercentageOfWaterWithdrawalSfdrSourceType",
            "esgCompanyLevelDataSfdrPAI.lackOfCarbonEmissionReductionInitiativesSfdrSourceType",
            "esgCompanyLevel2DataSfdrPAICorporateVoluntary.lackOfDeforestationPolicySfdr",
            "pricesMostRecent.totalVolumeInMil2WkDaily",
            "marketCapital.asOfDate",
            "quantitativeFairValues.quantitativeMoat",
            "esgCompanyLevel2DataProductInvolvement.compProdInvAbortionOperations",
            "factorProfile.realEstateFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.waterRecyclingAndReusePercentageOfWaterWithdrawalSfdrResearchStatus",
            "esgCompanyLevel2DataSfdrPAICorporateVoluntary.involvedInFossilFuelsSfdr",
            "dividendResidualRiskAndReturnSensitivity.rSquare60Month",
            "esgCompanyLevelDataSfdrPAI.shareOfNonRenewableEnergyConsumptionPercentageSfdrSourceType"
          ],
          "pagination": {
            "pageSize": 50
          },
          "sort": [
            {
              "datapoint": "marketCapital.asOfDate"
            }
          ]
        }
      },
      "ScreenerRequestExample8": {
        "summary": "Nested Compound Query - OR then AND",
        "value": {
          "scope": {
            "shareclassInformation.exchangeCode": "XPAR"
          },
          "query": {
            "OR": [
              {
                "AND": [
                  {
                    "shareClassInformation.symbol": [
                      "ALMIL"
                    ]
                  },
                  {
                    "marketCapital.asOfDate": [
                      "2025-01-06"
                    ]
                  }
                ]
              },
              {
                "instrumentIdentifiers.performanceId": [
                  "0P0001DIM8"
                ]
              }
            ]
          },
          "dataPoints": [
            "esgCompanyLevel2DataCarbonEmissions.carbonIntensity",
            "factorProfile.emergingAsiaPacificFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.activitiesCausingLandDegradationDesertificationOrSoilSealingSfdr",
            "indexLevelsPrice.closeAsMovingAvg200DayMoEnd",
            "shortInterest.percentageChanged",
            "companyInformation.sic",
            "esgCompanyLevel1DataLowCarbonTransitionRating.lowCarbonTransitionVarValueAtRiskIprFpsOverallRisk2050Usd",
            "esgCompanyLevelDataSfdrPAI.breachOfUnGlobalCompactPrinciplesAndOecdGuidelinesForMultinationalEnterprisesSfdrYearOfReference",
            "esgCompanyLevel2DataImpactMetricsSDGsAndThemes.sdg3PercOfRevenue",
            "monthlyStandardDeviation.arithmeticMean24Month",
            "esgCompanyLevelDataSfdrPAI.energyConsumptionIntensityWholesaleAndRetailTradeAndRepairOfMotorVehiclesAndMotorcyclesSfdrResearchStatus",
            "dividendResidualRiskAndReturnSensitivity.beta24Month",
            "esgCompanyLevelDataSfdrPAI.lackOfAntiCorruptionAndAntiBriberyPolicySfdrResearchStatus",
            "pricesMostRecent.avgVolumeInMil5YrQtrEnd",
            "esgCompanyLevelDataSfdrPAI.lackOfHumanRightsPolicySfdrResearchStatus",
            "esgCompanyLevelDataSfdrPAI.icRuleOfLawScoreSfdrSourceType",
            "shareClassInformation.symbol",
            "factorProfile.styleFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.icPoliticalStabilityScoreSfdrYearOfReference",
            "esgCompanyLevelDataSfdrPAI.carbonEmissionsIntensitySfdrSourceType",
            "shareClassInformation.investmentStatus",
            "pricesMostRecent.avgVolumeInMil10YrMoEnd",
            "esgCompanyLevel2DataProductInvolvement.compProdInvPercGeneticallyModifiedPlantsAndSeedsGrowth",
            "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate",
            "esgCompanyLevel1DataLowCarbonTransitionRating.reportingSufficiencyCategory",
            "dividendResidualRiskAndReturnSensitivity.beta120Month",
            "esgCompanyLevelDataSfdrPAI.emissionsOfAirPollutantsTotalTonnesSfdrSourceType",
            "esgCompanyLevelDataSfdrPAI.carbonIntensityScope12and3EurSfdrResearchStatus",
            "trailingReturn.trailing10YearReturn",
            "esgCompanyLevelDataSfdrPAI.boardGenderDiversityPercentageOfFemaleBoardMembersSfdr",
            "pricesMostRecent.avgVolumeInMil9MoDaily",
            "esgCompanyLevelDataSfdrPAI.carbonScope2EmissionsSfdrResearchStatus",
            "esgCompanyLevelDataSfdrPAI.waterRecyclingAndReusePercentageOfWaterWithdrawalSfdrSourceType",
            "esgCompanyLevelDataSfdrPAI.lackOfCarbonEmissionReductionInitiativesSfdrSourceType",
            "esgCompanyLevel2DataSfdrPAICorporateVoluntary.lackOfDeforestationPolicySfdr",
            "pricesMostRecent.totalVolumeInMil2WkDaily",
            "marketCapital.asOfDate",
            "quantitativeFairValues.quantitativeMoat",
            "esgCompanyLevel2DataProductInvolvement.compProdInvAbortionOperations",
            "factorProfile.realEstateFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.waterRecyclingAndReusePercentageOfWaterWithdrawalSfdrResearchStatus",
            "esgCompanyLevel2DataSfdrPAICorporateVoluntary.involvedInFossilFuelsSfdr",
            "dividendResidualRiskAndReturnSensitivity.rSquare60Month",
            "esgCompanyLevelDataSfdrPAI.shareOfNonRenewableEnergyConsumptionPercentageSfdrSourceType"
          ],
          "sort": [
            {
              "datapoint": "marketCapital.asOfDate"
            }
          ]
        }
      },
      "ScreenerRequestExample9": {
        "summary": "Nested Compound Query - OR then AND Deeply Nested",
        "value": {
          "scope": {
            "shareclassInformation.exchangeCode": "XPAR"
          },
          "query": {
            "OR": [
              {
                "AND": [
                  {
                    "instrumentIdentifiers.performanceId": [
                      "0P0000DKX2"
                    ]
                  },
                  {
                    "shareClassInformation.symbol": [
                      "ALMIL"
                    ]
                  }
                ]
              },
              {
                "AND": [
                  {
                    "marketCapital.asOfDate": [
                      "2050-01-06"
                    ]
                  },
                  {
                    "trailingReturn.trailing10YearReturn": 0.453506
                  }
                ]
              }
            ]
          },
          "dataPoints": [
            "esgCompanyLevel2DataCarbonEmissions.carbonIntensity",
            "factorProfile.emergingAsiaPacificFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.activitiesCausingLandDegradationDesertificationOrSoilSealingSfdr",
            "indexLevelsPrice.closeAsMovingAvg200DayMoEnd",
            "shortInterest.percentageChanged",
            "companyInformation.sic",
            "esgCompanyLevel1DataLowCarbonTransitionRating.lowCarbonTransitionVarValueAtRiskIprFpsOverallRisk2050Usd",
            "esgCompanyLevelDataSfdrPAI.breachOfUnGlobalCompactPrinciplesAndOecdGuidelinesForMultinationalEnterprisesSfdrYearOfReference",
            "esgCompanyLevel2DataImpactMetricsSDGsAndThemes.sdg3PercOfRevenue",
            "monthlyStandardDeviation.arithmeticMean24Month",
            "esgCompanyLevelDataSfdrPAI.energyConsumptionIntensityWholesaleAndRetailTradeAndRepairOfMotorVehiclesAndMotorcyclesSfdrResearchStatus",
            "dividendResidualRiskAndReturnSensitivity.beta24Month",
            "esgCompanyLevelDataSfdrPAI.lackOfAntiCorruptionAndAntiBriberyPolicySfdrResearchStatus",
            "pricesMostRecent.avgVolumeInMil5YrQtrEnd",
            "esgCompanyLevelDataSfdrPAI.lackOfHumanRightsPolicySfdrResearchStatus",
            "esgCompanyLevelDataSfdrPAI.icRuleOfLawScoreSfdrSourceType",
            "shareClassInformation.symbol",
            "factorProfile.styleFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.icPoliticalStabilityScoreSfdrYearOfReference",
            "esgCompanyLevelDataSfdrPAI.carbonEmissionsIntensitySfdrSourceType",
            "shareClassInformation.investmentStatus",
            "pricesMostRecent.avgVolumeInMil10YrMoEnd",
            "esgCompanyLevel2DataProductInvolvement.compProdInvPercGeneticallyModifiedPlantsAndSeedsGrowth",
            "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate",
            "esgCompanyLevel1DataLowCarbonTransitionRating.reportingSufficiencyCategory",
            "dividendResidualRiskAndReturnSensitivity.beta120Month",
            "esgCompanyLevelDataSfdrPAI.emissionsOfAirPollutantsTotalTonnesSfdrSourceType",
            "esgCompanyLevelDataSfdrPAI.carbonIntensityScope12and3EurSfdrResearchStatus",
            "trailingReturn.trailing10YearReturn",
            "esgCompanyLevelDataSfdrPAI.boardGenderDiversityPercentageOfFemaleBoardMembersSfdr",
            "pricesMostRecent.avgVolumeInMil9MoDaily",
            "esgCompanyLevelDataSfdrPAI.carbonScope2EmissionsSfdrResearchStatus",
            "esgCompanyLevelDataSfdrPAI.waterRecyclingAndReusePercentageOfWaterWithdrawalSfdrSourceType",
            "esgCompanyLevelDataSfdrPAI.lackOfCarbonEmissionReductionInitiativesSfdrSourceType",
            "esgCompanyLevel2DataSfdrPAICorporateVoluntary.lackOfDeforestationPolicySfdr",
            "pricesMostRecent.totalVolumeInMil2WkDaily",
            "marketCapital.asOfDate",
            "quantitativeFairValues.quantitativeMoat",
            "esgCompanyLevel2DataProductInvolvement.compProdInvAbortionOperations",
            "factorProfile.realEstateFactorMultiAssetModel",
            "esgCompanyLevelDataSfdrPAI.waterRecyclingAndReusePercentageOfWaterWithdrawalSfdrResearchStatus",
            "esgCompanyLevel2DataSfdrPAICorporateVoluntary.involvedInFossilFuelsSfdr",
            "dividendResidualRiskAndReturnSensitivity.rSquare60Month",
            "esgCompanyLevelDataSfdrPAI.shareOfNonRenewableEnergyConsumptionPercentageSfdrSourceType"
          ],
          "sort": [
            {
              "datapoint": "marketCapital.asOfDate"
            }
          ]
        }
      },
      "ScreenerResponseExample1": {
        "summary": "Basic Query - Equals",
        "value": {
          "investments": [
            {
              "instrumentIdentifiers.performanceId": "0P0001VK71",
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.0013,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0.019826,
              "factorProfile.realEstateFactorMultiAssetModel": 0.000357,
              "factorProfile.styleFactorMultiAssetModel": 0.110014,
              "shareClassInformation.investmentStatus": 1,
              "shareClassInformation.symbol": "MSES"
            }
          ],
          "metadata": {
            "totalCount": 1,
            "messages": [
              {
                "investments": [
                  {
                    "status": "Data points are not entitled for 0P0001VK71 security",
                    "dataPoints": [
                      "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate",
                      "esgCompanyLevel1DataLowCarbonTransitionRating.reportingSufficiencyCategory",
                      "esgCompanyLevel1DataLowCarbonTransitionRating.lowCarbonTransitionVarValueAtRiskIprFpsOverallRisk2050Usd",
                      "esgCompanyLevel2DataProductInvolvement.compProdInvAbortionOperations",
                      "quantitativeFairValues.quantitativeMoat",
                      "esgCompanyLevel2DataProductInvolvement.compProdInvPercGeneticallyModifiedPlantsAndSeedsGrowth"
                    ],
                    "errorCode": "403",
                    "id": "0P0001VK71"
                  }
                ],
                "type": "Warning"
              }
            ],
            "requestId": "092fa93b-d63d-4b6e-a53b-d7ace50473ff",
            "time": "2025-10-03T17:48:16.0302555Z"
          }
        }
      },
      "ScreenerResponseExample2": {
        "summary": "Basic Query - In",
        "value": {
          "investments": [
            {
              "instrumentIdentifiers.performanceId": "0P0001VK70",
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.0091,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0.004238,
              "factorProfile.realEstateFactorMultiAssetModel": 0.003375,
              "factorProfile.styleFactorMultiAssetModel": -0.086788,
              "shareClassInformation.investmentStatus": 1,
              "shareClassInformation.symbol": "CA40"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0001VK71",
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.0013,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0.019826,
              "factorProfile.realEstateFactorMultiAssetModel": 0.000357,
              "factorProfile.styleFactorMultiAssetModel": 0.110014,
              "shareClassInformation.investmentStatus": 1,
              "shareClassInformation.symbol": "MSES"
            }
          ],
          "metadata": {
            "totalCount": 2,
            "messages": [
              {
                "investments": [
                  {
                    "status": "Data points are not entitled for 0P0001VK70 security",
                    "dataPoints": [
                      "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate",
                      "esgCompanyLevel1DataLowCarbonTransitionRating.reportingSufficiencyCategory",
                      "esgCompanyLevel1DataLowCarbonTransitionRating.lowCarbonTransitionVarValueAtRiskIprFpsOverallRisk2050Usd",
                      "esgCompanyLevel2DataProductInvolvement.compProdInvAbortionOperations",
                      "quantitativeFairValues.quantitativeMoat",
                      "esgCompanyLevel2DataProductInvolvement.compProdInvPercGeneticallyModifiedPlantsAndSeedsGrowth"
                    ],
                    "errorCode": "403",
                    "id": "0P0001VK70"
                  },
                  {
                    "status": "Data points are not entitled for 0P0001VK71 security",
                    "dataPoints": [
                      "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate",
                      "esgCompanyLevel1DataLowCarbonTransitionRating.reportingSufficiencyCategory",
                      "esgCompanyLevel1DataLowCarbonTransitionRating.lowCarbonTransitionVarValueAtRiskIprFpsOverallRisk2050Usd",
                      "esgCompanyLevel2DataProductInvolvement.compProdInvAbortionOperations",
                      "quantitativeFairValues.quantitativeMoat",
                      "esgCompanyLevel2DataProductInvolvement.compProdInvPercGeneticallyModifiedPlantsAndSeedsGrowth"
                    ],
                    "errorCode": "403",
                    "id": "0P0001VK71"
                  }
                ],
                "type": "Warning"
              }
            ],
            "requestId": "d9e864d7-c97e-4d2a-9988-648dfbec5761",
            "time": "2025-10-03T17:53:46.8668179Z"
          }
        }
      },
      "ScreenerResponseExample3": {
        "summary": "Basic Query - Date Range",
        "value": {
          "investments": [
            {
              "instrumentIdentifiers.performanceId": "0P00009W9Z",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.0024,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.0019,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0.1222,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 1.0165,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.0022,
              "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate": "2025-09-08",
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0,
              "factorProfile.realEstateFactorMultiAssetModel": 0,
              "factorProfile.styleFactorMultiAssetModel": -0.453183,
              "marketCapital.asOfDate": "2020-01-10",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": -0.599134,
              "dividendResidualRiskAndReturnSensitivity.beta120Month": 0.201814,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 2.958147,
              "monthlyStandardDeviation.arithmeticMean24Month": 2.524188,
              "trailingReturn.trailing10YearReturn": 10.087686,
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "AFO"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0000DKWR",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.0039,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.0036,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0.1099,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 1.1682,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.0039,
              "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate": "2025-09-08",
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0.137914,
              "factorProfile.realEstateFactorMultiAssetModel": 0.296562,
              "factorProfile.styleFactorMultiAssetModel": -0.471692,
              "marketCapital.asOfDate": "2020-01-20",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 0.27427,
              "dividendResidualRiskAndReturnSensitivity.beta120Month": 0.577988,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 3.721263,
              "monthlyStandardDeviation.arithmeticMean24Month": -1.581913,
              "trailingReturn.trailing10YearReturn": -2.261189,
              "shareClassInformation.investmentStatus": 1,
              "shareClassInformation.symbol": "ALVEL"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0000NIZG",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.0001,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 0.8954,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0,
              "marketCapital.asOfDate": "2020-01-24",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": -1.370331,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 0.373671,
              "monthlyStandardDeviation.arithmeticMean24Month": 4.767815,
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "MLGES"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0000DKRC",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.0016,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.0019,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0.0111,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 0.7176,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.0034,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0,
              "factorProfile.realEstateFactorMultiAssetModel": 0,
              "factorProfile.styleFactorMultiAssetModel": -1.002631,
              "marketCapital.asOfDate": "2020-01-29",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 0.209118,
              "dividendResidualRiskAndReturnSensitivity.beta120Month": 0.683599,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 0.005125,
              "monthlyStandardDeviation.arithmeticMean24Month": 0.955025,
              "trailingReturn.trailing10YearReturn": -2.80721,
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "ALTRA"
            },
            {
              "instrumentIdentifiers.performanceId": "0P00009WRN",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.0044,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.0066,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 0.9343,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.0354,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0.189473,
              "factorProfile.realEstateFactorMultiAssetModel": 0,
              "factorProfile.styleFactorMultiAssetModel": -1.846655,
              "marketCapital.asOfDate": "2020-02-11",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": -0.431667,
              "dividendResidualRiskAndReturnSensitivity.beta120Month": 0.411035,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 0.069133,
              "monthlyStandardDeviation.arithmeticMean24Month": -5.994658,
              "trailingReturn.trailing10YearReturn": -13.531273,
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "TOU"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0000DKXR",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.0018,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.0018,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0.4898,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 0.8848,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.0054,
              "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate": "2025-09-08",
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0,
              "factorProfile.realEstateFactorMultiAssetModel": 0,
              "factorProfile.styleFactorMultiAssetModel": -0.438146,
              "marketCapital.asOfDate": "2020-02-21",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 1.013019,
              "dividendResidualRiskAndReturnSensitivity.beta120Month": 0.287358,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 2.662224,
              "monthlyStandardDeviation.arithmeticMean24Month": -1.273831,
              "trailingReturn.trailing10YearReturn": -2.304959,
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "ALWEB"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0000YXUZ",
              "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate": "2025-09-08",
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0,
              "factorProfile.realEstateFactorMultiAssetModel": 0,
              "factorProfile.styleFactorMultiAssetModel": -0.438146,
              "marketCapital.asOfDate": "2020-02-21",
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "WEBNV"
            },
            {
              "instrumentIdentifiers.performanceId": "0P000155VR",
              "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate": "2025-09-08",
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0,
              "factorProfile.realEstateFactorMultiAssetModel": 0,
              "factorProfile.styleFactorMultiAssetModel": -0.438146,
              "marketCapital.asOfDate": "2020-02-21",
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "WEBNV"
            },
            {
              "instrumentIdentifiers.performanceId": "0P000178FQ",
              "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate": "2025-09-08",
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0,
              "factorProfile.realEstateFactorMultiAssetModel": 0,
              "factorProfile.styleFactorMultiAssetModel": -0.438146,
              "marketCapital.asOfDate": "2020-02-21",
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "WEBNV"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0001BOZ7",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.0316,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.0329,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 4.0278,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.066,
              "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate": "2025-09-08",
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0.26515,
              "factorProfile.realEstateFactorMultiAssetModel": 0,
              "factorProfile.styleFactorMultiAssetModel": 1.825064,
              "marketCapital.asOfDate": "2020-02-25",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 1.415547,
              "monthlyStandardDeviation.arithmeticMean24Month": -11.95761,
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "BUP"
            }
          ],
          "metadata": {
            "paginationTokenNext": "CJjBOxoJKQCspHlwAQAAGgw6CmJpb20ndXAgc2EaDDoKMHAwMDAxYm96NyIMOgowUDAwMDFCT1o3",
            "totalCount": 1043,
            "requestId": "9c5b991d-dccf-4188-9402-d41d6b2acaea",
            "time": "2025-10-03T18:00:20.0806591Z"
          }
        }
      },
      "ScreenerResponseExample4": {
        "summary": "Basic Query - Number Range",
        "value": {
          "investments": [
            {
              "instrumentIdentifiers.performanceId": "0P00009WEV",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.0018,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 1,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0,
              "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate": "2025-09-08",
              "esgCompanyLevel2DataProductInvolvement.compProdInvPercGeneticallyModifiedPlantsAndSeedsGrowth": 0,
              "esgCompanyLevel2DataImpactMetricsSDGsAndThemes.sdg3PercOfRevenue": 0,
              "esgCompanyLevel2DataSfdrPAICorporateVoluntary.involvedInFossilFuelsSfdr": "0",
              "esgCompanyLevelDataSfdrPAI.carbonScope2EmissionsSfdrResearchStatus": "Researched",
              "esgCompanyLevelDataSfdrPAI.carbonIntensityScope12and3EurSfdrResearchStatus": "Researched",
              "esgCompanyLevelDataSfdrPAI.energyConsumptionIntensityWholesaleAndRetailTradeAndRepairOfMotorVehiclesAndMotorcyclesSfdrResearchStatus": "Researched",
              "esgCompanyLevelDataSfdrPAI.breachOfUnGlobalCompactPrinciplesAndOecdGuidelinesForMultinationalEnterprisesSfdrYearOfReference": 2025,
              "esgCompanyLevelDataSfdrPAI.lackOfCarbonEmissionReductionInitiativesSfdrSourceType": "Reported",
              "esgCompanyLevelDataSfdrPAI.lackOfHumanRightsPolicySfdrResearchStatus": "Researched",
              "esgCompanyLevelDataSfdrPAI.lackOfAntiCorruptionAndAntiBriberyPolicySfdrResearchStatus": "Researched",
              "esgCompanyLevelDataSfdrPAI.waterRecyclingAndReusePercentageOfWaterWithdrawalSfdrResearchStatus": "Researched",
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0,
              "factorProfile.realEstateFactorMultiAssetModel": 0,
              "factorProfile.styleFactorMultiAssetModel": -0.325473,
              "esgCompanyLevel1DataLowCarbonTransitionRating.reportingSufficiencyCategory": "D",
              "esgCompanyLevel2DataCarbonEmissions.carbonIntensity": 4.35,
              "marketCapital.asOfDate": "2017-02-01",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 129.416075,
              "dividendResidualRiskAndReturnSensitivity.beta120Month": 25.319998,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 0.000351,
              "monthlyStandardDeviation.arithmeticMean24Month": 4162.5,
              "trailingReturn.trailing10YearReturn": 75.163038,
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "DEXB"
            },
            {
              "instrumentIdentifiers.performanceId": "0P00016CUM",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.0007,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.0008,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 1,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0,
              "marketCapital.asOfDate": "2017-11-02",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 4.286487,
              "monthlyStandardDeviation.arithmeticMean24Month": 2.255464,
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "MLMLT"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0000YB10",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 0.3939,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0,
              "marketCapital.asOfDate": "2019-01-03",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 29.374776,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 0.069607,
              "monthlyStandardDeviation.arithmeticMean24Month": 299.555495,
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "MLJAN"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0000HYAR",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.0005,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.0001,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 0.8573,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.0001,
              "marketCapital.asOfDate": "2019-01-03",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 8.830188,
              "dividendResidualRiskAndReturnSensitivity.beta120Month": -15.659829,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 1.185367,
              "monthlyStandardDeviation.arithmeticMean24Month": 22.925976,
              "trailingReturn.trailing10YearReturn": -9.581948,
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "MLVOP"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0000NINH",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.0016,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.0013,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 0.8418,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.0006,
              "marketCapital.asOfDate": "2019-01-03",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 6.305182,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 0.582609,
              "monthlyStandardDeviation.arithmeticMean24Month": 16.714317,
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "MLTMT"
            },
            {
              "instrumentIdentifiers.performanceId": "0P00017Y0H",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.0083,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.0084,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 1.1408,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.0148,
              "marketCapital.asOfDate": "2019-06-24",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 21.708458,
              "monthlyStandardDeviation.arithmeticMean24Month": 80.322132,
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "MLSFI"
            },
            {
              "instrumentIdentifiers.performanceId": "0P00016F9G",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 0.7786,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0,
              "marketCapital.asOfDate": "2019-08-06",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 6.871808,
              "monthlyStandardDeviation.arithmeticMean24Month": 4.841587,
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "MLIFE"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0000DKZS",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 1,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0,
              "marketCapital.asOfDate": "2020-06-23",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 37.24909,
              "dividendResidualRiskAndReturnSensitivity.beta120Month": 8.919766,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 2.562927,
              "monthlyStandardDeviation.arithmeticMean24Month": 207.016503,
              "trailingReturn.trailing10YearReturn": -16.328433,
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "MLARI"
            },
            {
              "instrumentIdentifiers.performanceId": "0P00009WPP",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.0003,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.0003,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 1.9125,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.0009,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0,
              "factorProfile.realEstateFactorMultiAssetModel": 0.223187,
              "factorProfile.styleFactorMultiAssetModel": -1.969177,
              "marketCapital.asOfDate": "2021-06-23",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 7.872111,
              "dividendResidualRiskAndReturnSensitivity.beta120Month": 3.075768,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 23.533161,
              "monthlyStandardDeviation.arithmeticMean24Month": 9.038605,
              "trailingReturn.trailing10YearReturn": -21.763908,
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "ALSIP"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0000DKYZ",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.0008,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.0012,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 1.7182,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.0016,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0.725694,
              "factorProfile.realEstateFactorMultiAssetModel": 0.195914,
              "factorProfile.styleFactorMultiAssetModel": -1.786143,
              "marketCapital.asOfDate": "2024-02-12",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 4.157751,
              "dividendResidualRiskAndReturnSensitivity.beta120Month": 1.075787,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 10.349173,
              "monthlyStandardDeviation.arithmeticMean24Month": 14.778468,
              "trailingReturn.trailing10YearReturn": 1.729069,
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "MLBAT"
            },
            {
              "instrumentIdentifiers.performanceId": "0P00009WO4",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.1713,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.2263,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 1,
              "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate": "2025-09-08",
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0,
              "factorProfile.realEstateFactorMultiAssetModel": 0.670293,
              "factorProfile.styleFactorMultiAssetModel": -2.176199,
              "marketCapital.asOfDate": "2025-07-14",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 10.938723,
              "dividendResidualRiskAndReturnSensitivity.beta120Month": 2.783648,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 9.779772,
              "monthlyStandardDeviation.arithmeticMean24Month": 6.175561,
              "trailingReturn.trailing10YearReturn": -13.448391,
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "RAL"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0001DIM8",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.0601,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.0702,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 4.4302,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 0.5581,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.2223,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0,
              "factorProfile.realEstateFactorMultiAssetModel": 0,
              "factorProfile.styleFactorMultiAssetModel": -0.458664,
              "marketCapital.asOfDate": "2025-10-02",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 8.286211,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 9.604659,
              "monthlyStandardDeviation.arithmeticMean24Month": 17.835292,
              "quantitativeFairValues.quantitativeMoat": 0.276,
              "shareClassInformation.investmentStatus": 1,
              "shareClassInformation.symbol": "AL2SI"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0000NQNE",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.1328,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.1414,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 1.4535,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 1.0797,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.1888,
              "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate": "2025-09-08",
              "esgCompanyLevel2DataProductInvolvement.compProdInvPercGeneticallyModifiedPlantsAndSeedsGrowth": 0,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0,
              "factorProfile.realEstateFactorMultiAssetModel": 0,
              "factorProfile.styleFactorMultiAssetModel": -0.13769,
              "marketCapital.asOfDate": "2025-10-02",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 4.188729,
              "dividendResidualRiskAndReturnSensitivity.beta120Month": 1.024761,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 9.427169,
              "monthlyStandardDeviation.arithmeticMean24Month": 0.101998,
              "trailingReturn.trailing10YearReturn": -20.168612,
              "quantitativeFairValues.quantitativeMoat": 0.324,
              "shareClassInformation.investmentStatus": 1,
              "shareClassInformation.symbol": "AB"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0001MR2A",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.0285,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.0285,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0.104,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 0.8386,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.0394,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0,
              "factorProfile.realEstateFactorMultiAssetModel": 0.208274,
              "factorProfile.styleFactorMultiAssetModel": -1.639069,
              "marketCapital.asOfDate": "2025-10-02",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 4.117866,
              "monthlyStandardDeviation.arithmeticMean24Month": 7.271069,
              "quantitativeFairValues.quantitativeMoat": 0.2955,
              "shareClassInformation.investmentStatus": 1,
              "shareClassInformation.symbol": "ALAMA"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0001KJH0",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 1,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0.152758,
              "factorProfile.realEstateFactorMultiAssetModel": 0.454144,
              "marketCapital.asOfDate": "2025-10-02",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 21.484482,
              "dividendResidualRiskAndReturnSensitivity.beta120Month": 1.500243,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 0.012148,
              "monthlyStandardDeviation.arithmeticMean24Month": 256.667784,
              "trailingReturn.trailing10YearReturn": 8.577988,
              "shareClassInformation.investmentStatus": 1,
              "shareClassInformation.symbol": "MLARO"
            },
            {
              "instrumentIdentifiers.performanceId": "0P00009WEH",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 19.3917,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 38.8591,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 546.0576,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 0.9667,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 185.5871,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0,
              "factorProfile.realEstateFactorMultiAssetModel": 0.024202,
              "factorProfile.styleFactorMultiAssetModel": -0.750127,
              "marketCapital.asOfDate": "2025-10-02",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 5.640346,
              "dividendResidualRiskAndReturnSensitivity.beta120Month": 1.199,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 1.618604,
              "monthlyStandardDeviation.arithmeticMean24Month": -4.662561,
              "trailingReturn.trailing10YearReturn": -92.921859,
              "shareClassInformation.investmentStatus": 1,
              "shareClassInformation.symbol": "ALIBR"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0000DKYK",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.1268,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.1585,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 8.5608,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 0.7122,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.226,
              "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate": "2025-09-08",
              "esgCompanyLevel2DataProductInvolvement.compProdInvPercGeneticallyModifiedPlantsAndSeedsGrowth": 0,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0,
              "factorProfile.realEstateFactorMultiAssetModel": 0,
              "factorProfile.styleFactorMultiAssetModel": 0.11831,
              "marketCapital.asOfDate": "2025-10-02",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 6.096596,
              "dividendResidualRiskAndReturnSensitivity.beta120Month": 2.134119,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 12.119058,
              "monthlyStandardDeviation.arithmeticMean24Month": 7.762877,
              "trailingReturn.trailing10YearReturn": -19.14327,
              "quantitativeFairValues.quantitativeMoat": 0.208,
              "shareClassInformation.investmentStatus": 1,
              "shareClassInformation.symbol": "ALCLS"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0000RVVZ",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.0001,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.0001,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 0.6007,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.0003,
              "marketCapital.asOfDate": "2025-10-02",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 5.105932,
              "dividendResidualRiskAndReturnSensitivity.beta120Month": 1.587553,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 3.055099,
              "monthlyStandardDeviation.arithmeticMean24Month": 0.793735,
              "trailingReturn.trailing10YearReturn": 7.177346,
              "shareClassInformation.investmentStatus": 1,
              "shareClassInformation.symbol": "MLCLP"
            },
            {
              "instrumentIdentifiers.performanceId": "0P000148AM",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 2.0623,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 4.1295,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 57.7596,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 0.7545,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 19.1615,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0.346234,
              "factorProfile.realEstateFactorMultiAssetModel": 0,
              "factorProfile.styleFactorMultiAssetModel": -3.028223,
              "marketCapital.asOfDate": "2025-10-02",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 19.584136,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 0.650867,
              "monthlyStandardDeviation.arithmeticMean24Month": 71.506941,
              "quantitativeFairValues.quantitativeMoat": 0.234,
              "shareClassInformation.investmentStatus": 1,
              "shareClassInformation.symbol": "ALTD"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0000DKYH",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.0098,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.0192,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0.2343,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 1.1166,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.0293,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0,
              "factorProfile.realEstateFactorMultiAssetModel": 0.045209,
              "factorProfile.styleFactorMultiAssetModel": 1.029099,
              "marketCapital.asOfDate": "2025-10-02",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 10.644305,
              "dividendResidualRiskAndReturnSensitivity.beta120Month": 0.401498,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 0.00063,
              "monthlyStandardDeviation.arithmeticMean24Month": 28.405849,
              "trailingReturn.trailing10YearReturn": 10.071366,
              "quantitativeFairValues.quantitativeMoat": 0.358,
              "shareClassInformation.investmentStatus": 1,
              "shareClassInformation.symbol": "ALENT"
            },
            {
              "instrumentIdentifiers.performanceId": "0P00017Q78",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.0286,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.0505,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 4.4998,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 1.654,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.2056,
              "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate": "2025-09-08",
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0,
              "factorProfile.realEstateFactorMultiAssetModel": 0,
              "factorProfile.styleFactorMultiAssetModel": -1.758265,
              "marketCapital.asOfDate": "2025-10-02",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 6.667288,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 10.941392,
              "monthlyStandardDeviation.arithmeticMean24Month": -2.980521,
              "shareClassInformation.investmentStatus": 1,
              "shareClassInformation.symbol": "GNRO"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0001R7PA",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.0078,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.0078,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0.0485,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 1.5536,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.0098,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0.49061,
              "factorProfile.realEstateFactorMultiAssetModel": 0,
              "factorProfile.styleFactorMultiAssetModel": -1.755782,
              "marketCapital.asOfDate": "2025-10-02",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 5.746776,
              "monthlyStandardDeviation.arithmeticMean24Month": -2.797842,
              "shareClassInformation.investmentStatus": 1,
              "shareClassInformation.symbol": "ALWTR"
            },
            {
              "instrumentIdentifiers.performanceId": "0P00015A1N",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.1735,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.2242,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 3.6291,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 1.0736,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.7264,
              "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate": "2025-09-08",
              "esgCompanyLevel2DataProductInvolvement.compProdInvPercGeneticallyModifiedPlantsAndSeedsGrowth": 0,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0,
              "factorProfile.realEstateFactorMultiAssetModel": 0,
              "factorProfile.styleFactorMultiAssetModel": 1.587513,
              "marketCapital.asOfDate": "2025-10-02",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 5.447379,
              "dividendResidualRiskAndReturnSensitivity.beta120Month": 1.622474,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 10.223557,
              "monthlyStandardDeviation.arithmeticMean24Month": 5.913959,
              "trailingReturn.trailing10YearReturn": -25.703108,
              "quantitativeFairValues.quantitativeMoat": 0.289,
              "shareClassInformation.investmentStatus": 1,
              "shareClassInformation.symbol": "POXEL"
            }
          ],
          "metadata": {
            "totalCount": 23,
            "requestId": "e4cd1bc2-89ca-416f-bb6f-2ffe832f4774",
            "time": "2025-10-03T18:06:53.4543888Z"
          }
        }
      },
      "ScreenerResponseExample5": {
        "summary": "Compound Query - AND",
        "value": {
          "investments": [
            {
              "instrumentIdentifiers.performanceId": "0P0001VK70",
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.009,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0.004238,
              "factorProfile.realEstateFactorMultiAssetModel": 0.003375,
              "factorProfile.styleFactorMultiAssetModel": -0.086788,
              "shareClassInformation.investmentStatus": 1,
              "shareClassInformation.symbol": "CA40"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0001VK71",
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.0013,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0.019826,
              "factorProfile.realEstateFactorMultiAssetModel": 0.000357,
              "factorProfile.styleFactorMultiAssetModel": 0.110014,
              "shareClassInformation.investmentStatus": 1,
              "shareClassInformation.symbol": "MSES"
            }
          ],
          "metadata": {
            "totalCount": 2,
            "messages": [
              {
                "investments": [
                  {
                    "status": "Data points are not entitled for 0P0001VK70 security",
                    "dataPoints": [
                      "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate",
                      "esgCompanyLevel1DataLowCarbonTransitionRating.reportingSufficiencyCategory",
                      "esgCompanyLevel1DataLowCarbonTransitionRating.lowCarbonTransitionVarValueAtRiskIprFpsOverallRisk2050Usd",
                      "esgCompanyLevel2DataProductInvolvement.compProdInvAbortionOperations",
                      "quantitativeFairValues.quantitativeMoat",
                      "esgCompanyLevel2DataProductInvolvement.compProdInvPercGeneticallyModifiedPlantsAndSeedsGrowth"
                    ],
                    "errorCode": "403",
                    "id": "0P0001VK70"
                  },
                  {
                    "status": "Data points are not entitled for 0P0001VK71 security",
                    "dataPoints": [
                      "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate",
                      "esgCompanyLevel1DataLowCarbonTransitionRating.reportingSufficiencyCategory",
                      "esgCompanyLevel1DataLowCarbonTransitionRating.lowCarbonTransitionVarValueAtRiskIprFpsOverallRisk2050Usd",
                      "esgCompanyLevel2DataProductInvolvement.compProdInvAbortionOperations",
                      "quantitativeFairValues.quantitativeMoat",
                      "esgCompanyLevel2DataProductInvolvement.compProdInvPercGeneticallyModifiedPlantsAndSeedsGrowth"
                    ],
                    "errorCode": "403",
                    "id": "0P0001VK71"
                  }
                ],
                "type": "Warning"
              }
            ],
            "requestId": "1354c656-2095-4dd6-a07a-4ea386c55b1b",
            "time": "2025-10-06T15:00:56.3309709Z"
          }
        }
      },
      "ScreenerResponseExample6": {
        "summary": "Compound Query - OR",
        "value": {
          "investments": [
            {
              "instrumentIdentifiers.performanceId": "0P0001SUCI",
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.0023,
              "shareClassInformation.investmentStatus": 1,
              "shareClassInformation.symbol": "FM28"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0001VK70",
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.009,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0.004238,
              "factorProfile.realEstateFactorMultiAssetModel": 0.003375,
              "factorProfile.styleFactorMultiAssetModel": -0.086788,
              "shareClassInformation.investmentStatus": 1,
              "shareClassInformation.symbol": "CA40"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0001VK71",
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.0013,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0.019826,
              "factorProfile.realEstateFactorMultiAssetModel": 0.000357,
              "factorProfile.styleFactorMultiAssetModel": 0.110014,
              "shareClassInformation.investmentStatus": 1,
              "shareClassInformation.symbol": "MSES"
            }
          ],
          "metadata": {
            "totalCount": 3,
            "messages": [
              {
                "investments": [
                  {
                    "status": "Data points are not entitled for 0P0001VK70 security",
                    "dataPoints": [
                      "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate",
                      "esgCompanyLevel1DataLowCarbonTransitionRating.reportingSufficiencyCategory",
                      "esgCompanyLevel1DataLowCarbonTransitionRating.lowCarbonTransitionVarValueAtRiskIprFpsOverallRisk2050Usd",
                      "esgCompanyLevel2DataProductInvolvement.compProdInvAbortionOperations",
                      "quantitativeFairValues.quantitativeMoat",
                      "esgCompanyLevel2DataProductInvolvement.compProdInvPercGeneticallyModifiedPlantsAndSeedsGrowth"
                    ],
                    "errorCode": "403",
                    "id": "0P0001VK70"
                  },
                  {
                    "status": "Data points are not entitled for 0P0001SUCI security",
                    "dataPoints": [
                      "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate",
                      "esgCompanyLevel1DataLowCarbonTransitionRating.reportingSufficiencyCategory",
                      "esgCompanyLevel1DataLowCarbonTransitionRating.lowCarbonTransitionVarValueAtRiskIprFpsOverallRisk2050Usd",
                      "esgCompanyLevel2DataProductInvolvement.compProdInvAbortionOperations",
                      "quantitativeFairValues.quantitativeMoat",
                      "esgCompanyLevel2DataProductInvolvement.compProdInvPercGeneticallyModifiedPlantsAndSeedsGrowth"
                    ],
                    "errorCode": "403",
                    "id": "0P0001SUCI"
                  },
                  {
                    "status": "Data points are not entitled for 0P0001VK71 security",
                    "dataPoints": [
                      "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate",
                      "esgCompanyLevel1DataLowCarbonTransitionRating.reportingSufficiencyCategory",
                      "esgCompanyLevel1DataLowCarbonTransitionRating.lowCarbonTransitionVarValueAtRiskIprFpsOverallRisk2050Usd",
                      "esgCompanyLevel2DataProductInvolvement.compProdInvAbortionOperations",
                      "quantitativeFairValues.quantitativeMoat",
                      "esgCompanyLevel2DataProductInvolvement.compProdInvPercGeneticallyModifiedPlantsAndSeedsGrowth"
                    ],
                    "errorCode": "403",
                    "id": "0P0001VK71"
                  }
                ],
                "type": "Warning"
              }
            ],
            "requestId": "3cc96347-7390-469a-8a39-7ed33be0f815",
            "time": "2025-10-06T15:10:59.3818568Z"
          }
        }
      },
      "ScreenerResponseExample7": {
        "summary": "Compound Query - NOT",
        "value": {
          "investments": [
            {
              "instrumentIdentifiers.performanceId": "0P00009WA0",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.4493,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.4147,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0.6998,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 0.9446,
              "pricesMostRecent.avgVolumeInMil9MoDaily": 0.6204,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0,
              "factorProfile.realEstateFactorMultiAssetModel": 0,
              "factorProfile.styleFactorMultiAssetModel": -1.082047,
              "marketCapital.asOfDate": "2007-06-12",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 0.812319,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 72.334336,
              "monthlyStandardDeviation.arithmeticMean24Month": 2.823949,
              "trailingReturn.trailing10YearReturn": 16.2089,
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "AGF"
            },
            {
              "instrumentIdentifiers.performanceId": "0P00009WE4",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.0004,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.0004,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0.0006,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 0.4505,
              "marketCapital.asOfDate": "2009-11-23",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 0.215523,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 0.140461,
              "monthlyStandardDeviation.arithmeticMean24Month": 2.871305,
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "CRCL"
            },
            {
              "instrumentIdentifiers.performanceId": "0P0000HVFZ",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0,
              "esgCompanyLevel2DataEsgRiskRating.sustainalyticsRatingDate": "2025-09-08",
              "esgCompanyLevel2DataProductInvolvement.compProdInvPercGeneticallyModifiedPlantsAndSeedsGrowth": 0,
              "factorProfile.emergingAsiaPacificFactorMultiAssetModel": 0,
              "factorProfile.realEstateFactorMultiAssetModel": 0,
              "factorProfile.styleFactorMultiAssetModel": -0.437335,
              "marketCapital.asOfDate": "2010-12-31",
              "shareClassInformation.investmentStatus": 0,
              "shareClassInformation.symbol": "ATINV"
            },
            {
              "instrumentIdentifiers.performanceId": "0P00009WAR",
              "pricesMostRecent.avgVolumeInMil10YrMoEnd": 0.0174,
              "pricesMostRecent.avgVolumeInMil5YrQtrEnd": 0.0314,
              "pricesMostRecent.totalVolumeInMil2WkDaily": 0,
              "indexLevelsPrice.closeAsMovingAvg200DayMoEnd": 0.9478,
              "marketCapital.asOfDate": "2010-12-31",
              "dividendResidualRiskAndReturnSensitivity.beta24Month": 0.418431,
              "dividendResidualRiskAndReturnSensitivity.beta120Month": 0.583302,
              "dividendResidualRiskAndReturnSensitivity.rSquare60Month": 16.64252,
              "monthlyStandardDeviation.arithmeticMean24Month": 0.724597,
[...]
