{
  "openapi": "3.0.0",
  "info": {
    "title": "FinaMetrica Profiler",
    "description": "Get questions and response options for risk tolerance, experience, and know your client questionnaires. Submit questionnaire responses to get data that can be used to calculate suitability scores for a client. Get a specific questionnaire response or the entire response history for a client. Submit new and access existing professional judgement matrices.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://www.us-api.morningstar.com/finametrica-profiler/v1",
      "variables": {}
    }
  ],
  "paths": {
    "/questionnaires/risk-questionnaires/{questionnaireId}": {
      "get": {
        "summary": "Get risk tolerance questionnaire",
        "description": "Get questions and possible options for the Risk Tolerance questionnaire.",
        "tags": [
          "questionnaires"
        ],
        "operationId": "requestRiskQuestionnaire",
        "parameters": [
          {
            "name": "questionnaireId",
            "in": "path",
            "description": "Unique identifier of a questionnaire",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "FM10S30",
                "FM25V30"
              ]
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Indicate the locale for the request. e.g. en-US, fr-CA",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en-US",
                "en-CA",
                "en-GB",
                "en-AU",
                "en-IN",
                "fr-CA"
              ]
            }
          },
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Questionnaire"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      }
    },
    "/clients/generate-id": {
      "post": {
        "summary": "Create unique identifier for a client",
        "description": "Create a unique identifier for a client. You use this alphanumeric ID to identify your client within FinaMetrica. You must include the ID when submitting and retrieving a client's responses. The ID is generated based on the `externalId` (for example, client's email address) that is sent in the request. If your client already has an ID, you do not need to generate a new one. The ID will never expire.",
        "tags": [
          "clients"
        ],
        "operationId": "generateClientId",
        "parameters": [
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseGuidPayload"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      }
    },
    "/clients/risks/questionnaires": {
      "post": {
        "summary": "Submit risk tolerance response",
        "description": "Submit a client’s responses to the risk tolerance questionnaire and return a risk tolerance score. In the response, a unique identifier for the questionnaire will be returned. The identifier can be used to retrieve the answers at any time in the future.",
        "tags": [
          "clients"
        ],
        "operationId": "submitRiskQuestionnaireResponse",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Indicate the locale for the request. e.g. en-US, fr-CA",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en-US",
                "en-CA",
                "en-GB",
                "en-AU",
                "en-IN",
                "fr-CA"
              ]
            }
          },
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuestionnaireRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseAndScorePayload"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get risk tolerance responses history",
        "description": "Get questionnaire responses for the client identified by the value in the `clientId` parameter. You can retrieve a list of all the responses the client has given to past questionnaires.",
        "tags": [
          "clients"
        ],
        "operationId": "getRiskQuestionnaireResponseHistory",
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "description": "Unique identifier of a client",
            "example": "3168dab3-4445-40c5-8295-5a816c6cd5de",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HistoryPayload"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      }
    },
    "/clients/risks/questionnaires/{responseId}": {
      "get": {
        "tags": [
          "clients"
        ],
        "summary": "Get risk tolerance response and score",
        "description": "Get a specific risk questionnaire response and score for the client identified by the value in the `clientId` parameter. The questionnaire is identified by the value in the `id` parameter. This ID was returned in the response when the questionnaire was submitted.",
        "operationId": "getRiskQuestionnaireResponse",
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "description": "Unique identifier of a client",
            "example": "3168dab3-4445-40c5-8295-5a816c6cd5de",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseId",
            "in": "path",
            "description": "Unique identifier of a response to a questionnaire",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Indicate the locale for the request. e.g. en-US, fr-CA",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en-US",
                "en-CA",
                "en-GB",
                "en-AU",
                "en-IN",
                "fr-CA"
              ]
            }
          },
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseAndScorePayload"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      }
    },
    "/clients/risks/questionnaires/{responseId}/agreed-score": {
      "patch": {
        "tags": [
          "clients"
        ],
        "summary": "Submit risk tolerance agreed score",
        "description": "Submit a client’s agreed score. Before submitting a score, it must be discussed with the client and the client must agree with the score.",
        "operationId": "submitRiskQuestionnaireAgreedScore",
        "parameters": [
          {
            "name": "responseId",
            "in": "path",
            "description": "Unique identifier of a response to a questionnaire",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgreedRPRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgreedRPPayload"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      }
    },
    "/clients/solutions/calculate-suitability-score": {
      "post": {
        "summary": "Calculate suitability score",
        "description": "Using the Professional Judgment Matrix (PJM) framework, calculates the suitability score and score constraints of an investment/portfolio.",
        "tags": [
          "clients"
        ],
        "operationId": "calculateSuitabilityScore",
        "parameters": [
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Indicate the locale for the request. e.g. en-US, fr-CA",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "en-US",
                "en-CA",
                "en-GB",
                "fr-CA"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalculateSuitabilityScoreRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalculateSuitabilityScoreResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      }
    },
    "/clients/solutions/comfort-ranges": {
      "get": {
        "summary": "Get comfort growth or comfort score ranges for a given portfolio risk score",
        "description": "Get comfort growth or comfort score ranges for a given portfolio risk score.",
        "tags": [
          "clients"
        ],
        "operationId": "getComfortRanges",
        "parameters": [
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rangeType",
            "in": "query",
            "description": "Comfort range type.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "GROWTH",
                "SCORE"
              ]
            }
          },
          {
            "name": "score",
            "in": "query",
            "description": "Score value. Value must be in the range 0 - 110.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region or country value.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "AU",
                "CA",
                "EUR",
                "IN",
                "NZ",
                "UK",
                "USA"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Version of the Comfort score ranges",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "V3"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComfortRangesPayloadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      }
    },
    "/investment-profiles/{profileId}": {
      "get": {
        "summary": "Get investment profiles",
        "description": "Get investment profiles that can be used to select an asset allocation for an investment/portfolio depending on the client’s suitability score.",
        "tags": [
          "investment profiles"
        ],
        "operationId": "getInvestmentProfiles",
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "description": "Unique identifier of an investment profile",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvestmentProfilesPayloadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      }
    },
    "/investment-profiles": {
      "post": {
        "summary": "Create investment profile",
        "description": "Create an investment profile that can be used to customize asset allocation.",
        "tags": [
          "investment profiles"
        ],
        "operationId": "postInvestmentProfiles",
        "parameters": [
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvestmentProfilesPayloadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvestmentProfilesPayloadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "422": {
            "description": "Best fit score data not found for an investment policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse422"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      }
    },
    "/questionnaires/experience-questionnaires/{questionnaireId}": {
      "get": {
        "summary": "Get experience questionnaire",
        "description": "Get questions and possible options for the Experience questionnaire.",
        "tags": [
          "questionnaires"
        ],
        "operationId": "requestExperienceQuestionnaire",
        "parameters": [
          {
            "name": "questionnaireId",
            "in": "path",
            "description": "Unique identifier of a questionnaire",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "EXP10"
              ]
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Indicate the locale for the request. e.g. en-US, fr-CA",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en-US",
                "en-CA",
                "en-GB",
                "fr-CA"
              ]
            }
          },
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Questionnaire"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      }
    },
    "/clients/experience/questionnaires": {
      "get": {
        "summary": "Get experience responses history",
        "description": "Get questionnaire responses for the client identified by the value in the `clientId` parameter. You can retrieve a list of all the responses the client has given to past questionnaires.",
        "tags": [
          "clients"
        ],
        "operationId": "getExperienceQuestionnaireResponseHistory",
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "description": "Unique identifier of a client",
            "example": "3168dab3-4445-40c5-8295-5a816c6cd5de",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HistoryPayload"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Submit experience response",
        "description": "Submit a client’s responses to the experience questionnaire. In the response, a unique identifier for the questionnaire will be returned. The identifier can be used to retrieve the answers at any time in the future.",
        "tags": [
          "clients"
        ],
        "operationId": "submitExperienceQuestionnaireResponse",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Indicate the locale for the request. e.g. en-US, fr-CA",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en-US",
                "en-CA",
                "en-GB",
                "en-AU",
                "en-IN",
                "fr-CA"
              ]
            }
          },
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "questionnarieRequired",
            "in": "query",
            "description": "Flag to change the nature of the questions in the Experience questionnaire",
            "example": "true",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExperienceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseGuidPayload"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      }
    },
    "/clients/experience/questionnaires/{responseId}": {
      "get": {
        "tags": [
          "clients"
        ],
        "summary": "Get experience response",
        "description": "Get a specific experience questionnaire response for the client identified by the value in the `clientId` parameter. The questionnaire is identified by the value in the `id` parameter. This ID was returned in the response when the questionnaire was submitted.",
        "operationId": "getExperienceQuestionnaireResponse",
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "description": "Unique identifier of a client",
            "example": "3168dab3-4445-40c5-8295-5a816c6cd5de",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseId",
            "in": "path",
            "description": "Unique identifier of a response to a questionnaire",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Indicate the locale for the request. e.g. en-US, fr-CA",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en-US",
                "en-CA",
                "en-GB",
                "en-AU",
                "en-IN",
                "fr-CA"
              ]
            }
          },
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseAnswerResponsePayload"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      }
    },
    "/questionnaires/kyc-questionnaires/{questionnaireId}": {
      "get": {
        "summary": "Get know your client questionnaire",
        "description": "Get questions and possible options for the Know Your Client questionnaire.",
        "tags": [
          "questionnaires"
        ],
        "operationId": "requestKycQuestionnaire",
        "parameters": [
          {
            "name": "questionnaireId",
            "in": "path",
            "description": "Unique identifier of a questionnaire",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "KYC10"
              ]
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Indicate the locale for the request. e.g. en-US, fr-CA",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en-US",
                "en-CA",
                "en-GB",
                "en-AU",
                "en-IN",
                "fr-CA"
              ]
            }
          },
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Questionnaire"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      }
    },
    "/clients/kyc/questionnaires": {
      "get": {
        "summary": "Get know your client responses history",
        "description": "Get questionnaire responses for the client identified by the value in the `clientId` parameter. You can retrieve a list of all the responses the client has given to past questionnaires.",
        "tags": [
          "clients"
        ],
        "operationId": "getKycQuestionnaireResponseHistory",
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "description": "Unique identifier of a client",
            "example": "3168dab3-4445-40c5-8295-5a816c6cd5de",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HistoryPayload"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Submit know your client response",
        "description": "Submit a client’s responses to the know your client questionnaire. In the response, a unique identifier for the questionnaire will be returned. The identifier can be used to retrieve the answers at any time in the future.",
        "tags": [
          "clients"
        ],
        "operationId": "submitKycQuestionnaireResponse",
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Indicate the locale for the request. e.g. en-US, fr-CA",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en-US",
                "en-CA",
                "en-GB",
                "en-AU",
                "en-IN",
                "fr-CA"
              ]
            }
          },
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KYCRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseGuidPayload"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      }
    },
    "/clients/kyc/questionnaires/{responseId}": {
      "get": {
        "tags": [
          "clients"
        ],
        "summary": "Get know your client response",
        "description": "Get a specific know your client questionnaire response for the client identified by the value in the `clientId` parameter. The questionnaire is identified by the value in the `id` parameter. This ID was returned in the response when the questionnaire was submitted.",
        "operationId": "getKycQuestionnaireResponse",
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "description": "Unique identifier of a client",
            "example": "3168dab3-4445-40c5-8295-5a816c6cd5de",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseId",
            "in": "path",
            "description": "Unique identifier of a response to a questionnaire",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Indicate the locale for the request. e.g. en-US, fr-CA",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en-US",
                "en-CA",
                "en-GB",
                "fr-CA"
              ]
            }
          },
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseAnswerResponsePayload"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      }
    },
    "/pjm": {
      "post": {
        "summary": "Submit new professional judgement matrix configuration",
        "description": "Submit new professional judgement matrix configuration. In the response, a unique identifier `pjmId` for the configuration will be returned. The identifier can be used to retrieve the configuration at any time in the future.",
        "tags": [
          "professional judgement matrices"
        ],
        "operationId": "submitPjmConfiguration",
        "parameters": [
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PjmRequestPayload"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PjmResponsePayload"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      }
    },
    "/pjm/{pjmId}": {
      "get": {
        "tags": [
          "professional judgement matrices"
        ],
        "summary": "Get professional judgement matrix configuration",
        "description": "Get a specific professional judgement matrix configuration. The configuration is identified by the value in the `pjmId` parameter. This ID was returned in the response when the configuration was created.",
        "operationId": "getPjmConfiguration",
        "parameters": [
          {
            "name": "pjmId",
            "in": "path",
            "description": "Unique identifier of a professional judgement matrix configuration",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PjmWithHistoryResponsePayload"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update existing professional judgement matrix configuration",
        "description": "Update existing professional judgement matrix configuration. In the response, a unique identifier `pjmId` for the configuration will be returned. The identifier can be used to retrieve the configuration at any time in the future.",
        "tags": [
          "professional judgement matrices"
        ],
        "operationId": "updatePjmConfiguration",
        "parameters": [
          {
            "name": "pjmId",
            "in": "path",
            "description": "Unique identifier of a professional judgement matrix configuration",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PjmRequestPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PjmUpdateResponsePayload"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      }
    },
    "/reports/risks/{responseId}": {
      "get": {
        "summary": "Get the content of a specific response to a questionnaire",
        "description": "Get the content of a specific response to a questionnaire, including the static text, risk tolerance responses, and footnotes. In the `ignoreSections` parameter, specify any sections you do not want returned in the response.",
        "tags": [
          "reports"
        ],
        "operationId": "getRiskReport",
        "parameters": [
          {
            "name": "responseId",
            "in": "path",
            "description": "Unique identifier of a response to a questionnaire",
            "required": true,
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "query",
            "description": "Unique identifier of a client",
            "example": "3168dab3-4445-40c5-8295-5a816c6cd5de",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ignoreSections",
            "in": "query",
            "description": "Define the sections you do NOT want to include in the report. It must be a comma separated string with the specific sections to ignore in the response. If not specified, all the sections will be included.",
            "required": false,
            "example": "RISK_TOLERANCE,USING_YOUR_PROFILE,RISK_TOLERANCE_SCORE,RISK_GROUP,YOUR_DIFFERENCES,FOOTNOTES",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Indicate the locale for the request. e.g. en-US, fr-CA",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en-US"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponsePayload"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      }
    },
    "/reports/data-points": {
      "get": {
        "summary": "Extract clients data in csv format.",
        "description": "Extract client data with questionnaire answers and suitability score calculations.",
        "tags": [
          "reports"
        ],
        "operationId": "getDataPointReport",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Date to start fetching records.",
            "example": "20200601",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Date to limit fetching record.",
            "example": "20200228",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File download.",
            "content": {
              "application/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "Content-Disposition": {
                "description": "attachment; filename=data-points-20200601-20200228.csv",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        }
      }
    },
    "/portfolios/investments": {
      "get": {
        "summary": "Get the content of the mix of investments matrix",
        "description": "Get the content of the mix of investments matrix with the set of portfolios and their high, medium, low percentage of return.",
        "tags": [
          "portfolios"
        ],
        "operationId": "getMixInvestments",
        "parameters": [
          {
            "name": "X-API-RequestId",
            "in": "header",
            "description": "Initial request identifier",
            "example": "436c05d4-27b6-4a92-b7f1-5a829d55373a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Indicate the locale for the request. e.g. en-US, fr-CA",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en-US",
                "en-CA",
                "en-GB",
                "fr-CA"
              ]
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer access token authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MixInvestmentsPayload"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse404"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          },
          "502": {
            "description": "Internal server communication failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse502"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Paragraph": {
        "type": "object",
        "title": "Paragraph",
        "properties": {
          "text": {
            "type": "string",
            "description": "Paragraph text",
            "example": "Compared to others, how do you rate your willingness to take financial risks?"
          },
          "htmlMarkup": {
            "type": "boolean",
            "example": false,
            "description": "True if the text field is an HTML markup, otherwise text field is plain text"
          },
          "image": {
            "type": "boolean",
            "example": true,
            "description": "True if the paragraph is an image, otherwise is text"
          },
          "imageHref": {
            "type": "string",
            "example": "https://www.morningstart.com/finametrica/images/risk.png",
            "description": "Image URL"
          }
        }
      },
      "Option": {
        "type": "object",
        "title": "Option",
        "properties": {
          "id": {
            "type": "string",
            "example": "FM10-1-1",
            "description": "Option unique identifier"
          },
          "text": {
            "type": "string",
            "example": "Extremely low risk taker.",
            "description": "Option text"
          },
          "displayOrder": {
            "type": "integer",
            "example": "1",
            "description": "Question display order"
          },
          "htmlMarkup": {
            "type": "boolean",
            "example": false,
            "description": "True if the text field is an HTML markup, otherwise text field is plain text"
          },
          "image": {
            "type": "boolean",
            "example": false,
            "description": "True if the option is an image, otherwise is text"
          },
          "imageHref": {
            "type": "string",
            "example": "https://www.morningstart.com/finametrica/images/risk.png",
            "description": "Image URL"
          }
        }
      },
      "Question": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "FM10-1",
            "description": "Question unique identifier"
          },
          "titleText": {
            "type": "string",
            "description": "Question title text",
            "example": "Self-Rating"
          },
          "multipleSelect": {
            "type": "boolean",
            "description": "Multiple selections for the question, if this is true the question allows multiple answers",
            "example": false
          },
          "displayOrder": {
            "type": "integer",
            "description": "Question display order",
            "example": "1"
          },
          "paragraphs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Paragraph"
            }
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Option"
            }
          }
        }
      },
      "Questionnaire": {
        "type": "object",
        "title": "Questionnaire",
        "properties": {
          "title": {
            "type": "string",
            "description": "Questionnaire title",
            "example": "FinaMetrica 10"
          },
          "id": {
            "type": "string",
            "description": "Questionnaire unique identifier",
            "example": "FM10S30"
          },
          "questions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Question"
            }
          }
        }
      },
      "QuestionRequest": {
        "type": "object",
        "title": "QuestionRequest",
        "properties": {
          "answers": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "FM10-1-4",
              "description": "Answer unique identifier"
            }
          },
          "id": {
            "type": "string",
            "description": "Question unique identifier",
            "example": "FM10-1"
          }
        }
      },
      "GenerateIdRequest": {
        "type": "object",
        "title": "GenerateIdRequest",
        "properties": {
          "externalId": {
            "type": "string",
            "description": "External unique identifier",
            "example": "Email ID"
          }
        }
      },
      "QuestionnaireRequest": {
        "type": "object",
        "title": "QuestionnaireRequest",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "Client unique identifier",
            "example": "3168dab3-4445-40c5-8295-5a816c6cd5de"
          },
          "questionnaire": {
            "type": "string",
            "description": "Questionnaire unique identifier",
            "example": "FM10S30"
          },
          "questions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QuestionRequest"
            },
            "example": [
              {
                "id": "FM10-1",
                "answers": [
                  "FM10-1-1"
                ]
              },
              {
                "id": "FM10-2",
                "answers": [
                  "FM10-2-4"
                ]
              },
              {
                "id": "FM10-3",
                "answers": [
                  "FM10-3-1"
                ]
              },
              {
                "id": "FM10-4",
                "answers": [
                  "FM10-4-4"
                ]
              },
              {
                "id": "FM10-5",
                "answers": [
                  "FM10-5-1"
                ]
              },
              {
                "id": "FM10-6",
                "answers": [
                  "FM10-6-5"
                ]
              },
              {
                "id": "FM10-7",
                "answers": [
                  "FM10-7-1"
                ]
              },
              {
                "id": "FM10-8",
                "answers": [
                  "FM10-8-7"
                ]
              },
              {
                "id": "FM10-9",
                "answers": [
                  "FM10-9-1"
                ]
              },
              {
                "id": "FM10-10",
                "answers": [
                  "FM10-10-6"
                ]
              }
            ]
          }
        }
      },
      "ExperienceRequest": {
        "type": "object",
        "title": "ExperienceRequest",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "Client unique identifier",
            "example": "3168dab3-4445-40c5-8295-5a816c6cd5de"
          },
          "advisorId": {
            "type": "string",
            "description": "Advisor identifier",
            "example": "aa68dab3-4445-40c5-8295-5a816c6cd5de"
          },
          "questionnaire": {
            "type": "string",
            "description": "Questionnaire unique identifier",
            "example": "FM10S30"
          },
          "questions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QuestionRequest"
            },
            "example": [
              {
                "id": "FM10-1",
                "answers": [
                  "FM10-1-1"
                ]
              },
              {
                "id": "FM10-2",
                "answers": [
                  "FM10-2-4"
                ]
              },
              {
                "id": "FM10-3",
                "answers": [
                  "FM10-3-1"
                ]
              },
              {
                "id": "FM10-4",
                "answers": [
                  "FM10-4-4"
                ]
              },
              {
                "id": "FM10-5",
                "answers": [
                  "FM10-5-1"
                ]
              },
              {
                "id": "FM10-6",
                "answers": [
                  "FM10-6-5"
                ]
              },
              {
                "id": "FM10-7",
                "answers": [
                  "FM10-7-1"
                ]
              },
              {
                "id": "FM10-8",
                "answers": [
                  "FM10-8-7"
                ]
              },
              {
                "id": "FM10-9",
                "answers": [
                  "FM10-9-1"
                ]
              },
              {
                "id": "FM10-10",
                "answers": [
                  "FM10-10-6"
                ]
              }
            ]
          }
        }
      },
      "KYCRequest": {
        "type": "object",
        "title": "KYCRequest",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "Client unique identifier",
            "example": "3168dab3-4445-40c5-8295-5a816c6cd5de"
          },
          "advisorId": {
            "type": "string",
            "description": "Advisor identifier",
            "example": "aa68dab3-4445-40c5-8295-5a816c6cd5de"
          },
          "questionnaire": {
            "type": "string",
            "description": "Questionnaire unique identifier",
            "example": "FM10S30"
          },
          "questions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QuestionRequest"
            },
            "example": [
              {
                "id": "FM10-1",
                "answers": [
                  "FM10-1-1"
                ]
              },
              {
                "id": "FM10-2",
                "answers": [
                  "FM10-2-4"
                ]
              },
              {
                "id": "FM10-3",
                "answers": [
                  "FM10-3-1"
                ]
              },
              {
                "id": "FM10-4",
                "answers": [
                  "FM10-4-4"
                ]
              },
              {
                "id": "FM10-5",
                "answers": [
                  "FM10-5-1"
                ]
              },
              {
                "id": "FM10-6",
                "answers": [
                  "FM10-6-5"
                ]
              },
              {
                "id": "FM10-7",
                "answers": [
                  "FM10-7-1"
                ]
              },
              {
                "id": "FM10-8",
                "answers": [
                  "FM10-8-7"
                ]
              },
              {
                "id": "FM10-9",
                "answers": [
                  "FM10-9-1"
                ]
              },
              {
                "id": "FM10-10",
                "answers": [
                  "FM10-10-6"
                ]
              }
            ]
          }
        }
      },
      "OptionPayload": {
        "type": "object",
        "title": "OptionPayload",
        "properties": {
          "displayOrder": {
            "type": "integer",
            "example": 1,
            "description": "Option display order"
          },
          "id": {
            "type": "string",
            "example": 1,
            "description": "Option unique identifier"
          },
          "text": {
            "type": "string",
            "example": "Extremely low risk taker",
            "description": "Option text"
          },
          "selected": {
            "type": "boolean",
            "example": true,
            "description": "True if the option is selected by the client, false otherwise"
          }
        }
      },
      "QuestionPayload": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Question unique identifier",
            "example": "FM10-1"
          },
          "title": {
            "type": "string",
            "example": "Willingness to take financial risk",
            "description": "Question title"
          },
          "text": {
            "type": "string",
            "example": "Compared to others, how do you rate your willingness to take financial risks?",
            "description": "Question text"
          },
          "displayOrder": {
            "type": "integer",
            "description": "Question display order",
            "example": 1
          },
          "multipleSelect": {
            "type": "boolean",
            "example": false,
            "description": "Multiple selections for the question, if this is true the question allows multiple answers"
          },
          "options": {
            "type": "array",
            "description": "List of options for question",
            "items": {
              "$ref": "#/components/schemas/OptionPayload"
            }
          }
        },
        "title": "QuestionPayload"
      },
      "QuestionnairePayload": {
        "type": "object",
        "title": "QuestionnairePayload",
        "properties": {
          "id": {
            "type": "string",
            "description": "Questionnaire unique identifier",
            "example": "FM10S30"
          },
          "title": {
            "type": "string",
            "example": "Finametrica 10",
            "description": "Questionnaire title"
          },
          "questions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QuestionPayload"
            }
          }
        }
      },
      "AgreedRPPayload": {
        "type": "object",
        "title": "AgreedRPPayload",
        "properties": {
          "agreedRPChange": {
            "type": "boolean",
            "example": true,
            "description": "True if the risk profile changed, otherwise false"
          },
          "agreedScore": {
            "type": "integer",
            "example": 80,
            "description": "Score value"
          },
          "changeDate": {
            "type": "string",
            "example": "2018/09/15",
            "description": "Score changed date"
          },
          "comment": {
            "type": "string",
            "example": "This is a comment",
            "description": "Comment"
          }
        }
      },
      "RiskFullPayload": {
        "type": "object",
        "title": "RiskFullPayload",
        "properties": {
          "agreedChangedDate": {
            "type": "string",
            "example": "2020-05-28",
            "description": "Score changed date (yyyy-mm-dd)"
          },
          "agreedRiskGroup": {
            "type": "string",
            "example": "FM12",
            "description": "Client agreed risk group"
          },
          "agreedRiskHistory": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgreedRPPayload"
            }
          },
          "agreedScore": {
            "type": "integer",
            "example": 37,
            "description": "Client agreed risk score"
          },
          "answers": {
            "type": "string",
            "example": "{ \"FM10-1\": \"1\" }",
            "description": "Client answers in JSON format"
          },
          "calculatedRiskGroup": {
            "type": "string",
            "example": "Low",
            "description": "Client risk group"
          },
          "calculatedRiskGroupValue": {
            "type": "string",
            "example": "LOW",
            "description": "Client risk group code (VERY_LOW, LOW, AVERAGE, HIGH, VERY_HIGH)"
          },
          "calculatedScore": {
            "type": "integer",
            "example": 40,
            "description": "Client risk score"
          },
          "comments": {
            "type": "string",
            "example": "This is a comment",
            "description": "Client comment"
          },
          "completed": {
            "type": "boolean",
            "example": true,
            "description": "Is risk questionnaire completed"
          },
          "completedDate": {
            "type": "string",
            "example": "2020-05-28",
            "description": "Questionnaire complete date (yyyy-mm-dd)"
          },
          "defaultQuestionnaireType": {
            "type": "boolean",
            "example": true,
            "description": "Default questionnaire type"
          },
          "disappointmentsText": {
            "type": "string",
            "example": "When things go wrong financially they are as likely...",
            "description": "Financial disappointments section"
          },
          "employmentText": {
            "type": "string",
            "example": "They would be slightly more likely to choose more...",
            "description": "Employment section"
          },
          "financialDecisions": {
            "type": "string",
            "example": "Investors in the High risk group are only prepared",
            "description": "Risk group description"
          },
          "financialPastText": {
            "type": "string",
            "example": "They have taken a small to medium degree of risk...",
            "description": "Financial past section"
          },
          "govBenefitsText": {
            "type": "string",
            "example": "So long as there was only a small chance...",
            "description": "Government benefits and Tax advantages section"
          },
          "groupOverview": {
            "type": "string",
            "example": "The description of the High risk group which follows provides...",
            "description": "Risk group overview"
          },
          "inconsistent": {
            "type": "boolean",
            "example": true,
            "description": "If the profile is inconsistent"
          },
          "inconsistentHeading": {
            "type": "string",
            "example": "Review your differences",
            "description": "Inconsistency score heading"
          },
          "inconsistentMessage": {
            "type": "string",
            "example": "Based on how your answers differed, we recommend...",
            "description": "Inconsistency score message"
          },
          "adjustedHeading": {
            "type": "string",
            "example": "Suggested Score",
            "description": "Adjusted score heading"
          },
          "adjustedMessage": {
            "type": "string",
            "example": "Based on how your answers differed, we recommend...",
            "description": "Adjusted score message"
          },
          "investmentText": {
            "type": "string",
            "example": "It is somewhat more important that the value of...",
            "description": "Investment section"
          },
          "person": {
            "type": "string",
            "example": "John Smith",
            "description": "Client Name"
          },
          "riskTolerancePercentText": {
            "type": "string",
            "example": "This is a higher-than-average score, higher than 77% of all scores.",
            "description": "Client percent text in para 1"
          },
          "selfEstimateScore": {
            "type": "integer",
            "example": 40,
            "description": "Client estimated score. The answer to questionnaire FM25V30 question 25"
          },
          "selfEstimateScoreText": {
            "type": "string",
            "example": "Congratulations! You were close. Most people under-estimate their score by a few points.",
            "description": "Client estimated score text calculated using the answer to questionnaire FM25V30 question 25"
          },
          "questionDifferences": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "FM25-10": "You are prepared to take only a small degree of risk with your financial decisions",
              "FM25-2": "When things go wrong financially you usually adapt very easily."
            }
          },
          "categoryLabels": {
            "type": "array",
            "description": "List of categories with their labels",
            "items": {
              "$ref": "#/components/schemas/CategoryLabel"
            }
          }
        }
      },
      "ResponseAndScorePayload": {
        "type": "object",
        "title": "ResponseAndScorePayload",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Record creation dateTime UTC",
            "example": "2020-08-04T20:07:36+0000"
          },
          "id": {
            "type": "string",
            "description": "Record unique identifier",
            "example": "95000cf-9f72-4au7-811b-35dc66dd95a"
          },
          "questionnaire": {
            "$ref": "#/components/schemas/QuestionnaireResponsePayload"
          },
          "score": {
            "$ref": "#/components/schemas/RiskFullPayload"
          }
        }
      },
      "HistoryPayload": {
        "type": "object",
        "title": "HistoryPayload",
        "properties": {
          "completedDate": {
            "type": "string",
            "example": "2020-08-04",
            "description": "Questionnaire response completed date (yyyy-mm-dd)"
          },
          "createdAt": {
            "type": "string",
            "example": "2020-08-04T20:07:36+0000",
            "description": "Questionnaire response datetime UTC"
          },
          "id": {
            "type": "string",
            "example": "95000cf-9f72-4au7-811b-35dc66dd95a",
            "description": "Questionnaire response unique identifier"
          },
          "person": {
            "type": "string",
            "example": "Jhon Wiss",
            "description": "User name"
          },
          "type": {
            "type": "string",
            "example": "FM10S30",
            "description": "Questionnaire type"
          }
        }
      },
      "AgreedRPRequest": {
        "type": "object",
        "title": "AgreedRPRequest",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "Client unique identifier",
            "example": "3168dab3-4445-40c5-8295-5a816c6cd5de"
          },
          "agreedScore": {
            "type": "integer",
            "example": 70,
            "description": "Agreed score"
          },
          "comment": {
            "type": "string",
            "example": "This is a comment",
            "description": "Comment for agreed score"
          }
        }
      },
      "CalculateSuitabilityScoreRequest": {
        "type": "object",
        "title": "CalculateSuitabilityScoreRequest",
        "properties": {
          "pjmId": {
            "type": "string",
[...]
