{
  "openapi": "3.0.1",
  "info": {
    "title": "Investor Pulse",
    "version": "1.0.0",
    "description": "\nUse the API to:\n\n* Get information about flow models.\n* Get forecasts based on specific flow models.\n* Create historic and future flow attribution analyses.\n* Calculate the impact of individual factors on future fund growth."
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "models"
    },
    {
      "name": "flow attribution"
    },
    {
      "name": "sensitivity analysis"
    }
  ],
  "servers": [
    {
      "url": "https://www.us-api.morningstar.com/invest-pulse/v1",
      "description": "PROD"
    },
    {
      "url": "https://www.us-uat-api.morningstar.com/invest-pulse/v1",
      "description": "UAT"
    },
    {
      "url": "https://www.emea-api.morningstar.com/invest-pulse/v1",
      "description": "PROD"
    },
    {
      "url": "https://www.emea-uat-api.morningstar.com/invest-pulse/v1",
      "description": "UAT"
    },
    {
      "url": "https://www.apac-api.morningstar.com/invest-pulse/v1",
      "description": "PROD"
    },
    {
      "url": "https://www.apac-uat-api.morningstar.com/invest-pulse/v1",
      "description": "UAT"
    }
  ],
  "paths": {
    "/flow-attribution/calculate": {
      "post": {
        "summary": "Create analysis of historic flow attribution for a share class",
        "description": "Create analysis of historic flow attribution for a specific share class and flow model.  Response will provide information about how each factor in the model contributed to or detracted from the growth of the share class.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "The user is not authenticated."
          },
          "403": {
            "description": "The user don't have permission."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "operationId": "post_attribution",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Attribution"
              }
            }
          },
          "required": true
        },
        "tags": [
          "flow attribution"
        ]
      }
    },
    "/flow-attribution/calculate-ex-ante": {
      "post": {
        "summary": "Create analysis of future flow attribution for a share class",
        "description": "Create analysis of future flow attribution for a specific share class and flow model.  Response will provide information about how each factor in the model would contribute or detract from the growth of the share class.\n",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "The user is not authenticated."
          },
          "403": {
            "description": "The user don't have permission."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "operationId": "post_ex_ante_attribution",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AntiAttribution"
              }
            }
          },
          "required": true
        },
        "tags": [
          "flow attribution"
        ]
      }
    },
    "/models": {
      "get": {
        "summary": "Get flow models",
        "description": "Get all flow models. The response will include the unique ID of each model.  You use the ID with other endpoints to return data based on that model. Only models that your account is enabled for will be returned.\n",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "The user is not authenticated."
          },
          "403": {
            "description": "The user don't have permission."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "operationId": "get_models",
        "tags": [
          "models"
        ]
      }
    },
    "/models/{flow_model_id}/category-forecast": {
      "parameters": [
        {
          "in": "query",
          "description": "Number of months in time period",
          "name": "period",
          "schema": {
            "type": "string",
            "default": "12"
          }
        },
        {
          "in": "query",
          "description": "Return accumulated data",
          "name": "accumulated",
          "schema": {
            "type": "string",
            "enum": [
              "true",
              "false"
            ],
            "default": "false"
          }
        },
        {
          "required": true,
          "in": "path",
          "description": "Unique identifier of a flow model",
          "name": "flow_model_id",
          "schema": {
            "type": "string",
            "enum": [
              "usa-univariate-category-fundflow"
            ]
          }
        }
      ],
      "get": {
        "summary": "Get category forecasts for a flow model",
        "description": "Get all category forecasts for the model specified in the `flow_model_id` parameter.  You can specify a time period (in months) to narrow the results returned.  You can also request that only accumulated data is returned in the response.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "The user is not authenticated."
          },
          "403": {
            "description": "The user don't have permission."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "operationId": "get_category_forecast",
        "tags": [
          "models"
        ]
      }
    },
    "/models/{flow_model_id}/category-forecast/{category_id}": {
      "parameters": [
        {
          "in": "query",
          "description": "Return accumulated data",
          "name": "accumulated",
          "schema": {
            "type": "string",
            "enum": [
              "true",
              "false"
            ],
            "default": "false"
          }
        },
        {
          "required": true,
          "in": "path",
          "description": "Unique identifier of a category",
          "name": "category_id",
          "schema": {
            "type": "string",
            "default": "$FOCA$CL$$"
          }
        },
        {
          "required": true,
          "in": "path",
          "description": "Unique identifier of a flow model",
          "name": "flow_model_id",
          "schema": {
            "type": "string",
            "enum": [
              "usa-univariate-category-fundflow"
            ]
          }
        }
      ],
      "get": {
        "summary": "Get a category forecast for a flow model",
        "description": "Get category forecasts for the specified flow models and category.  You can specify a time period (in months) to narrow the results returned.  You can also request that only accumulated data is returned in the response.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "The user is not authenticated."
          },
          "403": {
            "description": "The user don't have permission."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "operationId": "get_category_forecast_with_id",
        "tags": [
          "models"
        ]
      }
    },
    "/models/{flow_model_id}/factors": {
      "parameters": [
        {
          "required": true,
          "in": "path",
          "description": "Unique identifier of a flow model",
          "name": "flow_model_id",
          "schema": {
            "type": "string",
            "default": "usa-equity-shareclass-fundflow"
          }
        }
      ],
      "get": {
        "summary": "Get flow model factors",
        "description": "Get a full list of the factors used in the flow model specified.  In the response, the factors will be organized according to groupings defined for US equity, US allocation, and US fixed income.\n",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "The user is not authenticated."
          },
          "403": {
            "description": "The user don't have permission."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "operationId": "get_model_factor",
        "tags": [
          "models"
        ]
      }
    },
    "/models/{flow_model_id}/premia": {
      "parameters": [
        {
          "in": "query",
          "description": "Frequency to base results on",
          "name": "frequency",
          "schema": {
            "type": "string",
            "enum": [
              "monthly",
              "quarterly",
              "annually"
            ],
            "default": "monthly"
          }
        },
        {
          "in": "query",
          "description": "Return accumulated data",
          "name": "accumulated",
          "schema": {
            "type": "string",
            "enum": [
              "true",
              "false"
            ],
            "default": "false"
          }
        },
        {
          "in": "query",
          "description": "End date of time period",
          "name": "end",
          "schema": {
            "type": "string",
            "default": "2017-06-30T00:00:00.000Z"
          }
        },
        {
          "in": "query",
          "description": "Start date of time period",
          "name": "start",
          "schema": {
            "type": "string",
            "default": "2017-01-01T00:00:00.000Z"
          }
        },
        {
          "in": "path",
          "description": "Unique identifier of a flow model",
          "name": "flow_model_id",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "usa-equity-shareclass-fundflow",
              "canada-equity-shareclass-fundflow",
              "europe-equity-shareclass-fundflow",
              "global-equity-shareclass-fundflow",
              "usa-allocation-shareclass-fundflow",
              "canada-allocation-shareclass-fundflow",
              "europe-allocation-shareclass-fundflow",
              "global-allocation-shareclass-fundflow",
              "usa-fixedincome-shareclass-fundflow",
              "canada-fixedincome-shareclass-fundflow",
              "europe-fixedincome-shareclass-fundflow",
              "global-fixedincome-shareclass-fundflow",
              "global-misc-shareclass-fundflow"
            ]
          }
        }
      ],
      "get": {
        "summary": "Get premia data for a flow model",
        "description": "Get premia data for  the last 12 month average as of the latest month end  for the flow model specified in the `flow_model_id` parameter. The response will return premia for each factor in the model.  You use this information to understand which factors have driven fund flows, and to what extent, in a given asset class and region. </br></br> You can  request that only accumulated data is returned in the response.</br></br> Currently, 13 flow models are supported.\n",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "The user is not authenticated."
          },
          "403": {
            "description": "The user don't have permission."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "operationId": "get_premia",
        "tags": [
          "models"
        ]
      }
    },
    "/models/{flow_model_id}/{fund_ids}/forecast-closure": {
      "parameters": [
        {
          "required": true,
          "in": "path",
          "description": "Unique identifier of a fund",
          "name": "fund_ids",
          "schema": {
            "type": "string",
            "default": "FS00008OJ9,FS00008OL3"
          }
        },
        {
          "required": true,
          "in": "path",
          "description": "Unique identifier of a flow model",
          "name": "flow_model_id",
          "schema": {
            "type": "string",
            "enum": [
              "usa-equity-shareclass-fundflow",
              "canada-equity-shareclass-fundflow",
              "europe-equity-shareclass-fundflow",
              "global-equity-shareclass-fundflow",
              "usa-allocation-shareclass-fundflow",
              "canada-allocation-shareclass-fundflow",
              "europe-allocation-shareclass-fundflow",
              "global-allocation-shareclass-fundflow",
              "usa-fixedincome-shareclass-fundflow",
              "canada-fixedincome-shareclass-fundflow",
              "europe-fixedincome-shareclass-fundflow",
              "global-fixedincome-shareclass-fundflow",
              "global-misc-shareclass-fundflow"
            ]
          }
        }
      ],
      "get": {
        "summary": "Get closure probability forecast for a fund",
        "description": "Get a closure probability forecast for a specific fund and fund model.</br></br> Currently, 13 flow models are supported.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "The user is not authenticated."
          },
          "403": {
            "description": "The user don't have permission."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "operationId": "get_dead_fund_with_model_id",
        "tags": [
          "models"
        ]
      }
    },
    "/models/{flow_model_id}/{share_class_ids}/exposures": {
      "parameters": [
        {
          "in": "query",
          "description": "Frequency to base results on",
          "name": "frequency",
          "schema": {
            "type": "string",
            "enum": [
              "monthly",
              "quarterly",
              "annually"
            ],
            "default": "monthly"
          }
        },
        {
          "required": true,
          "in": "path",
          "description": "Unique identifier of a share class",
          "name": "share_class_ids",
          "schema": {
            "type": "string",
            "default": "F00000VRI7,F00000S8VI"
          }
        },
        {
          "in": "query",
          "description": "End date of time period",
          "name": "end",
          "schema": {
            "type": "string",
            "default": "2018-12-31T00:00:00.000Z"
          }
        },
        {
          "in": "query",
          "description": "Start date of time period",
          "name": "start",
          "schema": {
            "type": "string",
            "default": "2018-01-01T00:00:00.000Z"
          }
        },
        {
          "required": true,
          "in": "path",
          "description": "Unique identifier of a flow model",
          "name": "flow_model_id",
          "schema": {
            "type": "string",
            "enum": [
              "usa-equity-shareclass-fundflow",
              "canada-equity-shareclass-fundflow",
              "europe-equity-shareclass-fundflow",
              "global-equity-shareclass-fundflow",
              "usa-allocation-shareclass-fundflow",
              "canada-allocation-shareclass-fundflow",
              "europe-allocation-shareclass-fundflow",
              "global-allocation-shareclass-fundflow",
              "usa-fixedincome-shareclass-fundflow",
              "canada-fixedincome-shareclass-fundflow",
              "europe-fixedincome-shareclass-fundflow",
              "global-fixedincome-shareclass-fundflow",
              "global-misc-shareclass-fundflow"
            ]
          }
        }
      ],
      "get": {
        "summary": "Get exposures for a share class",
        "description": "Get exposures forecast for a specific share class  and fund model. </br></br> Currently, 13 flow models are supported.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "The user is not authenticated."
          },
          "403": {
            "description": "The user don't have permission."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "operationId": "get_exposures_with_model_id",
        "tags": [
          "models"
        ]
      }
    },
    "/models/{flow_model_id}/{share_class_ids}/forecast-flow": {
      "parameters": [
        {
          "required": true,
          "in": "path",
          "description": "Unique identifier of a share class",
          "name": "share_class_ids",
          "schema": {
            "type": "string",
            "default": "F00000VRI7,F00000S8VI"
          }
        },
        {
          "in": "path",
          "description": "Unique identifier of a flow model",
          "name": "flow_model_id",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "usa-equity-shareclass-fundflow",
              "canada-equity-shareclass-fundflow",
              "europe-equity-shareclass-fundflow",
              "global-equity-shareclass-fundflow",
              "usa-allocation-shareclass-fundflow",
              "canada-allocation-shareclass-fundflow",
              "europe-allocation-shareclass-fundflow",
              "global-allocation-shareclass-fundflow",
              "usa-fixedincome-shareclass-fundflow",
              "canada-fixedincome-shareclass-fundflow",
              "europe-fixedincome-shareclass-fundflow",
              "global-fixedincome-shareclass-fundflow",
              "global-misc-shareclass-fundflow"
            ]
          }
        }
      ],
      "get": {
        "summary": "Get growth forecast for a share class",
        "description": "Get growth forecast for a specific share class and fund model.  </br></br> Currently, 13 flow models are supported.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "The user is not authenticated."
          },
          "403": {
            "description": "The user don't have permission."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "operationId": "get_forecast_with_model_id",
        "tags": [
          "models"
        ]
      }
    },
    "/sensitivity-analysis": {
      "post": {
        "summary": "Calculate the impact of individual factors on future fund growth",
        "description": "Calculate the impact of individual factors on future gowth for a specifc fund model.  You can change the value of certain factors to analyze how sensitive the fund is to those values.\n",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "The user is not authenticated."
          },
          "403": {
            "description": "The user don't have permission."
          },
          "404": {
            "description": "Not Found."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "operationId": "post_sensitivity_analysis",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Exposure"
              }
            }
          },
          "required": true
        },
        "tags": [
          "sensitivity analysis"
        ]
      }
    }
  },
  "components": {
    "responses": {
      "ParseError": {
        "description": "When a mask can't be parsed"
      },
      "MaskError": {
        "description": "When any error occurs on mask"
      },
      "Exception": {
        "description": ""
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Attribution": {
        "required": [
          "shareClassId"
        ],
        "properties": {
          "start": {
            "type": "string",
            "example": "2018-01-01T00:00:00.000Z"
          },
          "end": {
            "type": "string",
            "example": "2018-12-31T00:00:00.000Z"
          },
          "flowModelId": {
            "type": "string",
            "example": "usa-equity-shareclass-fundflow"
          },
          "shareClassId": {
            "type": "string",
            "example": "F00000VRI7"
          }
        },
        "type": "object"
      },
      "AntiAttribution": {
        "required": [
          "shareClassId"
        ],
        "properties": {
          "flowModelId": {
            "type": "string",
            "example": "usa-equity-shareclass-fundflow"
          },
          "shareClassId": {
            "type": "string",
            "example": "F00000VRI7"
          }
        },
        "type": "object"
      },
      "Exposure": {
        "required": [
          "flowModelId",
          "fundShareClassId"
        ],
        "properties": {
          "flowModelId": {
            "type": "string",
            "example": "usa-equity-shareclass-fundflow"
          },
          "fundShareClassId": {
            "type": "string",
            "example": "F00000VRI7"
          },
          "fundOfFunds": {
            "type": "number",
            "example": 1
          },
          "indexFund": {
            "type": "number",
            "example": 1
          },
          "sociallyResponsibleFund": {
            "type": "number",
            "example": 1
          },
          "oneStar": {
            "type": "number"
          },
          "twoStar": {
            "type": "number"
          },
          "threeStar": {
            "type": "number"
          },
          "fourStar": {
            "type": "number"
          },
          "fiveStar": {
            "type": "number",
            "example": 1
          },
          "organicGrowthRate1Month": {
            "type": "number",
            "example": 1
          },
          "avgNetExpRatioRank": {
            "type": "number",
            "example": 1
          },
          "netExpenseRatio": {
            "type": "number",
            "example": 1
          },
          "assetWeightedMgrTenure": {
            "type": "number",
            "example": 1
          },
          "topHoldingWeighting": {
            "type": "number",
            "example": 1
          },
          "trailing12MExcessRet": {
            "type": "number",
            "example": 1
          },
          "fundSize": {
            "type": "number",
            "example": 1
          },
          "firmAUM": {
            "type": "number",
            "example": 2500000000
          },
          "fundAge": {
            "type": "number",
            "example": 1
          },
          "cumulative12MonthFlows": {
            "type": "number",
            "example": 1
          },
          "cumulativeOutFlows": {
            "type": "number",
            "example": 1
          },
          "categoryAvgRet1M": {
            "type": "number",
            "example": 1
          }
        },
        "type": "object"
      }
    }
  }
}