{
  "openapi": "3.1.0",
  "info": {
    "title": "Portfolio Performance API",
    "x-changelog": [
      {
        "date": "2026-05-13",
        "changes": [
          "Corrected RequestPortfolioXray schema. \"AssetClassGroupConfigs\" data type updated to object and missing \"AssetClassGroupConfigs\" field added."
        ]
      }
    ],
    "description": "### Request Limits\n\n- Maximum of two portfolios can be passed in a request.  \n- Maximum of 250 holdings per portfolio.\n\n### Holding Identifiers\n\nFor each holding, you must specify a security identifier. The following identifiers are supported:\n\n- SecurityId\n- CUSIP\n- FundCode\n- ISIN\n- PerformanceId\n- TradingSymbol\n\nIf multiple identifiers are provided for a single holding, `SecurityId` takes priority; if SecurityId is absent, the last identifier listed in the object is used.\n\nFor the position size, pass one either `Weight`or `Value`. \n\nYou can mix and match identifier types across different holdings, however the position size must be uniform across the entire portfolio.\n\n### Authentication API\n\nRetrieve tokens required to authorize calls to the API. See [documentation](https://developer.morningstar.com/direct-web-services/documentation/api-utilities/authentication-api/overview).",
    "version": "v1"
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "servers": [
    {
      "url": "https://www.us-api.morningstar.com",
      "description": "Americas Production"
    },
    {
      "url": "https://www.apac-api.morningstar.com",
      "description": "APAC Production"
    },
    {
      "url": "https://www.emea-api.morningstar.com",
      "description": "EMEA Production"
    }
  ],
  "paths": {
    "/portfolioanalysis/v1/performance": {
      "post": {
        "tags": [
          "Performance"
        ],
        "summary": "Calculate portfolio performance",
        "description": "Calculate performance for portfolios specified in the request body. </br></br>To override the default value in the Accept-Language HTTP header, use the `langcult` parameter.",
        "operationId": "calculatePortfolioPerformance",
        "parameters": [
          {
            "name": "langcult",
            "in": "query",
            "description": "Language and locale used for the response. Defaults to en-US.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "en-US",
              "enum": [
                "en-US",
                "en-CA",
                "en-AU",
                "en-GB"
              ]
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/RequestPerformance"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResponsePerformance"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutputErrorResponse"
                },
                "examples": {
                  "General - BadRequest Response": {
                    "summary": "General BadRequest",
                    "value": "{\"Message\": \"The request is invalid.\",\"SpecificErrorStatus\": [    {\"ErrorCode\": \"40015\",\"ErrorMessage\": \"Portfolio does not have any valid holdings. Invalid portfolio name: TestPortfolio1. Invalid Holdings: TradingSymbol:DODGX1.\"}]}"
                  },
                  "DisableRescaleTrue - BadRequestResponse": {
                    "summary": "DisableRescale BadRequest",
                    "value": "{\"Message\": \"The request is invalid.\",\"SpecificErrorStatus\": [    {\"ErrorCode\": \"40059\",\"ErrorMessage\": \"There are holdings present in portfolio which are invalid.\",\"Metadata\": {\"InvalidPortfolios\": [{    \"Name\": \"Test Portfolio\",\"InvalidHoldings\": [{\"SecurityId\": \"FX000015JA3\",\"Status\": \"Invalid\"},{\"SecurityId\": \"F00000YZ48\",\"Status\": \"Unentitled\"}]}]}}]}"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Obtain a token via the Authentication API's `POST /token/oauth` endpoint. Tokens are valid for 60 minutes and reusable across requests."
      }
    },
    "requestBodies": {
      "RequestPerformance": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RequestPerformance"
            },
            "examples": {
              "PerformanceRequestExample1": {
                "$ref": "#/components/examples/PerformanceRequestExample1"
              }
            }
          }
        }
      }
    },
    "responses": {
      "ResponsePerformance": {
        "description": "200: OK",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ResponsePerformance"
            },
            "examples": {
              "PerformanceResponseExample1": {
                "$ref": "#/components/examples/PerformanceResponseExample1"
              }
            }
          }
        }
      }
    },
    "schemas": {
      "RequestPerformance": {
        "description": "Calculate performance for up to 2 portfolios. Maximum of 250 holdings per portfolio.",
        "required": [
          "Portfolios",
          "RequestSettings"
        ],
        "type": "object",
        "properties": {
          "View": {
            "description": "Predefined set of data points to return in the response.",
            "$ref": "#/components/schemas/InputPerformancePerformanceView"
          },
          "Config": {
            "description": "Account-specific configuration preset. Settings can be overridden directly in the request.",
            "$ref": "#/components/schemas/InputPerformancePerformanceConfig"
          },
          "RequestSettings": {
            "description": "Analysis settings for the request.",
            "$ref": "#/components/schemas/InputPerformancePerformanceRequestSettings"
          },
          "Portfolios": {
            "description": "Array of portfolios to analyse. Maximum 2 portfolios per request. Maximum 250 holdings per portfolio.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InputPortfolioInput"
            }
          }
        }
      },
      "ResponsePerformance": {
        "description": "Top-level response object containing one result per portfolio analysed.",
        "type": "object",
        "properties": {
          "PerformanceDate": {
            "description": "Key performance date reference points across all portfolios in the request.",
            "$ref": "#/components/schemas/OutputPerformanceDate"
          },
          "Performance": {
            "description": "Array of performance results, one per portfolio.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputPerformancePerformance"
            }
          },
          "CrossPortfolioCorrelationMatrix": {
            "description": "Cross-portfolio correlation matrix data. Only returned when `View.Id` is `CrossPortfolioCorrelation`.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputRiskCrossPortfolioCorrelationMatrix"
            }
          },
          "SecurityReference": {
            "description": "Reference data for all securities appearing in the response.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputSecurityItem"
            }
          }
        }
      },
      "InputPerformancePerformanceView": {
        "description": "Predefined set of data points to return in the response.",
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "description": "Identifier of a predefined set of data points to return in the response.",
            "default": "All",
            "enum": [
              "All",
              "CorrelationMatrix",
              "CrossPortfolioCorrelation",
              "Default",
              "Snapshot"
            ]
          }
        }
      },
      "InputPerformancePerformanceConfig": {
        "description": "Account-specific configuration preset.",
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "description": "Account-specific configuration preset. Settings can be overridden directly in the request. `Hypothetical` is only supported when `View.Id` is `CrossPortfolioCorrelation`.",
            "default": "QuickPortfolio",
            "enum": [
              "Hypothetical",
              "QuickPortfolio"
            ]
          }
        }
      },
      "InputPerformancePerformanceRequestSettings": {
        "description": "Analysis settings including output currency, date range, and performance frequency.",
        "type": "object",
        "required": [
          "OutputCurrency"
        ],
        "properties": {
          "OutputCurrency": {
            "type": "string",
            "description": "Currency used to calculate output values. 19 currencies are supported. Accepted values are ISO 4217 currency codes.",
            "default": "USD",
            "enum": [
              "AUD",
              "BRL",
              "CAD",
              "CHF",
              "DKK",
              "EUR",
              "GBP",
              "HKD",
              "INR",
              "JPY",
              "MXN",
              "MYR",
              "NOK",
              "NZD",
              "SEK",
              "SGD",
              "TWD",
              "USD",
              "ZAR"
            ],
            "x-enumDescriptions": {
              "AUD": "Australian Dollar",
              "BRL": "Brazilian Real",
              "CAD": "Canadian Dollar",
              "CHF": "Swiss Franc",
              "DKK": "Danish Krone",
              "EUR": "Euro",
              "GBP": "British Pound Sterling",
              "HKD": "Hong Kong Dollar",
              "INR": "Indian Rupee",
              "JPY": "Japanese Yen",
              "MXN": "Mexican Peso",
              "MYR": "Malaysian Ringgit",
              "NOK": "Norwegian Krone",
              "NZD": "New Zealand Dollar",
              "SEK": "Swedish Krona",
              "SGD": "Singapore Dollar",
              "TWD": "New Taiwan Dollar",
              "USD": "United States Dollar",
              "ZAR": "South African Rand"
            }
          },
          "AnalysisDateTimePeriod": {
            "description": "Determines whether the analysis end date aligns to a month end, quarter end, year end, or a custom date. `CustomDate` requires `PortfolioPerformanceEndDate` to be set explicitly.",
            "type": "string",
            "enum": [
              "MonthEnd",
              "QuarterEnd",
              "YearEnd",
              "CustomDate"
            ],
            "default": "MonthEnd"
          },
          "AssetClassGroupConfigs": {
            "$ref": "#/components/schemas/InputAssetClassGroupConfigs"
          },
          "DisableRescale": {
            "description": "When `true`, portfolio weights are not rescaled if any holdings are invalid or unentitled. The request will return a `400` error instead.",
            "type": "boolean",
            "default": false
          },
          "EnablePerformanceCommonEndDate": {
            "description": "When `true`, the most recent common end date across all portfolios is used as the analysis end date.",
            "type": "boolean",
            "default": false
          },
          "IncludeBenchmarkEndDate": {
            "description": "When `true`, the benchmark's most recent price date is used as the analysis end date.",
            "type": "boolean",
            "default": false
          },
          "IncludeGrossNetReturns": {
            "description": "When `true`, both gross and net return values are included in trailing returns, calendar year returns, investment activity, and risk statistics.",
            "type": "boolean",
            "default": false
          },
          "IncludePortfolioInCorrelationMatrix": {
            "description": "When `true`, the portfolio is included as an entry in the correlation matrix.",
            "type": "boolean",
            "default": false
          },
          "InitialValue": {
            "description": "Initial value of the portfolio in the output currency.",
            "type": "number",
            "format": "double",
            "minimum": 1,
            "default": 10000
          },
          "PerformanceFrequency": {
            "description": "Frequency of performance returns and risk calculations.",
            "enum": [
              "Monthly",
              "Quarterly"
            ],
            "type": "string",
            "default": "Monthly"
          },
          "PortfolioPerformanceCustomStartDate": {
            "type": "string",
            "description": "Custom start date of the analysis. Required when `PortfolioPerformanceStartDate` is set to `CustomDate`. Note: this field name contains a trailing space.",
            "format": "date",
            "example": "2022-10-31"
          },
          "PortfolioPerformanceEndDate": {
            "type": "string",
            "description": "End date of the analysis. Required when `AnalysisDateTimePeriod` is set to `CustomDate`.",
            "format": "date",
            "example": "2022-10-31"
          },
          "PortfolioPerformanceStartDate": {
            "description": "Start date of the analysis. `CustomDate` requires `PortfolioPerformanceCustomStartDate` to be set explicitly.",
            "type": "string",
            "enum": [
              "EarliestCommon",
              "EarliestAvailable",
              "EarliestCommonExtended",
              "EarliestCommonExtended10Year",
              "Year10",
              "CustomDate"
            ],
            "default": "EarliestCommon"
          },
          "SynchronizePortfolioStartDate": {
            "description": "When `true`, the latest common start date across all portfolios is used as the analysis start date for all portfolios.",
            "type": "boolean",
            "default": false
          }
        }
      },
      "InputPortfolioInput": {
        "description": "Object representing a portfolio to be analysed. Each holding must specify a security identifier and one of `Weight` or `Value`to define its allocation. `TotalValue` is required when holdings use `Weight`. Maximum of 250 holdings per portfolio.",
        "required": [
          "Currency",
          "Holdings",
          "Name"
        ],
        "type": "object",
        "properties": {
          "Name": {
            "description": "Portfolio name.",
            "type": "string"
          },
          "TotalValue": {
            "description": "Total market value of the portfolio in the portfolio currency. Required when holdings use `Weight`.",
            "type": "number",
            "format": "double",
            "minimum": 1,
            "example": 20000
          },
          "Currency": {
            "description": "Portfolio currency. 19 currencies are supported. Accepted values are ISO 4217 currency codes.",
            "type": "string",
            "enum": [
              "AUD",
              "BRL",
              "CAD",
              "CHF",
              "DKK",
              "EUR",
              "GBP",
              "HKD",
              "INR",
              "JPY",
              "MXN",
              "MYR",
              "NOK",
              "NZD",
              "SEK",
              "SGD",
              "TWD",
              "USD",
              "ZAR"
            ],
            "x-enumDescriptions": {
              "AUD": "Australian Dollar",
              "BRL": "Brazilian Real",
              "CAD": "Canadian Dollar",
              "CHF": "Swiss Franc",
              "DKK": "Danish Krone",
              "EUR": "Euro",
              "GBP": "British Pound Sterling",
              "HKD": "Hong Kong Dollar",
              "INR": "Indian Rupee",
              "JPY": "Japanese Yen",
              "MXN": "Mexican Peso",
              "MYR": "Malaysian Ringgit",
              "NOK": "Norwegian Krone",
              "NZD": "New Zealand Dollar",
              "SEK": "Swedish Krona",
              "SGD": "Singapore Dollar",
              "TWD": "New Taiwan Dollar",
              "USD": "United States Dollar",
              "ZAR": "South African Rand"
            },
            "example": "USD"
          },
          "Holdings": {
            "description": "List of portfolio holdings. Maximum of 250 holdings per portfolio.",
            "type": "array",
            "maxItems": 250,
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/InputPortfolioInputHolding"
            }
          },
          "Fees": {
            "description": "Portfolio-level annual fee applied to all holdings.",
            "$ref": "#/components/schemas/InputPortfolioFees"
          },
          "IrrFees": {
            "description": "Annual fee used in the internal rate of return calculation.",
            "type": "number",
            "format": "double",
            "minimum": 1,
            "example": 1000
          }
        }
      },
      "InputAssetClassGroupConfigs": {
        "description": "Asset class group to query.",
        "type": "object",
        "properties": {
          "AssetClassGroupConfig": {
            "type": "array",
            "description": "Asset class group identifier. Maximum of one value can be passed in a request.",
            "items": {
              "$ref": "#/components/schemas/InputAssetClassGroupConfig"
            }
          }
        }
      },
      "InputAssetClassGroupConfig": {
        "type": "object",
        "properties": {
          "Id": {
            "description": "Asset class group identifier.",
            "type": "string",
            "enum": [
              "ACG-AUDETAILED",
              "ACG-BROAD-INDIA2",
              "ACG-BROAD-JAPAN",
              "ACG-CABROAD",
              "ACG-CANBROAD4",
              "ACG-EUBROAD",
              "ACG-GLOBBROAD",
              "ACG-NZDETAILED",
              "ACG-UKBROAD",
              "ACG-UK-GBR",
              "ACG-USBROAD"
            ],
            "default": "ACG-USBROAD"
          }
        }
      },
      "InputPortfolioInputHolding": {
        "description": "Each holding requires a security identifier and a position size. For the identifier, pass one of: `SecurityId`, `CUSIP`, `FundCode`, `ISIN`, `PerformanceId`, or `TradingSymbol`. If multiple identifiers are provided for a single security, `SecurityId` takes priority; if `SecurityId` is absent, the last identifier listed in the object is used. For the position size, pass one of: `Weight` or `Value`.",
        "type": "object",
        "properties": {
          "SecurityId": {
            "description": "Morningstar unique identifier of a security. Use `CASH%0.000` for cash positions.",
            "type": "string",
            "example": "FOUSA00DFS,CASH%0.000"
          },
          "Weight": {
            "description": "Holding weight as a percentage of portfolio total. All holding weights must sum to 100. Requires `TotalValue` to be set on the portfolio.",
            "minimum": 1,
            "maximum": 100,
            "example": 60,
            "type": "number",
            "format": "double"
          },
          "Value": {
            "description": "Market value of the holding in the portfolio currency.",
            "minimum": 1,
            "example": 25000,
            "type": "number",
            "format": "double"
          },
          "AnnualFeePercent": {
            "description": "Holding-level annual fee as a percentage of holding value (e.g. `1.15` = 1.15%). Defaults to `0` (no fee).",
            "minimum": 0,
            "default": 0,
            "example": 1.15,
            "type": "number",
            "format": "double"
          },
          "AnnualFeeFrequency": {
            "description": "How often the holding-level annual fee is deducted.",
            "default": "Monthly",
            "type": "string",
            "enum": [
              "Monthly",
              "Quarterly",
              "SemiAnnually",
              "Annually"
            ]
          },
          "PerformanceId": {
            "description": "Morningstar performance identifier of a security.",
            "type": "string",
            "example": "0P00002QN3"
          },
          "CUSIP": {
            "description": "CUSIP identifier of a security.",
            "type": "string",
            "example": "09251T103"
          },
          "ISIN": {
            "description": "ISIN identifier of a security.",
            "type": "string",
            "example": "US0378331005"
          },
          "TradingSymbol": {
            "description": "Trading symbol (ticker) of a security.",
            "type": "string",
            "example": "MDLOX"
          },
          "FundCode": {
            "description": "Fund code identifier of a security. Specific to Thai markets.",
            "type": "string",
            "example": "ABG"
          }
        }
      },
      "InputPortfolioFees": {
        "description": "Portfolio-level annual fee configuration.",
        "type": "object",
        "properties": {
          "AnnualFeePercent": {
            "description": "Annual fee as a percentage of portfolio value (e.g. `1.15` = 1.15%). Defaults to `0` (no fee).",
            "minimum": 0,
            "default": 0,
            "example": 1.15,
            "type": "number",
            "format": "double"
          },
          "AnnualFeeFrequency": {
            "description": "How often the annual fee is deducted from the portfolio.",
            "default": "Monthly",
            "type": "string",
            "enum": [
              "Monthly",
              "Quarterly",
              "SemiAnnually",
              "Annually"
            ]
          }
        }
      },
      "OutputPerformanceAfterTaxReturns": {
        "type": "object",
        "properties": {
          "OnDistributionAndSalesOfShares": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputDataItemTimePeriod"
            },
            "description": "After-tax returns assuming distributions are taxed and shares are sold at the end of the period."
          },
          "OnDistributionReturn": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputDataItemTimePeriod"
            },
            "description": "After-tax returns on distributions only, assuming shares are held."
          }
        },
        "description": "After-tax return data for the security."
      },
      "OutputPerformanceBenchmark.CalendarYearReturn": {
        "type": "object",
        "properties": {
          "CalendarYear": {
            "type": "array",
            "description": "1-10 to represent 10 most recent calendar years",
            "items": {
              "$ref": "#/components/schemas/OutputDataItemInt32"
            }
          }
        },
        "description": "Benchmark calendar year return values."
      },
      "OutputPerformanceBenchmark.InvestmentActivityItem": {
        "type": "object",
        "properties": {
          "Sequence": {
            "type": "integer",
            "format": "int32",
            "description": "Sequential index of the period (1-based)."
          },
          "StartDate": {
            "type": "string",
            "format": "date-time",
            "description": "Start date of the period."
          },
          "EndDate": {
            "type": "string",
            "format": "date-time",
            "description": "End date of the period."
          },
          "BeginningBalance": {
            "type": "number",
            "format": "double",
            "description": "Benchmark value at the start of the period."
          },
          "MarketValue": {
            "type": "number",
            "format": "double",
            "description": "Benchmark market value at the end of the period."
          }
        },
        "description": "Benchmark investment activity for a single period."
      },
      "OutputPerformanceBenchmark.TrailingReturnsItem": {
        "type": "object",
        "properties": {
          "TimePeriod": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputDataItemBenchmarkTrailingTimePeriod"
            }
          }
        }
      },
      "OutputPerformanceBestWorstTimePeriod": {
        "type": "object",
        "properties": {
          "TimePeriod": {
            "type": "string",
            "enum": [
              "Month3",
              "Year1",
              "Year3"
            ],
            "description": "Time period identifier."
          },
          "Value": {
            "type": "number",
            "format": "double",
            "description": "Return value for the time period."
          },
          "StartDate": {
            "type": "string",
            "format": "date-time",
            "description": "Start date of the time period."
          }
        },
        "description": "Best or worst return value for a single trailing time period."
      },
      "OutputPerformanceBestWorstTimePeriods": {
        "type": "object",
        "properties": {
          "AsOfDate": {
            "type": "string",
            "format": "date-time",
            "description": "End date of the analysis."
          },
          "BestTimePeriod": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputPerformanceBestWorstTimePeriod"
            },
            "description": "Array of best return values for each time period."
          },
          "WorstTimePeriod": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputPerformanceBestWorstTimePeriod"
            },
            "description": "Array of worst return values for each time period."
          }
        },
        "description": "Best and worst return values across a set of standard trailing time periods."
      },
      "OutputPerformanceCalendarYearReturn": {
        "type": "object",
        "properties": {
          "CalendarYear": {
            "type": "array",
            "description": "1-10 to represent 10 most recent calendar years",
            "items": {
              "$ref": "#/components/schemas/OutputDataItemCalendarYearReturnTimePeriod"
            }
          }
        },
        "description": "Portfolio calendar year return values."
      },
      "OutputPerformanceCalendarYearReturns": {
        "type": "object",
        "properties": {
          "AsOfDate": {
            "type": "string",
            "format": "date-time",
            "description": "End date of the analysis."
          },
          "Portfolio": {
            "$ref": "#/components/schemas/OutputPerformanceCalendarYearReturn",
            "description": "Portfolio calendar year return values."
          },
          "Benchmark": {
            "$ref": "#/components/schemas/OutputPerformanceBenchmark.CalendarYearReturn",
            "description": "Benchmark calendar year return values."
          }
        },
        "description": "Calendar year return data for the portfolio and benchmark."
      },
      "OutputPerformanceInvestmentActivity": {
        "type": "object",
        "properties": {
          "DataFrequency": {
            "type": "string",
            "enum": [
              "Monthly"
            ],
            "description": "Frequency of the investment activity data."
          },
          "Portfolio": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputPerformanceInvestmentActivityItem"
            },
            "description": "Portfolio investment activity records."
          },
          "Benchmark": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputPerformanceBenchmark.InvestmentActivityItem"
            },
            "description": "Benchmark investment activity records."
          }
        },
        "description": "Period-by-period investment activity for the portfolio and benchmark."
      },
      "OutputPerformanceInvestmentActivityItem": {
        "type": "object",
        "properties": {
          "Sequence": {
            "type": "integer",
            "format": "int32",
            "description": "Sequential index of the period (1-based)."
          },
          "StartDate": {
            "type": "string",
            "format": "date-time",
            "description": "Start date of the period."
          },
          "EndDate": {
            "type": "string",
            "format": "date-time",
            "description": "End date of the period."
          },
          "BeginningBalance": {
            "type": "number",
            "format": "double",
            "description": "Portfolio value at the start of the period."
          },
          "MarketValue": {
            "type": "number",
            "format": "double",
            "description": "Portfolio market value at the end of the period."
          },
          "GrossBeginningBalance": {
            "description": "Gross beginning balance. Only returned when `IncludeGrossNetReturns` is `true`.",
            "type": "number",
            "format": "double"
          },
          "GrossMarketValue": {
            "description": "Gross market value. Only returned when `IncludeGrossNetReturns` is `true`.",
            "type": "number",
            "format": "double"
          }
        },
        "description": "Investment activity for a single period."
      },
      "OutputPerformanceNonStdLoadAdjustedReturns": {
        "type": "object",
        "properties": {
          "AsOfDate": {
            "type": "string",
            "format": "date-time",
            "description": "End date of the analysis."
          },
          "Portfolio": {
            "$ref": "#/components/schemas/OutputPerformanceNonStdLoadAdjustedReturnsPortfolio",
            "description": "Portfolio non-standardised load-adjusted return values."
          }
        },
        "description": "Non-standardised load-adjusted return data for the portfolio."
      },
      "OutputPerformanceNonStdLoadAdjustedReturnsPortfolio": {
        "type": "object",
        "properties": {
          "TimePeriod": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputDataItemTimePeriod"
            },
            "description": "Array of return values for each trailing time period."
          }
        },
        "description": "Portfolio non-standardised load-adjusted return values."
      },
      "OutputPerformanceNonStdLoadAdjustedReturnsSecurity": {
        "type": "object",
        "properties": {
          "Sequence": {
            "type": "integer",
            "format": "int32",
            "description": "Position of the security in the holdings array (1-based)."
          },
          "SecurityId": {
            "type": "string",
            "description": "Morningstar unique identifier of the security."
          },
          "HoldingDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date as of which the holding data is reported."
          },
          "HoldingValue": {
            "type": "number",
            "format": "double",
            "description": "Value of the holding as of `HoldingDate`."
          },
          "Day7Yield": {
            "type": "number",
            "format": "double",
            "description": "7-day annualised yield. Applicable to money market funds."
          },
          "TimePeriod": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputDataItemTimePeriod"
            },
            "description": "Array of return values for each trailing time period."
          }
        },
        "description": "Non-standardised load-adjusted return data for a single security."
      },
      "OutputPerformancePerformance": {
        "description": "Performance result for a single portfolio.",
        "type": "object",
        "properties": {
          "PortfolioName": {
            "description": "Name of the portfolio.",
            "type": "string"
          },
          "PerformanceDate": {
            "description": "Key performance date reference points for this portfolio.",
            "$ref": "#/components/schemas/OutputPerformanceDate"
          },
          "ReturnMethodology": {
            "description": "Return methodology used in the calculation.",
            "type": "string",
            "enum": [
              "QuickPortfolio",
              "Hypothetical"
            ]
          },
          "Returns": {
            "description": "Return data for the portfolio including trailing, calendar year, and investment activity.",
            "$ref": "#/components/schemas/OutputPerformanceReturns"
          },
          "Risks": {
            "description": "Risk statistics for the portfolio including MPT statistics, correlation matrix, and drawdown.",
            "$ref": "#/components/schemas/OutputRiskRisks"
          }
        }
      },
      "OutputPerformancePerformanceHistory": {
        "type": "object",
        "properties": {
          "Type": {
            "type": "string",
            "enum": [
              "Difference",
              "Portfolio",
              "Benchmark"
            ],
            "description": "Return series type: `Portfolio`, `Benchmark`, or `Difference` (portfolio minus benchmark)."
          },
          "Frequency": {
            "type": "string",
            "enum": [
              "Monthly",
              "Quarterly"
            ],
            "description": "Frequency of the return data points."
          },
          "StartDate": {
            "type": "string",
            "format": "date-time",
            "description": "Start date of the performance history series."
          },
          "Portfolio": {
            "$ref": "#/components/schemas/OutputPerformancePerformanceHistoryItem",
            "description": "Performance history data for the portfolio. If a benchmark is included, the same structure is returned for the benchmark."
          }
        },
        "description": "A single performance history series (portfolio, benchmark, or difference)."
      },
      "OutputPerformancePerformanceHistoryItem": {
        "type": "object",
        "properties": {
          "StartYear": {
            "type": "integer",
            "format": "int32",
            "description": "Year in which the performance history series begins."
          },
          "StartQuarter": {
            "maximum": 4,
            "minimum": 1,
            "type": "integer",
            "format": "int32",
            "description": "Quarter in which the performance history series begins (1–4)."
          },
          "StartMonth": {
            "maximum": 12,
            "minimum": 1,
            "type": "integer",
            "format": "int32",
            "description": "Month in which the performance history series begins (1–12)."
          },
          "Data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputDataItemPerformanceHistoryTimePeriod"
            },
            "description": "Array of sequential return data points."
          }
        },
        "description": "Performance history data for a portfolio or benchmark series."
      },
      "OutputPerformancePerformanceHistorys": {
        "type": "object",
        "properties": {
          "PerformanceHistory": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputPerformancePerformanceHistory"
            },
            "description": "Array of performance history series."
          }
        },
        "description": "Performance history data across one or more return series."
      },
      "OutputPerformanceReturns": {
        "type": "object",
        "properties": {
          "BestWorstTimePeriods": {
            "$ref": "#/components/schemas/OutputPerformanceBestWorstTimePeriods",
            "description": "Best and worst return periods data."
          },
          "TrailingReturns": {
            "$ref": "#/components/schemas/OutputPerformanceTrailingReturns",
            "description": "Trailing returns data."
          },
          "CalendarYearReturn": {
            "$ref": "#/components/schemas/OutputPerformanceCalendarYearReturns",
            "description": "Calendar year return data."
          },
          "PerformanceHistorys": {
            "$ref": "#/components/schemas/OutputPerformancePerformanceHistorys",
            "description": "Performance history data."
          },
          "InvestmentActivity": {
            "$ref": "#/components/schemas/OutputPerformanceInvestmentActivity",
            "description": "Investment activity data."
          },
          "SecurityReturns": {
            "$ref": "#/components/schemas/OutputPerformanceSecurityReturns",
            "description": "Security-level return data."
          },
          "NonStdLoadAdjustedReturns": {
            "$ref": "#/components/schemas/OutputPerformanceNonStdLoadAdjustedReturns",
            "description": "Non-standardised load-adjusted returns data."
          },
          "StdLoadAdjustedReturns": {
            "$ref": "#/components/schemas/OutputPerformanceStdLoadAdjustedReturns",
            "description": "Standardised load-adjusted returns data."
          }
        },
        "description": "Return data for the portfolio including trailing returns, calendar year returns, investment activity, and security-level returns."
      },
      "OutputPerformanceSecurityReturns": {
        "type": "object",
        "properties": {
          "AsOfDate": {
            "type": "string",
            "format": "date-time",
            "description": "End date of the analysis."
          },
          "NonStdLoadAdjustedReturns": {
            "$ref": "#/components/schemas/OutputPerformanceSecurityReturns.NonStdLoadAdjustedReturns",
            "description": "Non-standardised load-adjusted return data for each security."
          },
          "StandardizedAndTaxAdjustedReturns": {
            "$ref": "#/components/schemas/OutputPerformanceStandardizedAndTaxAdjustedReturns",
            "description": "Standardised and tax-adjusted return data for each security."
          }
        },
        "description": "Security-level return data including non-standardised and standardised returns."
      },
      "OutputPerformanceSecurityReturns.NonStdLoadAdjustedReturns": {
        "type": "object",
        "properties": {
          "AsOfDate": {
            "type": "string",
            "format": "date-time",
            "description": "End date of the analysis."
          },
          "Security": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputPerformanceNonStdLoadAdjustedReturnsSecurity"
            },
            "description": "Array of per-security non-standardised load-adjusted return records."
          }
        },
        "description": "Non-standardised load-adjusted return data for each security in the portfolio."
      },
      "OutputPerformanceStandardizedAndTaxAdjustedReturns": {
        "type": "object",
        "properties": {
          "AsOfDate": {
            "type": "string",
            "format": "date-time",
            "description": "End date of the analysis."
          },
          "Security": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputPerformanceStandardizedAndTaxAdjustedReturnsSecurity"
            },
            "description": "Array of per-security standardised and after-tax return records."
          }
        },
        "description": "Standardised and tax-adjusted return data for each security in the portfolio."
      },
      "OutputPerformanceStandardizedAndTaxAdjustedReturnsSecurity": {
        "type": "object",
        "properties": {
          "Sequence": {
            "type": "integer",
            "format": "int32",
            "description": "Position of the security in the holdings array (1-based)."
          },
          "SecurityId": {
            "type": "string",
            "description": "Morningstar unique identifier of the security."
          },
          "StandardizedReturns": {
            "$ref": "#/components/schemas/OutputPerformanceStandardizedReturns",
            "description": "Standardised return data for the security."
          },
          "AfterTaxReturns": {
            "$ref": "#/components/schemas/OutputPerformanceAfterTaxReturns",
            "description": "After-tax return data for the security."
          }
        },
        "description": "Standardised and after-tax return data for a single security."
      },
      "OutputPerformanceStandardizedReturns": {
        "type": "object",
        "properties": {
          "GrossExpenseRatio": {
            "type": "number",
            "format": "double",
            "description": "Total gross expenses divided by average net assets. Reflects the fund's expenses before any fee waivers or reimbursements are applied."
          },
          "InceptionDate": {
            "type": "string",
            "format": "date-time",
            "description": "Inception date of the security."
          },
          "MaxBackLoad": {
            "type": "number",
            "format": "double",
            "description": "Maximum deferred (back-end) sales charge, expressed as a percentage of the lesser of the initial or final share value."
          },
          "MaxFrontLoad": {
            "type": "number",
            "format": "double",
            "description": "Maximum front-end sales charge applied at purchase, as a percentage of the investment amount."
          },
          "NetExpenseRatio": {
            "type": "number",
            "format": "double",
            "description": "Total net expenses divided by average net assets, after any fee waivers or reimbursements. Includes management, 12b-1, administrative, and auditor fees, but excludes brokerage costs."
          },
          "ManagementExpenseRatio": {
            "type": "number",
            "format": "double",
            "description": "Annual fixed costs of managing the fund as a percentage of average net assets. Specific to the Canadian market."
          },
          "TurnoverRatio": {
            "type": "number",
            "format": "double",
            "description": "Annual portfolio rotation rate. A high turnover ratio may indicate higher transaction costs."
          },
          "TurnoverRatioDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date as of which the turnover ratio is reported."
          },
          "Day7YieldUnsubsized": {
            "type": "number",
            "format": "double",
            "description": "7-day unsubsidised yield, calculated using gross (pre-subsidy) expenses per the SEC Form N-1A formula."
          },
          "Day7YieldSubsidized": {
            "type": "number",
            "format": "double",
            "description": "7-day subsidised yield, calculated using net (post-subsidy) expenses per the SEC Form N-1A formula."
          },
          "Month12Yield": {
            "type": "number",
            "format": "double",
            "description": "Trailing 12-month distributions (dividends, interest, and capital gains, excluding return of capital) expressed as a percentage of the previous month-end price."
          },
          "TimePeriod": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputPerformanceStandardizedReturns.TimePeriodItem"
            },
            "description": "Array of standardised return values for each trailing time period."
          }
        },
        "description": "Standardised return data for a security including expense ratios, yields, and time-period returns."
      },
      "OutputPerformanceStandardizedReturns.TimePeriodItem": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "enum": [
              "YearToDate",
              "Year1",
              "Year3",
              "Year5",
              "Year10",
              "SinceInception"
            ],
            "description": "Trailing time period identifier."
          },
          "Market": {
            "type": "number",
            "format": "double",
            "description": "Market-price total return for the period. For ETFs and closed-end funds, based on market price change plus reinvested distributions. For equities, dividends are treated as a cash payout at period end rather than reinvested."
          },
          "Nav": {
            "type": "number",
            "format": "double",
            "description": "NAV-based total return for the period."
          }
        },
        "description": "Standardised return values for a single trailing time period."
      },
      "OutputPerformanceStandardizedReturnsTimePeriodItem": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "enum": [
              "YearToDate",
              "Month3",
              "Year1",
              "Year3",
              "Year5",
              "Year10",
              "SinceInception"
            ],
            "description": "Trailing time period identifier."
          },
          "Nav": {
            "type": "number",
            "format": "double",
            "description": "NAV-based standardised return for the period."
          }
        },
        "description": "Standardised return value for a single trailing time period."
      },
      "OutputPerformanceStdLoadAdjustedReturns": {
        "type": "object",
        "properties": {
          "AsOfDate": {
            "type": "string",
            "format": "date-time",
            "description": "End date of the analysis."
          },
          "Portfolio": {
            "$ref": "#/components/schemas/OutputPerformanceStdLoadAdjustedReturnsPortfolio",
            "description": "Portfolio standardised load-adjusted return values."
          }
        },
        "description": "Standardised load-adjusted return data for the portfolio."
      },
      "OutputPerformanceStdLoadAdjustedReturnsPortfolio": {
        "type": "object",
        "properties": {
          "TimePeriod": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputPerformanceStandardizedReturnsTimePeriodItem"
            },
            "description": "Array of standardised return values for each trailing time period."
          }
        },
        "description": "Portfolio standardised load-adjusted return values."
      },
      "OutputPerformanceTrailingReturns": {
        "type": "object",
        "properties": {
          "AsOfDate": {
            "type": "string",
            "format": "date-time",
            "description": "End date of the analysis."
          },
          "Portfolio": {
            "$ref": "#/components/schemas/OutputPerformanceTrailingReturnsItem",
            "description": "Portfolio trailing return values. If a benchmark is included, the same time periods are returned for the benchmark."
          },
          "Benchmark": {
            "$ref": "#/components/schemas/OutputPerformanceBenchmark.TrailingReturnsItem",
            "description": "Benchmark trailing return values."
          }
        },
        "description": "Trailing return data for the portfolio and benchmark."
      },
      "OutputPerformanceTrailingReturnsItem": {
        "type": "object",
        "properties": {
          "TimePeriod": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputDataItemTrailingTimePeriod"
            },
            "description": "Array of return values for each trailing time period."
          }
        },
        "description": "Trailing return values across standard time periods."
      },
      "OutputRiskCrossPortfolioCorrelationMatrix": {
        "type": "object",
        "properties": {
          "TrailingTimePeriod": {
            "type": "string",
            "enum": [
              "Year3",
              "Year5",
              "Year10"
            ],
            "description": "Trailing time period over which correlations are calculated."
          },
          "DataFrequency": {
            "type": "string",
            "enum": [
              "Monthly"
            ],
            "description": "Frequency of the return data used in the calculation."
          },
          "StartDate": {
            "type": "string",
            "format": "date-time",
            "description": "Start date of the correlation period."
          },
          "EndDate": {
            "type": "string",
            "format": "date-time",
            "description": "End date of the correlation period."
          },
          "Correlations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputRiskCrossPortfolioCorrelationItemKey"
            },
            "description": "Array of correlation values between portfolios."
          }
        },
        "description": "Cross-portfolio correlation matrix for a single trailing time period."
      },
      "OutputRiskRisks": {
        "type": "object",
        "properties": {
          "RiskStatistics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputRiskRiskStatistics"
            },
            "description": "Array of risk statistics records, one per trailing time period."
          },
          "MPTStatistics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputRiskMPTStatistics"
            },
            "description": "Array of MPT statistics records, one per trailing time period."
          },
          "CorrelationMatrix": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputRiskCorrelationMatrix"
            },
            "description": "Intra-portfolio correlation matrix data."
          },
          "Drawdown": {
            "$ref": "#/components/schemas/OutputRiskDrawdown",
            "description": "Portfolio drawdown data."
          }
        },
        "description": "Risk data for the portfolio including risk statistics, MPT statistics, correlation matrix, and drawdown."
      },
      "OutputRiskCrossPortfolioCorrelationItemKey": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer",
            "format": "int32"
          },
          "Type": {
            "type": "string",
            "enum": [
              "Portfolio"
            ]
          },
          "CorrelatedItemKey": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputRiskCrossPortfolioCorrelatedItemKey"
            }
          }
        },
        "description": "Correlation data for a single portfolio against all other portfolios in the request."
      },
      "OutputRiskRiskStatistics": {
        "type": "object",
        "properties": {
          "AsOfDate": {
            "type": "string",
            "format": "date-time",
            "description": "End date of the analysis."
          },
          "TrailingTimePeriod": {
            "type": "string",
            "enum": [
              "Year1",
              "Year2",
              "Year3",
              "Year5",
              "Year10"
            ],
            "description": "Trailing time period over which risk statistics are calculated."
          },
          "DataFrequency": {
            "type": "string",
            "enum": [
              "Monthly"
            ],
            "description": "Frequency of the return data used in the calculation."
          },
          "Portfolio": {
            "$ref": "#/components/schemas/OutputRiskRiskStatisticsPortfolioItem",
            "description": "Risk statistics for the portfolio."
          },
          "Benchmark": {
            "$ref": "#/components/schemas/OutputRiskRiskStatisticsItem",
            "description": "Risk statistics for the benchmark."
          },
          "Security": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputRiskRiskStatisticsSecurityItem"
            },
            "description": "Array of risk statistics for individual securities in the portfolio."
          }
        },
        "description": "Risk statistics for the portfolio, benchmark, and individual securities for a single trailing time period."
      },
      "OutputRiskMPTStatistics": {
        "type": "object",
        "properties": {
          "AsOfDate": {
            "type": "string",
            "format": "date-time",
            "description": "End date of the analysis."
          },
          "TrailingTimePeriod": {
            "type": "string",
            "enum": [
              "Year1",
              "Year2",
              "Year3",
              "Year5",
              "Year10"
            ],
            "description": "Trailing time period over which MPT statistics are calculated."
          },
          "DataFrequency": {
            "type": "string",
            "enum": [
              "Monthly"
            ],
            "description": "Frequency of the return data used in the calculation."
          },
          "Portfolio": {
            "$ref": "#/components/schemas/OutputRiskMPTStatisticsItem",
            "description": "MPT statistics for the portfolio."
          }
        },
        "description": "Modern Portfolio Theory (MPT) statistics for the portfolio for a single trailing time period."
      },
      "OutputRiskCorrelationMatrix": {
        "type": "object",
        "properties": {
          "TrailingTimePeriod": {
            "type": "string",
            "enum": [
              "Year3",
              "Year5",
              "Year10"
            ]
          },
          "DataFrequency": {
            "type": "string",
            "enum": [
              "Monthly"
            ]
          },
          "StartDate": {
            "type": "string",
            "format": "date-time"
          },
          "EndDate": {
            "type": "string",
            "format": "date-time"
          },
          "Correlations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputRiskCorrelationItemKey"
            }
          }
        },
        "description": "Intra-portfolio correlation matrix for a single trailing time period."
      },
      "OutputRiskDrawdown": {
        "type": "object",
        "properties": {
          "AsOfDate": {
            "type": "string",
            "format": "date-time",
            "description": "End date of the analysis."
          },
          "Portfolio": {
            "$ref": "#/components/schemas/OutputRiskPortfolio",
            "description": "Drawdown data for the portfolio."
          }
        },
        "description": "Drawdown analysis for the portfolio across trailing time periods and calendar years."
      },
      "OutputRiskCrossPortfolioCorrelatedItemKey": {
        "type": "object",
        "properties": {
          "CorrelatedItemKeyId": {
            "type": "integer",
            "format": "int32"
          },
          "Type": {
            "type": "string",
            "enum": [
              "Portfolio"
            ]
          },
          "Value": {
            "type": "number",
            "format": "double"
          }
        },
        "description": "Correlation value between this portfolio and one other portfolio."
      },
      "OutputRiskRiskStatisticsPortfolioItem": {
        "type": "object",
        "properties": {
          "Mean": {
            "type": "number",
            "format": "double",
            "description": "Average return over the trailing period."
          },
          "GrossMean": {
            "description": "Gross mean return. Only returned when `IncludeGrossNetReturns` is `true`.",
            "type": "number",
            "format": "double"
          },
          "SharpeRatio": {
            "type": "number",
            "format": "double",
            "description": "Return in excess of the risk-free rate per unit of standard deviation. A higher value indicates better risk-adjusted performance."
          },
          "GrossSharpeRatio": {
            "description": "Gross Sharpe ratio. Only returned when `IncludeGrossNetReturns` is `true`.",
            "type": "number",
            "format": "double"
          },
          "StandardDeviation": {
            "type": "number",
            "format": "double",
            "description": "Statistical dispersion of returns around the mean. Higher values indicate greater return volatility."
          },
          "GrossStandardDeviation": {
            "description": "Gross standard deviation. Only returned when `IncludeGrossNetReturns` is `true`.",
            "type": "number",
            "format": "double"
          },
          "InformationRatio": {
            "type": "number",
            "format": "double",
            "description": "Active return relative to a benchmark per unit of tracking error. A variant of the Sharpe ratio that uses the benchmark rather than the risk-free rate."
          },
          "GrossInformationRatio": {
            "description": "Gross information ratio. Only returned when `IncludeGrossNetReturns` is `true`.",
            "type": "number",
            "format": "double"
          },
          "TrackingError": {
            "type": "number",
            "format": "double",
            "description": "Standard deviation of the portfolio's excess returns relative to the benchmark."
          },
          "GrossTrackingError": {
            "description": "Gross tracking error. Only returned when `IncludeGrossNetReturns` is `true`.",
            "type": "number",
            "format": "double"
          },
          "SortinoRatio": {
            "type": "number",
            "format": "double",
            "description": "Return per unit of downside deviation. A variant of the Sharpe ratio that penalises only negative return volatility."
          },
          "GrossSortinoRatio": {
            "description": "Gross Sortino ratio. Only returned when `IncludeGrossNetReturns` is `true`.",
            "type": "number",
            "format": "double"
          },
          "ExcessReturn": {
            "type": "number",
            "format": "double",
            "description": "Portfolio return minus the 91-day government treasury bill return over the same period."
          },
          "GrossExcessReturn": {
            "description": "Gross excess return. Only returned when `IncludeGrossNetReturns` is `true`.",
            "type": "number",
            "format": "double"
          }
        },
        "description": "Risk statistics for the portfolio over a single trailing time period. Year2 is not supported at security level."
      },
      "OutputRiskRiskStatisticsItem": {
        "type": "object",
        "properties": {
          "Mean": {
            "type": "number",
            "format": "double",
            "description": "Average return over the trailing period."
          },
          "SharpeRatio": {
            "type": "number",
            "format": "double",
            "description": "Return in excess of the risk-free rate per unit of standard deviation."
          },
          "StandardDeviation": {
            "type": "number",
            "format": "double",
            "description": "Statistical dispersion of returns around the mean."
          },
          "InformationRatio": {
            "type": "number",
            "format": "double",
            "description": "Active return relative to a benchmark per unit of tracking error."
          },
          "TrackingError": {
            "type": "number",
            "format": "double",
            "description": "Standard deviation of excess returns relative to the benchmark."
          },
          "SortinoRatio": {
            "type": "number",
            "format": "double",
            "description": "Return per unit of downside deviation."
          },
          "ExcessReturn": {
            "type": "number",
            "format": "double",
            "description": "Return minus the 91-day government treasury bill return over the same period."
          }
        },
        "description": "Risk statistics for the benchmark over a single trailing time period."
      },
      "OutputRiskRiskStatisticsSecurityItem": {
        "type": "object",
        "properties": {
          "SecurityId": {
            "type": "string",
            "description": "Morningstar unique identifier of the security."
          },
          "Weight": {
            "type": "number",
            "format": "double",
            "description": "Weight of the security as a percentage of the portfolio."
          },
          "RiskStatisticsItem": {
            "$ref": "#/components/schemas/OutputRiskSecurity.RiskStatisticsItem",
            "description": "Risk statistics for the security."
          }
        },
        "description": "Risk statistics for a single security in the portfolio."
      },
      "OutputRiskMPTStatisticsItem": {
        "type": "object",
        "properties": {
          "Alpha": {
            "type": "number",
            "format": "double",
            "description": "Difference between actual returns and expected returns given the portfolio's beta. A positive value indicates outperformance."
          },
          "GrossAlpha": {
            "description": "Gross alpha. Only returned when `IncludeGrossNetReturns` is `true`.",
            "type": "number",
            "format": "double"
          },
          "Beta": {
            "type": "number",
            "format": "double",
            "description": "Measure of the portfolio's sensitivity to benchmark movements. A beta above 1 indicates higher volatility than the benchmark."
          },
          "GrossBeta": {
            "description": "Gross beta. Only returned when `IncludeGrossNetReturns` is `true`.",
            "type": "number",
            "format": "double"
          },
          "RSquared": {
            "type": "number",
            "format": "double",
            "description": "Proportion of the portfolio's returns explained by the benchmark. Values range from 0 to 1; a value close to 1 indicates returns closely track the benchmark."
          },
          "GrossRSquared": {
            "description": "Gross R-squared. Only returned when `IncludeGrossNetReturns` is `true`.",
            "type": "number",
            "format": "double"
          },
          "UpCaptureRatio": {
            "type": "number",
            "format": "double",
            "description": "Ratio of portfolio return to benchmark return during periods when the benchmark is rising. A value above 100 indicates the portfolio captured more than the benchmark's upside."
          },
          "GrossUpCaptureRatio": {
            "description": "Gross up-capture ratio. Only returned when `IncludeGrossNetReturns` is `true`.",
            "type": "number",
            "format": "double"
          },
          "DownCaptureRatio": {
            "type": "number",
            "format": "double",
            "description": "Ratio of portfolio return to benchmark return during periods when the benchmark is falling. A value below 100 indicates the portfolio lost less than the benchmark in down markets."
          },
          "GrossDownCaptureRatio": {
            "description": "Gross down-capture ratio. Only returned when `IncludeGrossNetReturns` is `true`.",
            "type": "number",
            "format": "double"
          },
          "TreynorRatio": {
            "type": "number",
            "format": "double",
            "description": "Annualised risk-adjusted return per unit of market risk (beta). A higher value indicates better risk-adjusted performance."
          },
          "GrossTreynorRatio": {
            "description": "Gross Treynor ratio. Only returned when `IncludeGrossNetReturns` is `true`.",
            "type": "number",
            "format": "double"
          },
          "OmegaRatio": {
            "type": "number",
            "format": "double",
            "description": "Ratio of probability-weighted gains to losses relative to a target return threshold. Unlike the Sharpe ratio, does not assume a normal return distribution."
          },
          "GrossOmegaRatio": {
            "description": "Gross Omega ratio. Only returned when `IncludeGrossNetReturns` is `true`.",
            "type": "number",
            "format": "double"
          }
        },
        "description": "Modern Portfolio Theory (MPT) statistics for the portfolio over a single trailing time period."
      },
      "OutputRiskCorrelationItemKey": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer",
            "format": "int32"
          },
          "SecurityId": {
            "type": "string"
          },
          "UseExtendedReturns": {
            "type": "boolean"
          },
          "Type": {
            "type": "string",
            "enum": [
              "Portfolio",
              "Security"
            ]
          },
          "CorrelatedItemKey": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputRiskCorrelatedItemKey"
            }
          }
        },
        "description": "Correlation data for a single security or portfolio against all others in the matrix."
      },
      "OutputRiskPortfolio": {
        "type": "object",
        "properties": {
          "PortfolioDrawdownItem": {
            "$ref": "#/components/schemas/OutputRiskDrawdownItem",
            "description": "Maximum drawdown statistics over the full analysis period."
          },
          "TimePeriods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputRiskTimePeriods"
            },
            "description": "Drawdown statistics for each standard trailing time period."
          },
          "CalendarYear": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputRiskCalenderYearItem"
            },
            "description": "Drawdown statistics for each calendar year."
          }
        },
        "description": "Portfolio drawdown data across the full period, standard trailing time periods, and calendar years."
      },
      "OutputRiskSecurity.RiskStatisticsItem": {
        "type": "object",
        "properties": {
          "Mean": {
            "type": "number",
            "format": "double",
            "description": "Average return over the trailing period."
          },
          "SharpeRatio": {
            "type": "number",
            "format": "double",
            "description": "Return in excess of the risk-free rate per unit of standard deviation."
          },
          "StandardDeviation": {
            "type": "number",
            "format": "double",
            "description": "Statistical dispersion of returns around the mean."
          }
        },
        "description": "Risk statistics for an individual security. Year2 is not supported."
      },
      "OutputRiskCorrelatedItemKey": {
        "type": "object",
        "properties": {
          "CorrelatedItemKeyId": {
            "type": "integer",
            "format": "int32"
          },
          "Type": {
            "type": "string",
            "enum": [
              "Portfolio",
              "Security"
            ]
          },
          "Value": {
            "type": "number",
            "format": "double"
          }
        },
        "description": "Correlation value between this item and one other item in the matrix."
      },
      "OutputRiskDrawdownItem": {
        "type": "object",
        "properties": {
          "MaxDrawdown": {
            "type": "number",
            "format": "double",
            "description": "Peak-to-trough decline over the period, expressed as a percentage."
          },
          "NoOfPeriods": {
            "type": "integer",
            "format": "int32",
            "description": "Number of periods (months) between the peak and the recovery."
          },
          "PeakDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date of the return peak preceding the maximum drawdown."
          },
          "ValleyDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date of the lowest point of the maximum drawdown."
          },
          "UpPercent": {
            "type": "number",
            "format": "double",
            "description": "Percentage of periods in which the portfolio posted a positive return."
          },
          "DownPercent": {
            "type": "number",
            "format": "double",
            "description": "Percentage of periods in which the portfolio posted a negative return."
          }
        },
        "description": "Drawdown statistics for a single period."
      },
      "OutputRiskCalenderYearItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Calendar year identifier (e.g. `2023`)."
          },
          "CalenderYearDrawdownItem": {
            "$ref": "#/components/schemas/OutputRiskDrawdownItem",
            "description": "Drawdown statistics for the calendar year."
          }
        },
        "description": "Drawdown statistics for a single calendar year."
      },
      "OutputRiskTimePeriods": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "enum": [
              "Month3",
              "Month6",
              "Year1",
              "Year2",
              "Year3",
              "Year5",
              "Year10"
            ],
            "description": "Trailing time period identifier."
          },
          "DrawdownItem": {
            "$ref": "#/components/schemas/OutputRiskDrawdownItem",
            "description": "Drawdown statistics for the time period."
          }
        },
        "description": "Drawdown statistics for a single trailing time period."
      },
      "OutputErrorResponse": {
        "type": "object",
        "properties": {
          "Message": {
            "type": "string",
            "example": "The request is invalid."
          },
          "SpecificErrorStatus": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ErrorCode": {
                  "type": "string",
                  "example": "40059"
                },
                "ErrorMessage": {
                  "type": "string",
                  "example": "There are holdings present in portfolio which are invalid."
                },
                "Metadata": {
                  "type": "object",
                  "properties": {
                    "InvalidPortfolios": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Name": {
                            "type": "string",
                            "example": "Test Portfolio"
                          },
                          "InvalidHoldings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "SecurityId": {
                                  "type": "string",
                                  "example": "FX000015JA3"
                                },
                                "Status": {
                                  "type": "string",
                                  "enum": [
                                    "Invalid",
                                    "Unentitled"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "OutputPerformanceDate": {
        "description": "Key performance date reference points for the portfolio.",
        "type": "object",
        "properties": {
          "EarliestCommonDate": {
            "description": "The earliest date for which all holdings in the portfolio have return data.",
            "type": "string",
            "format": "date-time"
          },
          "EarliestAvailableDate": {
            "description": "The earliest date for which any holding in the portfolio has return data.",
            "type": "string",
            "format": "date-time"
          },
          "EarliestCommonExtendedDate": {
            "description": "The earliest common date calculated using extended return history where available.",
            "type": "string",
            "format": "date-time"
          },
          "EarliestCommonExtended10YearDate": {
            "description": "The earliest common date within a 10-year window, calculated using extended return history where available.",
            "type": "string",
            "format": "date-time"
          },
          "EarliestInceptionDate": {
            "description": "The inception date of the most recently launched holding in the portfolio.",
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OutputSecurityItem": {
        "description": "Reference data for a security appearing in the response.",
        "type": "object",
        "properties": {
          "SecurityId": {
            "description": "Morningstar unique identifier of the security.",
            "type": "string"
          },
          "CUSIP": {
            "description": "CUSIP identifier of the security.",
            "type": "string"
          },
          "ISIN": {
            "description": "ISIN identifier of the security.",
            "type": "string"
          },
          "FundCode": {
            "description": "Fund code identifier of the security.",
            "type": "string"
          },
          "Name": {
            "description": "Name of the security.",
            "type": "string"
          },
          "TradingSymbol": {
            "description": "Trading symbol (ticker) of the security.",
            "type": "string"
          },
          "PerformanceId": {
            "description": "Morningstar performance identifier of the security.",
            "type": "string"
          },
          "BaseCurrency": {
            "description": "Base currency of the security. ISO alpha-3 currency code.",
            "type": "string",
            "enum": [
              "MultipleCurrencies",
              "AED",
              "AFN",
              "ALL",
              "AMD",
              "ANG",
              "AOA",
              "ARS",
              "AUD",
              "AWG",
              "AZN",
              "BAM",
              "BBD",
              "BDT",
              "BGN",
              "BHD",
              "BIF",
              "BMD",
              "BND",
              "BOB",
              "BOV",
              "BRL",
              "BSD",
              "BTN",
              "BWP",
              "BYR",
              "BZD",
              "CAD",
              "CDF",
              "CHE",
              "CHF",
              "CHW",
              "CLF",
              "CLP",
              "CNY",
              "COP",
              "COU",
              "CRC",
              "CUP",
              "CVE",
              "CZK",
              "DJF",
              "DKK",
              "DOP",
              "DZD",
              "EEK",
              "EGP",
              "ERN",
              "ETB",
              "EUR",
              "FJD",
              "FKP",
              "GBP",
              "GEL",
              "GHC",
              "GIP",
              "GMD",
              "GNF",
              "GTQ",
              "GYD",
              "HKD",
              "HNL",
              "HRK",
              "HTG",
              "HUF",
              "IDR",
              "ILS",
              "INR",
              "IQD",
              "IRR",
              "ISK",
              "JMD",
              "JOD",
              "JPY",
              "KES",
              "KGS",
              "KHR",
              "KMF",
              "KPW",
              "KRW",
              "KWD",
              "KYD",
              "KZT",
              "LAK",
              "LBP",
              "LKR",
              "LRD",
              "LSL",
              "LTL",
              "LVL",
              "LYD",
              "MAD",
              "MDL",
              "MGA",
              "MKD",
              "MMK",
              "MNT",
              "MOP",
              "MRO",
              "MUR",
              "MVR",
              "MWK",
              "MXN",
              "MXV",
              "MYR",
              "MZN",
              "NAD",
              "NGN",
              "NIO",
              "NOK",
              "NPR",
              "NZD",
              "OMR",
              "PAB",
              "PEN",
              "PGK",
              "PHP",
              "PKR",
              "PLN",
              "PYG",
              "QAR",
              "ROL",
              "RON",
              "RSD",
              "RUB",
              "RWF",
              "SAR",
              "SBD",
              "SCR",
              "SDD",
              "SEK",
              "SGD",
              "SHP",
              "SLL",
              "SOS",
              "SRD",
              "STD",
              "SYP",
              "SZL",
              "THB",
              "TJS",
              "TMT",
              "TND",
              "TOP",
              "TRY",
              "TTD",
              "TWD",
              "TZS",
              "UAH",
              "UGX",
              "USD",
              "USN",
              "USS",
              "UYU",
              "UZS",
              "VEF",
              "VND",
              "VUV",
              "WST",
              "XAF",
              "XAG",
              "XAU",
              "XBA",
              "XBB",
              "XBC",
              "XBD",
              "XCD",
              "XDR",
              "XFO",
              "XFU",
              "XOF",
              "XPD",
              "XPF",
              "XPT",
              "YER",
              "ZAR",
              "ZMK",
              "ZWR"
            ]
          },
          "Type": {
            "description": "Morningstar security type code (e.g. `FO` = Open End Fund, `ST` = Stock, `BD` = Bond).",
            "type": "string",
            "enum": [
              "BD",
              "CT",
              "CA",
              "CASH",
              "EI",
              "FC",
              "FE",
              "FM",
              "FO",
              "FI",
              "FV",
              "SA",
              "ST",
              "VA",
              "V1",
              "XI",
              "SP",
              "Proxy",
              "CZ",
              "MO",
              "VP",
              "VL",
              "FH",
              "CP",
              "CIT",
              "GA",
              "MF",
              "SC",
              "S1"
            ]
          },
          "InceptionDate": {
            "description": "Inception date of the security.",
            "type": "string",
            "format": "date-time"
          },
          "ObsoleteType": {
            "description": "Reason the security was marked obsolete, if applicable.",
            "type": "string"
          },
          "ObsoleteDate": {
            "description": "Date on which the security was marked obsolete, if applicable.",
            "type": "string",
            "format": "date-time"
          },
          "SecurityReferenceTypes": {
            "description": "Roles the security plays in the response (e.g. `PortfolioHolding`, `BenchmarkHolding`, `InvalidSecurity`).",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "PortfolioHolding",
                "BenchmarkHolding",
                "DisclosureIndex",
                "InvalidSecurity",
                "InactiveSecurity",
                "NotEntitled"
              ]
            }
          },
          "Value": {
            "description": "Market value of the security in the portfolio.",
            "type": "number",
            "format": "double"
          },
          "Units": {
            "description": "Number of units of the security held.",
            "type": "number",
            "format": "double"
          },
          "NotClassifiedHoldingId": {
            "description": "Identifier used when the security could not be classified.",
            "type": "string"
          },
          "Weight": {
            "description": "Weight of the security as a percentage of the portfolio.",
            "type": "number",
            "format": "double"
          }
        }
      },
      "OutputDataItemTrailingTimePeriod": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "enum": [
              "YearToDate",
              "Month3",
              "Month6",
              "Year1",
              "Year2",
              "Year3",
              "Year5",
              "Year10",
              "SinceInception"
            ],
            "description": "Trailing time period identifier."
          },
          "Value": {
            "type": "number",
            "format": "double",
            "description": "Return value for the time period."
          },
          "GrossValue": {
            "description": "Gross return value for the period. Only returned when `IncludeGrossNetReturns` is `true`.",
            "type": "number",
            "format": "double"
          }
        }
      },
      "OutputDataItemBenchmarkTrailingTimePeriod": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "enum": [
              "YearToDate",
              "Month3",
              "Month6",
              "Year1",
              "Year2",
              "Year3",
              "Year5",
              "Year10",
              "SinceInception"
            ],
            "description": "Trailing time period identifier."
          },
          "Value": {
            "type": "number",
            "format": "double",
            "description": "Return value for the time period."
          }
        },
        "description": "Benchmark return value for a single trailing time period."
      },
      "OutputDataItemCalendarYearReturnTimePeriod": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer",
            "format": "int32",
            "description": "Calendar year sequence (1 = most recent year, up to 10)."
          },
          "Value": {
            "type": "number",
            "format": "double",
            "description": "Return value for the calendar year."
          },
          "GrossValue": {
            "description": "Gross return value for the calendar year. Only returned when `IncludeGrossNetReturns` is `true`.",
            "type": "number",
            "format": "double"
          }
        },
        "description": "Return value for a single calendar year."
      },
      "OutputDataItemPerformanceHistoryTimePeriod": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer",
            "format": "int32",
            "description": "Sequential period identifier (1-based)."
          },
          "Value": {
            "type": "number",
            "format": "double",
            "description": "Return value for the period."
          },
          "GrossValue": {
            "description": "Gross value for the period. Only returned when `IncludeGrossNetReturns` is `true`.",
            "type": "number",
            "format": "double"
          }
        }
      },
      "OutputDataItemInt32": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer",
            "format": "int32",
            "description": "Integer identifier for the data point."
          },
          "Value": {
            "type": "number",
            "format": "double",
            "description": "Value for the data point."
          }
        },
        "description": "A data point with an integer identifier and a numeric value."
      },
      "OutputDataItemTimePeriod": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "enum": [
              "YearToDate",
              "Year1",
              "Year3",
              "Year5",
              "Year10"
            ],
            "description": "Trailing time period identifier."
          },
          "Value": {
            "type": "number",
            "format": "double",
            "description": "Return value for the time period."
          }
        }
      }
    },
    "examples": {
      "PerformanceRequestExample1": {
        "summary": "Portfolio Performance Example Input",
        "value": {
          "View": {
            "Id": "Default"
          },
          "Config": {
            "Id": "QuickPortfolio"
          },
          "RequestSettings": {
            "OutputCurrency": "USD",
            "AssetClassGroupConfigs": {
              "AssetClassGroupConfig": [
                {
                  "Id": "ACG-USBROAD"
                }
              ]
            }
          },
          "Portfolios": [
            {
              "Name": "TestPortfolio1",
              "TotalValue": 10000,
              "Currency": "USD",
              "Holdings": [
                {
                  "SecurityId": "FOUSA05H5F",
                  "Weight": 50
                },
                {
                  "SecurityId": "FOUSA04BCR",
                  "Weight": 50
                }
              ]
            }
          ]
        }
      },
      "PerformanceResponseExample1": {
        "summary": "Portfolio Performance Example Output",
        "value": {
          "Performance": [
            {
              "PortfolioName": "TestPortfolio1",
              "PerformanceDate": {
                "EarliestCommonDate": "2004-04-12T00:00:00",
                "EarliestAvailableDate": "2003-09-30T00:00:00",
                "EarliestCommonExtendedDate": "2004-04-12T00:00:00",
                "EarliestInceptionDate": "2003-09-30T00:00:00"
              },
              "ReturnMethodology": "QuickPortfolio",
              "Returns": {
                "BestWorstTimePeriods": {
                  "AsOfDate": "2026-03-31T00:00:00",
                  "BestTimePeriod": [
                    {
                      "TimePeriod": "Month3",
                      "Value": 24.65,
                      "StartDate": "2009-03-31T00:00:00"
                    },
                    {
                      "TimePeriod": "Month6",
                      "Value": 38.29,
                      "StartDate": "2009-04-30T00:00:00"
                    },
                    {
                      "TimePeriod": "Year1",
                      "Value": 56.26,
                      "StartDate": "2009-03-31T00:00:00"
                    },
                    {
                      "TimePeriod": "Year3",
                      "Value": 27.05,
                      "StartDate": "2009-03-31T00:00:00"
                    },
                    {
                      "TimePeriod": "Year5",
                      "Value": 23.28,
                      "StartDate": "2009-03-31T00:00:00"
                    },
                    {
                      "TimePeriod": "Year10",
                      "Value": 16.12,
                      "StartDate": "2009-03-31T00:00:00"
                    }
                  ],
                  "WorstTimePeriod": [
                    {
                      "TimePeriod": "Month3",
                      "Value": -33.34,
                      "StartDate": "2008-09-30T00:00:00"
                    },
                    {
                      "TimePeriod": "Month6",
                      "Value": -37.37,
                      "StartDate": "2008-06-30T00:00:00"
                    },
                    {
                      "TimePeriod": "Year1",
                      "Value": -38.23,
                      "StartDate": "2007-12-31T00:00:00"
                    },
                    {
                      "TimePeriod": "Year3",
                      "Value": -10.33,
                      "StartDate": "2006-03-31T00:00:00"
                    },
                    {
                      "TimePeriod": "Year5",
                      "Value": -0.16,
                      "StartDate": "2004-05-31T00:00:00"
                    },
                    {
                      "TimePeriod": "Year10",
                      "Value": 7.57,
                      "StartDate": "2006-03-31T00:00:00"
                    }
                  ]
                },
                "TrailingReturns": {
                  "AsOfDate": "2026-03-31T00:00:00",
                  "Portfolio": {
                    "TimePeriod": [
                      {
                        "Id": "YearToDate",
                        "Value": -5.83
                      },
                      {
                        "Id": "Month3",
                        "Value": -5.83
                      },
                      {
                        "Id": "Month6",
                        "Value": -4.2
                      },
                      {
                        "Id": "Year1",
                        "Value": 12.45
                      },
                      {
                        "Id": "Year3",
                        "Value": 16
                      },
                      {
                        "Id": "Year5",
                        "Value": 6.76
                      },
                      {
                        "Id": "Year10",
                        "Value": 10.74
                      }
                    ]
                  },
                  "Benchmark": {
                    "TimePeriod": [
                      {
                        "Id": "YearToDate",
                        "Value": -4.33
                      },
                      {
                        "Id": "Month3",
                        "Value": -4.33
                      },
                      {
                        "Id": "Month6",
                        "Value": -1.79
                      },
                      {
                        "Id": "Year1",
                        "Value": 17.8
                      },
                      {
                        "Id": "Year3",
                        "Value": 18.32
                      },
                      {
                        "Id": "Year5",
                        "Value": 12.06
                      },
                      {
                        "Id": "Year10",
                        "Value": 14.16
                      }
                    ]
                  }
                },
                "CalendarYearReturn": {
                  "AsOfDate": "2026-03-31T00:00:00",
                  "Portfolio": {
                    "CalendarYear": [
                      {
                        "Id": 2026,
                        "Value": -5.83
                      },
                      {
                        "Id": 2025,
                        "Value": 14.7
                      },
                      {
                        "Id": 2024,
                        "Value": 22.44
                      },
                      {
                        "Id": 2023,
                        "Value": 29.12
                      },
                      {
                        "Id": 2022,
                        "Value": -26.38
                      },
                      {
                        "Id": 2021,
                        "Value": 11.1
                      },
                      {
                        "Id": 2020,
                        "Value": 21.66
                      },
                      {
                        "Id": 2019,
                        "Value": 21.45
                      },
                      {
                        "Id": 2018,
                        "Value": 0.33
                      },
                      {
                        "Id": 2017,
                        "Value": 21.74
                      },
                      {
                        "Id": 2016,
                        "Value": 8.38
                      },
                      {
                        "Id": 2015,
                        "Value": 4
                      },
                      {
                        "Id": 2014,
                        "Value": 7.02
                      },
                      {
                        "Id": 2013,
                        "Value": 24.01
                      },
                      {
                        "Id": 2012,
                        "Value": 19.76
                      },
                      {
                        "Id": 2011,
                        "Value": 1.62
                      },
                      {
                        "Id": 2010,
                        "Value": 16.51
                      },
                      {
                        "Id": 2009,
                        "Value": 51.75
                      },
                      {
                        "Id": 2008,
                        "Value": -35.85
                      },
                      {
                        "Id": 2007,
                        "Value": 7.73
                      },
                      {
                        "Id": 2006,
                        "Value": 10
                      },
                      {
                        "Id": 2005,
                        "Value": 3.62
                      },
                      {
                        "Id": 2004,
                        "Value": 10.8
                      }
                    ]
                  },
                  "Benchmark": {
                    "CalendarYear": [
                      {
                        "Id": 2026,
                        "Value": -4.33
                      },
                      {
                        "Id": 2025,
                        "Value": 17.88
                      },
                      {
                        "Id": 2024,
                        "Value": 25.02
                      },
                      {
                        "Id": 2023,
                        "Value": 26.29
                      },
                      {
                        "Id": 2022,
                        "Value": -18.11
                      },
                      {
                        "Id": 2021,
                        "Value": 28.71
                      },
                      {
                        "Id": 2020,
                        "Value": 18.4
                      },
                      {
                        "Id": 2019,
                        "Value": 31.49
                      },
                      {
                        "Id": 2018,
                        "Value": -4.38
                      },
                      {
[...]
