{"openapi":"3.1.0","info":{"title":"Time Series - Sync","version":"1.0","x-changelog":[{"date":"2026-07-14","changes":["ADDED /fund-research/portfolio-esg-risk-rating","ADDED /fund-sustainability/portfolio-esg-risk-rating","ADDED /performance/daily-bid-price","ADDED /performance/daily-offer-price","ADDED /performance/fund-size-comprehensive-daily","ADDED /performance/fund-size-comprehensive-monthly","ADDED /performance/fund-size-surveyed-daily","ADDED /performance/fund-size-surveyed-monthly","REMOVED sinceInception parameter from /performance/daily-ohlcv. sinceInception not supported for multivariate data points."]},{"date":"2026-04-20","changes":["Added base URL for Americas to list of servers."]},{"date":"2026-06-02","changes":["Updated typo in OutputTimeSeriesSingleObservation schema name."]},{"date":"2026-04-20","changes":["Added base URL for Americas to list of servers."]}],"description":"## Overview\n\nTime Series - Sync is designed for integration with real-time web applications, dashboards, and analytical tools where responsiveness and flexibility are critical.\n\n## Data Point Limits\n\nEach request is scoped to a single data point.\n\n## Investment Limits\n\nA maximum of **25 investment** identifiers can be passed in a single request.\n\n## Lookback Limits\n\nLookback limits are determined by the type of time series observation that is returned and by the frequency of the data. \n\nMost data points return a series of **univariate** observations. A univariate observation consists of two fields - `date` and `value`.\n\nSome data points, for example Daily OHLCV, return a series of **multivariate** observations. A multivariate observation consists of a date field and multiple named value fields — for example, OHLCV data includes `dailyOpenPrice`, `dailyHighPrice`, `dailyLowPrice`, `dailyClosePrice`, and `dailyVolume`.\n\n### Lookback Limits - Univariate Observations\n\n| Frequency | Maximum Lookback |\n|-----------|-----------------|\n| Daily | 12 months| \n| Weekly | 60 months | \n| Monthly | 120 months | \n| Quarterly | 600 months | \n| Annual | 600 months | \n\n\n### Lookback Limits - Multivariate Observations\n\n| Frequency | Maximum Lookback |\n|-----------|-----------------|\n| All | 6 months| \n\n\n## Data Point Types\n\nThe API supports **standard** and **computed** data points.\n\n**Standard** data points are returned directly from stored data and do not require any data-point-level parameters. Only global request parameters apply.\n\n**Computed** data points require data-point-level parameters and output values are calculated at runtime.\n\n## Authentication\n\nRetrieve tokens required to authorize calls to the API. See [documentation](https://developer.morningstar.com/direct-web-services/documentation/api-utilities/authentication-api/overview)."},"tags":[{"name":"Corporate Actions"},{"name":"Fees & Expenses"},{"name":"Fund-Level Sustainability Ratings, Research, and Analytics"},{"name":"Fund Research, Ratings and Analytics"},{"name":"Performance"},{"name":"Portfolio Analytics"},{"name":"Portfolio Holdings"},{"name":"Reference"}],"security":[{"Bearer":[]}],"servers":[{"url":"https://www.us-api.morningstar.com","description":"Americas (Production)"},{"url":"https://www.apac-api.morningstar.com","description":"APAC (Production)"},{"url":"https://www.emea-api.morningstar.com","description":"EMEA (Production)"}],"paths":{"/direct-web-services/time-series/v1/performance/12-mo-yield/{ids}":{"get":{"tags":["Performance"],"summary":"Get 12-Month Yield time series.","description":"An expression of the amount paid out in distributions (pre-tax) by the investment in the last 12 months expressed as a percentage of the previous month end price.","parameters":[{"name":"ids","in":"path","description":"\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`.","required":true,"schema":{"type":"string","example":"0P00000016,0P00002Y8D,DODGX,0P000000ppY"}},{"name":"idTypes","in":"query","description":"\nComma-separated list specifying the type of each value passed in the `ids` parameter.<br>\nRules:\n\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n*   Empty values default to `performanceId`\n\nExample:\n\n*   `ids=id1,id2,id3`\n*   `id1` and `id3` are performance IDs\n*   `id2` is a security ID\n*   `idTypes=,securityId`\n\nAccepted values:\n\n*   `performanceId` (default)\n*   `isin`\n*   `securityId`\n*   `cusip`\n*   `tradingSymbol`\n*   `msid`","schema":{"type":"string","example":",securityId"}},{"name":"baseCurrency","in":"query","description":"\nComma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>\n\n*   Filters results based on currency\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Base currency passed for `id2` and `id4`\n*   `baseCurrency=,USD,,USD`","schema":{"type":"string","example":",USD,,USD"}},{"name":"domicile","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`","schema":{"type":"string","example":",USD,,USD"}},{"name":"exchangeCountry","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).\n\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange country passed for `id2` and `id4`\n*   `exchangeCountry=,USA,,USA`","schema":{"type":"string","example":",CAN,CAN"}},{"name":"exchangeId","description":"\nComma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).\n\n*   Filters results based on exchange ID\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange ID passed for `id2` and `id4`\n*   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`","in":"query","required":false,"schema":{"type":"string","example":"EX$$$$XMEX,EX$$$$AIMX,,EXTP$$$AMM"}},{"name":"frequency","in":"query","description":"Specifies the time interval between data points.","schema":{"enum":["monthly"],"type":"string","default":"monthly"}},{"name":"startDate","in":"query","description":"Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2020-01-12","format":"date"}},{"name":"endDate","in":"query","description":"Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2024-01-12","format":"date"}},{"name":"timePeriod","in":"query","description":"Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"number","example":"12"}},{"name":"timePeriodUnit","in":"query","description":"\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"string","enum":["months","days","years"]}},{"name":"applyEarliestCommonDate","in":"query","description":"\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned.","schema":{"type":"boolean","default":false}},{"name":"applyTrackRecordExtension","in":"query","description":"\nSpecifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.","schema":{"type":"boolean","default":false}},{"name":"applyRestructureDate","in":"query","description":"\nSpecifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.\n\nThis option is applicable only when `applyEarliestCommonDate` is set to true.","schema":{"type":"boolean","default":false}},{"name":"sinceInception","in":"query","description":"\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings.","required":false,"schema":{"type":"boolean","default":false}},{"name":"currencyId","in":"query","description":"Specifies the currency in which to return data.","schema":{"type":"string","enum":["BASE","AUD","BND","BRL","CAD","CHF","CLP","CNH","CNY","CZK","DKK","EUR","GBP","HKD","HUF","IDR","ILS","INR","JPY","KRW","MOP","MXN","MYR","NOK","NZD","PLN","RMB","RUB","SEK","SGD","THB","TWD","USD","ZAR"],"default":"BASE"}}],"responses":{"200":{"$ref":"#/components/responses/ResponseTimeSeriesSingleObservation"},"400":{"$ref":"#/components/responses/ResponseStatus400"},"500":{"$ref":"#/components/responses/ResponseStatus500"}},"operationId":"getPerformance12MoYield"}},"/direct-web-services/time-series/v1/performance/7-day-gross-yield/{ids}":{"get":{"tags":["Performance"],"summary":"Get 7-Day Gross Yield time series.","description":"","parameters":[{"name":"ids","in":"path","description":"\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`.","required":true,"schema":{"type":"string","example":"0P00000016,0P00002Y8D,DODGX,0P000000ppY"}},{"name":"idTypes","in":"query","description":"\nComma-separated list specifying the type of each value passed in the `ids` parameter.<br>\nRules:\n\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n*   Empty values default to `performanceId`\n\nExample:\n\n*   `ids=id1,id2,id3`\n*   `id1` and `id3` are performance IDs\n*   `id2` is a security ID\n*   `idTypes=,securityId`\n\nAccepted values:\n\n*   `performanceId` (default)\n*   `isin`\n*   `securityId`\n*   `cusip`\n*   `tradingSymbol`\n*   `msid`","schema":{"type":"string","example":",securityId"}},{"name":"baseCurrency","in":"query","description":"\nComma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>\n\n*   Filters results based on currency\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Base currency passed for `id2` and `id4`\n*   `baseCurrency=,USD,,USD`","schema":{"type":"string","example":",USD,,USD"}},{"name":"domicile","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`","schema":{"type":"string","example":",USD,,USD"}},{"name":"exchangeCountry","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).\n\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange country passed for `id2` and `id4`\n*   `exchangeCountry=,USA,,USA`","schema":{"type":"string","example":",CAN,CAN"}},{"name":"exchangeId","description":"\nComma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).\n\n*   Filters results based on exchange ID\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange ID passed for `id2` and `id4`\n*   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`","in":"query","required":false,"schema":{"type":"string","example":"EX$$$$XMEX"}},{"name":"frequency","in":"query","description":"Specifies the time interval between data points.","schema":{"enum":["daily"],"type":"string","default":"daily"}},{"name":"startDate","in":"query","description":"Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2020-01-12","format":"date"}},{"name":"endDate","in":"query","description":"Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2024-01-12","format":"date"}},{"name":"timePeriod","in":"query","description":"Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"number","example":"12"}},{"name":"timePeriodUnit","in":"query","description":"\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"string","enum":["months","days","years"]}},{"name":"applyEarliestCommonDate","in":"query","description":"\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned.","schema":{"type":"boolean","default":false}},{"name":"applyTrackRecordExtension","in":"query","description":"\nSpecifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.","schema":{"type":"boolean","default":false}},{"name":"applyRestructureDate","in":"query","description":"\nSpecifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.\n\nThis option is applicable only when `applyEarliestCommonDate` is set to true.","schema":{"type":"boolean","default":false}},{"name":"sinceInception","in":"query","description":"\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings.","required":false,"schema":{"type":"boolean","default":false}},{"name":"currencyId","in":"query","description":"Specifies the currency in which to return data.","schema":{"type":"string","enum":["BASE","AUD","BND","BRL","CAD","CHF","CLP","CNH","CNY","CZK","DKK","EUR","GBP","HKD","HUF","IDR","ILS","INR","JPY","KRW","MOP","MXN","MYR","NOK","NZD","PLN","RMB","RUB","SEK","SGD","THB","TWD","USD","ZAR"],"default":"BASE"}}],"responses":{"200":{"$ref":"#/components/responses/ResponseTimeSeriesSingleObservation"},"400":{"$ref":"#/components/responses/ResponseStatus400"},"500":{"$ref":"#/components/responses/ResponseStatus500"}},"operationId":"getPerformance7DayGrossYield"}},"/direct-web-services/time-series/v1/performance/7-day-unsubsidized-yield/{ids}":{"get":{"tags":["Performance"],"summary":"Get 7-Day Unsubsidized Yield time series.","description":"","parameters":[{"name":"ids","in":"path","description":"\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`.","required":true,"schema":{"type":"string","example":"0P00000016,0P00002Y8D,DODGX,0P000000ppY"}},{"name":"idTypes","in":"query","description":"\nComma-separated list specifying the type of each value passed in the `ids` parameter.<br>\nRules:\n\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n*   Empty values default to `performanceId`\n\nExample:\n\n*   `ids=id1,id2,id3`\n*   `id1` and `id3` are performance IDs\n*   `id2` is a security ID\n*   `idTypes=,securityId`\n\nAccepted values:\n\n*   `performanceId` (default)\n*   `isin`\n*   `securityId`\n*   `cusip`\n*   `tradingSymbol`\n*   `msid`","schema":{"type":"string","example":",securityId"}},{"name":"baseCurrency","in":"query","description":"\nComma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>\n\n*   Filters results based on currency\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Base currency passed for `id2` and `id4`\n*   `baseCurrency=,USD,,USD`","schema":{"type":"string","example":",USD,,USD"}},{"name":"domicile","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`","schema":{"type":"string","example":",USD,,USD"}},{"name":"exchangeCountry","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).\n\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange country passed for `id2` and `id4`\n*   `exchangeCountry=,USA,,USA`","schema":{"type":"string","example":",CAN,CAN"}},{"name":"exchangeId","description":"\nComma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).\n\n*   Filters results based on exchange ID\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange ID passed for `id2` and `id4`\n*   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`","in":"query","required":false,"schema":{"type":"string","example":"EX$$$$XMEX"}},{"name":"frequency","in":"query","description":"Specifies the time interval between data points.","schema":{"enum":["daily"],"type":"string","default":"daily"}},{"name":"startDate","in":"query","description":"Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2020-01-12","format":"date"}},{"name":"endDate","in":"query","description":"Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2024-01-12","format":"date"}},{"name":"timePeriod","in":"query","description":"Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"number","example":"12"}},{"name":"timePeriodUnit","in":"query","description":"\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"string","enum":["months","days","years"]}},{"name":"applyEarliestCommonDate","in":"query","description":"\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned.","schema":{"type":"boolean","default":false}},{"name":"applyTrackRecordExtension","in":"query","description":"\nSpecifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.","schema":{"type":"boolean","default":false}},{"name":"applyRestructureDate","in":"query","description":"\nSpecifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.\n\nThis option is applicable only when `applyEarliestCommonDate` is set to true.","schema":{"type":"boolean","default":false}},{"name":"sinceInception","in":"query","description":"\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings.","required":false,"schema":{"type":"boolean","default":false}},{"name":"currencyId","in":"query","description":"Specifies the currency in which to return data.","schema":{"type":"string","enum":["BASE","AUD","BND","BRL","CAD","CHF","CLP","CNH","CNY","CZK","DKK","EUR","GBP","HKD","HUF","IDR","ILS","INR","JPY","KRW","MOP","MXN","MYR","NOK","NZD","PLN","RMB","RUB","SEK","SGD","THB","TWD","USD","ZAR"],"default":"BASE"}}],"responses":{"200":{"$ref":"#/components/responses/ResponseTimeSeriesSingleObservation"},"400":{"$ref":"#/components/responses/ResponseStatus400"},"500":{"$ref":"#/components/responses/ResponseStatus500"}},"operationId":"getPerformance7DayUnsubsidizedYield"}},"/direct-web-services/time-series/v1/performance/7-day-yield/{ids}":{"get":{"tags":["Performance"],"summary":"Get 7-Day Yield time series.","description":"A figure calculated using the formula under Item 26. (a) (1) of SEC Form N-1A to reflect the expenses net of subsidies of management fee waiver or reimbursement.","parameters":[{"name":"ids","in":"path","description":"\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`.","required":true,"schema":{"type":"string","example":"0P00000016,0P00002Y8D,DODGX,0P000000ppY"}},{"name":"idTypes","in":"query","description":"\nComma-separated list specifying the type of each value passed in the `ids` parameter.<br>\nRules:\n\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n*   Empty values default to `performanceId`\n\nExample:\n\n*   `ids=id1,id2,id3`\n*   `id1` and `id3` are performance IDs\n*   `id2` is a security ID\n*   `idTypes=,securityId`\n\nAccepted values:\n\n*   `performanceId` (default)\n*   `isin`\n*   `securityId`\n*   `cusip`\n*   `tradingSymbol`\n*   `msid`","schema":{"type":"string","example":",securityId"}},{"name":"baseCurrency","in":"query","description":"\nComma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>\n\n*   Filters results based on currency\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Base currency passed for `id2` and `id4`\n*   `baseCurrency=,USD,,USD`","schema":{"type":"string","example":",USD,,USD"}},{"name":"domicile","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`","schema":{"type":"string","example":",USD,,USD"}},{"name":"exchangeCountry","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).\n\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange country passed for `id2` and `id4`\n*   `exchangeCountry=,USA,,USA`","schema":{"type":"string","example":",CAN,CAN"}},{"name":"exchangeId","description":"\nComma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).\n\n*   Filters results based on exchange ID\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange ID passed for `id2` and `id4`\n*   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`","in":"query","required":false,"schema":{"type":"string","example":"EX$$$$XMEX"}},{"name":"frequency","in":"query","description":"Specifies the time interval between data points.","schema":{"enum":["daily"],"type":"string","default":"daily"}},{"name":"startDate","in":"query","description":"Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2020-01-12","format":"date"}},{"name":"endDate","in":"query","description":"Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2024-01-12","format":"date"}},{"name":"timePeriod","in":"query","description":"Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"number","example":"12"}},{"name":"timePeriodUnit","in":"query","description":"\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"string","enum":["months","days","years"]}},{"name":"applyEarliestCommonDate","in":"query","description":"\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned.","schema":{"type":"boolean","default":false}},{"name":"applyTrackRecordExtension","in":"query","description":"\nSpecifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.","schema":{"type":"boolean","default":false}},{"name":"applyRestructureDate","in":"query","description":"\nSpecifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.\n\nThis option is applicable only when `applyEarliestCommonDate` is set to true.","schema":{"type":"boolean","default":false}},{"name":"sinceInception","in":"query","description":"\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings.","required":false,"schema":{"type":"boolean","default":false}},{"name":"currencyId","in":"query","description":"Specifies the currency in which to return data.","schema":{"type":"string","enum":["BASE","AUD","BND","BRL","CAD","CHF","CLP","CNH","CNY","CZK","DKK","EUR","GBP","HKD","HUF","IDR","ILS","INR","JPY","KRW","MOP","MXN","MYR","NOK","NZD","PLN","RMB","RUB","SEK","SGD","THB","TWD","USD","ZAR"],"default":"BASE"}}],"responses":{"200":{"$ref":"#/components/responses/ResponseTimeSeriesSingleObservation"},"400":{"$ref":"#/components/responses/ResponseStatus400"},"500":{"$ref":"#/components/responses/ResponseStatus500"}},"operationId":"getPerformance7DayYield"}},"/direct-web-services/time-series/v1/fund-sustainability/absolute-carbon-emissions-scope-1-and-2-tonnes/{ids}":{"get":{"tags":["Fund-Level Sustainability Ratings, Research, and Analytics"],"summary":"Get Absolute Carbon Emissions Scope 1 And 2 Tonnes time series.","description":"The amount (in tonnes) of scope 1 and 2 carbon emissions that is attributable to the portfolio, calculated by working out for each unique holding the percentage of that company that the portfolio owns.","parameters":[{"name":"ids","in":"path","description":"\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`.","required":true,"schema":{"type":"string","example":"0P00000016,0P00002Y8D,DODGX,0P000000ppY"}},{"name":"idTypes","in":"query","description":"\nComma-separated list specifying the type of each value passed in the `ids` parameter.<br>\nRules:\n\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n*   Empty values default to `performanceId`\n\nExample:\n\n*   `ids=id1,id2,id3`\n*   `id1` and `id3` are performance IDs\n*   `id2` is a security ID\n*   `idTypes=,securityId`\n\nAccepted values:\n\n*   `performanceId` (default)\n*   `isin`\n*   `securityId`\n*   `cusip`\n*   `tradingSymbol`\n*   `msid`","schema":{"type":"string","example":",securityId"}},{"name":"baseCurrency","in":"query","description":"\nComma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>\n\n*   Filters results based on currency\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Base currency passed for `id2` and `id4`\n*   `baseCurrency=,USD,,USD`","schema":{"type":"string","example":",USD,,USD"}},{"name":"domicile","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`","schema":{"type":"string","example":",USD,,USD"}},{"name":"exchangeCountry","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).\n\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange country passed for `id2` and `id4`\n*   `exchangeCountry=,USA,,USA`","schema":{"type":"string","example":",CAN,CAN"}},{"name":"exchangeId","description":"\nComma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).\n\n*   Filters results based on exchange ID\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange ID passed for `id2` and `id4`\n*   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`","in":"query","required":false,"schema":{"type":"string","example":"EX$$$$XMEX"}},{"name":"frequency","in":"query","description":"Specifies the time interval between data points.","schema":{"enum":["daily"],"type":"string","default":"daily"}},{"name":"startDate","in":"query","description":"Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2020-01-12","format":"date"}},{"name":"endDate","in":"query","description":"Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2024-01-12","format":"date"}},{"name":"timePeriod","in":"query","description":"Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"number","example":"12"}},{"name":"timePeriodUnit","in":"query","description":"\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"string","enum":["months","days","years"]}},{"name":"applyEarliestCommonDate","in":"query","description":"\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned.","schema":{"type":"boolean","default":false}},{"name":"applyTrackRecordExtension","in":"query","description":"\nSpecifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.","schema":{"type":"boolean","default":false}},{"name":"applyRestructureDate","in":"query","description":"\nSpecifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.\n\nThis option is applicable only when `applyEarliestCommonDate` is set to true.","schema":{"type":"boolean","default":false}},{"name":"sinceInception","in":"query","description":"\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings.","required":false,"schema":{"type":"boolean","default":false}},{"name":"currencyId","in":"query","description":"Specifies the currency in which to return data.","schema":{"type":"string","enum":["BASE","AUD","BND","BRL","CAD","CHF","CLP","CNH","CNY","CZK","DKK","EUR","GBP","HKD","HUF","IDR","ILS","INR","JPY","KRW","MOP","MXN","MYR","NOK","NZD","PLN","RMB","RUB","SEK","SGD","THB","TWD","USD","ZAR"],"default":"BASE"}}],"responses":{"200":{"$ref":"#/components/responses/ResponseTimeSeriesSingleObservation"},"400":{"$ref":"#/components/responses/ResponseStatus400"},"500":{"$ref":"#/components/responses/ResponseStatus500"}},"operationId":"getFundSustainabilityAbsoluteCarbonEmissionsScope1And2Tonnes"}},"/direct-web-services/time-series/v1/fund-sustainability/absolute-carbon-emissions-scope-1-and-2-tonnes-category-average/{ids}":{"get":{"tags":["Fund-Level Sustainability Ratings, Research, and Analytics"],"summary":"Get Absolute Carbon Emissions Scope 1 And 2 Tonnes Category Average time series.","description":"The average Absolute Carbon Emissions (scope 1 and 2 emissions) for funds within the Morningstar category expressed in tonnes.","parameters":[{"name":"ids","in":"path","description":"\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`.","required":true,"schema":{"type":"string","example":"0P00000016,0P00002Y8D,DODGX,0P000000ppY"}},{"name":"idTypes","in":"query","description":"\nComma-separated list specifying the type of each value passed in the `ids` parameter.<br>\nRules:\n\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n*   Empty values default to `performanceId`\n\nExample:\n\n*   `ids=id1,id2,id3`\n*   `id1` and `id3` are performance IDs\n*   `id2` is a security ID\n*   `idTypes=,securityId`\n\nAccepted values:\n\n*   `performanceId` (default)\n*   `isin`\n*   `securityId`\n*   `cusip`\n*   `tradingSymbol`\n*   `msid`","schema":{"type":"string","example":",securityId"}},{"name":"baseCurrency","in":"query","description":"\nComma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>\n\n*   Filters results based on currency\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Base currency passed for `id2` and `id4`\n*   `baseCurrency=,USD,,USD`","schema":{"type":"string","example":",USD,,USD"}},{"name":"domicile","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`","schema":{"type":"string","example":",USD,,USD"}},{"name":"exchangeCountry","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).\n\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange country passed for `id2` and `id4`\n*   `exchangeCountry=,USA,,USA`","schema":{"type":"string","example":",CAN,CAN"}},{"name":"exchangeId","description":"\nComma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).\n\n*   Filters results based on exchange ID\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange ID passed for `id2` and `id4`\n*   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`","in":"query","required":false,"schema":{"type":"string","example":"EX$$$$XMEX"}},{"name":"frequency","in":"query","description":"Specifies the time interval between data points.","schema":{"enum":["daily"],"type":"string","default":"daily"}},{"name":"startDate","in":"query","description":"Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2020-01-12","format":"date"}},{"name":"endDate","in":"query","description":"Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2024-01-12","format":"date"}},{"name":"timePeriod","in":"query","description":"Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"number","example":"12"}},{"name":"timePeriodUnit","in":"query","description":"\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"string","enum":["months","days","years"]}},{"name":"applyEarliestCommonDate","in":"query","description":"\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned.","schema":{"type":"boolean","default":false}},{"name":"applyTrackRecordExtension","in":"query","description":"\nSpecifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.","schema":{"type":"boolean","default":false}},{"name":"applyRestructureDate","in":"query","description":"\nSpecifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.\n\nThis option is applicable only when `applyEarliestCommonDate` is set to true.","schema":{"type":"boolean","default":false}},{"name":"sinceInception","in":"query","description":"\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings.","required":false,"schema":{"type":"boolean","default":false}},{"name":"currencyId","in":"query","description":"Specifies the currency in which to return data.","schema":{"type":"string","enum":["BASE","AUD","BND","BRL","CAD","CHF","CLP","CNH","CNY","CZK","DKK","EUR","GBP","HKD","HUF","IDR","ILS","INR","JPY","KRW","MOP","MXN","MYR","NOK","NZD","PLN","RMB","RUB","SEK","SGD","THB","TWD","USD","ZAR"],"default":"BASE"}}],"responses":{"200":{"$ref":"#/components/responses/ResponseTimeSeriesSingleObservation"},"400":{"$ref":"#/components/responses/ResponseStatus400"},"500":{"$ref":"#/components/responses/ResponseStatus500"}},"operationId":"getFundSustainabilityAbsoluteCarbonEmissionsScope1And2TonnesCategoryAverage"}},"/direct-web-services/time-series/v1/fund-sustainability/absolute-carbon-intensity-scope-1-and-2-tonnes-per-usd-millions/{ids}":{"get":{"tags":["Fund-Level Sustainability Ratings, Research, and Analytics"],"summary":"Get Absolute Carbon Intensity Scope 1 And 2 Tonnes Per USD Millions time series.","description":"The amount (in tonnes) of total Scope 1 and 2 carbon emissions attributable to the portfolio, divided by the total revenue in millions (in relevant currency) attributable to the portfolio.","parameters":[{"name":"ids","in":"path","description":"\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`.","required":true,"schema":{"type":"string","example":"0P00000016,0P00002Y8D,DODGX,0P000000ppY"}},{"name":"idTypes","in":"query","description":"\nComma-separated list specifying the type of each value passed in the `ids` parameter.<br>\nRules:\n\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n*   Empty values default to `performanceId`\n\nExample:\n\n*   `ids=id1,id2,id3`\n*   `id1` and `id3` are performance IDs\n*   `id2` is a security ID\n*   `idTypes=,securityId`\n\nAccepted values:\n\n*   `performanceId` (default)\n*   `isin`\n*   `securityId`\n*   `cusip`\n*   `tradingSymbol`\n*   `msid`","schema":{"type":"string","example":",securityId"}},{"name":"baseCurrency","in":"query","description":"\nComma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>\n\n*   Filters results based on currency\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Base currency passed for `id2` and `id4`\n*   `baseCurrency=,USD,,USD`","schema":{"type":"string","example":",USD,,USD"}},{"name":"domicile","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`","schema":{"type":"string","example":",USD,,USD"}},{"name":"exchangeCountry","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).\n\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange country passed for `id2` and `id4`\n*   `exchangeCountry=,USA,,USA`","schema":{"type":"string","example":",CAN,CAN"}},{"name":"exchangeId","description":"\nComma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).\n\n*   Filters results based on exchange ID\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange ID passed for `id2` and `id4`\n*   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`","in":"query","required":false,"schema":{"type":"string","example":"EX$$$$XMEX"}},{"name":"frequency","in":"query","description":"Specifies the time interval between data points.","schema":{"enum":["daily"],"type":"string","default":"daily"}},{"name":"startDate","in":"query","description":"Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2020-01-12","format":"date"}},{"name":"endDate","in":"query","description":"Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2024-01-12","format":"date"}},{"name":"timePeriod","in":"query","description":"Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"number","example":"12"}},{"name":"timePeriodUnit","in":"query","description":"\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"string","enum":["months","days","years"]}},{"name":"applyEarliestCommonDate","in":"query","description":"\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned.","schema":{"type":"boolean","default":false}},{"name":"applyTrackRecordExtension","in":"query","description":"\nSpecifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.","schema":{"type":"boolean","default":false}},{"name":"applyRestructureDate","in":"query","description":"\nSpecifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.\n\nThis option is applicable only when `applyEarliestCommonDate` is set to true.","schema":{"type":"boolean","default":false}},{"name":"sinceInception","in":"query","description":"\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings.","required":false,"schema":{"type":"boolean","default":false}},{"name":"currencyId","in":"query","description":"Specifies the currency in which to return data.","schema":{"type":"string","enum":["BASE","AUD","BND","BRL","CAD","CHF","CLP","CNH","CNY","CZK","DKK","EUR","GBP","HKD","HUF","IDR","ILS","INR","JPY","KRW","MOP","MXN","MYR","NOK","NZD","PLN","RMB","RUB","SEK","SGD","THB","TWD","USD","ZAR"],"default":"BASE"}}],"responses":{"200":{"$ref":"#/components/responses/ResponseTimeSeriesSingleObservation"},"400":{"$ref":"#/components/responses/ResponseStatus400"},"500":{"$ref":"#/components/responses/ResponseStatus500"}},"operationId":"getFundSustainabilityAbsoluteCarbonIntensityScope1And2TonnesPerUsdMillions"}},"/direct-web-services/time-series/v1/fund-sustainability/absolute-carbon-intensity-scope-1-and-2-tonnes-per-usd-millions-category-average/{ids}":{"get":{"tags":["Fund-Level Sustainability Ratings, Research, and Analytics"],"summary":"Get Absolute Carbon Intensity Scope 1 And 2 Tonnes Per Usd Millions Category Average time series.","description":"The average Absolute Carbon Intensity (scope 1 and 2) for portfolios within the Morningstar category expressed in tonnes per million (in relevant currency) invested.","parameters":[{"name":"ids","in":"path","description":"\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`.","required":true,"schema":{"type":"string","example":"0P00000016,0P00002Y8D,DODGX,0P000000ppY"}},{"name":"idTypes","in":"query","description":"\nComma-separated list specifying the type of each value passed in the `ids` parameter.<br>\nRules:\n\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n*   Empty values default to `performanceId`\n\nExample:\n\n*   `ids=id1,id2,id3`\n*   `id1` and `id3` are performance IDs\n*   `id2` is a security ID\n*   `idTypes=,securityId`\n\nAccepted values:\n\n*   `performanceId` (default)\n*   `isin`\n*   `securityId`\n*   `cusip`\n*   `tradingSymbol`\n*   `msid`","schema":{"type":"string","example":",securityId"}},{"name":"baseCurrency","in":"query","description":"\nComma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>\n\n*   Filters results based on currency\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Base currency passed for `id2` and `id4`\n*   `baseCurrency=,USD,,USD`","schema":{"type":"string","example":",USD,,USD"}},{"name":"domicile","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`","schema":{"type":"string","example":",USD,,USD"}},{"name":"exchangeCountry","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).\n\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange country passed for `id2` and `id4`\n*   `exchangeCountry=,USA,,USA`","schema":{"type":"string","example":",CAN,CAN"}},{"name":"exchangeId","description":"\nComma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).\n\n*   Filters results based on exchange ID\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange ID passed for `id2` and `id4`\n*   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`","in":"query","required":false,"schema":{"type":"string","example":"EX$$$$XMEX"}},{"name":"frequency","in":"query","description":"Specifies the time interval between data points.","schema":{"enum":["daily"],"type":"string","default":"daily"}},{"name":"startDate","in":"query","description":"Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2020-01-12","format":"date"}},{"name":"endDate","in":"query","description":"Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2024-01-12","format":"date"}},{"name":"timePeriod","in":"query","description":"Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"number","example":"12"}},{"name":"timePeriodUnit","in":"query","description":"\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"string","enum":["months","days","years"]}},{"name":"applyEarliestCommonDate","in":"query","description":"\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned.","schema":{"type":"boolean","default":false}},{"name":"applyTrackRecordExtension","in":"query","description":"\nSpecifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.","schema":{"type":"boolean","default":false}},{"name":"applyRestructureDate","in":"query","description":"\nSpecifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.\n\nThis option is applicable only when `applyEarliestCommonDate` is set to true.","schema":{"type":"boolean","default":false}},{"name":"sinceInception","in":"query","description":"\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings.","required":false,"schema":{"type":"boolean","default":false}},{"name":"currencyId","in":"query","description":"Specifies the currency in which to return data.","schema":{"type":"string","enum":["BASE","AUD","BND","BRL","CAD","CHF","CLP","CNH","CNY","CZK","DKK","EUR","GBP","HKD","HUF","IDR","ILS","INR","JPY","KRW","MOP","MXN","MYR","NOK","NZD","PLN","RMB","RUB","SEK","SGD","THB","TWD","USD","ZAR"],"default":"BASE"}}],"responses":{"200":{"$ref":"#/components/responses/ResponseTimeSeriesSingleObservation"},"400":{"$ref":"#/components/responses/ResponseStatus400"},"500":{"$ref":"#/components/responses/ResponseStatus500"}},"operationId":"getFundSustainabilityAbsoluteCarbonIntensityScope1And2TonnesPerUsdMillionsCa"}},"/direct-web-services/time-series/v1/fees-expenses/accounting-fee/{ids}":{"get":{"tags":["Fees & Expenses"],"summary":"Get Accounting Fee time series.","description":"This fee is reported in U.S. dollars and represents pricing service, financial agent, or security servicing fees as represented in the fund's annual report.","parameters":[{"name":"ids","in":"path","description":"\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`.","required":true,"schema":{"type":"string","example":"0P00000016,0P00002Y8D,DODGX,0P000000ppY"}},{"name":"idTypes","in":"query","description":"\nComma-separated list specifying the type of each value passed in the `ids` parameter.<br>\nRules:\n\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n*   Empty values default to `performanceId`\n\nExample:\n\n*   `ids=id1,id2,id3`\n*   `id1` and `id3` are performance IDs\n*   `id2` is a security ID\n*   `idTypes=,securityId`\n\nAccepted values:\n\n*   `performanceId` (default)\n*   `isin`\n*   `securityId`\n*   `cusip`\n*   `tradingSymbol`\n*   `msid`","schema":{"type":"string","example":",securityId"}},{"name":"baseCurrency","in":"query","description":"\nComma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>\n\n*   Filters results based on currency\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Base currency passed for `id2` and `id4`\n*   `baseCurrency=,USD,,USD`","schema":{"type":"string","example":",USD,,USD"}},{"name":"domicile","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`","schema":{"type":"string","example":",USD,,USD"}},{"name":"exchangeCountry","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).\n\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange country passed for `id2` and `id4`\n*   `exchangeCountry=,USA,,USA`","schema":{"type":"string","example":",CAN,CAN"}},{"name":"exchangeId","description":"\nComma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).\n\n*   Filters results based on exchange ID\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange ID passed for `id2` and `id4`\n*   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`","in":"query","required":false,"schema":{"type":"string","example":"EX$$$$XMEX"}},{"name":"frequency","in":"query","description":"Specifies the time interval between data points.","schema":{"enum":["daily"],"type":"string","default":"daily"}},{"name":"startDate","in":"query","description":"Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2020-01-12","format":"date"}},{"name":"endDate","in":"query","description":"Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2024-01-12","format":"date"}},{"name":"timePeriod","in":"query","description":"Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"number","example":"12"}},{"name":"timePeriodUnit","in":"query","description":"\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"string","enum":["months","days","years"]}},{"name":"applyEarliestCommonDate","in":"query","description":"\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned.","schema":{"type":"boolean","default":false}},{"name":"applyTrackRecordExtension","in":"query","description":"\nSpecifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.","schema":{"type":"boolean","default":false}},{"name":"applyRestructureDate","in":"query","description":"\nSpecifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.\n\nThis option is applicable only when `applyEarliestCommonDate` is set to true.","schema":{"type":"boolean","default":false}},{"name":"sinceInception","in":"query","description":"\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings.","required":false,"schema":{"type":"boolean","default":false}},{"name":"currencyId","in":"query","description":"Specifies the currency in which to return data.","schema":{"type":"string","enum":["BASE","AUD","BND","BRL","CAD","CHF","CLP","CNH","CNY","CZK","DKK","EUR","GBP","HKD","HUF","IDR","ILS","INR","JPY","KRW","MOP","MXN","MYR","NOK","NZD","PLN","RMB","RUB","SEK","SGD","THB","TWD","USD","ZAR"],"default":"BASE"}}],"responses":{"200":{"$ref":"#/components/responses/ResponseTimeSeriesSingleObservation"},"400":{"$ref":"#/components/responses/ResponseStatus400"},"500":{"$ref":"#/components/responses/ResponseStatus500"}},"operationId":"getFeesExpensesAccountingFee"}},"/direct-web-services/time-series/v1/fees-expenses/administrator-fee/{ids}":{"get":{"tags":["Fees & Expenses"],"summary":"Get Administrator Fee time series.","description":"The amount that the fund spent on administration costs during the last fiscal year, as reported in the most recent annual report.","parameters":[{"name":"ids","in":"path","description":"\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`.","required":true,"schema":{"type":"string","example":"0P00000016,0P00002Y8D,DODGX,0P000000ppY"}},{"name":"idTypes","in":"query","description":"\nComma-separated list specifying the type of each value passed in the `ids` parameter.<br>\nRules:\n\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n*   Empty values default to `performanceId`\n\nExample:\n\n*   `ids=id1,id2,id3`\n*   `id1` and `id3` are performance IDs\n*   `id2` is a security ID\n*   `idTypes=,securityId`\n\nAccepted values:\n\n*   `performanceId` (default)\n*   `isin`\n*   `securityId`\n*   `cusip`\n*   `tradingSymbol`\n*   `msid`","schema":{"type":"string","example":",securityId"}},{"name":"baseCurrency","in":"query","description":"\nComma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>\n\n*   Filters results based on currency\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Base currency passed for `id2` and `id4`\n*   `baseCurrency=,USD,,USD`","schema":{"type":"string","example":",USD,,USD"}},{"name":"domicile","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`","schema":{"type":"string","example":",USD,,USD"}},{"name":"exchangeCountry","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).\n\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange country passed for `id2` and `id4`\n*   `exchangeCountry=,USA,,USA`","schema":{"type":"string","example":",CAN,CAN"}},{"name":"exchangeId","description":"\nComma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).\n\n*   Filters results based on exchange ID\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange ID passed for `id2` and `id4`\n*   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`","in":"query","required":false,"schema":{"type":"string","example":"EX$$$$XMEX"}},{"name":"frequency","in":"query","description":"Specifies the time interval between data points.","schema":{"enum":["daily"],"type":"string","default":"daily"}},{"name":"startDate","in":"query","description":"Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2020-01-12","format":"date"}},{"name":"endDate","in":"query","description":"Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2024-01-12","format":"date"}},{"name":"timePeriod","in":"query","description":"Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"number","example":"12"}},{"name":"timePeriodUnit","in":"query","description":"\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"string","enum":["months","days","years"]}},{"name":"applyEarliestCommonDate","in":"query","description":"\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned.","schema":{"type":"boolean","default":false}},{"name":"applyTrackRecordExtension","in":"query","description":"\nSpecifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.","schema":{"type":"boolean","default":false}},{"name":"applyRestructureDate","in":"query","description":"\nSpecifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.\n\nThis option is applicable only when `applyEarliestCommonDate` is set to true.","schema":{"type":"boolean","default":false}},{"name":"sinceInception","in":"query","description":"\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings.","required":false,"schema":{"type":"boolean","default":false}},{"name":"currencyId","in":"query","description":"Specifies the currency in which to return data.","schema":{"type":"string","enum":["BASE","AUD","BND","BRL","CAD","CHF","CLP","CNH","CNY","CZK","DKK","EUR","GBP","HKD","HUF","IDR","ILS","INR","JPY","KRW","MOP","MXN","MYR","NOK","NZD","PLN","RMB","RUB","SEK","SGD","THB","TWD","USD","ZAR"],"default":"BASE"}}],"responses":{"200":{"$ref":"#/components/responses/ResponseTimeSeriesSingleObservation"},"400":{"$ref":"#/components/responses/ResponseStatus400"},"500":{"$ref":"#/components/responses/ResponseStatus500"}},"operationId":"getFeesExpensesAdministratorFee"}},"/direct-web-services/time-series/v1/fees-expenses/advisor-fee/{ids}":{"get":{"tags":["Fees & Expenses"],"summary":"Get Advisor Fee time series.","description":"This fee represents the amount charged by manager(s) as represented in the fund's annual report.","parameters":[{"name":"ids","in":"path","description":"\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`.","required":true,"schema":{"type":"string","example":"0P00000016,0P00002Y8D,DODGX,0P000000ppY"}},{"name":"idTypes","in":"query","description":"\nComma-separated list specifying the type of each value passed in the `ids` parameter.<br>\nRules:\n\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n*   Empty values default to `performanceId`\n\nExample:\n\n*   `ids=id1,id2,id3`\n*   `id1` and `id3` are performance IDs\n*   `id2` is a security ID\n*   `idTypes=,securityId`\n\nAccepted values:\n\n*   `performanceId` (default)\n*   `isin`\n*   `securityId`\n*   `cusip`\n*   `tradingSymbol`\n*   `msid`","schema":{"type":"string","example":",securityId"}},{"name":"baseCurrency","in":"query","description":"\nComma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>\n\n*   Filters results based on currency\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Base currency passed for `id2` and `id4`\n*   `baseCurrency=,USD,,USD`","schema":{"type":"string","example":",USD,,USD"}},{"name":"domicile","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`","schema":{"type":"string","example":",USD,,USD"}},{"name":"exchangeCountry","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).\n\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange country passed for `id2` and `id4`\n*   `exchangeCountry=,USA,,USA`","schema":{"type":"string","example":",CAN,CAN"}},{"name":"exchangeId","description":"\nComma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).\n\n*   Filters results based on exchange ID\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange ID passed for `id2` and `id4`\n*   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`","in":"query","required":false,"schema":{"type":"string","example":"EX$$$$XMEX"}},{"name":"frequency","in":"query","description":"Specifies the time interval between data points.","schema":{"enum":["daily"],"type":"string","default":"daily"}},{"name":"startDate","in":"query","description":"Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2020-01-12","format":"date"}},{"name":"endDate","in":"query","description":"Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2024-01-12","format":"date"}},{"name":"timePeriod","in":"query","description":"Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"number","example":"12"}},{"name":"timePeriodUnit","in":"query","description":"\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"string","enum":["months","days","years"]}},{"name":"applyEarliestCommonDate","in":"query","description":"\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned.","schema":{"type":"boolean","default":false}},{"name":"applyTrackRecordExtension","in":"query","description":"\nSpecifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.","schema":{"type":"boolean","default":false}},{"name":"applyRestructureDate","in":"query","description":"\nSpecifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.\n\nThis option is applicable only when `applyEarliestCommonDate` is set to true.","schema":{"type":"boolean","default":false}},{"name":"sinceInception","in":"query","description":"\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings.","required":false,"schema":{"type":"boolean","default":false}},{"name":"currencyId","in":"query","description":"Specifies the currency in which to return data.","schema":{"type":"string","enum":["BASE","AUD","BND","BRL","CAD","CHF","CLP","CNH","CNY","CZK","DKK","EUR","GBP","HKD","HUF","IDR","ILS","INR","JPY","KRW","MOP","MXN","MYR","NOK","NZD","PLN","RMB","RUB","SEK","SGD","THB","TWD","USD","ZAR"],"default":"BASE"}}],"responses":{"200":{"$ref":"#/components/responses/ResponseTimeSeriesSingleObservation"},"400":{"$ref":"#/components/responses/ResponseStatus400"},"500":{"$ref":"#/components/responses/ResponseStatus500"}},"operationId":"getFeesExpensesAdvisorFee"}},"/direct-web-services/time-series/v1/performance/aggregated-12-month-yield/{ids}":{"get":{"tags":["Performance"],"summary":"Get Aggregated 12-Month Yield time series.","description":"The asset-weighted and rescaled aggregation of the 12 month yield of eligible holdings within a fund's portfolio.","parameters":[{"name":"ids","in":"path","description":"\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`.","required":true,"schema":{"type":"string","example":"0P00000016,0P00002Y8D,DODGX,0P000000ppY"}},{"name":"idTypes","in":"query","description":"\nComma-separated list specifying the type of each value passed in the `ids` parameter.<br>\nRules:\n\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n*   Empty values default to `performanceId`\n\nExample:\n\n*   `ids=id1,id2,id3`\n*   `id1` and `id3` are performance IDs\n*   `id2` is a security ID\n*   `idTypes=,securityId`\n\nAccepted values:\n\n*   `performanceId` (default)\n*   `isin`\n*   `securityId`\n*   `cusip`\n*   `tradingSymbol`\n*   `msid`","schema":{"type":"string","example":",securityId"}},{"name":"baseCurrency","in":"query","description":"\nComma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>\n\n*   Filters results based on currency\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Base currency passed for `id2` and `id4`\n*   `baseCurrency=,USD,,USD`","schema":{"type":"string","example":",USD,,USD"}},{"name":"domicile","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`","schema":{"type":"string","example":",USD,,USD"}},{"name":"exchangeCountry","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).\n\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange country passed for `id2` and `id4`\n*   `exchangeCountry=,USA,,USA`","schema":{"type":"string","example":",CAN,CAN"}},{"name":"exchangeId","description":"\nComma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).\n\n*   Filters results based on exchange ID\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange ID passed for `id2` and `id4`\n*   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`","in":"query","required":false,"schema":{"type":"string","example":"EX$$$$XMEX"}},{"name":"frequency","in":"query","description":"Specifies the time interval between data points.","schema":{"enum":["monthly"],"type":"string","default":"monthly"}},{"name":"startDate","in":"query","description":"Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2020-01-12","format":"date"}},{"name":"endDate","in":"query","description":"Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2024-01-12","format":"date"}},{"name":"timePeriod","in":"query","description":"Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"number","example":"12"}},{"name":"timePeriodUnit","in":"query","description":"\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"string","enum":["months","days","years"]}},{"name":"applyEarliestCommonDate","in":"query","description":"\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned.","schema":{"type":"boolean","default":false}},{"name":"applyTrackRecordExtension","in":"query","description":"\nSpecifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.","schema":{"type":"boolean","default":false}},{"name":"applyRestructureDate","in":"query","description":"\nSpecifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.\n\nThis option is applicable only when `applyEarliestCommonDate` is set to true.","schema":{"type":"boolean","default":false}},{"name":"sinceInception","in":"query","description":"\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings.","required":false,"schema":{"type":"boolean","default":false}},{"name":"currencyId","in":"query","description":"Specifies the currency in which to return data.","schema":{"type":"string","enum":["BASE","AUD","BND","BRL","CAD","CHF","CLP","CNH","CNY","CZK","DKK","EUR","GBP","HKD","HUF","IDR","ILS","INR","JPY","KRW","MOP","MXN","MYR","NOK","NZD","PLN","RMB","RUB","SEK","SGD","THB","TWD","USD","ZAR"],"default":"BASE"}}],"responses":{"200":{"$ref":"#/components/responses/ResponseTimeSeriesSingleObservation"},"400":{"$ref":"#/components/responses/ResponseStatus400"},"500":{"$ref":"#/components/responses/ResponseStatus500"}},"operationId":"getPerformanceAggregated12MonthYield"}},"/direct-web-services/time-series/v1/performance/aggregated-sec-yield/{ids}":{"get":{"tags":["Performance"],"summary":"Get Aggregated Sec Yield time series.","description":"The asset-weighted and rescaled aggregation of the SEC yield of eligible holdings within a fund's portfolio.","parameters":[{"name":"ids","in":"path","description":"\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`.","required":true,"schema":{"type":"string","example":"0P00000016,0P00002Y8D,DODGX,0P000000ppY"}},{"name":"idTypes","in":"query","description":"\nComma-separated list specifying the type of each value passed in the `ids` parameter.<br>\nRules:\n\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n*   Empty values default to `performanceId`\n\nExample:\n\n*   `ids=id1,id2,id3`\n*   `id1` and `id3` are performance IDs\n*   `id2` is a security ID\n*   `idTypes=,securityId`\n\nAccepted values:\n\n*   `performanceId` (default)\n*   `isin`\n*   `securityId`\n*   `cusip`\n*   `tradingSymbol`\n*   `msid`","schema":{"type":"string","example":",securityId"}},{"name":"baseCurrency","in":"query","description":"\nComma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>\n\n*   Filters results based on currency\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Base currency passed for `id2` and `id4`\n*   `baseCurrency=,USD,,USD`","schema":{"type":"string","example":",USD,,USD"}},{"name":"domicile","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`","schema":{"type":"string","example":",USD,,USD"}},{"name":"exchangeCountry","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).\n\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange country passed for `id2` and `id4`\n*   `exchangeCountry=,USA,,USA`","schema":{"type":"string","example":",CAN,CAN"}},{"name":"exchangeId","description":"\nComma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).\n\n*   Filters results based on exchange ID\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange ID passed for `id2` and `id4`\n*   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`","in":"query","required":false,"schema":{"type":"string","example":"EX$$$$XMEX"}},{"name":"frequency","in":"query","description":"Specifies the time interval between data points.","schema":{"enum":["monthly"],"type":"string","default":"monthly"}},{"name":"startDate","in":"query","description":"Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2020-01-12","format":"date"}},{"name":"endDate","in":"query","description":"Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2024-01-12","format":"date"}},{"name":"timePeriod","in":"query","description":"Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"number","example":"12"}},{"name":"timePeriodUnit","in":"query","description":"\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"string","enum":["months","days","years"]}},{"name":"applyEarliestCommonDate","in":"query","description":"\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned.","schema":{"type":"boolean","default":false}},{"name":"applyTrackRecordExtension","in":"query","description":"\nSpecifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.","schema":{"type":"boolean","default":false}},{"name":"applyRestructureDate","in":"query","description":"\nSpecifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.\n\nThis option is applicable only when `applyEarliestCommonDate` is set to true.","schema":{"type":"boolean","default":false}},{"name":"sinceInception","in":"query","description":"\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings.","required":false,"schema":{"type":"boolean","default":false}},{"name":"currencyId","in":"query","description":"Specifies the currency in which to return data.","schema":{"type":"string","enum":["BASE","AUD","BND","BRL","CAD","CHF","CLP","CNH","CNY","CZK","DKK","EUR","GBP","HKD","HUF","IDR","ILS","INR","JPY","KRW","MOP","MXN","MYR","NOK","NZD","PLN","RMB","RUB","SEK","SGD","THB","TWD","USD","ZAR"],"default":"BASE"}}],"responses":{"200":{"$ref":"#/components/responses/ResponseTimeSeriesSingleObservation"},"400":{"$ref":"#/components/responses/ResponseStatus400"},"500":{"$ref":"#/components/responses/ResponseStatus500"}},"operationId":"getPerformanceAggregatedSecYield"}},"/direct-web-services/time-series/v1/fees-expenses/annual-ongoing-charge-excluding-performance-fee/{ids}":{"get":{"tags":["Fees & Expenses"],"summary":"Get Annual Ongoing Charge Excluding Performance Fee time series.","description":"The costs expected to pay as a Hong Kong-based investor from one year to the next, which encompasses the fund's professional fees, management fees, audit fees and custody fees , but excludes performance fees.","parameters":[{"name":"ids","in":"path","description":"\nComma-separated list of up to 25 investment identifiers to query.\n\nAccepts:\n\n- Morningstar Performance ID (default)\n- Morningstar Security ID\n- Morningstar IDs (MSID)\n- ISIN\n- CUSIP\n- Trading symbol\n- Category ID   \n  Important: When a category ID is passed, the corresponding `identifierType` can be `performanceId` or `securityId`. The value must be URL-encoded. For example, if the category ID is `LC00002226;CA]FO`, the URL-encoded value is `LC00002226;CA%5DFO`.","required":true,"schema":{"type":"string","example":"0P00000016,0P00002Y8D,DODGX,0P000000ppY"}},{"name":"idTypes","in":"query","description":"\nComma-separated list specifying the type of each value passed in the `ids` parameter.<br>\nRules:\n\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n*   Empty values default to `performanceId`\n\nExample:\n\n*   `ids=id1,id2,id3`\n*   `id1` and `id3` are performance IDs\n*   `id2` is a security ID\n*   `idTypes=,securityId`\n\nAccepted values:\n\n*   `performanceId` (default)\n*   `isin`\n*   `securityId`\n*   `cusip`\n*   `tradingSymbol`\n*   `msid`","schema":{"type":"string","example":",securityId"}},{"name":"baseCurrency","in":"query","description":"\nComma-separated list of 3-character ISO 4217 currency codes (for example, `CAD`, `EUR`, `JPY`).<br>\n\n*   Filters results based on currency\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Base currency passed for `id2` and `id4`\n*   `baseCurrency=,USD,,USD`","schema":{"type":"string","example":",USD,,USD"}},{"name":"domicile","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`). \nRules:\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Domicile passed for `id2` and `id4`\n*   `domicile=,USA,,USA`","schema":{"type":"string","example":",USD,,USD"}},{"name":"exchangeCountry","in":"query","description":"\nComma-separated list of 3-character ISO 3166‑1 country codes (for example, `CAN`, `IRL`, `IND`).\n\n\n*   Filters results based on domicile\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange country passed for `id2` and `id4`\n*   `exchangeCountry=,USA,,USA`","schema":{"type":"string","example":",CAN,CAN"}},{"name":"exchangeId","description":"\nComma-separated list of exchange IDs (for example, `EX$$$$XMEX`, `EX$$$$XNAS`).\n\n*   Filters results based on exchange ID\n*   Values must align with the order of values in `ids`\n*   Use empty entries to skip\n*   Omit trailing commas after the last non-empty value\n\nExample:\n\n*   `ids=id1,id2,id3,id4,id5`\n*   Exchange ID passed for `id2` and `id4`\n*   `exchangeId=,EX$$$$XMEX,,EX$$$$XNAS`","in":"query","required":false,"schema":{"type":"string","example":"EX$$$$XMEX"}},{"name":"frequency","in":"query","description":"Specifies the time interval between data points.","schema":{"enum":["annually"],"type":"string","default":"annually"}},{"name":"startDate","in":"query","description":"Specifies the start date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2020-01-12","format":"date"}},{"name":"endDate","in":"query","description":"Specifies the end date for the time series. Accepted format is `yyyy-MM-dd`.\n","schema":{"type":"string","example":"2024-01-12","format":"date"}},{"name":"timePeriod","in":"query","description":"Specifies the size of the time window for the data range. \n\n- Used in combination with `timePeriodUnit` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"number","example":"12"}},{"name":"timePeriodUnit","in":"query","description":"\nSpecifies the time period unit. \n\n- Used in combination with `timePeriod` to specify relative time ranges. \n\n- When `startDate`, `endDate`, `timePeriod` and `timePeriodUnit` are provided, `timePeriod` and `timePeriodUnit` take precedence.","schema":{"type":"string","enum":["months","days","years"]}},{"name":"applyEarliestCommonDate","in":"query","description":"\nSpecifies whether to apply the earliest common start date across all investments.\n\n When set to `true`, the start date of the time series is adjusted to match the latest inception date among the investments, ensuring all data points are aligned.","schema":{"type":"boolean","default":false}},{"name":"applyTrackRecordExtension","in":"query","description":"\nSpecifies whether to apply the Track Record Extension logic in order to extend the performance of an investment by copying the historical performance of another qualified older investment.","schema":{"type":"boolean","default":false}},{"name":"applyRestructureDate","in":"query","description":"\nSpecifies whether to consider the Morningstar or Custom restructure date when determining the start of the performance period.\n\nThis option is applicable only when `applyEarliestCommonDate` is set to true.","schema":{"type":"boolean","default":false}},{"name":"sinceInception","in":"query","description":"\nSets the time range from inception (or the maximum supported lookback) to the end date. \n\nTakes precendence over any `timePeriod` / `timePeriodUnit` and `startDate` / `endDate` settings.","required":false,"schema":{"type":"boolean","default":false}},{"name":"currencyId","in":"query","description":"Specifies the currency in which to return data.","schema":{"type":"string","enum":["BASE","AUD","BND","BRL","CAD","CHF","CLP","CNH","CNY","CZK","DKK","EUR","GBP","HKD","HUF","IDR","ILS","INR","JPY","KRW","MOP","MXN","MYR","NOK","NZD","PLN","RMB","RUB","SEK","SGD","THB","TWD","USD","ZAR"],"default":"BASE"}}],"responses":{"200":{"$ref":"#/components/responses/ResponseTimeSeriesSingleObservation"},"400":{"$ref":"#/components/responses/ResponseStatus400"},"500":{"$ref":"#/components/responses/ResponseStatus500"}},"operationId":"getFeesExpensesAnnualOngoingChargeExcludingPerformanceFee"}},"/direct-web-services/time-series/v1/fees-expenses/annual-ongoing-charge-including-performance-fee/{ids}":{"get":{"tags":["Fees & Expenses"],"summary":"Get Annual Ongoing Charge Including Performance Fee time series.","description":"The costs expected to pay as a Hong Kong-based investor from one year to the next, which encompasses the fund's professional fees, management fees, audit fees and custody fee
[...]
